<!-- Process Add Order Item Gift Recipient -->
<h5>Assign Gift Cards</h5>

<input name="quantity" ng-model="addGiftRecipientControl.quantity" sw-numbers-only min-number="giftRecipientControl.getAssignedCount()" class="hide" readonly>
<input type="hidden" name="assignedGiftRecipientQuantity" ng-value="addGiftRecipientControl.getAssignedCount()" />
<div class="table-responsive s-gift-card-table">
	<div ng-show="addGiftRecipientControl.showInvalidRowMessage" class="alert alert-error" role="alert" sw-rbkey="'admin.entity.addorderitemgiftrecipient.invalid'"></div>
	<div ng-show="addGiftRecipientControl.getUnassignedCount()" class="alert alert-info" role="alert">
	<span sw-rbkey="'admin.entity.addorderitemgiftrecipient.hint'"></span>
	</br><strong><span sw-rbkey="'define.youhave'"></span> ({{addGiftRecipientControl.getUnassignedCount()}})
	<span sw-rbkey="'entity.GiftCard_plural'"></span> <span sw-rbkey="'define.toAssign'"></span>.</strong></div>
	<div ng-show="addGiftRecipientControl.getUnassignedCount() != addGiftRecipientControl.quantity">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th sw-rbkey="'entity.orderitemgiftrecipient.firstName'"></th>
					<th sw-rbkey="'entity.orderitemgiftrecipient.lastName'"></th>
					<th sw-rbkey="'entity.orderitemgiftrecipient.emailAddress'"></th>
					<th sw-rbkey="'entity.orderitemgiftrecipient.giftMessage'"></th>
					<th sw-rbkey="'entity.orderitemgiftrecipient.quantity'"></th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-form="addGiftRecipientControl.tableForm">
				<tr sw-order-item-gift-recipient-row ng-repeat="recipient in addGiftRecipientControl.orderItemGiftRecipients"
					ng-show="addGiftRecipientControl.orderItemGiftRecipients.length != 0"
					ng-class="{'s-save-row':recipient.editing}"
					recipient="recipient"
					index="$index"
					recipients="addGiftRecipientControl.orderItemGiftRecipients"
					quantity="addGiftRecipientControl.quantity"
					show-invalid-recipient-message="addGiftRecipientControl.showInvalidRowMessage"
					table-form="addGiftRecipientControl.tableForm">
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div ng-if="addGiftRecipientControl.getUnassignedCount() > 0">
	<div class="s-search-filter">

		<div sw-typeahead-search
            data-collection-config="addGiftRecipientControl.typeaheadCollectionConfig"
            data-placeholder-text="Search or Add Recipient..."
            data-add-function="addGiftRecipientControl.addGiftRecipientFromAccountList"
            data-add-button-function="addGiftRecipientControl.startFormWithName">
            <div class="s-wrapper">
                <div sw-typeahead-search-line-item data-property-identifier="primaryEmailAddress.emailAddress" class="col-xs-2 s-photo">
                    <sw-gravatar data-email-address="item.primaryEmailAddress_emailAddress">
                </div>
                <div class="col-xs-10 s-info">
                    <div class="s-name">
                        <span sw-typeahead-search-line-item data-property-identifier="firstName" ng-bind="item.firstName"></span>
                        <span sw-typeahead-search-line-item data-property-identifier="lastName" ng-bind="item.lastName"></span>
                    </div>
                    <div class="s-email" ng-bind="item.primaryEmailAddress_emailAddress"></div>
                </div>
            </div>
		</div>

		<sw-form data-object="addGiftRecipientControl.currentGiftRecipient" name="createRecipient" class="s-add-info-dropdown" ng-hide="!addGiftRecipientControl.adding">
			<div class="s-add-info-dropdown-inner">
					<h5 sw-rbkey="'admin.entity.addorderitemgiftrecipient.createRecipient'"></h5>
					<sw-property-display  data-property="firstName" data-editing="true" ></sw-property-display>
					<sw-property-display  data-property="lastName" data-editing="true"></sw-property-display>
					<sw-property-display  data-property="emailAddress" data-editing="true"></sw-property-display>
					<sw-property-display  data-property="giftMessage" data-editing="true"></sw-property-display>
					<div class="s-character-count">
						<span sw-rbkey="'define.remainingcharacters'"></span>: <strong><span ng-bind="addGiftRecipientControl.getMessageCharactersLeft()"></span></strong>
					</div>
					<sw-property-display  data-property="quantity" data-editing="true" data-field-type="select" data-options="addGiftRecipientControl.getUnassignedCountArray()"></sw-property-display>
				<div class="alert alert-error" ng-show="addGiftRecipientControl.showInvalidAddFormMessage" sw-rbkey="'admin.entity.addorderitemgiftrecipient.invalid'"></div>
				<div>
					<button type="button" class="btn btn-sm btn-primary" ng-click="addGiftRecipientControl.addGiftRecipient(addGiftRecipientControl.addGiftRecipientForm.$valid)" sw-rbkey="'define.add'"></button>
					<button type="button" class="btn btn-sm btn-default" ng-click="addGiftRecipientControl.cancelAddRecipient()" sw-rbkey="'define.cancel'"></button>
				</div>
			</div>
		</sw-form>
	</div>
	<!--End Search-->
</div>
<!--End Gift Recipient-->
