<div class="s-table-inner-nav s-detail-hidden-content">
    <div class="s-search-wrapper">
        <span sw-listing-search  data-collection-config="swListingControls.collectionConfig"
              data-paginator="swListingControls.paginator"
              data-listing-id="{{ swListingControls.tableId }}"
         ></span>
        <!-- PERSONAL COLLECTIONS -->
        <div ng-if="swListingControls.collectionConfig" data-collapse="swListingControls.personalCollectionsClosed" id="j-personal-collections">
            personal collections
        </div>
        <!-- DISPLAY OPTIONS -->
        <div ng-if="swListingControls.collectionConfig" data-collapse="swListingControls.displayOptionsClosed" id="j-display-options">
            <div class="s-display-options">
                <a href class="s-close" data-ng-click="swListingControls.toggleDisplayOptions(true)">
                    <i class="fa fa-times"></i>
                </a>
                <!-- Dragable List group -->
                <h4>Display Options</h4>
                <sw-display-options
						data-columns="swListingControls.collectionConfig.columns"
                        data-joins="swListingControls.collectionConfig.joins"
                        data-group-bys="swListingControls.collectionConfig.groupBys"
						data-properties-list="swListingControls.filterPropertiesList"
						data-callbacks="swListingControls.callbacks"
						data-base-entity-alias="swListingControls.collectionConfig.baseEntityAlias"
						data-base-entity-name="swListingControls.collectionConfig.baseEntityName"
				>
					<li class="list-group-item"
						ng-repeat="column in swListingControls.collectionConfig.columns"
						ng-if="swListingControls.canDisplayColumn(column)"
						sw-column-item
						data-column="column"
						data-columns="swListingControls.collectionConfig.columns"
						data-column-index="$index"
						data-properties-list="swListingControls.filterPropertiesList"
						data-callbacks="swListingControls.callbacks"
						data-order-by="swListingControls.collectionConfig.orderBy"
						></li>
				</sw-display-options >
            </div>
        </div>
        <!-- //DISPLAY OPTIONS -->
        <!-- ADD FILTER -->

        <div data-collapse="swListingControls.filtersClosed" id="j-advanced-filter">
            <span>&nbsp;</span>
            <div
            	ng-if="swListingControls.simple"
                sw-filter-groups
                data-collection-config="swListingControls.collectionConfig"
                data-filter-group="swListingControls.collectionConfig.filterGroups[0]"
                data-filter-group-item="swListingControls.collectionConfig.filterGroups[0].filterGroup"
                data-filter-properties-list="swListingControls.filterPropertiesList"
                data-simple="swListingControls.simple">
            </div>
            <div ng-if="!swListingControls.simple">
            	<div class="s-setting-options">
					<div class="row s-setting-options-body">
						<!-- Start Filter Group -->
						<div class="col-xs-12 s-filters-selected">
							<div class="row">
								<!--filterGroups gets taken apart here -->
								<ul class="s-filter-list list-unstyled"
                                    sw-filter-groups
                                    data-collection-config="swListingControls.collectionConfig"
                                    data-filter-group="swListingControls.collectionConfig.filterGroups[0]"
                                    data-filter-group-item="swListingControls.collectionConfig.filterGroups[0].filterGroup"
                                    data-filter-properties-list="swListingControls.filterPropertiesList"
	                                data-simple="swListingControls.simple"
									>
								</ul>
							</div>
							<!-- //New Filter Panel -->
						</div>
						<!-- //End Filter Group -->
					</div>
				</div>
            </div>
        </div>
        <!--  //ADD FILTER -->
    </div>
    <div class="s-filter-wrapper"  ng-show="swListingControls.showFilters || swListingControls.simple">
        <div class="s-filters">
            <!-- Filter -->
            <div class="btn-group"
                 data-ng-repeat="filter in swListingControls.collectionConfig.filterGroups[0].filterGroup"
                 data-ng-if="filter.hasOwnProperty('filterGroup') == false && filter.propertyIdentifier && !filter.hidden">

                <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        data-ng-click="swListingControls.selectFilterItem(filter)"
                        data-ng-disabled="!filter.conditionDisplay"
                        >
                    {{filter.displayPropertyIdentifier}} {{filter.comparisonOperator}} {{filter.displayValue | truncate: 20}}
                </button>
                <!-- TODO: HARD CODING MARGIN, ASK RAYJAY TO FIX IT -->
                <button type="button"
                        style="margin-right:3px"
                        class="btn btn-sm btn-primary s-remove"
                        data-ng-click="swListingControls.removeFilter(swListingControls.collectionConfig.filterGroups[0].filterGroup, $index)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <!-- //Filter -->
        </div>
    </div>
</div>
