<!-- Menu login Using API -->
<span ng-init="$.slatwall = $root.slatwall"></span>
<span ng-init="$.slatwall.Account_LoginObj = $.slatwall.getProcessObject('Account_Login') "></span>
	
	<sw-form
	    data-is-process-form="true"
	    data-object="$.slatwall.Account_LoginObj"
	    data-on-success="hide:Account_Login,show:Account_Logout"
	    data-form-class="form"
	    data-error-class="error"
	    data-name="Account_Login">
	    
	    <!--Hidden Fields-->
	    <swf-property-display
            data-name="sRedirect"
            data-type="hidden"
            data-object="$.slatwall.Account_LoginObj"
            data-property-identifier="sRedirect"
            data-label-text=""
            data-class="none"
            data-editing="true"
            ng-init="$.slatwall.Account_LoginObj.sRedirect = '/my-account'">
        </swf-property-display>
        
        <swf-property-display
            data-name="fRedirect"
            data-type="hidden"
            data-object="$.slatwall.Account_LoginObj"
            data-property-identifier="fRedirect"
            data-label-text=""
            data-class="none"
            data-editing="true"
            ng-init="$.slatwall.Account_LoginObj.fRedirect = '/my-account'">
        </swf-property-display>
        
        <!-- Fields -->
      
        <swf-property-display
            data-name="emailAddress"
            data-type="text"
            data-object="$.slatwall.Account_LoginObj"
            data-property-identifier="emailAddress"
            data-label-text="Email Address"
            data-class="field"
            data-editing="true">
        </swf-property-display>
       
        <swf-property-display
            data-name="password"
            data-type="password"
            data-object="$.slatwall.Account_LoginObj"
            data-property-identifier="password"
            data-label-text="Password"
            data-class="field field1"
            data-editing="true">
        </swf-property-display>
        
        
           
	    <!--- Forgot password will need to hit Inc.com --->
	    <p class="forgotpw"><a href="http://www.inc.com/login" target="_blank" class="loginCreateToggle">Forgot your password?</a></p>
	    <sw-action-caller
	        data-action="/?slataction=inc:main.login"
	        data-modal="false"
	        data-type="submit"
	        data-error-class="error"
	        data-text="{{($.slatwall.loading ? 'Loading...' : 'Sign In')}}">
	    </sw-action-caller>
	    
	    <span ng-show="$.slatwall.isLoading('menulogin')" ng-class="($.slatwall.loading) ? 'glyphicon glyphicon-refresh glyphicon-refresh-animate' : ''"></span>
	    <p>Don't have an account? <a href="/my-account">Create Account</a></p>
	    <span ng-if="$.slatwall.account.errors.login.length" class="error">{{$.slatwall.account.errors['login'][0]}}</span>
		
		
</sw-form>
