{{flexshipCheckout.activePaymentMethod}}

<section class="shipping-page payment-page">
	<div class="container">
		<div class="payment_sec">
			
			<!---===================================== Payment Options Section =====================================--->
			<h2 class="checkout-heading mt-5" sw-rbkey="'frontend.checkout.howToPay'"></h2>
			<span class="secured" sw-rbkey="'frontend.checkout.secureCheckout'"></span>
			
			<div class="payment-options-form" >
				<div class="form-row">
					<div class="col">
						<div class="radio_sec">
							<div class="custom-radio">
								<label for="payment_cc" sw-rbkey="'frontend.checkout.payCC'"></label>
								<span ng-init="flexshipCheckout.activePaymentMethod = 'creditCard'"></span>
								<input 
								    value="creditCard" type="radio" name="pmt" id="payment_cc" 
								    ng-model="flexshipCheckout.activePaymentMethod" 
								    ng-checked="flexshipCheckout.activePaymentMethod === 'creditCard' " 
								/>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="radio_sec">
							<div class="custom-radio">
								<label for="payment_payPal" sw-rbkey="'frontend.checkout.payPaypal'"></label>
								<input 
    								value="payPal" type="radio" name="pmt" id="payment_payPal" 
    								ng-model="flexshipCcheckout.activePaymentMethod" 
    								ng-checked="flexshipCheckout.activePaymentMethod === 'payPal' " 
								/>
							</div>
						</div>
					</div>
				</div>
				
			</div>


		</div>
	</div>
	
</section>


	<section class="shipping-page payment-page">

		<div class="container">
			<div class="payment_sec">
			
				<!---===================================== Payment Options Section =====================================--->
				<h2 class="checkout-heading mt-5" sw-rbkey="'frontend.checkout.howToPay'"></h2>
				<span class="secured" sw-rbkey="'frontend.checkout.secureCheckout'"></span>
				
				<div class="payment-options-form" >
					<div class="form-row">
						<div class="col">
							<div class="radio_sec">
								<div class="custom-radio">
									<span ng-init="flexshipCheckout.activePaymentMethod = 'creditCard'"></span>
									<input ng-model="flexshipCheckout.activePaymentMethod" value="creditCard" type="radio" name="pmt" id="payment_cc" />
									<label for="payment_cc" sw-rbkey="'frontend.checkout.payCC'"></label>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="radio_sec">
								<div class="custom-radio">
									<input ng-model="flexshipCheckout.activePaymentMethod" value="payPal" ng-click="slatwall.useSavedPaymentMethod.accountPaymentMethodID = ''"type="radio" name="pmt" id="payment_payPal" />
									<label for="payment_payPal" sw-rbkey="'frontend.checkout.payPaypal'"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---===================================== END: Payment options Section =====================================--->
				
				<!---=====================================  Credit Cart Section =====================================--->
	
				<div 
					ng-if="flexshipCheckout.activePaymentMethod != 'payPal'"
					ng-init="
						flexshipCheckout.toggleBillingAddressForm = false; 
						flexshipCheckout.useSavedPaymentMethod = {copyFromType:'accountPaymentMethod', 'newOrderPayment.requireBillingAddress':0}
					"
				>
					
					<!---============== Saved Payment Method ==============--->
					<div ng-if="slatwall.account.accountPaymentMethods.length" class="material-field">
						<h4 sw-rbkey="'frontend.checkout.savedCC'"></h4>
						<div 
							class="custom-radio py-3"
							ng-if="paymentMethod.creditCardLastFour.length" 
							ng-repeat="paymentMethod in slatwall.account.accountPaymentMethods | filter:{ moMoneyWallet:false, activeFlag: true }"
							ng-click="
								flexshipCheckout.currentPaymentMethodID = paymentMethod.accountPaymentMethodID;
								flexshipCheckout.doAction('addOrderPayment', {accountPaymentMethodID: checkout.currentPaymentMethodID, copyFromType:'accountPaymentMethod'})
							" 
						>
							<input type="radio" 
								id="paymentMethod-{{$index}}"
								name="accountPaymentMethod"
								ng-model="flexshipCheckout.currentPaymentMethodID"
								ng-value="paymentMethod.accountPaymentMethodID"
							>
							<label for="paymentMethod-{{$index}}">
								<i  class="fab fa-2x align-middle mr-2"
									ng-class="{
										'fa-cc-visa': paymentMethod.creditCardType == 'Visa',
										'fa-cc-mastercard': paymentMethod.creditCardType == 'Mastercard'
									}"
								></i> 
								{{paymentMethod.creditCardType}} {{paymentMethod.creditCardLastFour}} 
								<span class="text-black-50" ng-if="slatwall.account.primaryPaymentMethod.accountPaymentMethodID == paymentMethod.accountPaymentMethodID" sw-rbKey="'frontend.global.default'"></span>
							</label>
						</div>
						<div 
							class="custom-radio py-3"
							ng-click="flexshipCheckout.currentPaymentMethodID = '' " 
						>
							<input 
								ng-model="flexshipCheckout.currentPaymentMethodID"
								id="newCard"
								ng-value="''"
								type="radio" 
								name="accountPaymentMethod"
							>
							<label 
								for="newCard" 
								sw-rbkey="'frontend.paymentmethodmodal.addnewcreditcard'"
							>
							</label>
						</div>
					</div>
					
					<div ng-if="slatwall.account.accountPaymentMethods.length" class="material-field" ng-show="flexshipCheckout.activePaymentMethod === 'payPal'">
						<h4 sw-rbkey="'frontend.checkout.savedPaymentMethods'"></h4>
		
						<select 
							ng-model="flexshipCheckout.currentPaymentMethodID" 
							ng-options="paymentMethod.accountPaymentMethodID as slatwall.formatPaymentMethod(paymentMethod) for paymentMethod in slatwall.account.accountPaymentMethods"
						>
							<option value="">#$.slatwall.rbKey('frontend.checkout.addNewMethod')#</option>
						</select>
					</div>
					
					<!--- Show HyperWallet Error Message --->
					<p 
						class="text-danger" 
						ng-if="flexshipCheckout.activePaymentMethod == 'hyperWallet' && !slatwall.useSavedPaymentMethod.accountPaymentMethodID.length"
						sw-rbkey="'frontend.checkout.hyperWalletCantBeUsed'"
					></p>
									<!---============== END: Saved Payment Method ============== --->
					<div ng-if="slatwall.useSavedPaymentMethod.accountPaymentMethodID.length" class="w-100 my-5"><hr/></div>
					
									<!---============== New Payment Method Section============== --->
														<!---===== Billing Address Options =====--->
				<div  
					ng-show="
						!checkout.currentPaymentMethodID 
						&& checkout.activePaymentMethod != 'hyperWallet' 
					">
					

						<p ng-show="flexshipCheckout.toggleBillingAddressForm == false && slatwall.cart.orderFulfillments[0].shippingAddress.addressID">Billing Address</p>
						<div 
							ng-if="flexshipCheckout.toggleBillingAddressForm == false && slatwall.cart.orderFulfillments[0].shippingAddress.addressID" 
							class="custom-radio checkbox"
						>
							<input 
								class="form-check-input" 
								ng-model="slatwall.billingSameAsShipping" 
								type="checkbox" 
								id="billingsameshipping" 
								ng-click="
									slatwall.cart.billingAddress.addressID = (slatwall.cart.billingAddress.addressID == slatwall.cart.orderFulfillments[0].shippingAddress.addressID) ? '': slatwall.cart.orderFulfillments[0].shippingAddress.addressID;
									checkout.handleNewBillingAddress(slatwall.cart.billingAddress.addressID)
								"
								ng-checked="slatwall.cart.billingAddress.addressID == slatwall.cart.orderFulfillments[0].shippingAddress.addressID"
							>
							<label 
								class="form-check-label" 
								for="billingsameshipping" 
								sw-rbkey="'frontend.checkout.billingAddressSame'"
							></label>
					
						</div>
												<!--- Billing Dropdown Select --->
						<div ng-if="slatwall.account.accountAddresses.length && checkout.toggleBillingAddressForm !== true" class="material-field">
							<select class="form-control mt-3 mb-5" ng-if="slatwall.cart.billingAddress.addressID == slatwall.cart.orderFulfillments[0].shippingAddress.addressID" disabled>
								<option selected>
									{{ slatwall.cart.orderFulfillments[0].shippingAddress.streetAddress }}
									{{ slatwall.cart.orderFulfillments[0].shippingAddress.city }}, 
									{{ slatwall.cart.orderFulfillments[0].shippingAddress.state }}
									{{ slatwall.cart.orderFulfillments[0].shippingAddress.postalCode }}
									{{ slatwall.cart.orderFulfillments[0].shippingAddress.countrycode }}
								</option>
							</select>
							<select 
								class="form-control mt-3 mb-3" 
								name="billingAddress" 
								required 
								ng-model="slatwall.cart.billingAddress.addressID"
								ng-change="flexshipCheckout.setBillingAddress(false, slatwall.cart.billingAddress.addressID);"
								ng-disabled="slatwall.getRequestByAction('addBillingAddressUsingAccountAddress').loading"
								ng-if="slatwall.cart.billingAddress.addressID !== slatwall.cart.orderFulfillments[0].shippingAddress.addressID"
							>
								<option value="">#$.slatwall.rbKey('frontend.checkout.selectAccountAddress')#</option>
								<option 
									ng-repeat="accountAddress in slatwall.account.accountAddresses track by accountAddress.accountAddressID" 
									ng-selected="accountAddress.addressID == slatwall.cart.billingAddress.addressID"
									ng-value="accountAddress.address.addressID" 
									ng-bind="accountAddress.getSimpleRepresentation()"
								></option>
							</select>
						</div>
						<span id="payment-method-form-anchor"></span>
						<button 
							ng-show="flexshipCheckout.toggleBillingAddressForm == false && slatwall.account.accountAddresses.length && slatwall.cart.billingAddress.addressID !== slatwall.cart.orderFulfillments[0].shippingAddress.addressID"
							id="payment-method-form-button"
							type="button" 
							ng-click="slatwall.selectedBillingAccountAddress=slatwall.accountAddressService.newAccountAddress(); checkout.toggleBillingAddressForm = !checkout.toggleBillingAddressForm " 
							class="btn bg-primary my-4"
						>
							<i class="fa fa-plus-circle"></i> #$.slatwall.rbKey('frontend.checkout.addBillingAddress')#
						</button>
						
						<!---New billing address form --->
						<div ng-show="flexshipCheckout.toggleBillingAddressForm || (!slatwall.account.accountAddresses.length && !slatwall.cart.billingAddress.addressID.length)">
							<sw:SwfAddressForm 
				                countryCode="#local.currentSite.countryCode#"
				                countryName="#local.currentSite.name#"
				                stateCodeOptions="#local.currentSite.stateCodeOptions#"
								selectedAccountAddress="slatwall.selectedBillingAccountAddress" 
								method="addEditAccountAddress,addBillingAddressUsingAccountAddress"
								visible="slatwall.selectedBillingAccountAddress || !slatwall.account.accountAddresses.length" 
								addressTypeName="Billing Address"
								title=""
								cancelButton="true"
							/>
						</div>
					</div>
									<!---===== END: Billing Address Options =====--->				
									<!----===== New payment method form =====--->
					<div
						ng-show="
							!checkout.currentPaymentMethodID
							&& checkout.activePaymentMethod == 'creditCard' 
							&& checkout.toggleBillingAddressForm !== true
							&& slatwall.cart.billingAddress.addressID 
						" 
					>
						<p sw-rbkey="'frontend.checkout.newPaymentMethodCard'"></p>
						<form 
							ng-model="slatwall.OrderPayment_addOrderPayment" 
							swf-form 
							data-method="addOrderPayment" 
							s-action="slatwall.clearPaymentMethod" 
							ng-show="!slatwall.useSavedPaymentMethod.accountPaymentMethodID"
						>
						
						<sw:SwfErrorDisplay propertyIdentifier="createTransaction" />
						 
						<div ng-init="slatwall.OrderPayment_addOrderPayment.saveFlag = true" class="row">
							<input type="hidden" name="addressID" id="billingAccountAddress-addressID" class="form-control"
								ng-value="slatwall.cart.billingAddress.addressID" ng-model="slatwall.cart.billingAddress.addressID"
							>
							<div class="form-group col-md-6">
								<div class="material-field">
									<input 
										type="text" 
										name="newOrderPayment.nameOnCreditCard" 
										id="card-name" 
										class="form-control"
										ng-model="slatwall.OrderPayment_addOrderPayment.nameOnCreditCard" 
										swvalidationrequired="true"
									/>
									<label for="card-name" class="form-label" sw-rbkey="'frontend.newCreditCard.nameOnCard'"></label>
									<sw:SwfErrorDisplay propertyIdentifier="nameOnCreditCard"/>
								</div>
							</div>
							<div class="form-group col-md-6">
								<div class="material-field">
									<input 
										type="text" 
										name="newOrderPayment.creditCardNumber" 
										id="card-number" 
										class="form-control" 
										ng-model="slatwall.OrderPayment_addOrderPayment.creditCardNumber" 
										swvalidationrequired="true"
									/>
									<label for="card-number" class="form-label" sw-rbkey="'frontend.newCreditCard.creditCardNumber'"></label>
									<sw:SwfErrorDisplay propertyIdentifier="creditCardNumber"/>
								</div>
							</div>
							<div class="form-group col-md-4">
								<div class="material-field">
									<input 
										type="text" 
										name="newOrderPayment.expirationMonth"
										id="expiry-date-month" 
										class="form-control"
										ng-model="slatwall.OrderPayment_addOrderPayment.expirationMonth" 
										swvalidationrequired="true"
									/>
									<label for="expiry-date-month" class="form-label" sw-rbkey="'frontend.newCreditCard.expirationMonthMM'"></label>
									<sw:SwfErrorDisplay propertyIdentifier="expirationMonth"/>
								</div>
							</div>
							<div class="form-group col-md-4">
								<div class="material-field">
									<input 
										type="text" 
										name="newOrderPayment.expirationYear"
										id="expiry-date-year" 
										class="form-control" 
										ng-model="slatwall.OrderPayment_addOrderPayment.expirationYear" 
										swvalidationrequired="true"
									/>
									<label for="expiry-date-year" class="form-label" sw-rbkey="'frontend.newCreditCard.expirationYearYYYY'"></label>
									<sw:SwfErrorDisplay propertyIdentifier="expirationYear"/>
								</div>
							</div>
							<div class="form-group col-md-4">
								<div class="material-field">
									<input 
										type="text" 
										name="newOrderPayment.securityCode" 
										id="cvv" 
										class="form-control" 
										ng-model="slatwall.OrderPayment_addOrderPayment.securityCode" 
										swvalidationrequired="true"
									/>
									<label for="cvv" class="form-label" sw-rbkey="'frontend.newCreditCard.securityCode'"></label>
								</div>
							</div>
						</div>
						<div 
							class="custom-radio checkbox default-payment-radio"
						>
							<input type="checkbox" class="form-control" id="payment_save">
							<label ng-click="flexshipCheckout.updatePaymentAction()" class="custom-control-label" for="payment_save" sw-rbkey="'frontend.checkout.setPaymentAsDefault'"></label>
						</div>
						<input type="hidden" ng-model="slatwall.OrderPayment_addOrderPayment.saveFlag" name="saveAccountPaymentMethodFlag" type="text" class="form-control" id="payment_saveFlag">
						<input type="hidden" ng-model="slatwall.OrderPayment_addOrderPayment.primaryFlag" name="setPrimaryPaymentMethodFlag" type="text" class="form-control" id="payment_saveFlag">
						<!--- Credit Card Payment Submit & Close buttons --->
						<button 
							ng-click="swfForm.submitForm()" 
							ng-disabled="swfForm.loading || slatwall.getRequestByAction('addBillingAddressUsingAccountAddress').loading" 
							class="btn bg-primary"
							ng-class="{loading: swfForm.loading}"
						>
							<i class="fa fa-plus-circle"></i> 
							#$.slatwall.rbKey('frontend.checkout.addPayment')#
						</button>
					</form>		
					</div>				
			
									<!----===== END: New payment method form =====--->
									
									<!----===== New PayPal Method Start ===== --->
				</div>
				<div>
					<h4 
						ng-show="!slatwall.useSavedPaymentMethod.accountPaymentMethodID.length && checkout.activePaymentMethod == 'payPal' " 
						class="billing-address-title"
						sw-rbkey="'frontend.checkout.newPaymentMethodPaypal'"
					></h4>
					<div ng-if="!slatwall.useSavedPaymentMethod.accountPaymentMethodID.length && checkout.activePaymentMethod=='payPal'">
						
						<div id="paypal-button" ng-init="flexshipCheckout.configExternalPayPalMethod()">
							
						</div>
					</div>
									<!----===== New PayPal Method End ===== --->
				</div>
			</div>
		</div>
		<div ng-if="slatwall.checkoutContext.length" class="row w-100">
			<div class="col-12 d-flex justify-content-center my-5">
				<button 
					class="btn btn-lg btn-block my-5 w-50 bg-primary" 
					ng-click="flexshipCheckout.screen = checkout.SCREEN.REVIEW"
					sw-rbkey="'frontend.checkout.backToReview'"
				></button>
			</div>
		</div>
	</section>
