

<!--- Header area --->
<section ng-controller="productListingController as productController" ng-init="productController.flexshipFlag = true" class="bg-white great_part step3_part todays-order great_part">
	
	<div class="mx-5 my-3 ">
	    <div>
	    	<!---TODO: call for component ---->
			<h1 ng-bind-html="flexshipFlow.muraData.plTitle"></h1> 
	        <div class="text-grey"><div ng-bind-html="flexshipFlow.muraData.plBody"></div></div>
	    </div>
	</div>
    
	<!--- Start your order banner --->
	<div class="py-4 mb-5 mx-0 todays-order-bar row filters">
	    <div class="col ml-3">
	        <div class="input-group custom-input-group">
	        	<!----TODO: RBkey----->
	            <input 
	                placeholder="Search" 
	                type="text"  
	                class="form-control search-input" 
	                ng-model="productController.searchTerm" 
	                ng-model-options="{debounce: 500}" 
	                ng-change="productController.searchByKeyword()"
	                type="text"
	            >
	            <div class="input-group-append align-items-center">
	                <div>
	                    <i 
                    		class="fas text-white"
	                    	ng-class="{
	                    		'fa-spinner fa-pulse':productController.loading,
	                    		'fa-search':!productController.loading
	                    	}"
	                    >
	                   </i>
	                </div>
	            </div>
	        </div>
	    </div>
        <filter-menu parent-controller="productController"></filter-menu>
	</div>

	<div class="container products-listing-section">  
	
		<div class="product_list mb-0 wishlist-products row no-gutters">
			<div 
				class="col-6 col-sm-6 col-md-4 col-lg-3 product-box" 
				ng-repeat="item in productController.productList track by (item.productID+ item.skuProductURL) "
				ng-cloak
			>
				<monat-product-card 
					site-code="#local.siteCode#" 
					currency-code="{{productListingStep.orderTemplateService.mostRecentOrderTemplate.currencyCode}}" 
					all-products="productController.productList" 
					type="flexship"
					order-template="productListingStep.orderTemplateService.currentOrderTemplateID"
					product="item" 
					index="{{$index}}"
					flexship-type="'flexshipHasAccount'"
				></monat-product-card>
			</div> 
		</div>
		
		<h2 
			class="search-page__no-results" 
			ng-if="productController.recordsCount == 0" 
			sw-rbkey="'frontend.product.noneFound'"
			ng-cloak
		></h2>
		        
		<pagination-controller 
			record-list="productController.productList" 
			items-per-page="12" 
			records-count="productController.recordsCount" 
			action="{{productController.paginationMethod}}"
			arguments-object="productController.argumentsObject" 
		></pagination-controller>

</div>
</section>