<sw-modal-launcher data-modal-name="flexshipSurveyModal" 
                   data-title="{{swFlexshipSurveyModal.title}}" 
                   data-launch-event-name="OrderTemplateUpdateScheduleSuccess"
                   data-save-action="swFlexshipSurveyModal.save">
    
    <sw-modal-content> 
        <form name="flexshipSurveyModal">
            <div class="radio s-vertical" ng-repeat="surveyOption in swFlexshipSurveyModal.surveyOptions">
                <label ng-class="{'checked':swFlexshipSurveyModal.surveyResponse.value === surveyOption.value}">
                    <input type="radio" 
                           name="surveyOption"
                           ng-model="swFlexshipSurveyModal.surveyResponse" 
                           ng-value="surveyOption" />
                    <span ng-bind="surveyOption.name"></span>
                </label>
            </div>
        </form>
    </sw-modal-content>
</sw-modal-launcher>