<table class="table table-bordered table-hover" ng-cloak>
	<tr>
		<th>Sku Code</th>
		<th>Product Title</th>
		<th>Sku Definition</th>
		<th>Quantity Ordered</th>
		<th>Quantity Delivered Minus Returns</th>
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Return Quantity</th>
		<th ng-if="swReturnOrderItems.orderType == 'otReplacementOrder'">Replacement Quantity</th>
		<th ng-if="swReturnOrderItems.orderType == 'otExchangeOrder'">Exchange Quantity</th>
		
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Discount Amount</th>
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Extended Price After Discount</th>
		
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Unit Price</th>
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Refund Unit Price</th>
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Refund Extended Price</th>
		<th ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">Refund Tax</th>
	</tr>

	<tr class="orderItem" ng-repeat="orderItem in swReturnOrderItems.orderItems">
		
		<input type="hidden" name="orderItems[{{$index+1}}].orderItemID" value="" />
		<input type="hidden" name="orderItems[{{$index+1}}].referencedOrderItem.orderItemID" value="{{orderItem.orderItemID}}" />
		
		<td>{{orderItem.sku_skuCode}}</td>
		<td>{{orderItem.sku_product_calculatedTitle}}</td>
		<td>{{orderItem.sku_calculatedSkuDefinition}}</td>
		<td>{{orderItem.quantity}}</td>
		<td class="returnQuantityMaximum">{{orderItem.returnQuantityMaximum}}</td>
		<td><input type="number" ng-change="swReturnOrderItems.updateOrderItem(orderItem)" ng-model="orderItem.returnQuantity" name="orderItems[{{$index+1}}].quantity" class="span1 number returnQuantity" /></td>
		
		<td ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">{{swReturnOrderItems.currencySymbol}}{{orderItem.calculatedDiscountAmount.toFixed(2)}}</td>
		<td ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">{{swReturnOrderItems.currencySymbol}}{{orderItem.calculatedExtendedPriceAfterDiscount.toFixed(2)}}</td>
		
		<td ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">{{swReturnOrderItems.currencySymbol}}{{orderItem.calculatedExtendedUnitPriceAfterDiscount.toFixed(2)}}</td>
		<td ng-if="swReturnOrderItems.orderType == 'otReturnOrder'"><input type="number" ng-change="swReturnOrderItems.updateOrderItem(orderItem)" name="orderItems[{{$index+1}}].price" ng-model="orderItem.refundUnitPrice" class="span1 number refundUnitPrice" /></td>
		<td ng-if="swReturnOrderItems.orderType == 'otReturnOrder'" class="refundTotal">{{swReturnOrderItems.currencySymbol}}
			<span ng-bind="orderItem.refundTotal.toFixed(2)"></span>
		</td>
		<td ng-if="swReturnOrderItems.orderType == 'otReturnOrder'" class="refundTotal">
			<span ng-bind="orderItem.taxRefundAmount.toFixed(2)"></span>
		</td>
	</tr>
	
	<tr ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">
		<td colspan="9"></td>
		<td><strong>Fulfillment Refund:</strong></td>
		<td>{{swReturnOrderItems.currencySymbol}}
			<input class="form-control" name="fulfillmentRefundAmount" type="number" ng-model="swReturnOrderItems.fulfillmentRefundAmount" ng-change="swReturnOrderItems.validateFulfillmentRefundAmount()">
		</td>
		<td></td>
	</tr>
	<tr ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">
	    <td colspan="9"></td>
	    <td><strong>Allocated Order Discount Amount:</strong></td>
	    <td>
	        <span>({{swReturnOrderItems.allocatedOrderDiscountAmountTotal.toFixed(2)}})</span>
	        <input type="hidden" name="allocatedOrderDiscountAmountTotal" value="{{swReturnOrderItems.allocatedOrderDiscountAmountTotal}}">
	    </td>
	    <td></td>
    </tr>
    <tr ng-if="swReturnOrderItems.orderType == 'otReturnOrder'">
        <td colspan="9"></td>
        <td><strong>Refund Total:</strong></td>
		<td class="refundTotal">{{swReturnOrderItems.currencySymbol}}
			<span ng-bind="swReturnOrderItems.refundTotal.toFixed(2)" ng-init="swReturnOrderItems.updateRefundTotals()"></span>
		</td>
		<td></td>
		<!--<td class="refundTotal">-->
		<!--		<span ng-bind="swReturnOrderItems.refundPVTotal.toFixed(2)"></span>-->
		<!--</td>-->
		<!--<td class="refundTotal">-->
		<!--	<span ng-bind="swReturnOrderItems.refundCVTotal.toFixed(2)"></span>-->
		<!--</td>-->
	</tr>
	
	<tr ng-if="swReturnOrderItems.orderType == 'otReturnOrder'" ng-repeat="orderPayment in swReturnOrderItems.orderPayments">
		<td colspan="9"></td>
		<td><strong>{{orderPayment.name}}</strong></td>
		<td class="total">
			<input type="hidden" name="orderPayments[{{$index+1}}].orderPaymentID" value="">
			<input type="hidden" name="orderPayments[{{$index+1}}].originalOrderPaymentID" value="{{orderPayment.value}}">
			<input type="number" ng-change="swReturnOrderItems.validateAmount(orderPayment)" name="orderPayments[{{$index+1}}].amount" ng-model="orderPayment.amount" class="span1 number" />
		</td>
		<td></td>
	</tr>
	
</table>