
	<td class="s-title" [hidden]="orderitem.hide" >
		<span *ngIf="orderitem.data.sku?.data.skuName">{{orderitem.data.sku?.data.skuName}}</span>&nbsp;
		<a href="{{'?slatAction=entity.detailorderitem&orderitemid='+orderitem.data.orderItemID}}" class="s-edit-link" 
				[hidden]="orderitem.data.sku?.data.baseProductType === 'productBundle'">edit</a><br>
		<span>{{orderitem.data.sku?.data.product.data.productName || orderitem.data.bundledSku.data.product.data.productName}}</span>
			<a href="" class="s-edit-link" 
				[hidden]="!(orderitem.data.sku?.data.baseProductType === 'productBundle' && !orderitem.clicked)" 
				(click)="getChildOrderItems(orderitem)">detail</a>
			<a href="" class="s-edit-link" 
				[hidden]="!(orderitem.data.sku?.data.baseProductType === 'productBundle' && orderitem.clicked)" 
				(click)="hideChildren(orderitem)">detail</a>
	</td>
	<td class="s-sku" [hidden]="orderitem.hide">{{orderitem.data.sku?.data.skuCode || orderitem.data.bundledSku.data.skuCode}}</td>
	<td>
		<sw-order-item-detail-stamp class="s-detail" 
	       [hidden]="orderitem.hide"
	       [systemcode]="orderitem.data.sku?.data.baseProductType"
	       [orderitemid]="orderitem.data.orderItemID"
	       [skuid]="orderitem.data.sku?.data.skuID"
	       [orderitem]="orderitem"
	></sw-order-item-detail-stamp>
	</td>
	<td class="s-customization" [hidden]="!attributes.length">
		<span *ngFor="let attribute of attributes">
			<span *ngIf="orderitem.data[attribute.attributeCode] !== ''">
				<span class="s-detail-title" >{{attribute.attributeName}}:</span><br><span class="s-detail-content">{{orderitem.data[attribute.attributeCode]}}</span><br>
			</span>
		</span>
	</td>
	<td class="s-price" [hidden]="orderitem.hide">
		<!-- child order items price is calculated by the productBundle group -->
		<ul [hidden]="orderitem.data.bundledSku">
			<li class="s-price-total">
				{{orderitem.data.productBundleGroupPrice | currency}} 
			</li>
			<li [hidden]="orderitem.data.sku?.data.baseProductType !== 'productBundle'" class="s-price-list">
				<ul>
					<li
					>+<span [textContent]="orderitem.data.skuPrice * orderitem.data.productBundleGroupPercentage | currency"></span> (Base Price)</li>
					<li>+<span [textContent]="(orderitem.data.productBundlePrice - orderitem.data.skuPrice) * orderitem.data.productBundleGroupPercentage | currency"></span> (Extras)</li>
				</ul>
			</li> 
		</ul>
	</td>
	<td class="s-qty" [hidden]="orderitem.hide">{{orderitem.data.quantity || orderitem.data.bundledQuantity}}</td>
	<td class="s-discount" [hidden]="orderitem.hide">
		<span [hidden]="orderitem.data.bundledSku">
			-{{ orderitem.data.discountAmount | currency }}
		</span>
	</td>
	<td class="s-total" [hidden]="orderitem.hide">
		<ul [hidden]="orderitem.data.bundledSku">
			<li [hidden]="orderitem.data.sku?.data.baseProductType !== 'productBundle'" class="s-price-total">
				+{{(orderitem.data.productBundleGroupPrice - orderitem.data.discountAmount) * orderitem.data.quantity | currency}}
			</li>
			<li [hidden]="orderitem.data.sku?.data.baseProductType === 'productBundle'" class="s-price-total">
				+{{(orderitem.data.productBundleGroupPrice - orderitem.data.discountAmount) * orderitem.data.quantity | currency}} 
			</li>
			<li [hidden]="orderitem.data.sku?.data.baseProductType !== 'productBundle'" class="s-price-list">
				<ul>
					<li>+<span [textContent]="orderitem.data.skuPrice * orderitem.data.quantity * orderitem.data.productBundleGroupPercentage | currency"></span> (Base Price)</li>
					<li>+<span [textContent]="(orderitem.data.productBundlePrice - orderitem.data.skuPrice) * orderitem.data.quantity * orderitem.data.productBundleGroupPercentage | currency"></span> (Extras)</li>
				</ul>
			</li>
		</ul>
	</td>
	<!-- Handle Tax information -->
	<td class="s-total" *ngIf="orderitem.data.orderItemType?.data.systemCode != 'oitReturn'" [hidden]="orderitem.hide">
		<span [hidden]="orderitem.data.bundledSku">{{orderitem.data.taxAmount | currency}}</span>
	</td>
	<td class="s-total" *ngIf="orderitem.data.orderItemType?.data.systemCode == 'oitReturn'" [hidden]="orderItem.hide">
		<span [hidden]="orderitem.data.bundledSku">({{orderitem.data.taxAmount | currency}})</span>
	</td>

