<ul [ngSwitch]="systemcode">
	<li *ngFor="let header of orderitem.detailsName; index as i" >
	    <div *ngIf="orderitem.detailsName.length">
				<span class="s-detail-title" [textContent]="header"></span>: <br> 
				<span class="s-detail-content" *ngIf="orderitem.details[i]" [textContent]="orderitem.details[i]"></span>
		</div>
	</li>
	<li *ngFor="let value of orderitem.details" >
	    <div *ngIf="!orderitem.detailsName.length">
			<span class="s-detail-content">{{value}}</span>
		</div>
	</li>
</ul>