

<tr class="s-bundle-product l-1" *ngIf="orderitem && attributes" 
	[ngClass]="{
		's-event l-1': orderitem.data.sku.data.baseProductType == 'event', 
		's-bundle-product l-1': orderitem.data.sku.data.baseProductType == 'productBundle',
		's-subscription l-1': orderitem.data.sku.data.baseProductType == 'subscription',
		's-content-access l-1': orderitem.data.sku.data.baseProductType == 'content',
		's-product l-1': orderitem.data.sku.data.baseProductType == 'merchandise',
		's-return':orderitem.data.orderItemType.data.systemCode == 'oitReturn',
		's-deposit':orderitem.onWaitlist === true,
		's-pending-payment':orderitem.isPending === true
	}">
	<!-- Image 90x90 -->
	<td rowspan="1000" class='s-image' style="width:90px;height:90px;">
		<swresizedimage [profilename]="'orderItem'" [orderitem]="orderitem"></swresizedimage>
	</td>
	
	<!-- Handle the title field. Displays skuName if it exists and productName otherwise -->
	<td class="s-title"> 
		<span *ngIf="orderitem.data.sku.data.skuName === ''" [textContent]="orderitem.data.sku.data.product.data.productName"></span>&nbsp;
		<span *ngIf="orderitem.data.sku.data.skuName">
			{{orderitem.data.sku.data.skuName}}&nbsp;
		</span>
		<a href="{{'?slatAction=entity.detailorderitem&orderitemid='+orderitem.data.orderItemID}}" class="s-edit-link"
			[hidden]="orderitem.data.sku.data.baseProductType === 'productBundle'">edit</a>
		<a href="" class="s-edit-link" 
			[hidden]="!((orderitem.data.sku.data.baseProductType === 'productBundle' || (orderitem.data.sku.data.bundleFlag === 'Yes ' || orderitem.data.sku.data.bundleFlag === 1)) && !orderitem.clicked)" 
			(click)="getChildOrderItems(orderitem)">detail</a>
		<a href="" class="s-edit-link" 
			[hidden]="!(orderitem.data.sku.data.baseProductType === 'productBundle' && orderitem.clicked)" 
			(click)="hideChildren(orderitem)">detail</a>
		<!-- Handle button "Cancel Deposit"-->
		<span *ngIf="orderitem.onWaitlist === true">
			<br>
			<div class="s-button-group">
				<button class="btn btn-xs btn-dgrey s-remove">Cancel Deposit</button>
			</div>
		</span>
		<!-- Handle button "Claim Spot"-->
		<span *ngIf="orderitem.isPending === true ">
			<br>
			<div class="s-button-group">
				<button class="btn btn-xs btn-dgrey s-remove" (click)="cancelDeposit(orderitem)">Cancel Deposit</button>
				<button class="btn btn-xs btn-success" (click)="claimSpot(orderitem)">Claim Spot</button>
			</div>
		</span>
		<!-- Handle event on waiting list, position in line -->
		<span *ngIf="orderitem.onWaitlist === true && !orderitem.eligible">
		<br><span class="s-detail-title">Position:</span><br>
		<span class="s-detail-content">{{ (orderitem.queuePosition - 1) }} customers ahead</span>
		</span>
		<!-- Handle event on waiting list, claim position -->
		<span *ngIf="orderitem.isPending === true">
		<br><span class="s-detail-title">Space Reserve Until: </span><br>
		<span class="s-detail-content">01/01/2015</span>
		</span>
	</td>
	
	<td class="s-sku">{{orderitem.data.sku.data.skuCode}}</td>
	
	<!-- Handle all custom details situations -->
	<td >
		<sw-order-item-detail-stamp
			[systemcode]="orderitem.data.sku.data.baseProductType"
			[orderitemid]="orderitem.data.orderItemID"
			[skuid]="orderitem.data.sku.data.skuID"
			[orderitem]="orderitem">
		</sw-order-item-detail-stamp>
	</td>
	
	<!-- Handle Custom Attributes Values -->
	<td class="s-customization" [hidden]="!attributes.length">
		<span *ngFor="let attribute of attributes">
	 		<span *ngIf="orderitem.data[attribute.attributeCode] && orderitem.data[attribute.attributeCode] !== ''">
	 			<span class="s-detail-title" >{{attribute.attributeName}}:</span><br>
	 			<span class="s-detail-content">{{orderitem.data[attribute.attributeCode]}}</span><br>
	 		</span>
	 	</span>
 	</td>
	
	<!-- Handle both cases of this 'price' being a Return Item -->
	<td *ngIf="orderitem.data.orderItemType.data.systemCode != 'oitReturn'">
		<!-- Handle if this is a event pricing scheme-->
		<span *ngIf="orderitem.onWaitlist !== true" class="s-price">
			<ul>
				<li [hidden]="orderitem.data.sku.data.baseProductType !== 'productBundle'" class="s-price-total" [innerHtml]="orderitem.data.productBundlePrice | swcurrency:orderitem.data.currencyCode">
				</li>
				<li [hidden]="orderitem.data.sku.data.baseProductType === 'productBundle'" class="s-price-total" [innerHtml]="orderitem.data.price | swcurrency:orderitem.data.currencyCode">
				</li>
				<li [hidden]="orderitem.data.sku.data.baseProductType !== 'productBundle'" class="s-price-list">
					<ul>
						<li>+<span [innerHtml]="orderitem.data.skuPrice | swcurrency:orderitem.data.currencyCode"></span> (Base Price)</li>
						<li>+<span [innerHtml]="orderitem.data.skuPrice - orderitem.data.extendedPrice / orderitem.data.quantity | swcurrency:orderitem.data.currencyCode"></span> (Extras)</li>
					</ul>
				</li>
			</ul>
		</span>
		<span *ngIf="orderitem.onWaitlist === true && !orderitem.eligible">
			<span class="s-price"></span><span [innerHtml]="'0  (Deposit)' | swcurrency:orderitem.data.currencyCode"></span><br>
			<span class="s-price-list" [innerHtml]="orderitem.data.skuPrice + ' (Event Price)' | swcurrency:orderitem.data.currencyCode"></span>
		</span>
	</td>
	
	<td class="s-price" *ngIf="orderitem.data.orderItemType.data.systemCode == 'oitReturn'">(-<span [innerHtml]="orderitem.data.price | swcurrency:orderitem.data.currencyCode"></span>) <span [hidden]="orderitem.data.orderItemType.data.systemCode !== 'oitDeposit'">(Event Price)</span></td>
	
	<td class="s-qty">{{orderitem.data.quantity}}</td>
	
	<!-- Handle both cases of this 'discount' being a Return Item -->
	<td class="s-discount" *ngIf="orderitem.data.orderItemType.data.systemCode != 'oitReturn'">-<span [innerHtml]="orderitem.data.discountAmount | swcurrency:orderitem.data.currencyCode"></span></td>
	<td class="s-discount" *ngIf="orderitem.data.orderItemType.data.systemCode == 'oitReturn'">(<span [innerHtml]="orderitem.data.discountAmount | swcurrency:orderitem.data.currencyCode"></span>)</td>
	
	<td class="s-subTotal">{{orderitem.data.extendedPrice - orderitem.data.discountAmount | swcurrency:orderitem.data.currencyCode}}</td>
	
	<!-- Handle Tax Information -->
	<td class="s-total" *ngIf="orderitem.data.orderItemType.data.systemCode != 'oitReturn'" [innerHtml]="orderitem.data.taxAmount | swcurrency:orderitem.data.currencyCode"></td>
	<td class="s-total" *ngIf="orderitem.data.orderItemType.data.systemCode == 'oitReturn'">(<span [innerHtml]="orderitem.data.taxAmount | swcurrency:orderitem.data.currencyCode"></span>)</td>
	
	<!-- Handle both cases of this 'total' being a Return Item -->
	<td class="s-total" *ngIf="orderitem.data.orderItemType.data.systemCode != 'oitReturn'">
		<ul>
			<li class="s-price-total" [innerHtml]="orderitem.data.itemTotal | swcurrency:orderitem.data.currencyCode"></li>
			<li [hidden]="orderitem.data.sku.data.baseProductType != 'productBundle'" class="s-price-list">
				<ul>
					<li>+<span [innerHtml]="orderitem.data.skuPrice * orderitem.data.quantity | swcurrency:orderitem.data.currencyCode"></span> (Base Price)</li>
					<li>+<span [innerHtml]="orderitem.data.skuPrice * orderitem.data.quantity - orderitem.data.extendedPrice | swcurrency:orderitem.data.currencyCode"></span> (Extras)</li>
				</ul>
			</li>
		</ul>
	</td>
	<td class="s-total" *ngIf="orderitem.data.orderItemType.data.systemCode == 'oitReturn'">(-<span [innerHtml]="orderitem.data.itemTotal | swcurrency:orderitem.data.currencyCode"></span>)</td>
	
	<!-- Handle Fulfillment Items -->
	<td rowspan="1000" class="s-fullfilment">
		<ul>
			<li *ngIf="orderitem.data.orderItemType.data.systemCode != 'oitReturn'">
				<swoishippinglabelstamp
					[orderfulfillment]="orderitem.data.orderFulfillment">
				</swoishippinglabelstamp>
			</li>
			<li *ngIf="orderitem.data.orderItemType.data.systemCode === 'oitReturn'" style="background-color:#FFEEEE">
				<swoishippinglabelstamp
					[orderfulfillment]="orderitem.data.orderReturn.returnLocation">
				</swoishippinglabelstamp>
			</li>
		</ul>
	</td>
	<td>
		<span [innerHtml]="orderitem.data.stock.data.location.data.locationName"></span>
	</td>
	
	<!-- Handle Buttons - These should be replaced with the directives that do the same thing -->
	<td rowspan="1000" class="s-actions">
		<ul>
			<li class="s-edit-btn"><a href="{{'?slatAction=entity.detailorderitem&orderitemid='+orderitem.data.orderItemID}}"><button type="button" class="btn btn-default"><i class="fa fa-eye"></i></button></a></li>
			<li class="s-remove-btn">
				<a> 		<!-- sw-confirm 
    						class="s-remove-btn"
							data-confirm-text="Confirm"
							data-message-text="Are you sure you want to delete this orderitem?" 
							data-callback="deleteEntity()"
							data-use-rb-key="false"
							data-simple=false
							data-yes-text="Yes"
							data-no-text="No"
							data-entity="orderItem" --><button class="btn btn-default" type="button"><i class="fa fa-trash"></i></button></a></li>
		</ul>
	</td>
</tr>
<!-- Handle Child OrderItems -->

	<tr [hidden]="!childorderitems" *ngFor="let childorderitem of childorderitems" class="s-bundle-product l-{{childorderitem.depth}}" sw-child-order-item [orderitem]="childorderitem" [childorderitems]="childorderitems" [attributes]="attributes" 
	[ngClass]="{
		's-event l-1': childorderitem.data.sku?.data.baseProductType == 'event', 
		's-bundle-product l-1': childorderitem.data.sku?.data.baseProductType == 'productBundle',
		's-subscription l-1': childorderitem.data.sku?.data.product.data.productType.data.systemCode == 'subscription',
		's-content-access l-1': childorderitem.data.sku?.data.baseProductType == 'content',
		's-product l-1': childorderitem.data.sku?.data.baseProductType == 'merchandise'
		}" ></tr>
