<span ng-if="collection.failed === true">Bad Collection Config or Bad Data</span>
<div  ng-if="!collection.failed && collectionObject" class="table-responsive s-filter-table-box" >
	<table class="table table-bordered table-hover" >
	    <thead >
	        <tr>
	            <th style="">Row</span></th>
	            <th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable" ng-bind="(column.displayTitle || column.title) | truncate:100:true" title="{{column.title}}" ng-show="column.isVisible"></th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="pageRecord in collection.pageRecords">
	            <td style=""> 
	            	<sw-selection
	            		data-id="pageRecord[collectionObject.$$getIDName()]"
						data-is-radio="isRadio"
	            		data-selectionid="collectionSelection"
	            		data-selection="pageRecord[collectionObject.$$getIDName()]"
	            	></sw-selection>
	            	
	            </td>
	            <td  ng-repeat="(key,column) in collectionConfig.columns"  ng-show="column.isVisible">
                    <span data-ng-if="column.aggregate" ng-bind="pageRecord[column.aggregate.aggregateAlias]"></span>
                    <span data-ng-if="!column.aggregate" ng-bind="column.propertyIdentifier.replace(collectionConfig.baseEntityAlias,'').charAt(0) == '.' ? pageRecord[column.propertyIdentifier.replace(collectionConfig.baseEntityAlias+'.','')] : pageRecord[replaceAll(column.propertyIdentifier.replace(collectionConfig.baseEntityAlias+'_',''),'.','_')]"></span>
                </td>
	            <td class="s-edit-elements" ng-if="angularLinks === true">
	            	<a sw-href="{{'/entity/'+collection.collectionObject+'/'+pageRecord[collectionObject.$$getIDName()]}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
			        <a sw-href="{{'/entity/'+collection.collectionObject+'/'+pageRecord[collectionObject.$$getIDName()]}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
	            </td>
	            <td class="s-edit-elements" ng-if="angularLinks === false">
	            	 <a class="btn btn-default btn-xs" href="{{$root.buildUrl('entity.detail'+collection.collectionObject) + '&' + collectionObject.$$getIDName() + '=' + pageRecord[collectionObject.$$getIDName()]}}" target="_self"><i class="glyphicon glyphicon-eye-open"></i></a>
	                <a class="btn btn-default btn-xs" href="{{$root.buildUrl('entity.edit'+collection.collectionObject) + '&' + collectionObject.$$getIDName() + '=' + pageRecord[collectionObject.$$getIDName()]}}" target="_self"><i class="glyphicon glyphicon-pencil"></i></a>
	            </td>
	      	</tr>
	    </tbody>
	</table>
</div>
