
<div class="col-xs-12 s-criteria">

    <div>
        <h4>Options</h4>

        <!--- Filter Criteria Start --->
        <form data-sw-loading="propertiesList[selectedProperty.propertyIdentifier].data">
            <div class="s-filter-group-item">

                <div class="s-options-group">
                    <div class="col-sm-12 s-no-paddings s-account-field-select" style="padding-left:5px !important;">
                        <select data-ng-model="aggegate.selectedAggregate"
                                data-ng-change="selectAggregate(aggegate.selectedAggregate)"
                                data-ng-options="aggregate.id as aggregate.value for aggregate in aggregateOptions"
                                class="form-control input-sm">
                            <option value="">Select From {{selectedProperty.displayPropertyIdentifier}}:</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>

                    <select data-ng-model="selectedProperty.selectedDisplayOption"
                            data-ng-change="selectedDisplayOptionChanged(selectedProperty.selectedDisplayOption)"
                            data-ng-options="property as property.displayPropertyIdentifier
		          					for property in propertiesList[selectedProperty.propertyIdentifier].data
		          					| orderBy:property.name
		          					| filter:{fieldtype:'!one-to-many'}
                                    | filter:{fieldtype:'!many-to-many'}
                                    | filter:{fieldtype:'!many-to-one'}
		          					"
                            class="form-control input-sm"
                            data-ng-if="aggegate.selectedAggregate == 'sum' || aggegate.selectedAggregate == 'average'">
                        <option value="">Select From {{selectedProperty.displayPropertyIdentifier}}:</option>
                    </select>
                </div>

            </div>
        </form>
        <!--- //Filter Criteria End --->
    </div>

</div>