
<div class="col-xs-12 s-criteria">

	<div>
		<h4>Options</h4>
		
		<!--- Filter Criteria Start --->
		<form action="index.html" method="post" sw-loading="propertiesList[selectedProperty.propertyIdentifier].data">
		  <div class="s-filter-group-item">
		
		    <div class="s-options-group">

		        <div class="col-sm-12 s-no-paddings s-account-field-select" style="padding-left:5px !important;">
		          <select ng-model="selectedProperty.selectedDisplayOption" 
		          		ng-change="selectedDisplayOptionChanged(selectedProperty.selectedDisplayOption)" 
		          		ng-options="property as property.displayPropertyIdentifier
		          					for property in propertiesList[selectedProperty.propertyIdentifier].data 
		          					| orderBy:['displayPropertyIdentifier'] track by property.propertyIdentifier
		          					"
		          		class="form-control input-sm">
		            <option value="">Select From {{selectedProperty.displayPropertyIdentifier}}:</option>
		          </select>
		        <div class="clearfix"></div>
		      </div>
		    </div>
		
		  </div>
		</form>
		<!--- //Filter Criteria End --->
	</div>

</div>