*.project
*.settings
*.DS_Store
*.zip
*.lic
*.pfx
_notes/
aspnet_client/
settings.xml
ehthumbs.db
thumbs.db
settings.xml/
logs/
WEB-INF
.rdsTempFiles/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
Slatwall.iml