
<div class="panel-group s-pannel-group" id="accordion" ng-if="detailTabs && detailTabs.length">
	<div class="j-panel panel panel-default" ng-repeat="detailTab in detailTabs">

		<a style="cursor:pointer" ng-click="detailTab.openTab = !detailTab.openTab">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span sw-rbkey="'admin.entity.'+entityName.toLowerCase()+'tabs.'+detailTab.tabName.toLowerCase().replace('.html','')"></span>
					<i ng-show="detailTab.openTab" class="s-accordion-toggle-icon fa fa-caret-down"></i>
					<i ng-show="!detailTab.openTab" class="s-accordion-toggle-icon fa fa-caret-left"></i>
				</h4>
			</div>
		</a>
		<div  collapse="!detailTab.openTab" class="panel-collapse"
			style="height: 0px;">
			<content class="s-body-box" ng-if="detailTab.openTab || allTabsOpen">
				<ng-include src="tabPartialPath+entityName+'/'+detailTab.tabName.toLowerCase()"></ng-include>
			</content>
		</div>
	</div>
	<div class="j-panel panel panel-default">
		<a data-toggle="collapse" href="/#collapseSystem" ng-init="openTab=false" ng-click="openTab = true">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span >System</span> <i
						class="s-accordion-toggle-icon fa fa-caret-left"></i>
				</h4>
			</div>
		</a>
		<div id="collapseSystem" class="panel-collapse"
			style="height: 0px;">
			<content class="s-body-box" ng-if="openTab || allTabsOpen">
			<div class="tab-pane" id="tabSystem">
				<div class="col-md-12">
					<div class="form-horizontal" style="max-width: 650px;">
						<div class="form-group">
							<label class="control-label col-sm-4 title"
								style="text-align: left;"
								sw-rbkey="'entity.'+entityName.toLowerCase()+'.'+entityName.toLowerCase()+'id'"></label>

							<div class="col-sm-8">

								<p class="form-control-static value" ng-bind="entity.data[entityName.toLowerCase()+'ID']"></p>

							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4 title"
								style="text-align: left;" sw-rbkey="'entity.'+entityName.toLowerCase()+'.'+'remoteid'">Remote ID</label>

							<div class="col-sm-8">

								<p class="form-control-static value" ng-bind="entity.data.remoteID"></p>

							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4 title"
								style="text-align: left;" sw-rbkey="'entity.'+entityName.toLowerCase()+'.'+'createddatetime'">Created Date Time</label>

							<div class="col-sm-8">

								<p class="form-control-static value" ng-bind="entity.data.createdDateTime"></p>

							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4 title"
								style="text-align: left;" sw-rbkey="'entity.'+entityName.toLowerCase()+'.'+'createdby'">Created By</label>

							<div class="col-sm-8">

								<p class="form-control-static value" ng-bind="entity.data.createdBy"></p>

							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4 title"
								style="text-align: left;" sw-rbkey="'entity.'+entityName.toLowerCase()+'.'+'modifieddatetime'">Modified Date Time</label>

							<div class="col-sm-8">

								<p class="form-control-static value" ng-bind="entity.data.modifiedDateTime"></p>

							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4 title"
								style="text-align: left;" sw-rbkey="'entity.'+entityName.toLowerCase()+'.'+'modifiedby'">Modified By</label>

							<div class="col-sm-8">

								<p class="form-control-static value" ng-bind="entity.data.modifiedBy"></p>

							</div>
						</div>

					</div>

				</div>

				<div class="table-responsive">
					<table
						class="table table-bordered table-hover">
						<tbody>

							<tr>
								<td colspan="5" style="text-align: center;"><em>There
										is no audit history available</em></td>
							</tr>

						</tbody>
					</table>
				</div>


			</div>

			</content>
		</div>

	</div>
</div>

