<!-- Example Add Promotion Form - Event should update the promotion listing on success -->
<sw-form
    data-is-process-form="true"
    data-object="Order_removePromotionCode"
    data-form-class="cssform"
    data-error-class="error"
    data-on-success="refresh:PromotionDisplay">
    
    <swf-property-display style="display:none"
        data-name="promotionCode"
        data-type="hidden"
        data-object="Order_RemovePromotionCode" 
        data-property-identifier="promotionCode"
        data-label-text="Promotion Code:"
        data-class="formControl"
        data-editing="true">
    </swf-property-display>
    
    <sw-action-caller 
        data-action="removePromotionCode"
        data-modal="false" 
        data-type="button" 
        data-class="btn" 
        data-text="delete">
    </sw-action-caller>
    
</sw-form>
