<div class="form-horizontal">
  <div class="form-group">
    <label for="u18_input" class="form-label col-xs-2">
      <span class="s-title">Select Subscription Period</span>
    </label>
    <div class="col-xs-4">
      <select id="u18_input" class="form-control" ng-model="swScheduledDeliveriesCard.selectedSubscriptionPeriod" ng-change="swScheduledDeliveriesCard.selectSubscriptionPeriod()">
        <option value="All Deliveries">All Deliveries</option>
        <option value="Current Term">Current Term</option>
        <!---<option value="January 2017 - December 2017">January 2017 - December 2017</option>--->
      </select>
    </div>
  </div>
  
  <div ng-if="swScheduledDeliveriesCard.subscriptionOrderDeliveryItemsCollectionList">
    <div>
      <label>Delivered</label>: <span ng-bind="swScheduledDeliveriesCard.numerator | number"></span> <span ng-if="swScheduledDeliveriesCard.denominator">/</span> <span ng-bind="swScheduledDeliveriesCard.denominator | number"></span>
    </div>
    <div>
      <label>Earned</label>: <span ng-bind="swScheduledDeliveriesCard.earned | number"></span>
    </div>
  </div>
</div>

<sw-listing-display
  ng-if="swScheduledDeliveriesCard.subscriptionOrderDeliveryItemsCollectionList"
  data-collection-config="swScheduledDeliveriesCard.subscriptionOrderDeliveryItemsCollectionList"
>
</sw-listing-display>