<!--
<cfif swActionCaller.modal && not swActionCaller.disabled> data-toggle="modal" data-target="##adminModal"</cfif>
-->
<a  ng-if="swActionCaller.type === 'link'"
	ng-attr-title="{{swActionCaller.title}}" 
	ng-attr-class="{{swActionCaller.class}}" 
	target="_self" 
	ng-href="{{swActionCaller.actionUrl}}"
	data-disabled="{{swActionCaller.disabledtext}}"
	data-confirm="{{swActionCaller.confirmtext}}"
	href="##"
	>
	<i ng-show="swActionCaller.icon && swActionCaller.icon.length" class="glyphicon glyphicon-{{swActionCaller.icon}}"></i>{{swActionCaller.text}}
</a>

<!--
		<cfif swActionCaller.modal && not swActionCaller.disabled> data-toggle="modal" data-target="##adminModal"</cfif>
		<cfif swActionCaller.disabled> data-disabled="#swActionCaller.disabledtext#"<cfelseif swActionCaller.confirm> data-confirm="#swActionCaller.confirmtext#"</cfif>
		-->
<li ng-if="swActionCaller.type === 'list'">
	<a ng-attr-title="{{swActionCaller.title}}" 
		ng-attr-class="{{swActionCaller.class}}" 
		target="_self" 
		ng-href="{{swActionCaller.actionUrl}}"
		>
		<i ng-show="swActionCaller.icon && swActionCaller.icon.length" class="glyphicon glyphicon-{{swActionCaller.icon}}"></i>{{swActionCaller.text}}
	</a>
</li>

<!--
	<cfif len(swActionCaller.name)> name="#swActionCaller.name#" value="#swActionCaller.action#"</cfif>
	<cfif swActionCaller.modal && not swActionCaller.disabled> data-toggle="modal" data-target="##adminModal"</cfif>
	<cfif swActionCaller.disabled> data-disabled="#swActionCaller.disabledtext#"<cfelseif swActionCaller.confirm> data-confirm="#swActionCaller.confirmtext#"</cfif><cfif swActionCaller.submit>type="submit"</cfif><cfif len(swActionCaller.id)>id="#swActionCaller.id#"</cfif>>
	-->
<button ng-if="swActionCaller.type ==='button'" 
	ng-attr-class="{{swActionCaller.class}}" 
	ng-attr-title="{{swActionCaller.title}}"
	ng-click="swActionCaller.submit()"
	><i ng-show="swActionCaller.icon && swActionCaller.icon.length" class="glyphicon glyphicon-{{swActionCaller.icon}}"></i><span ng-bind="swActionCaller.text"></span>
</button>
