<h2 sw-rbkey="'define.welcometoslatwall'"></h2>
<span ng-if="Account_SetupInitialAdmin">
	<sw-form name="form.accountSuperUser" 
		data-object="Account_SetupInitialAdmin"
		data-context="SetupInitialAdmin"	
	>
		<sw-property-display  	
			data-object="Account_SetupInitialAdmin"
			data-property="firstName"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display  
			data-object="Account_SetupInitialAdmin"
			data-property="lastName"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display  	
			data-object="Account_SetupInitialAdmin"
			data-property="company"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display  	
			data-object="Account_SetupInitialAdmin"
			data-property="emailAddress"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display  	
			data-object="Account_SetupInitialAdmin"
			data-property="emailAddressConfirm"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display  	
			data-object="Account_SetupInitialAdmin"
			data-property="password"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display  	
			data-object="Account_SetupInitialAdmin"
			data-property="passwordConfirm"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<sw-property-display
			data-object="Account_SetupInitialAdmin"
			data-property="slatwallAsCMSFlag"
			data-editing="true"
			data-editable="true"
		> 
		</sw-property-display>
		<span ng-if="Account_SetupInitialAdmin.data.slatwallAsCMSFlag === 1">
			<sw-property-display
				data-object="Account_SetupInitialAdmin"
				data-property="siteTitle"
				data-editing="true"
				data-editable="true"
			> 
			</sw-property-display>
			<sw-property-display
				data-object="Account_SetupInitialAdmin"
				data-property="siteDomains"
				data-editing="true"
				data-editable="true"
			> 
			</sw-property-display>
			<sw-property-display
				data-object="Account_SetupInitialAdmin"
				data-property="adminAccessFlag"
				data-editing="true"
				data-editable="true"
			> 
			</sw-property-display>
		</span>
	</sw-form>
	<button type="button" class="btn btn-sm s-btn-ten24 pull-right" sw-rbkey="'define.createandlogin'" ng-click="Account_SetupInitialAdmin.$$save()"></button>

</span>