<div class="row s-body-nav" ng-if="!swEntityActionBar.modal">
    <nav class="navbar navbar-default" role="navigation">
      <div class="col-md-6 s-header-info">
			<!--- Page Title --->
			<h1 class="actionbar-title" ng-bind="swEntityActionBar.pageTitle"></h1>
		</div>

		<div class="col-md-6">
			<div class="btn-toolbar">
				<!--- ================ Listing =================== --->
				<ng-transclude ng-if="swEntityActionBar.type === 'listing'"></ng-transclude>
				<!--- ================ Detail ===================== 
				<div ng-if="swEntityActionBar.type === 'detail'">
					<div class="btn-group btn-group-sm">
						<!--- Detail: Back Button 
						<hb:HibachiActionCaller action="#swEntityActionBar.backAction#" queryString="#swEntityActionBar.backQueryString#" class="btn btn-default" icon="arrow-left">

						<!--- Detail: Actions 
						<cfif !swEntityActionBar.object.isNew() && len( trim( thistag.generatedcontent ) ) gt 1>
							<button class="btn dropdown-toggle btn-default" data-toggle="dropdown"><i class="icon-list-alt"></i> #swEntityActionBar.hibachiScope.rbKey('define.actions')# <span class="caret"></span></button>
							<ul class="dropdown-menu pull-right">
								<hb:HibachiDividerHider>
									#thistag.generatedcontent#
								</hb:HibachiDividerHider>
							</ul>
						</cfif>

						<!--- Detail: Button Groups 
						<cfif structKeyExists(thistag, "buttonGroups") && arrayLen(thistag.buttonGroups)>
							<cfloop array="#thisTag.buttonGroups#" index="buttonGroup">
								<cfif structKeyExists(buttonGroup, "generatedContent") && len(buttonGroup.generatedContent)>											
									#buttonGroup.generatedContent#
								</cfif>
							</cfloop>
						</cfif>
					</div>

					<!--- Detail: Email / Print 
					<div class="btn-group btn-group-sm">
						<cfif arrayLen(swEntityActionBar.object.getEmailTemplates()) || arrayLen(swEntityActionBar.object.getPrintTemplates())>
							<!--- Email 
							<cfif arrayLen(swEntityActionBar.object.getEmailTemplates())>
								<div class="btn-group btn-group-sm">
									<a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="##"><i class="fa fa-envelope"></i></a>
									<ul class="dropdown-menu pull-right">
										<cfloop array="#swEntityActionBar.object.getEmailTemplates()#" index="template">
											<hb:HibachiProcessCaller action="admin:entity.preprocessemail" entity="Email" processContext="addToQueue" queryString="emailTemplateID=#template.getEmailTemplateID()#&#swEntityActionBar.object.getPrimaryIDPropertyName()#=#swEntityActionBar.object.getPrimaryIDValue()#&redirectAction=#request.context.slatAction#" text="#template.getEmailTemplateName()#" modal="true" modalfullwidth="true" type="list" />
										</cfloop>
									</ul>
								</div>
							</cfif>
							<!--- Print 
							<cfif arrayLen(swEntityActionBar.object.getPrintTemplates())>
								<div class="btn-group btn-group-sm">
									<a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="##"><i class="fa fa-print"></i></a>
									<ul class="dropdown-menu pull-right">
										<cfloop array="#swEntityActionBar.object.getPrintTemplates()#" index="template">
											<hb:HibachiProcessCaller action="admin:entity.processprint" entity="Print" processContext="addToQueue" queryString="printTemplateID=#template.getPrintTemplateID()#&printID=&#swEntityActionBar.object.getPrimaryIDPropertyName()#=#swEntityActionBar.object.getPrimaryIDValue()#&redirectAction=#request.context.slatAction#" text="#template.getPrintTemplateName()#" type="list" />
										</cfloop>
									</ul>
								</div>
							</cfif>
						</cfif>
					</div>
					<!--- Detail: Print 

					<!--- Detail: Additional Button Groups 
					<cfif structKeyExists(thistag, "buttonGroups") && arrayLen(thistag.buttonGroups)>
						<cfloop array="#thisTag.buttonGroups#" index="buttonGroup">
							<cfif structKeyExists(buttonGroup, "generatedContent") && len(buttonGroup.generatedContent)>
								#buttonGroup.generatedContent#
							</cfif>
						</cfloop>
					</cfif>

					<!--- Detail: CRUD Buttons 
					
					<div class="btn-group btn-group-sm">
						<!--- Setup delete Details 
						<cfset local.deleteErrors = swEntityActionBar.hibachiScope.getService("hibachiValidationService").validate(object=swEntityActionBar.object, context="delete", setErrors=false) />
						<cfset local.deleteDisabled = local.deleteErrors.hasErrors() />
						<cfset local.deleteDisabledText = local.deleteErrors.getAllErrorsHTML() />

						<cfif swEntityActionBar.edit>
							<!--- Delete 
							<cfif not swEntityActionBar.object.isNew() and swEntityActionBar.showdelete>
								<cfset swEntityActionBar.deleteQueryString = listAppend(swEntityActionBar.deleteQueryString, "#swEntityActionBar.object.getPrimaryIDPropertyName()#=#swEntityActionBar.object.getPrimaryIDValue()#", "&") />
								<hb:HibachiActionCaller action="#swEntityActionBar.deleteAction#" querystring="#swEntityActionBar.deleteQueryString#" text="#swEntityActionBar.hibachiScope.rbKey('define.delete')#" class="btn btn-default s-remove" icon="trash icon-white" confirm="true" disabled="#local.deleteDisabled#" disabledText="#local.deleteDisabledText#">
							</cfif>

							<!--- Cancel 
							<cfif !len(swEntityActionBar.cancelQueryString)>
								<!--- Setup default cancel query string 
								<cfset swEntityActionBar.cancelQueryString = "#swEntityActionBar.object.getPrimaryIDPropertyName()#=#swEntityActionBar.object.getPrimaryIDValue()#" />
							</cfif>
							<hb:HibachiActionCaller action="#swEntityActionBar.cancelAction#" querystring="#swEntityActionBar.cancelQueryString#" text="#swEntityActionBar.hibachiScope.rbKey('define.cancel')#" class="btn btn-default" icon="remove icon-white">

							<!--- Save 
							<hb:HibachiActionCaller action="#request.context.entityActionDetails.saveAction#" text="#swEntityActionBar.hibachiScope.rbKey('define.save')#" class="btn btn-success" type="button" submit="true" icon="ok icon-white">
						<cfelse>
							<!--- Delete 
							<cfif swEntityActionBar.showdelete>
								<cfset swEntityActionBar.deleteQueryString = listAppend(swEntityActionBar.deleteQueryString, "#swEntityActionBar.object.getPrimaryIDPropertyName()#=#swEntityActionBar.object.getPrimaryIDValue()#", "&") />
								<hb:HibachiActionCaller action="#swEntityActionBar.deleteAction#" querystring="#swEntityActionBar.deleteQueryString#" text="#swEntityActionBar.hibachiScope.rbKey('define.delete')#" class="btn btn-default s-remove" icon="trash icon-white" confirm="true" disabled="#local.deleteDisabled#" disabledText="#local.deleteDisabledText#">
							</cfif>

							<!--- Edit 
							<cfif swEntityActionBar.showedit>
								<hb:HibachiActionCaller action="#request.context.entityActionDetails.editAction#" querystring="#swEntityActionBar.object.getPrimaryIDPropertyName()#=#swEntityActionBar.object.getPrimaryIDValue()#" text="#swEntityActionBar.hibachiScope.rbKey('define.edit')#" class="btn btn-default" icon="pencil icon-white" submit="true" disabled="#swEntityActionBar.object.isNotEditable()#">
							</cfif>
						</cfif>
					</div>
				</div>
				
				<!--- ================= Process =================== 
				<div ng-if="swEntityActionBar.type === 'preprocess'">

					<cfif !len(swEntityActionBar.processContext) and structKeyExists(request.context, "processContext")>
						<cfset swEntityActionBar.processContext = request.context.processContext />
					</cfif>
					<cfif !len(swEntityActionBar.processAction) and structKeyExists(request.context.entityActionDetails, "processAction")>
						<cfset swEntityActionBar.processAction = request.context.entityActionDetails.processAction />
					</cfif>
					<div class="btn-group btn-group-sm">
						<hb:HibachiActionCaller action="#swEntityActionBar.backAction#" queryString="#swEntityActionBar.backQueryString#" class="btn btn-default" icon="arrow-left">
					</div>
					<div class="btn-group btn-group-sm">
						<button type="submit" class="btn btn-primary">#swEntityActionBar.hibachiScope.rbKey( "entity.#swEntityActionBar.object.getClassName()#.process.#swEntityActionBar.processContext#" )#</button>
					</div>
				</div>--->
			</div>
		</div>
	</nav>
</div>
<ng-transclude ng-if="swEntityActionBar.modal"></ng-transclude>
<!--<hb:HibachiMessageDisplay />-->