<a data-toggle="modal" href="#{{swModalLauncher.modalName}}">
    <div ng-transclude="button"></div>
</a>
<div ng-transclude="staticButton"></div>
<sw-modal-window 
    data-title="{{swModalLauncher.title}}" 
    data-modal-name="{{swModalLauncher.modalName}}" 
    data-save-action="swModalLauncher.saveCallback" 
    data-save-action-text="{{swModalLauncher.saveActionText}}"
    data-delete-action="swModalLauncher.deleteCallback"
    data-cancel-action="swModalLauncher.cancelCallback"
    data-cancel-action-text="{{swModalLauncher.cancelActionText}}"
>
    <sw-modal-body>
        <div ng-transclude="content"></div>
    </sw-modal-body>
</sw-modal-window>
