<div class="s-select-wrapper s-titled-select-wrapper s-sort-by s-disabled">
    <span>Sort By:</span>
    <select class="form-control input-sm">
        <option value="" disabled="" selected="">Select</option>
        <option value="" id="for-mock-only-manual-sort">Manual</option>
        <option value="name">Name</option>
        <option value="">Code</option>
        <option value="">Active</option>
        <option value="">Published</option>
        <option value="">Type</option>
        <option value="">Price</option>
    </select>
</div>

<div class="btn-group s-option-toggles" style="float: none;vertical-align: top;" role="group" aria-label="...">
    <button type="button" 
            class="btn btn-default" 
            ng-click="swOrderByControls.sortAscending()"
            data-toggle="popover" 
            data-trigger="hover" 
            data-placement="top" 
            data-content="Ascending" 
            data-original-title="" title="">
            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
    </button>
    <button type="button" 
            class="btn btn-default" 
            ng-click="swOrderByControls.sortDescending()"
            data-toggle="popover" 
            data-trigger="hover" 
            data-placement="top" 
            data-content="Descending" 
            data-original-title="" 
            title="">
            <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
    </button>
    <button type="button" 
            class="btn btn-default s-selected" 
            ng-click="swOrderByControls.manualSort()"
            data-toggle="popover" 
            data-trigger="hover" 
            data-placement="top" 
            data-content="Manual" 
            data-original-title="" 
            title="">
            <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
</div>
<!-- This probably won't end up being part of this directive -->
<button class="btn btn-default collapsed" style="vertical-align: top;margin-left: 5px;" type="button" data-toggle="collapse" data-target="#j-display-options" aria-expanded="false">
    <i class="fa fa-th"></i>
</button>