<div class="col-md-3 ">
    <input type="hidden" name="{{swOrderByControls.sortDefaultDirectionFieldName}}" ng-value="swOrderByControls.sortCode" />
    <div class="s-select-wrapper s-titled-select-wrapper s-sort-by"
        data-ng-class="{'s-disabled':swOrderByControls.disabled || !swOrderByControls.edit}"
        >
        <span>Sort By:</span>
        <select class="form-control input-sm"
                name="{{swOrderByControls.sortPropertyFieldName}}"
                data-ng-model="swOrderByControls.selectedPropertyIdentifier"
                data-ng-change="swOrderByControls.updateSortOrderProperty()"
                data-ng-disabled="swOrderByControls.disabled || !swOrderByControls.edit"
                >

            <option value="" selected="" sw-rbkey="'define.select'"></option>

            <option value="{{column.propertyIdentifier}}" data-ng-show="column.isVisible" data-ng-repeat="column in swOrderByControls.collectionConfig.columns track by $index">
                {{column.title}}
            </option>
        </select>
    </div>

    <div class="btn-group s-option-toggles"
        style="float: none; vertical-align: top;"
        role="group"
        aria-label="...">
        <button type="button"
                class="btn btn-default"
                data-ng-class="{'s-selected' : swOrderByControls.sortCode=='ASC'}"
                data-ng-click="swOrderByControls.sortAscending()"
                data-ng-disabled="!swOrderByControls.edit"
                data-toggle="popover"
                data-trigger="hover"
                data-placement="top"
                data-content="Ascending"
                >
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
        </button>
        <button type="button"
                class="btn btn-default"
                data-ng-class="{'s-selected' : swOrderByControls.sortCode=='DESC'}"
                data-ng-click="swOrderByControls.sortDescending()"
                data-ng-disabled="!swOrderByControls.edit"
                data-toggle="popover"
                data-trigger="hover"
                data-placement="top"
                data-content="Descending"
                >
                <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
        </button>
        <button type="button"
            class="btn btn-default"
            data-ng-class="{'s-selected' : swOrderByControls.sortCode=='MANUAL'}"
            data-ng-click="swOrderByControls.manualSort()"
            data-ng-disabled="!swOrderByControls.edit"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="top"
            data-content="Manual"
            >
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button ng-init="swOrderByControls.showToggleDisplayOptions=false" class="btn btn-sm btn-default" type="button" ng-click="swOrderByControls.showToggleDisplayOptions=!swOrderByControls.showToggleDisplayOptions">
            <i class="fa fa-th"></i>
        </button>



    </div>
</div>

<sw-listing-controls data-ng-if="swOrderByControls.swListingDisplay.collectionConfig != null"
    data-table-id="swOrderByControls.swListingDisplay.tableID"
    data-collection-config="swOrderByControls.swListingDisplay.collectionConfig"
    data-show-toggle-filters="false"
    data-display-options-closed="swOrderByControls.showToggleDisplayOptions"
    data-show-toggle-display-options="false"
    data-show-toggle-search="false"
    data-has-search="false"
    data-show-export="false"
    data-show-report="false"
    data-simple="false"
    data-ng-if="swOrderByControls.swListingDisplay.hasSearch !== false">
</sw-listing-controls>

<!-- This probably won't end up being part of this directive -->
