<div ng-class="swSelection.isRadio ? 'radio' : 's-checkbox'"  ng-if="swSelection.id && swSelection.selectionid && swSelection.selection">
	<input  type="{{swSelection.isRadio ? 'radio' : 'checkbox'}}"
			id="j-checkbox-{{swSelection.id}}"
			data-ng-attr-name="{{swSelection.name}}"
            data-ng-model="swSelection.toggleValue"
            data-ng-change="swSelection.toggleSelection(swSelection.toggleValue,swSelection.selectionid,swSelection.selection)"
            data-ng-value="swSelection.id"
            data-ng-disabled="swSelection.disabled"
			/>
	<label for="j-checkbox-{{swSelection.id}}">
	</label>
</div>