<sw-property-display 
        data-property="swSingleEditField.property"
        data-object="swSingleEditField.object"
        data-options="swSingleEditField.options"
        data-editabled="swSingleEditField.editable"
        data-editing="swSingleEditField.editing"
        data-is-hidden="swSingleEditField.isHidden"
        data-title="swSingleEditField.title"
        data-hint="swSingleEditField.hint"
        data-options-arguments="swSingleEditField.hint"
        data-eager-load-options="swSingleEditField.eagerLoadOptions"
        data-is-dirty="swSingleEditField.isDirty"
        data-on-change="swSingleEditField.onChange"
        data-field-type="swSingleEditField.fieldType"
        data-no-validate="swSingleEditField.noValidate"
    > 
</sw-property-display>