<content class="s-body-box">
    <div class="s-tab-table">
        <div class="row s-tabs">
            <ul class="nav nav-tabs" role="tablist"> 
                <!-- NG Repeat through tab declarations --> 
                <li role="presentation" class="active" ng-repeat="tab in swTabGroup.tabs">
                    <!-- This will be an ng-click -->
                    <a href="#j-basic" role="tab" data-toggle="tab" aria-controls="basic" aria-expanded="true">Basic</a>
                </li> 
            </ul> 
        </div>
        <div class="tab-content">
            <!-- Tab Content Here -->
            <ng-transclude></ng-transclude>
        </div> 
    </div>
</content>