<div sw-click-outside="swTypeaheadSearch.closeThis(swTypeaheadSearch.clickOutsideArgs)">
	<form>
		<div class="s-search">
			<input type="text" placeholder="{{swTypeaheadSearch.placeholderText}}" class="form-control input-sm" ng-model="swTypeaheadSearch.searchText" ng-change="swTypeaheadSearch.search(swTypeaheadSearch.searchText)">
			<i class="fa fa-search"></i>
		</div>
	</form>

	<div class="s-results" ng-hide="swTypeaheadSearch.hideSearch == null">
		<!-- Only show if there is text -->
		<button type="button" class="btn btn-primary" ng-show="swTypeaheadSearch.searchText.length" ng-click="swTypeaheadSearch.addButtonItem(item)">
			<i class="fa fa-plus" ></i> Add
		</button>
		<ul ng-show="swTypeaheadSearch.searchText.length > 0" ng-hide="swTypeaheadSearch.hideSearch" class="dropdown-menu item">
            
        </ul>
	</div>
</div>
