<div class="s-select-list-wrapper s-search" sw-click-outside="swTypeaheadSearch.closeThis(swTypeaheadSearch.clickOutsideArguments)" >
        <div class="input-group">
            <div class="s-input-btn">
                <input  ng-if="swTypeaheadSearch.placeholderText"
                        id="searchinput"
                        placeholder="search store locations by name, city, state, or zip"
                        ng-model="swTypeaheadSearch.searchText"
                        ng-change="swTypeaheadSearch.search(swTypeaheadSearch.searchText)"
                        type="search"
                        class="form-control"
                        autocomplete="off"
                        data-ng-required="swTypeaheadSearch.validateRequired"
                        data-ng-disabled="swTypeaheadSearch.disabled"/>
                </div>
            <div class="input-group-btn">
                <button class="btn btn-default" type='button' ng-click="swTypeaheadSearch.toggleOptions()" data-ng-disabled="swTypeaheadSearch.disabled" style="border-radius:0;">
                    <i class="fa" data-ng-class="(swTypeaheadSearch.hideSearch) ? 'fa-caret-down': 'fa-caret-up'" ></i>
                </button>
                <button class="btn btn-sm btn-primary" type='button' ng-if="swTypeaheadSearch.showAddButton" ng-click="swTypeaheadSearch.addButtonItem()" data-ng-disabled="swTypeaheadSearch.disabled">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    <div class="dropdown s-search-results-wrapper" ng-class="{'open btn-group':!swTypeaheadSearch.hideSearch}">
        <ul ng-show="!swTypeaheadSearch.hideSearch" class="dropdown-menu"> 
            <!-- populated by the directives link function -->
        </ul>
    </div>
</div>
