<div sw-typeahead-search 
        data-collection-config="swTypeaheadInputField.typeaheadCollectionConfig"
        data-placeholder-rb-key="{{swTypeaheadInputField.placeholderRbKey}}"
        data-add-function="swTypeaheadInputField.addFunction"
        data-validate-required="swTypeaheadInputField.validateRequired"
        data-all-records="swTypeaheadInputField.allRecords"
        data-max-records="swTypeaheadInputField.maxRecords"
        data-property-to-show="swTypeaheadInputField.propertyToShow"
        >
        <ng-transclude></ng-transclude>
</div>
<input readonly style="display:none" ng-model="swTypeaheadInputField.modelValue" name="{{swTypeaheadInputField.fieldName}}" >