<div sw-typeahead-search 
        data-collection-config="swTypeaheadInputField.typeaheadCollectionConfig"
        data-placeholder-rb-key="{{swTypeaheadInputField.placeholderRbKey}}"
        data-add-function="swTypeaheadInputField.addFunction"
        data-validate-required="swTypeaheadInputField.validateRequired"
        data-all-records="swTypeaheadInputField.allRecords"
        data-max-records="swTypeaheadInputField.maxRecords"
        data-property-to-show="swTypeaheadInputField.propertyToShow"
        data-search-text="swTypeaheadInputField.searchText"
        data-initial-entity-id="{{swTypeaheadInputField.initialEntityId}}"
        >
        <ng-transclude></ng-transclude>
</div>

<span ng-if="swTypeaheadInputField.modelValue != undefined">
        <span ng-init="$root.slatwall.setLocationPreference(swTypeaheadInputField.modelValue)"></span>
</span>
<input type="hidden" style="display:none" ng-model="swTypeaheadInputField.modelValue" name="{{swTypeaheadInputField.fieldName}}.locationID"  value="{{swTypeaheadInputField.modelValue}}">
