<span ng-init="imagePath = '/custom/apps/slatwallcms/projectName/assets/images'"></span>
<span ng-init="slatwall.billingAddressEditFormIndex = undefined"></span>
<div ng-cloak>
    <fieldset>
        <legend>Payment Information</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <swf-property-display
                        data-class="form-control"
                        data-name="nameOnCreditCard"
                        data-field-type="text"
                        data-property-identifier="newOrderPayment.nameOnCreditCard"
                        data-label-text="Name on Credit Card">
                    </swf-property-display>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <swf-property-display
                                data-class="form-control"
                                data-name="creditCardNumber"
                                data-field-type="text"
                                data-property-identifier="newOrderPayment.creditCardNumber"
                                data-label-text="Card Number">
                            </swf-property-display>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <swf-property-display
                                data-class="form-control"
                                data-name="securityCode"
                                data-field-type="text"
                                data-property-identifier="newOrderPayment.securityCode"
                                data-label-text="CVV">
                            </swf-property-display>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <swf-property-display
                                ng-init="slatwall.creditCardPayment.data['selectednewOrderPayment.expirationMonth']=slatwall.months[0]"
                                data-class="form-control"
                                data-name="expirationMonth"
                                data-field-type="select"
                                data-select-type="string"
                                data-options="slatwall.months"
                                data-property-identifier="newOrderPayment.expirationMonth"
                                data-label-text="Expiration Month">
                            </swf-property-display>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <swf-property-display
                                ng-init="slatwall.creditCardPayment.data['selectednewOrderPayment.expirationYear']=slatwall.years[0]"
                                data-class="form-control"
                                data-name="expirationYear"
                                data-field-type="select"
                                data-select-type="string"
                                data-options="slatwall.years"
                                data-property-identifier="newOrderPayment.expirationYear"
                                data-label-text="Expiration Year">
                            </swf-property-display>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <swf-property-display
                        data-class="form-control"
                        data-name="saveAccountPaymentMethodFlag"
                        data-field-type="checkbox"
                        data-property-identifier="saveAccountPaymentMethodFlag"
                        data-label-text="Save this card for future orders">
                    </swf-property-display>
                    <swf-property-display
                        ng-if="slatwall.creditCardPayment.data.saveAccountPaymentMethodFlag"
                        data-class="form-control"
                        data-name="saveAccountPaymentMethodName"
                        data-field-type="text"
                        data-property-identifier="saveAccountPaymentMethodName"
                        data-label-text="Payment Method Nickname">
                    </swf-property-display>
                </div>
            </div>
    </fieldset>
</div>
