<div class="alert alert-warning" ng-repeat="pickupLocation in slatwall.getPickupLocations()">
    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    <strong>{{slatwall.getOrderFulfillmentItemList(pickupLocation.fulfillmentIndex)}}</strong>
    <address>
        <span ng-if="pickupLocation.locationName">{{pickupLocation.locationName}}<br></span>
        <span ng-if="pickupLocation.primaryAddress.address.streetAddress">{{pickupLocation.primaryAddress.address.streetAddress}}<br></span>
        <span ng-if="pickupLocation.primaryAddress.address.street2Address">{{pickupLocation.primaryAddress.address.street2Address}}<br></span>
        <span ng-if="pickupLocation.primaryAddress.address.city">{{pickupLocation.primaryAddress.address.city}}, </span>
        <span ng-if="pickupLocation.primaryAddress.address.stateCode">{{pickupLocation.primaryAddress.address.stateCode}} </span>
        <span ng-if="pickupLocation.primaryAddress.address.postalCode">{{pickupLocation.primaryAddress.address.postalCode}}<br></span>
        <span ng-if="pickupLocation.primaryAddress.address.countrycode">{{pickupLocation.primaryAddress.address.countrycode}}</span>
    </address>
    <a href="#" ng-click="slatwall.edit = 'fulfillment'" class="edit">Edit</a>
</div>

<div class="alert alert-warning" ng-if="!slatwall.getPickupLocations().length">
    <i class="fa fa-info-circle"></i> Select pickup location to continue.
</div>
