<div class="alert alert-warning" ng-repeat="payment in $root.slatwall.cart.data.orderPayments" ng-show="!payment.hasErrors">
    <i class="fa fa-check-circle fa-2x addressCheck" aria-hidden="true"></i>
    <address ng-if="payment.nameOnCreditCard">
        <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].nameOnCreditCard">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].nameOnCreditCard}}<br></span>
        <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.streetAddress">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.streetAddress}}<br></span>
        <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.street2Address">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.street2Address}}<br></span>
        <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.city">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.city}}</span>, <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.statecode">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.statecode}}</span> <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.postalcode">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.postalcode}}</span><br>
        <span ng-if="$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.countrycode">{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].billingAddress.countrycode}}</span>
    </address>
    <hr>
    <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
    ****{{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].creditCardLastFour}}
    <a href="#" ng-click="$root.slatwall.edit = 'payment';$('#payment').animatedScroll({easing: 'easeOutExpo'});" class="edit">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a><br>
    <span>Amount: {{$root.slatwall.cart.data.orderPayments[''+$root.slatwall.cart.data.orderPayments.length-1].amount}}
</div>

<div class="alert alert-danger" ng-if="!$root.slatwall.cart.orderPayments.length">
    <i class="fa fa-info-circle"></i> Add payment information to continue.
</div>
