<span ng-init="$.slatwall = $root.slatwall"></span>
<address ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.locationID != undefined">
    <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.name">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.name}}<br></span>
    <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.streetAddress">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.streetAddress}}<br></span>
    <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.street2Address">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.street2Address}}<br></span>
    <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.city">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.city}}</span>, <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.stateCode">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.stateCode}}</span>  <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.postalCode">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.postalCode}}<br></span>
    <span ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.countryCode">{{$.slatwall.cart.data.orderFulfillments[0].pickupLocation.primaryAddress.address.countryCode}}</span>
</address>
<address ng-if="$.slatwall.cart.data.orderFulfillments[0].pickupLocation.locationID == undefined">
    Need to specify a pickup location
</address>

<a href="#" class="edit" ng-click="$.slatwall.edit = 'fulfillment';$('#fulfillment').animatedScroll({easing: 'easeOutExpo'});"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
