<!-- Address Form Partial - You can specify a prefix for each address for the name property of each field on the form -->
<div class="content-body">
	<div id="editaddress">
		<div class="create-address-wrapper">
		
			<sw-form
		    data-is-process-form="true"
		    data-context="{{SwAddressForm.context}}"
		    data-form-class="edit"
		    data-error-class="error"
		    data-object="SwAddressForm.address"
		    data-class="new_address"
		    data-name="{{SwAddressForm.addressName}}"
		    data-event-announcers="keyup"
		    data-action="{{SwAddressForm.action}}"
		    data-event-listeners="{AddressCountrycodeOnChange:slatwall.binder(null,slatwall.refreshAddressOptions,SwAddressForm.address)}">			    
			    <div class="row" ng-cloak>
			    	<!--- Show address book dropdown? --->
			    	<div class="col-sm-6" ng-if="SwAddressForm.showAddressBookSelect == 'true'">
						<label for="addresses">Address Book</label>
				        <select required="true" class="form-control" name="addresses" tabindex="3" ng-model="slatwall.selectedAddress" ng-change="slatwall.newShipping.accountAddressID = slatwall.selectedAddress">
							<option value="">-SELECT FROM ADDRESS BOOK-</option>
							<option value="{{slatwall.account.accountAddresses[key].accountAddressID}}" ng-repeat="(key, value) in slatwall.account.accountAddresses"> {{slatwall.account.accountAddresses[key].accountAddressName}} - {{slatwall.account.accountAddresses[key].address.city}}</option>
				        	<option value="new">Create a new address</option>
				        </select>
				    </div>
				    
			    </div>
			    <div class="create-address border-address">
					<div class="row" ng-if="OrderAddShippingObj.edit == false && slatwall.cart.orderFulfillments[slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].data.shippingAddress.addressID.length">
				        <div class="col-md-12">
					        <div class="loading-wrapper loading-sm" ng-class="{ 'loading': slatwall.isLoading('addShippingAddress') && slatwall.loading }">
					            
					        </div>
					    </div>
					</div>
			    	<div class="row" ng-cloak>
					    <!--- hidden fields - Will contain the address id if one was provided. --->
					    <input type="hidden" ng-model="SwAddressForm.address.addressID" name="addressID" value="{{SwAddressForm.address.addressID}}" ng-init="SwAddressForm.address.addressID = SwAddressForm.address.addressID||''"/>
					    <input type="hidden" ng-model="SwAddressForm.address.accountAddressID" name="accountAddressID" value="{{SwAddressForm.address.accountAddressID}}" ng-init="SwAddressForm.address.accountAddressID = SwAddressForm.address.accountAddressID||''"/>
					    <input type="hidden" ng-model="slatwall.cart.orderFulfillments[SwAddressForm.fulfillmentIndex].orderFulfillmentID" name="fulfillmentID" value={{SwAddressForm.fulfillmentID}} />
				    	<div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('accountAddressName')">
						    <swf-property-display
						        data-name="addressName"
						        data-field-type="text"
						        data-object="SwAddressForm.address"
						        data-property-identifier="accountAddressName"
						        data-label-text="Name this Address"
						        data-class="form-control"
						        data-edit="true" 
						        >
						    </swf-property-display>
					    </div>

						<div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('name')">
						    <swf-property-display
						        data-name="name"
						        data-field-type="text"
						        data-object="SwAddressForm.address"
						        data-property-identifier="name"
						        data-label-text="Full Name"
						        data-class="form-control"
						        data-edit="true" 
						        >
						    </swf-property-display>
					    </div>
				    
					    <!--- Country 
				    	<div class="col-sm-6 form-group" ng-hide ng-if="(SwAddressForm.showCountrySelect == 'true'|| SwAddressForm.showCountrySelect == true) && slatwall.countries.countryCodeOptions">

							<swf-property-display 
					            data-name="countrycode" 
					            data-class="form-control"
					            data-field-type="select"
					            data-select-type="string"
					            data-edit="true"
					            data-property-identifier="countrycode"
					            data-object="SwAddressForm.address"
					            data-label-text="Country"
					            data-options="slatwall.countries.countryCodeOptions"
					            ng-init="SwAddressForm.address.data.selectedcountrycode = slatwall.getCountryByCountryCode(SwAddressForm.address.countrycode);slatwall.refreshAddressOptions( SwAddressForm.address)">
			            	</swf-property-display>

							<span class="error" error-for="country"></span>
							
				    	</div>
						--->
				    	<!-- Default Country 
				    	<div class="col-sm-6 form-group" ng-if="SwAddressForm.showCountrySelect == 'false'|| SwAddressForm.showCountrySelect == false">
				    		
				    		<input name="countrycode" 
				    			style="display:none"
					        	class="form-control"
					            ng-model="SwAddressForm.address.countrycode"
					            ng-init="SwAddressForm.address.countrycode=slatwall.defaultCountryCode;SwAddressForm.address.data.selectedcountrycode = slatwall.getCountryByCountryCode(SwAddressForm.address.countrycode);slatwall.refreshAddressOptions( SwAddressForm.address)" />
					          
							<span class="error" error-for="country"></span>
				    	</div> -->
				    	
					 </div>
					 <div class="row">   
					    
						<div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('phoneNumber')">
						    <swf-property-display
						        data-name="phoneNumber"
						        data-field-type="text"
						        data-object="SwAddressForm.address"
						        data-property-identifier="phoneNumber"
						        data-label-text="Phone Number"
						        data-class="form-control"
						        data-edit="true">
						    </swf-property-display>
					    </div>

					    <div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('company')">
						    <swf-property-display
						    	data-name="company"
						        data-field-type="text"
						        data-object="SwAddressForm.address"
						        data-property-identifier="company"
						        data-label-text="Company (optional)"
						        data-class="form-control"
						        data-edit="true" >
						    </swf-property-display>
					    </div> 
				    </div>
				
				    <div class="row" ng-cloak>
				    	
				    	<!--- Street --->
				    	<div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('streetAddress')">
				    		<swf-property-display
					        data-name="streetAddress"
					        data-field-type="text"
					        data-object="SwAddressForm.address"
					        data-property-identifier="streetAddress"
					        data-label-text="{{(slatwall.addressOptions.addressOptions.streetAddressLabel || 'Street')}}"
					        data-class="form-control"
					        data-edit="true">
					    	</swf-property-display>
					        
					    </div>
						<!--- Street 2 --->
					    <div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('street2Address')">
					    	<swf-property-display
					        data-name="street2Address"
					        data-field-type="text"
					        data-object="SwAddressForm.address"
					        data-property-identifier="street2Address"
					        data-label-text="{{(slatwall.addressOptions.addressOptions.street2AddressLabel || 'Apt/Suite')}}"
					        data-class="form-control"
					        data-edit="true" >
					    	</swf-property-display>
				   		</div>
				    
				    </div>
				
				    <div class="row"  ng-cloak>
				    	<div class="col-sm-6 form-group" ng-if="SwAddressForm.hasField('city')">
				    		<swf-property-display
					        data-name="city"
					        data-field-type="text"
					        data-object="SwAddressForm.address"
					        data-property-identifier="city"
					        data-label-text="{{(slatwall.addressOptions.addressOptions.cityLabel || 'City')}}"
					        data-class="form-control"
					        data-edit="true">
					    	</swf-property-display>
				    	</div>
				
					    <div class="col-sm-6 form-group">
				          <div class="row">
				          	
					        <div class="col-xs-7" ng-if="slatwall.addressOptions.addressOptions.stateCodeShowFlag && slatwall.states.stateCodeOptions && slatwall.states.stateCodeOptions.length">
					            <swf-property-display 
					            data-name="stateCode" 
					            data-class="form-control"
					            data-field-type="select"
					            data-select-type="string"
					            data-edit="true"
					            data-property-identifier="stateCode"
					            data-object="SwAddressForm.address"
					            data-label-text="{{(slatwall.addressOptions.addressOptions.stateCodeLabel || 'State')}}"
					            data-options="slatwall.states.stateCodeOptions"
					            ng-init="SwAddressForm.address.data.selectedstateCode = slatwall.getStateByStateCode(SwAddressForm.address.stateCode)||''" >
					            </swf-property-display>
					        </div>
							<!---
					        <div class="col-xs-7" ng-if="SwAddressForm.address.data.selectedcountrycode.value != 'US' && SwAddressForm.address.data.selectedcountrycode.value != 'CA' && SwAddressForm.hasField('locality')">
					            <swf-property-display
							        data-name="locality"
							        data-field-type="text"
							        data-object="SwAddressForm.address"
							        data-property-identifier="locality"
							        data-label-text="{{(slatwall.addressOptions.addressOptions.localityLabel || 'Locality')}}"
							        data-class="form-control"
							        data-edit="true" >
							    </swf-property-display>
				        	</div>--->
					        <div class="col-xs-5" ng-if="SwAddressForm.hasField('postalCode')">
					        	<swf-property-display
							        data-name="postalCode"
							        data-field-type="text"
							        data-object="SwAddressForm.address"
							        data-property-identifier="postalCode"
							        data-label-text="{{(slatwall.addressOptions.addressOptions.postalCodeLabel || 'Postal Code')}}"
							        data-class="form-control"
							        data-edit="true">
							    </swf-property-display>
					         </div>
				          </div>
				       </div>
				    </div>
				  	<ng-transclude></ng-transclude>	

				    <!--- If we want to render the submit button. --->
			  		<div class="row" ng-show="SwAddressForm.showSubmitButton == 'true' || SwAddressForm.showCloseButton == 'true'" style="padding-top:20px;display: inline-block">
				  		<div class="col-xs-5" >
					    	<sw-action-caller ng-if="SwAddressForm.showSubmitButton == 'true'"
								data-modal="false" 
								data-type="button" 
								data-class="btn btn-primary"
								data-text="{{(slatwall.getRequestByAction(SwAddressForm.action).loading ? 'LOADING' : SwAddressForm.actionText || 'SAVE &amp; CONTINUE')}}">
							</sw-action-caller>
							<button
								ng-if="SwAddressForm.showCloseButton == 'true'"
			                    ng-click="slatwall.accountAddressEditFormIndex[SwAddressForm.fulfillmentIndex]=undefined; slatwall.billingAddressEditFormIndex = undefined"
			                    class="btn btn-white">
			                    Close
			                </button>
				  		</div>
				  		
			  		</div>
				</div>
			</sw-form>
		</div>
	</div>
	<div ng-if="SwAddressForm.showAlerts !== 'false'">
		<div class="alert alert-success " ng-if="slatwall.getRequestByAction('updateAddress').hasSuccessfulAction()">
			<!--- <span ng-init="slatwall.accountAddressEditFormIndex=undefined;"></span> --->
			Address was updated successfully.
		</div>
		<div class="alert alert-success " ng-if="slatwall.getRequestByAction('addNewAccountAddress').hasSuccessfulAction()">
			<!--- <span ng-init="slatwall.accountAddressEditFormIndex=undefined;"></span> --->
			Address was created successfully.
		</div>
	</div>
	
</div>
<script>
	(function(){
		var messageContent = $('.j-shipping-messsage-content').html();
		$('.j-shipping-alert-message').html(messageContent)
	})();
</script>
</div>