<sw-listing-display data-using-personal-collection="true"
		data-collection-config="swCollectionConfigAsProperty.entityCollectionConfig"
		data-name="{{swCollectionConfigAsProperty.tableID}}"
		data-has-search="true"
		data-is-angular-route="false"
		data-angular-links="false"
		data-has-action-bar="false"
		data-show-search="true"
		data-show-export="false"
		data-show-header="false"
	>
</sw-listing-display>

<input type="hidden" ng-value="swCollectionConfigAsProperty.inputValue" name="{{swCollectionConfigAsProperty.propertyName}}" />