<div class="form-group s-upload-image">
    <label for="" class="control-label"></label>
    <input type="file"
           ng-model="swFormFieldFile.propertyDisplay.object.data[swFormFieldFile.propertyDisplay.property]"
  		   ng-disabled="!swFormFieldFile.propertyDisplay.editable"
  		   ng-show="swFormFieldFile.propertyDisplay.editing"
  		   on-change="swFormFieldFile.propertyDisplay.onChange"
  		   name="{{swFormFieldFilectrl.propertyDisplay.property}}"
           class="form-control" />
</div>