<div class="s-input-group" ng-class="{'s-edit':swSignleEditField.edited}"><!--- Removing s-edit will hide the edit mode. --->
    <span class="s-title">USD</span>
    <input type="text" value="151.00" class="form-control input-xs  s-inherited">
    <a class="s-remove-change"><i class="fa fa-remove"></i></a>
    <a class="btn btn-xs btn-success s-action-btn" >save</a>
    <a class="s-indicator-icon"><i class="fa fa-list" data-toggle="popover" data-content="(2) price groups"></i></a>
    <!-- <button class="btn btn-xs btn-default">
        <i class="fa fa-refresh"></i>
    </button> -->
</div>