<span ng-init="labelText = swFormField.labelText.replace(':','')" ></span>
<!--drive formfield by fieldtype-->
<ng-switch on="swFormField.fieldType" >
	<sw-form-field-text data-property-display="swFormField" ng-switch-when="text"></sw-form-field-text>
	<sw-form-field-password data-property-display="swFormField" ng-switch-when="password"></sw-form-field-password>
	<sw-form-field-select data-property-display="swFormField" ng-switch-when="select"></sw-form-field-select>
	<sw-form-field-radio data-property-display="swFormField" ng-switch-when="yesno"></sw-form-field-radio>
	<sw-form-field-number data-property-display="swFormField" ng-switch-when="number"></sw-form-field-number>
	<sw-form-field-json data-property-display="swFormField" ng-switch-when="json"></sw-form-field-json>
	<sw-form-field-search-select data-property-display="swFormField" ng-switch-when="search-select"></sw-form-field-search-select>
    <sw-form-field-date data-property-display="swFormField" ng-switch-when="time"></sw-form-field-date>
    <sw-form-field-date data-property-display="swFormField" ng-switch-when="date"></sw-form-field-date>
    <sw-form-field-date data-property-display="swFormField" ng-switch-when="dateTime"></sw-form-field-date>

	<!--from swFormField-->
	<sw-form-field-text data-property-display="swFormField" ng-switch-when="email"></sw-form-field-text>

	<input type="file" ng-switch-when="file" ng-model="swFormField.object[swFormField.name]"  class="{{swFormField.class}}" name="{{swFormField.name}}"></input>
	<textarea ng-switch-when="textarea" class="{{swFormField.class}}"  id="{{swFormField.name}}TextArea" ng-model="swFormField.object[swFormField.name]" name="{{swFormField.name}}"></textarea>
	<input type="checkbox" ng-switch-when="checkbox" value="{{swFormField.value}}" class="{{swFormField.class}}" name="{{swFormField.name}}"><span></span></input>

	<select ng-switch-when="multiselect" class="{{swFormField.class}}" name="{{swFormField.name}}" multiple="true">
			<option value="{{option.value}}" ng-repeat="option in swFormField.optionValues" ng-if="option.selected" selected>{{option.name}}</option>
			<option value="{{option.value}}" ng-repeat="option in swFormField.optionValues" ng-if="!option.selected">{{option.name}}</option>
	</select>

	<div ng-switch-when="radiogroup" name="{{swFormField.name}}">
		<div ng-repeat="option in optionValues" class="{{swFormField.class}}">
			<label ng-bind="option.name" ng-if="option.name" class="control-label"></label>
			<input type="radio" id="{{option.name}}_{{option.value}}" name="{{swFormField.name}}" class="radio"/>
		</div>
	</div>

	<div ng-switch-when="checkboxgroup" name="{{swFormField.name}}">
		<div ng-repeat="option in optionValues" class="{{swFormField.class}}">
			<label ng-bind="option.name" ng-if="option.name" class="{{swFormField.class}}"></label>
			<input type="checkbox" id="{{option.name}}_{{option.value}}" name="{{swFormField.name}}"/>
		</div>
	</div>


	<!--- needs to be replaced with an action caller --->
	<div ng-switch-when="submit" name="submit">
		<input type="submit" class="btn" name="submit" text="{{swFormField.name}}" value="{{swFormField.name}}" ng-click="swfPropertyDisplayController.submit();"></input>
	</div>
	<!--<sw-form-field-email data-property-display="swFormField" ng-switch-when="email"></sw-form-field-email>
	<sw-form-field-multi-select data-property-display="swFormField" ng-switch-when="multiselect"></sw-form-field-multi-select>
	<sw-form-field-file data-property-display="swFormField" ng-switch-when="file"></sw-form-field-file>
	<sw-form-field-hidden data-property-display="swFormField" ng-switch-when="hidden"></sw-form-field-hidden>
	<sw-form-field-checkbox data-property-display="swFormField" ng-switch-when="checkbox"></sw-form-field-hidden>
	<sw-form-field-radio-group data-property-display="swFormField" ng-switch-when="radiogroup"></sw-form-field-radio-group>
	<sw-form-field-checkbox-group data-property-display="swFormField" ng-switch-when="radiogroup"></sw-form-field-checkbox-group>
	<sw-form-field-submit data-property-display="swFormField" ng-switch-when="submit"></sw-form-field-checkbox-group>-->
</ng-switch>



