<div ng-if="swPropertyDisplay.object" class="form-group">

    <label class="control-label" ng-if="swPropertyDisplay.fieldType !== 'hidden'">

        <span data-ng-bind="swPropertyDisplay.title"></span>:
        <span ng-if="swPropertyDisplay.object.validations.properties[swPropertyDisplay.property][0].required && swPropertyDisplay.fieldType === 'text'">*</span>
        <span sw-tooltip class="j-tool-tip-item"
              ng-if="swPropertyDisplay.hint"
              data-text="{{swPropertyDisplay.hint}}"
              data-position="right"
                >
            <i class="fa fa-question-circle"></i>
        </span>
    </label>

    <div class="s-form-input">
        <!-- Model-->

        <span sw-form-field ng-show="swPropertyDisplay.editing"
            data-property-display="swfPropertyDisplay.propertyDisplay">
        </span>
        <!-- Display -->
        <p  class="form-control-static"
            ng-if="swPropertyDisplay.fieldType !== 'hidden' && swPropertyDisplay.fieldType !== 'select'"
            data-ng-bind="swPropertyDisplay.applyFilter(swPropertyDisplay.object.data[swPropertyDisplay.property], swPropertyDisplay.object.metaData[swPropertyDisplay.property].hb_formattype)"
            data-ng-show="!swPropertyDisplay.editing">
            <!-- property value -->
        </p>
        <p  class="form-control-static"
            ng-if="swPropertyDisplay.fieldType === 'select'"
            data-ng-bind="swPropertyDisplay.object.data[swPropertyDisplay.property].data[swPropertyDisplay.property+'Name']"
            data-ng-show="!swPropertyDisplay.editing"
            >
            <!-- property value -->
        </p>
    </div>
    <sw-error-display
    >
    </sw-error-display>
</div>
