<select type="{{propertyDisplay.fieldType}}" class="form-control"
		    		 ng-model="propertyDisplay.object.data['selected'+propertyDisplay.property]"
		    		 ng-disabled="!propertyDisplay.editable"
		    		 ng-show="propertyDisplay.editing"
		    		 ng-options="propertyDisplayOption.name for propertyDisplayOption in propertyDisplay.options track by propertyDisplayOption.value"
					 ng-change="formFieldChanged(propertyDisplay.object.data['selected'+propertyDisplay.property])"
					 ng-click="getOptions()"

>
</select>
<input style="display:none"
		type="text"
		name="{{propertyDisplay.object.data[propertyDisplay.property].$$getIDName()}}"
		ng-if="selectType === 'object'"
		ng-model="propertyDisplay.object.data[propertyDisplay.property].data[propertyDisplay.object.data[propertyDisplay.property].$$getIDName()]"
/>
<input style="display:none"
		type="text"
		name="{{propertyDisplay.property}}"
		ng-if="selectType === 'string'"
		ng-model="propertyDisplay.object.data[propertyDisplay.property]"
/>
