	
            <div class="container" style="padding-left: 10px; width: 100%" ng-if="swSimplePropertyDisplay.edit == 'false' && swSimplePropertyDisplay.displayType == 'table'">
		        <div class="row">
		            <div class="control-label col-sm-11 title" style="margin-bottom: 8px;" ng-bind="swSimplePropertyDisplay.title"></div>
		            
		            <div class="form-control-static value col-med-1" align="right" style="margin-bottom: 8px; padding-right:10px; " ng-if="swSimplePropertyDisplay.currencyFlag == 'true' && swSimplePropertyDisplay.formattedFlag == false && swSimplePropertyDisplay.currencyCode" ng-bind-html="swSimplePropertyDisplay.value | swcurrency:swSimplePropertyDisplay.currencyCode"></div>
		            <div class="form-control-static value col-med-1" align="right" style="margin-bottom: 8px; padding-right:10px; " ng-if="swSimplePropertyDisplay.currencyFlag != 'true' || swSimplePropertyDisplay.formattedFlag == true" ng-bind="swSimplePropertyDisplay.value"></div>
		        </div>
        	</div>
        	
        	<div class="container" style="padding-left: 10px; width: 100%" ng-if="swSimplePropertyDisplay.edit != 'false' && swSimplePropertyDisplay.displayType == 'table'">
        	    <div class="row">
        		    <div class="control-label col-sm-7 title" style="margin-bottom: 8px;" ng-bind="swSimplePropertyDisplay.title"></div>
        		    <div class="control-label col-sm-5 value" style="margin-bottom: 8px;"><input type="text" name="swSimplePropertyDisplay.property" ng-model="swSimplePropertyDisplay.value"></div>
        	    </div>
        	</div>
        	
        	<div class="form-group" ng-if="swSimplePropertyDisplay.edit == 'false' && swSimplePropertyDisplay.displayType == 'form-group'">
				<label class="control-label col-sm-4 title" ng-bind="swSimplePropertyDisplay.title"></label>
				<div class="col-sm-8">
					<p class="form-control-static value" ng-if="swSimplePropertyDisplay.currencyFlag == 'true' && swSimplePropertyDisplay.formattedFlag == false && swSimplePropertyDisplay.currencyCode" ng-bind-html="swSimplePropertyDisplay.value | swcurrency:swSimplePropertyDisplay.currencyCode"></p>
					<p class="form-control-static value" ng-if="swSimplePropertyDisplay.currencyFlag != 'true' || swSimplePropertyDisplay.formattedFlag == true" ng-bind="swSimplePropertyDisplay.value"></p>
				</div>
			</div>
	
				