<div ng-init="labelText = swfFormField.propertyDisplay.labelText.replace(':','')" >

    <!-- Figure out which type of element we have and display it .-->
    <ng-switch on="swfFormField.propertyDisplay.type">
    	<input type="text" ng-switch-when="text" ng-model="swfFormField.object[swfFormField.propertyDisplay.name]" class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}"></input>
    	<input type="email" ng-switch-when="email" ng-model="swfFormField.object[swfFormField.propertyDisplay.name]" class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}"></input>
    	<input type="password" ng-switch-when="password" ng-model="swfFormField.object[swfFormField.propertyDisplay.name]" class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}"></input>
    	<input type="file" ng-switch-when="file" ng-model="swfFormField.object[swfFormField.propertyDisplay.name]"  class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}"></input>
    	<input type="hidden" ng-switch-when="hidden" ng-model="swfFormField.object[swfFormField.propertyDisplay.name]"  class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}" ng-init="swfFormField.propertyDisplay.value"></input>
    	<textarea ng-switch-when="textarea" class="{{swfFormField.propertyDisplay.class}}"  id="{{swfFormField.propertyDisplay.name}}TextArea" ng-model="swfFormField.object[swfFormField.propertyDisplay.name]" name="{{swfFormField.propertyDisplay.name}}"></textarea>
    	<input type="checkbox" ng-switch-when="checkbox" value="{{swfFormField.propertyDisplay.value}}" class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}"><span></span></input>

    	<select ng-switch-when="multiselect" class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}" multiple="true">
              <option value="{{option.value}}" ng-repeat="option in swfFormField.propertyDisplay.optionValues" ng-if="option.selected" selected>{{option.name}}</option>
              <option value="{{option.value}}" ng-repeat="option in swfFormField.propertyDisplay.optionValues" ng-if="!option.selected">{{option.name}}</option>
        </select>

        <select ng-switch-when="select" class="{{swfFormField.propertyDisplay.class}}" name="{{swfFormField.propertyDisplay.name}}" >
              <option value="{{option.value}}" ng-repeat="option in swfFormField.propertyDisplay.optionValues">{{option.name}}</option>
        </select>

        <div ng-switch-when="radiogroup" name="{{swfFormField.propertyDisplay.name}}">
        	<div ng-repeat="option in optionValues" class="{{swfFormField.propertyDisplay.class}}">
        	  <label ng-bind="option.name" ng-if="option.name" class="control-label"></label>
              <input type="radio" id="{{option.name}}_{{option.value}}" name="{{swfFormField.propertyDisplay.name}}" class="radio"/>
            </div>
        </div>

        <div ng-switch-when="checkboxgroup" name="{{swfFormField.propertyDisplay.name}}">
            <div ng-repeat="option in optionValues" class="{{swfFormField.propertyDisplay.class}}">
              <label ng-bind="option.name" ng-if="option.name" class="{{swfFormField.propertyDisplay.class}}"></label>
              <input type="checkbox" id="{{option.name}}_{{option.value}}" name="{{swfFormField.propertyDisplay.name}}"/>
            </div>
        </div>

        <div ng-switch-when="yesno" name="{{swfFormField.propertyDisplay.name}}">
    	    <label ng-bind="swfFormField.propertyDisplay.name"></label>
            <label class="radio-inline"><input type="radio" name="{{swfFormField.propertyDisplay.name}}" value="1" text="Yes"/>Yes</label>
            <label class="radio-inline"><input type="radio" name="{{swfFormField.propertyDisplay.name}}" value="0" text="No" checked="true"/>No</label>
        </div>
        <!--- needs to be replaced with an action caller --->
        <div ng-switch-when="submit" name="submit">
            <input type="submit" class="btn" name="submit" text="{{swfFormField.propertyDisplay.name}}" value="{{swfFormField.propertyDisplay.name}}" ng-click="swfPropertyDisplayController.submit();"></input>
        </div>
    </ng-switch>



</div>
