
	<p class="text-center loader {{swfPropertyDisplayController.class}}" ng-if="swfPropertyDisplayController.loader"><i class="fa fa-spinner fa-spin" ng-if="swfPropertyDisplayController.loader"></i></p>

    <!-- Check if a label should be defined for this property -->
    <label ng-if="swfPropertyDisplayController.name && swfPropertyDisplayController.type !== 'yesno' && swfPropertyDisplayController.type !== 'submit' && swfPropertyDisplayController.labelText && !swfPropertyDisplayController.labelClass " class="{{swfPropertyDisplayController.labelClass}}" for="{{swfPropertyDisplayController.name}}" ng-bind="swfPropertyDisplayController.labelText"></label>
    <label ng-if="swfPropertyDisplayController.name && swfPropertyDisplayController.type !== 'yesno' && swfPropertyDisplayController.type !== 'submit' && swfPropertyDisplayController.labelText && swfPropertyDisplayController.labelClass "  class="{{swfPropertyDisplayController.labelClass}}" for="{{swfPropertyDisplayController.name}}" ng-bind="swfPropertyDisplayController.labelText"></label>

    <!--- Using the property displat as a configuration, figure out which text of element to display  --->
    <swf-form-field data-property-display="swfPropertyDisplayController.propertyDisplay"></swf-form-field>

    <!-- handle errors on the property -->
    <div ng-if="!swfPropertyDisplayController.errorClass" class="error" error-for="{{swfPropertyDisplayController.name}}"></div>
    <div ng-if="swfPropertyDisplayController.errorClass"  class="{{swfPropertyDisplayController.errorClass}}" error-for="{{swfPropertyDisplayController.name}}"></div>
    <span ng-show="swfPropertyDisplayController.form[swfPropertyDisplayController.name].$touched || swfPropertyDisplayController.form.$submitted">
        <span ng-repeat='(key, value) in swfPropertyDisplayController.form[swfPropertyDisplayController.name].$error' >
            <p ng-show="key === 'swvalidationrequired'" class="error help-block" sw-Rbkey="'validation.define.required'"></p>
            <p ng-show="key === 'swvalidationunique'" class="error help-block" sw-Rbkey="'validation.define.unique'"></p>
            <p ng-show="key === 'swvalidationuniqueornull'" class="error help-block" sw-Rbkey="'validation.define.uniqueornull'"></p>
            <p ng-show="key === 'swvalidationnumeric'" class="error help-block" sw-Rbkey="'validation.define.numeric'"></p>
            <p ng-show="key === 'swvalidationregex'" class="error help-block" sw-Rbkey="'validation.define.regex'"></p>
            <p ng-show="key === 'swvalidationgte'" class="error help-block" sw-Rbkey="'validation.define.gte'"></p>
            <p ng-show="key === 'swvalidationlte'" class="error help-block" sw-Rbkey="'validation.define.lte'"></p>
            <p ng-show="key === 'swvalidationeq'" class="error help-block" sw-Rbkey="'validation.define.neq'"></p>
            <p ng-show="key === 'swvalidationminvalue'" class="error help-block">The value entered is incorrect</p>
            <p ng-show="key === 'swvalidatiomaxvalue'" class="error help-block">The value entered is incorrect</p>
            <p ng-show="key === 'swvalidationminlength'" class="error help-block">The value entered is incorrect</p>
            <p ng-show="key === 'swvalidationmaxlength'" class="error help-block">The value entered is incorrect</p>
        </span>
    </span>