<a class="btn btn-primary" target="_self" href="/?ng#!/entity/MarketingCampaignList/create">
    <i class="glyphicon glyphicon-plus icon-white"></i> Add Campaign List
</a>


<sw-listing-display
        data-collection="'MarketingCampaignList'"
        data-edit="false"
        data-has-search="false"
        data-has-action-bar="false">

    <sw-listing-column data-property-identifier="listName" ></sw-listing-column>
    <sw-listing-column data-property-identifier="listSize" ></sw-listing-column>
    <sw-listing-column data-property-identifier="createdDateTime" ></sw-listing-column>

    <sw-listing-filter data-property-identifier="marketingCampaign.marketingCampaignID" data-comparison-value="$root.marketingCampaignID"></sw-listing-filter>
</sw-listing-display>
