<sw-listing-display
        data-collection="'MarketingCampaignListActivity'"
        data-edit="false"
        data-has-search="false"
        data-has-action-bar="false">

    <sw-listing-column data-property-identifier="marketingCampaignList.listName" ></sw-listing-column>
    <sw-listing-column data-property-identifier="createdDateTime" ></sw-listing-column>
    <sw-listing-column data-property-identifier="activityName" ></sw-listing-column>

    <sw-listing-filter data-property-identifier="marketingCampaignList.marketingCampaign.marketingCampaignID" data-comparison-value="$root.marketingCampaignID"></sw-listing-filter>
</sw-listing-display>
