<div class="col-md-6 s-header-left" >
    <div class="s-header-detail">
        <dl class="dl-horizontal" ng-if="entity">
			<span  	sw-property-display
                     data-property="campaignName"
                     data-editing="true"
                     data-editable="true"
                    >
			</span>

            <span  	sw-property-display
                     data-property="campaignDescription"
                     data-editing="true"
                     data-editable="true"
                    >
			</span>

            <span  	sw-property-display
                     data-property="startDateTime"
                     data-editing="true"
                     data-editable="true"
                    >
			</span>

            <span  	sw-property-display
                     data-property="endDateTime"
                     data-editing="true"
                     data-editable="true"
                    >
			</span>
            <!--<span  	sw-property-display-->
                     <!--data-object="workflow"-->
                     <!--data-options-arguments="{property:'marketingCampaignType'}"-->
                     <!--data-eager-load-options="true"-->
                     <!--data-property="marketingCampaignType"-->
                     <!--data-editing="true"-->
                     <!--data-editable="!workflow.$$isPersisted()">-->

        </dl>
    </div>
</div>
