<!-- Add Shipping Address By Selecting an Account Address -->
<div ng-init="OrderAddShippingObj = {}"></div>
<!--- When an address has already been saved. --->
<div class="content-address-wrapper" id="allBillingAddresses" ng-click="$root.slatwall.nextClicked=false">

    <div class="addressContentWrapper" vertilize-container>
        <div ng-repeat="(key, value) in $root.slatwall.account.accountAddresses" class="col-sm-4 content-address">
            <div class="address-wrapper">
                <div vertilize>
                    <span class="address-indicator">
                        <i ng-if="$root.slatwall.selectedBillingAddress == value.address" class="fa fa-check-circle"></i>
                    </span>

                    <ul class="list-unstyled address-info">
                        <!-- <li><small>Account Address</small></li>  -->
                        <li ng-if="$root.slatwall.account.accountAddresses[key].accountAddressName">{{$root.slatwall.account.accountAddresses[key].accountAddressName}}&nbsp;</li>
                        <li>{{$root.slatwall.account.accountAddresses[key].address.name}}&nbsp;</li>
                        <li>{{$root.slatwall.account.accountAddresses[key].address.company}}</li>
                        <li>{{$root.slatwall.account.accountAddresses[key].address.streetAddress}}</li>
                        <li>{{$root.slatwall.account.accountAddresses[key].address.street2Address}}</li>
                        <li>{{$root.slatwall.account.accountAddresses[key].address.city}}, <span ng-if="$root.slatwall.account.accountAddresses[key].address.statecode">{{$root.slatwall.account.accountAddresses[key].address.statecode}}</span><span ng-if="$root.slatwall.account.accountAddresses[key].address.locality">{{$root.slatwall.account.accountAddresses[key].address.locality}}</span> <span ng-if="$root.slatwall.account.accountAddresses[key].address.postalcode">{{$root.slatwall.account.accountAddresses[key].address.postalcode}}</span></li>
                        <li>{{$root.slatwall.account.accountAddresses[key].address.countrycode}}</li>
                        <li><a href="tel:{{$root.slatwall.account.accountAddresses[key].address.phoneNumber}}" class="tel">{{$root.slatwall.account.accountAddresses[key].address.phoneNumber}}</a></li>
                        <li>
                        <button type="button" class="btn-yellow" ng-click="$root.slatwall.selectedBillingAddress = value.address"><i ng-show="thisSelected" class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" style="font-size: 12px;margin:0px;"></i>Select Address</button>
                        <button type="button" class="btn-white" ng-click="$root.slatwall.billingAddressEditFormIndex = ''+key+''">Edit</button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="col-sm-4 content-address existing_user">
    <button type="button" class="btn-white btn-block address-wrapper address"  ng-click="$root.slatwall.cart.addBillingAddress = !$root.slatwall.cart.addBillingAddress; $root.slatwall.billingAddressEditFormIndex = 'new'">
		<i class="fa fa-plus" aria-hidden="true"></i><br/>
		<span>New Address</span>
	</button>
</div>
