<span ng-init="emailFulfillmentAddress = slatwall.getProcessObject('OrderFulfillment', {fullfillmentMethodType:'email'})"></span>
<div class="row">
	<div class="col-sm-7">
		<h4>Email Fulfillment</h4>
			<div class="col-sm-7">
			    <sw-form
			        data-is-process-form="true"
			        data-object="emailFulfillmentAddress"
			        data-form-class="cssform"
			        data-error-class="error"
			        data-name="Email_Fulfillment"
			        data-event-announcers="keyup"
			        data-action="addEmailFulfillmentAddress">
					<div class="form-group">
				        <swf-property-display
				                data-name="emailAddress"
				                data-field-type="email"
				                data-object="emailFulfillmentAddress"
				                data-property-identifier="emailAddress"
				                data-label-text="Email Address"
				                data-class="form-control"
				                data-editing="true">
				        </swf-property-display>
					</div>
					<div class="form-group">
				        <sw-action-caller
				            data-modal="false"
				            data-type="button"
				            data-class="button blue"
				            data-text="{{(slatwall.getRequestByAction('addEmailFulfillmentAddress').loading ? 'LOADING...' : 'Add Email Address')}}"
				            data-event-listeners="{Email_Fulfillmentkeyup:$parent.swForm.submitKeyCheck}">
				        </sw-action-caller>
					</div>
			    </sw-form>
			    <div ng-show="slatwall.hasEmailFulfillmentAddress()">
			    	<p>Selected Email: {{slatwall.cart.orderFulfillments[slatwall.cart.orderFulfillmentWithEmailTypeIndex].emailAddress}}</p>
			    </div>
		    </div>
    </div>