<!-- Add Shipping Address Obj just to control state -->
<script type="text/javascript">
	var root = angular.element(document.body).injector().get('$rootScope');
	root.functions = {
		hideAccountAddressForm: ()=>{
			root.slatwall.accountAddressEditFormIndex = undefined;
		}
	}
</script>
<span ng-init="$.slatwall = $root.slatwall"></span>
<div ng-init="$.slatwall.OrderAddShippingObj = {}"></div>
<!-- Displays all addresses from the addess book and lets you select one to use as the shipping address. -->
<swf-directive partial-path="{{customTemplateFolder}}" partial-name="addshippingbyaccountaddresspartial" ng-show="$.slatwall.accountAddressEditFormIndex == undefined"></swf-directive>

<!-- Displays available shipping methods. -->
<swf-directive partial-path="{{customTemplateFolder}}" partial-name="shippingmethodoptiondisplay"  ng-show="$.slatwall.accountAddressEditFormIndex == undefined"></swf-directive>

<!-- When an address needs to be saved. -->
<div id="editaddress" ng-show="($.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingAddress.addressID == undefined)||($.slatwall.accountAddressEditFormIndex != undefined && $.slatwall.accountAddressEditFormIndex != 'new')||$.slatwall.accountAddressEditFormIndex == 'new'">

    	<h4 ng-if="$.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingAddress.addressID==undefined">Your items are shipping to:</h4>
		<sw-address-form
			data-field-list="countryCode,name,company,streetAddress,street2Address,locality,city,stateCode,postalCode,phoneNumber"
			data-slatwall-scope="$.slatwall"
			data-id="{{$.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingAddress.addressID}}" 
			data-address="$.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingAddress" 
			data-tab-index="1" 
			data-address-name="shippingAddress" 
			data-field-name-prefix="orderFulfillments[{{$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex}}].shippingAddress." 
			data-show-country-select="true" 
			data-show-submit-button="true"
			data-action="updateShippingAddressOnAllOrderFulfillments"
			data-action-text="Save and Continue"
			data-show-address-book-select="false" 
			ng-if="$.slatwall.OrderAddShippingObj.edit!=false && $.slatwall.accountAddressEditFormIndex == undefined">
		</sw-address-form>
		
		<h4 ng-if="$.slatwall.accountAddressEditFormIndex != undefined && $.slatwall.accountAddressEditFormIndex != 'new'">Edit Your Address:</h4>
		<sw-address-form
			data-field-list="countryCode,name,company,streetAddress,street2Address,locality,city,stateCode,postalCode,phoneNumber"
			data-slatwall-scope="$.slatwall"
			data-id="{{$.slatwall.account.accountAddresses[$.slatwall.accountAddressEditFormIndex].address.addressID}}" 
			data-address="$.slatwall.account.accountAddresses[$.slatwall.accountAddressEditFormIndex].address" 
			data-tab-index="1" 
			data-address-name="accountAddress" 
			data-field-name-prefix="accountAddresses[$.slatwall.accountAddressEditFormIndex]." 
			data-show-address-book-select="false" 
			data-show-country-select="true" 
			data-show-submit-button="true"
			data-action="updateAddress,addShippingAddressUsingAccountAddress"
			data-action-text="Save and Continue"
			data-show-address-book-select="false" 
			ng-if="$.slatwall.accountAddressEditFormIndex != undefined"
			data-event-listeners="{addShippingAddressUsingAccountAddressSuccess:$root.functions.hideAccountAddressForm}">
		</sw-address-form>
		
		<h4 ng-if="$.slatwall.accountAddressEditFormIndex == 'new'">Create A New Address:</h4>
		<span ng-init="$.slatwall.newAddress = $.slatwall.$hibachi.newAddress()"></span>
		
		<sw-address-form
			data-field-list="countryCode,name,company,streetAddress,street2Address,locality,city,stateCode,postalCode,phoneNumber,accountAddressName"
			data-slatwall-scope="$.slatwall"
			data-address="$.slatwall.newAddress"
			data-tab-index="1" 
			data-address-name="accountAddress" 
			data-field-name-prefix="accountAddress.address." 
			data-show-address-book-select="false" 
			data-show-country-select="true" 
			data-show-submit-button="true"
			data-action="addNewAccountAddress,addShippingAddressUsingAccountAddress"
			data-action-text="Save and Continue"
			show-close-button="true"
			close-button-text="CLOSE"
			data-on-close="$.slatwall.closeAccountAddressForm()"
			ng-if="$.slatwall.accountAddressEditFormIndex == 'new'"
			data-event-listeners="{addShippingAddressUsingAccountAddressSuccess:$root.functions.hideAccountAddressForm}">
		</sw-address-form>

</sw-form>
</div>
