<!-- Add Shipping Address By Selecting an Account Address -->
<div ng-init="OrderAddShippingObj = {}"></div>
<!--- When an address has already been saved. --->
<div class="row" id="allAddresses">

    <div>
        <div ng-repeat="(key, value) in slatwall.account.accountAddresses" class="col-sm-4">
            <div class="address-wrapper">
                <div vertilize>
                    <span class="address-indicator">
                        <i ng-if="slatwall.accountAddressIsSelectedShippingAddress(key)" class="fa fa-check-circle"></i>
                    </span>
                    <ul class="list-unstyled address-info">
                        <!-- <li><small>Account Address</small></li>  -->
                        <li ng-if="slatwall.account.accountAddresses[key].accountAddressName">{{slatwall.account.accountAddresses[key].accountAddressName}}&nbsp;</li>
                        <li>{{slatwall.account.accountAddresses[key].address.name}}&nbsp;</li>
                        <li>{{slatwall.account.accountAddresses[key].address.company}}</li>
                        <li>{{slatwall.account.accountAddresses[key].address.streetAddress}}</li>
                        <li>{{slatwall.account.accountAddresses[key].address.street2Address}}</li>
                        <li>{{slatwall.account.accountAddresses[key].address.city}}, <span ng-if="slatwall.account.accountAddresses[key].address.statecode">{{slatwall.account.accountAddresses[key].address.statecode}}</span><span ng-if="slatwall.account.accountAddresses[key].address.locality">{{slatwall.account.accountAddresses[key].address.locality}}</span> <span ng-if="slatwall.account.accountAddresses[key].address.postalcode">{{slatwall.account.accountAddresses[key].address.postalcode}}</span></li>
                        <li>{{slatwall.account.accountAddresses[key].address.countrycode}}</li>
                        <li><a href="tel:{{slatwall.account.accountAddresses[key].address.phoneNumber}}" class="tel">{{slatwall.account.accountAddresses[key].address.phoneNumber}}</a></li>
                        <li>
                        <button type="button" class="btn-yellow" ng-click="slatwall.doAction('addShippingAddressUsingAccountAddress', {'accountAddressID': value.accountAddressID ,'saveAsAccountAddressFlag':'true'});thisSelected=true"><i ng-show="thisSelected" class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" style="font-size: 12px;margin:0px;"></i>Select Address</button>
                        <button type="button" ng-click="slatwall.accountAddressEditFormIndex = key">Edit</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="col-sm-4 content-address existing_user">
    <button type="button" ng-click="slatwall.accountAddressEditFormIndex = 'new'">
		<i class="fa fa-plus" aria-hidden="true"></i><br/>
		<span>Add Address</span>
	</button>
</div>
