<!-- Add Shipping Address By Selecting an Account Address -->
<div ng-init="OrderAddShippingObj = {}; fulfillmentIndex=SWFDirective.variables.fulfillmentIndex"></div>
<!--- When an address has already been saved. --->
<div class="col-md-12">
    <div class="row" id="allAddresses">
        <div>
            <div class="address-wrapper">
                <div vertilize>
                    <ul class="list-unstyled address-info">
                        <!-- <li><small>Account Address</small></li>  -->
                        <li ng-repeat="(key, value) in slatwall.account.accountAddresses"><span class="address-indicator">
                                <i ng-if="slatwall.accountAddressIsSelectedShippingAddress(key, fulfillmentIndex)" class="fa fa-check-circle"></i>
                            </span>
                            <strong ng-if="value.accountAddressName">{{value.accountAddressName}} - </strong>
                            <span ng-if='value.address.name'>{{value.address.name}}, </span>
                            <span ng-if="value.address.company">{{value.address.company}}, </span>
                            <span>{{value.address.streetAddress}}, </span>
                            <span ng-if="value.address.street2Address">{{value.address.street2Address}}, </span>
                            <span>{{value.address.city}}, <span ng-if="value.address.statecode">{{value.address.statecode}}</span><span ng-if="value.address.locality">{{value.address.locality}}</span> <span ng-if="value.address.postalCode"> {{value.address.postalCode}}, </span></span>
                            <span>{{value.address.countrycode}}</span>
                            <span ng-if="value.address.phoneNumber"><a href="tel:{{value.address.phoneNumber}}" class="tel"> - {{value.address.phoneNumber}}</a></span>
                            <span>
                                <i ng-show="slatwall.loadingThisRequest('addShippingAddressUsingAccountAddress',{accountAddressID: value.accountAddressID})" class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" style="font-size: 12px;margin:0px;"></i>
                            </span>
                            <a role="button" ng-show="!slatwall.loadingThisRequest('addShippingAddressUsingAccountAddress',{accountAddressID: value.accountAddressID})" ng-click="slatwall.doAction('addShippingAddressUsingAccountAddress', {'accountAddressID': value.accountAddressID ,'saveAsAccountAddressFlag':'true', fulfillmentId:slatwall.cart.orderFulfillments[fulfillmentIndex].orderFulfillmentID});thisSelected=true"><i class="fa fa-check fa-large"></i></a>
                            <a role="button" ng-click="slatwall.editAccountAddress(key, fulfillmentIndex);"><i class="fa fa-pencil-square-o fa-large"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="col-sm-4 content-address existing_user">
    <button type="button" ng-click="slatwall.accountAddressEditFormIndex[fulfillmentIndex] = 'new';slatwall.clearShippingAddressErrors()">
		<i class="fa fa-plus" aria-hidden="true"></i><br/>
		<span>Add Address</span>
	</button>
</div>
