<div>
    
    <div class="col-md-8">
        <h4>Enter Gift Card</h4>
        <div ng-show="slatwall.giftCardError()">
            <div class="msg">
                <div class="alert alert-danger"><i class="fa fa-info-circle"></i> {{slatwall.giftCardError()}}</div>
            </div>
        </div>
        <div class="row">
            <span ng-init="giftCard = {}"></span>
            <sw-form
                data-is-process-form="true"
                data-object="giftCard"
                data-form-class=""
                data-error-class="error"
                data-name="addGiftCard"
                data-event-announcers="keyup"
                data-event-listeners="{addGiftCardkeyup:slatwall.applyGiftCardKeyCheck}">
                <div class="col-sm-8 form-group">
                    <swf-property-display
                        data-name="giftCardCodeToApply"
                        data-field-type="text"
                        data-property-identifier="giftCardCodeToApply"
                        data-class="form-control"
                        data-editing="true"
                        >
                    </swf-property-display>
                </div>
                <div class="col-sm-4 form-group">
                    <button type="button" name="button" class="btn btn-block" ng-click="slatwall.applyGiftCardKeyCheck($event, $parent.swForm);">{{(slatwall.findingGiftCard)?'Searching...':'Add Gift Card'}}</button>
                </div>
            </sw-form>
        </div>
        
        <div class="selected-gift-cards-wrapper" ng-repeat="payment in slatwall.cart.orderPayments track by $index">
            <div class="selected-gift-card" ng-show="payment.giftCard.giftCardCode && payment.amount > 0">
                <div class="col-xs-6 left-side">
                    <span>
                        <i class="fa fa-credit-card"></i>
                        <a role="button" ng-click="slatwall.removeGiftCard(payment, $index)">{{slatwall.removingGiftCard($index) ? 'Removing...' : 'Remove'}}</a>
                    </span>
                    <span class="card-info">
                        <div class="card-number">
                            {{payment.giftCard.giftCardCode}}
                        </div>
                        <div>
                            Card Balance: <span class="card-balance">{{payment.giftCard.balanceAmount | currency}}</span>
                        </div>
                        <div>
                            Payment Amount: {{payment.amount | currency}}
                        </div>
                        
                    </span>
                </div>
            </div>
       </div>
    </div>
    <div class="col-md-4 checkout-help" ng-show="slatwall.hasGiftCardPaymentMethod()">
        <div class="alert" ng-class="{'alert-danger':slatwall.getTotalMinusGiftCards() > 0, 'alert-success':slatwall.getTotalMinusGiftCards() <= 0}">
            <h4>Balance Due: {{slatwall.getTotalMinusGiftCards() | currency}}</h4>
            <p ng-show="slatwall.getTotalMinusGiftCards() > 0">You have a remaining balance of  {{slatwall.getTotalMinusGiftCards() | currency}}.  Please choose an additional payment method to complete your order.</p>
        </div>
    </div>
</div>