<div>
    <div class="col-md-8">

        <h4>Enter Gift Card</h4>
        <div class="row">
            <div class="col-sm-8 form-group">
                <input type="text" class="form-control" ng-model="giftCardCodeToApply">
                <span class="error" ng-if="slatwall.cart.orderPayments[0].errors['giftCard']">{{slatwall.cart.orderPayments[0].errors['giftCard']}}</span>
            </div>
            <div class="col-sm-4 form-group">
                <button type="button" name="button" class="btn btn-block" ng-click="slatwall.applyGiftCard(giftCardCodeToApply);">{{(slatwall.finding)?'Finding':'Add Gift Card'}}</button>
            </div>
        </div>
        
        <div class="selected-gift-cards-wrapper" ng-repeat="payment in slatwall.cart.orderPayments track by $index">
            <div class="selected-gift-card" ng-show="payment.giftCard.giftCardCode">
                <div class="col-xs-6 left-side">
                    <span>
                        <i class="fa fa-credit-card"></i>
                        <a role="button" ng-click="slatwall.doAction('removeOrderPayment', {orderPaymentID:payment.orderPaymentID})">Remove</a>
                    </span>
                    <span class="card-info">
                        <div class="card-number">
                            {{payment.giftCard.giftCardCode}}
                        </div>
                        <div>
                            Payment Amount: {{payment.amount | currency}}
                        </div>
                        <div class="card-balance-wrapper">
                            Card Balance: <span class="card-balance">{{payment.giftCard.balanceAmount | currency}}</span>
                        </div>
                    </span>
                </div>
            </div>
       </div>
    </div>
    <div class="col-md-4 checkout-help" ng-show="slatwall.hasGiftCardPaymentMethod()">
        <div class="alert" ng-class="{'alert-danger':slatwall.getTotalMinusGiftCards() > 0, 'alert-success':slatwall.getTotalMinusGiftCards() <= 0}">
            <h4>Balance Due: {{slatwall.getTotalMinusGiftCards() | currency}}</h4>
            <p ng-show="slatwall.getTotalMinusGiftCards() > 0">You have a remaining balance of  {{slatwall.getTotalMinusGiftCards() | currency}}.  Please choose an additional payment method to complete your order.</p>
        </div>
    </div>
</div>