<!-- Add Shipping Address -->
<span ng-init="slatwall.saveShippingAsBilling = undefined"></span>
<span ng-init="slatwall.creditCardPayment = slatwall.$hibachi.newOrder_AddOrderPayment(); slatwall.creditCardPayment.newOrderPayment = {billingAddress:{}}"></span>
<swf-directive partial-name="savedcreditcards"></swf-directive>
<sw-form
	ng-if="!slatwall.savedPaymentMethod.accountPaymentMethodID"
    data-object="slatwall.creditCardPayment"
    data-class="new_address"
    data-name="addOrderPayment"
    data-submit-on-enter="true"
    data-event-announcers="keyup"
    data-action="addOrderPayment"
    data-event-listeners="{addOrderPaymentSuccess:slatwall.checkIfFinalPayment, addGiftCardOrderPaymentSuccess:slatwall.checkIfFinalPayment}">

	<!--- The form without shipping address block --->
	<swf-directive partial-name="orderpaymentformfull"></swf-directive>

	<!--- Pleace Order / Review Order / Save Buttons --->
	<div class="form-group">
	    <sw-action-caller
	        data-type="button"
	        data-class="button blue"
	        data-text="{{(slatwall.loadingThisRequest('addOrderPayment',{'newOrderPayment.nameOnCreditCard': true}) ? 'LOADING...' : 'Add Payment')}}">
	    </sw-action-caller>
	</div>
</swform>
