<span ng-init="imagePath = '/custom/apps/slatwallcms/projectName/assets/images'"></span>
<span ng-init="$root.slatwall.billingAddressEditFormIndex = ''"></span>
<div ng-cloak>
    <fieldset>
        <legend>Payment Information</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="namec">Name on Credit Card</label>
                    <input type="text" class="form-control"  id="name" name="nameOnCreditCard" ng-model="$root.slatwall.newCardInfo.nameOnCreditCard">
                    <span class="error" ng-if="$root.slatwall.cart.newOrderPaymentErrors['nameOnCreditCard']">{{$root.slatwall.cart.newOrderPaymentErrors['nameOnCreditCard']}}</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="cardnumber">Card Number</label>
                            <input type="text" class="form-control"  id="cardnumber" ng-model="$root.slatwall.newCardInfo.cardNumber">
                            <span class="error" ng-if="$root.slatwall.cart.newOrderPaymentErrors['creditCardNumber']">{{$root.slatwall.cart.newOrderPaymentErrors['creditCardNumber']}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>CVV <!---<a href="#cvvModalContent" class="info cvvModal"><i class="fa fa-question"></i></a>---></label>
                            <input type="text" id="cvv2" class="form-control width" size="3" max="3" ng-model="$root.slatwall.newCardInfo.cvv">
                            <span class="error" ng-if="$root.slatwall.cart.newOrderPaymentErrors['cvv']">{{$root.slatwall.cart.newOrderPaymentErrors['cvv']}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Expiration Month</label>
                            <select class="form-control" ng-model="$root.slatwall.newCardInfo.selectedMonth" ng-options="month.value as month.name for month in $root.slatwall.months" ng-init="$root.slatwall.newCardInfo.selectedMonth = $root.slatwall.months[0].value">
                                <option>Month *</option>
                            </select>
                            <span class="error" ng-if="$root.slatwall.cart.newOrderPaymentErrors['expirationMonth']">{{$root.slatwall.cart.newOrderPaymentErrors['expirationMonth'][0]}}</span>
        					<span class="error" ng-if="$root.slatwall.cart.newOrderPaymentErrors['expirationYear']">{{$root.slatwall.cart.newOrderPaymentErrors['expirationYear'][0]}}</span>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Expiration Year</label>
                            <select class="year form-control" ng-model="$root.slatwall.newCardInfo.selectedYear" ng-options="year for year in $root.slatwall.years" ng-change="$root.slatwall.cart.orderFulfillments['0'].shippingAddress.expirationYear = $root.slatwall.newCardInfo.selectedYear" ng-init="$root.slatwall.newCardInfo.selectedYear = $root.slatwall.years[0]">
                                <option>Year *</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Save this card for future orders</label>
                    <input type="checkbox" ng-model="$root.slatwall.saveCardInfo">
                </div>
            </div>
    </fieldset>

    <fieldset>
        <legend>Billing Information</legend>
            <div class="row">
                <label for="useShipping">Use Shipping Address as Billing Address</label>
                <input type="checkbox" name="useShipping" ng-model="$root.slatwall.useShippingAsBilling">
            </div>
            <swf-directive partial-path="{{$root.customTemplateFolder}}" partial-name="addbillingbyaccountaddresspartial" ng-show="!$root.slatwall.useShippingAsBilling"></swf-directive>
            <sw-address-form ng-if="!$root.slatwall.useShippingAsBilling && $root.slatwall.billingAddressEditFormIndex == 'new'"
                data-field-list="countryCode,streetAddress,street2Address,locality,city,stateCode,postalCode"
                data-slatwall-scope="$root.slatwall"
                data-address="$root.slatwall.billingAddress" 
                data-address-name="billingAddress" 
                data-field-name-prefix="$root.slatwall.billingAddress." 
                data-show-country-select="true" 
                data-show-submit-button="false"
                data-show-address-book-select="false"
                data-action-text="Review Order"
                data-show-alerts="false"
                ></sw-address-form>
            <sw-address-form ng-if="!$root.slatwall.useShippingAsBilling && $root.slatwall.billingAddressEditFormIndex != 'new' && $root.slatwall.billingAddressEditFormIndex != ''"
                data-field-list="countryCode,streetAddress,street2Address,locality,city,stateCode,postalCode"
                data-slatwall-scope="$root.slatwall"
                data-id="{{$root.slatwall.account.accountAddresses[$root.slatwall.billingAddressEditFormIndex].address.addressID}}" 
                data-address="$root.slatwall.editBillingAddress"
                data-address-name="editBillingAddress" 
                data-field-name-prefix="$root.slatwall.editBillingAddress." 
                data-show-country-select="true" 
                data-show-submit-button="false"
                data-show-address-book-select="false"
                data-action-text="Review Order"
                data-show-alerts="false"
                ></sw-address-form>
    </fieldset>
</div>
