<!-- Add Shipping Address -->
<span ng-init="slatwall.saveShippingAsBilling = undefined"></span>
<span ng-init="slatwall.newBillingAddress = slatwall.$hibachi.newOrder_AddOrderPayment()"></span>
<span ng-init="slatwall.billingAddress = slatwall.$hibachi.newOrder_AddOrderPayment()"></span>
<span ng-init="slatwall.editBillingAddress = slatwall.$hibachi.newOrder_AddOrderPayment()"></span>

<sw-form
    data-is-process-form="true"
    data-form-class="cssform"
    data-error-class="error"
    data-object="slatwall.newBillingAddress"
    data-on-success="Hide:AddOrderPayment"
    data-class="new_address"
    data-name="addOrderPayment">

    <div class="alert alert-danger error" ng-show="slatwall.cart['errors']['addOrderPayment']" ng-if="slatwall.cart['errors']['addOrderPayment']"><i class="fa fa-info-circle"></i> {{slatwall.cart['errors']['addOrderPayment'][0]}}</div>

	<!--- Display Order Payment Errors --->
	<swf-directive partial-path="{{customTemplateFolder}}" partial-name="ordererrors"></swf-directive>

	<!--- The form without shipping address block --->
	<swf-directive partial-path="{{customTemplateFolder}}"" partial-name="orderpaymentformfull"></swf-directive>

	<!--- Pleace Order / Review Order / Save Buttons --->
	<swf-directive partial-path="{{customTemplateFolder}}" partial-name="orderbuttons"></swf-directive>

</swform>
