<!-- Add Shipping Address -->
<span ng-init="slatwall.saveShippingAsBilling = undefined"></span>
<span ng-init="slatwall.newBillingAddress = slatwall.$hibachi.newOrder_AddOrderPayment()"></span>
<span ng-init="slatwall.billingAddress = slatwall.$hibachi.newOrder_AddOrderPayment()"></span>
<span ng-init="slatwall.editBillingAddress = slatwall.$hibachi.newOrder_AddOrderPayment()"></span>

<sw-form
    data-object="slatwall.newBillingAddress"
    data-class="new_address"
    data-name="addOrderPayment"
    data-event-listeners="{addOrderPaymentSuccess:slatwall.checkIfFinalPayment, addGiftCardOrderPaymentSuccess:slatwall.checkIfFinalPayment}">

	<!--- The form without shipping address block --->
	<swf-directive partial-name="orderpaymentformfull"></swf-directive>

	<!--- Pleace Order / Review Order / Save Buttons --->
	<swf-directive partial-name="orderbuttons"></swf-directive>

</swform>
