<div class="modal using-modal-service" id="flexship-modal-name{{ monatFlexshipAddGiftCardModal.orderTemplate.orderTemplateID }}">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Close -->
			<form 
			    name = "applyGiftCardForm" 
			    ng-submit = "applyGiftCardForm.$valid && monatFlexshipAddGiftCardModal.applyGiftCard()" >
			<button
				type="button"
				class="close"
				ng-click="monatFlexshipAddGiftCardModal.closeModal()"
				aria-label="Close"
			>
				<i class="fas fa-times"></i>
			</button>

			<div class="rename-flexship">
				<h6 class="title-with-line mb-5">
					{{ monatFlexshipAddGiftCardModal.translations.giftCards }}
				</h6>

				<div 
					class="custom-radio form-group"
					ng-repeat="giftCard in monatFlexshipAddGiftCardModal.giftCards"
					ng-click="$parent.monatFlexshipAddGiftCardModal.setSelectedGiftCard(giftCard)"
				>
					<input 
						type="radio" 
						name="giftCardID"
						ng-checked="giftCard.giftCardID === monatFlexshipAddGiftCardModal.selectedGiftCard.giftCardID"
						swvalidationrequired = "true"
						ng-model = "monatFlexshipAddGiftCardModal.selectedGiftCard.giftCardID"
					    
					/>
					<label for="giftCardID" > {{ giftCard.giftCardCode }} - {{ giftCard.calculatedBalanceAmount | currency }}</label>
					  <div ng-if="applyGiftCardForm.$submitted" ng-messages="applyGiftCardForm.giftCardID.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
				</div>

				<div class="material-field">
					<input
						type="number"
						class="form-control"
						ng-model="monatFlexshipAddGiftCardModal.amountToApply"
						swvalidationrequired = "true"
						swvalidationnumeric ="true"
						name = "amountToApply"
						step="0.01"
						onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
					/>
					<label ng-bind="monatFlexshipAddGiftCardModal.translations.amountToApply"></label>
					     <div ng-if="applyGiftCardForm.$submitted || applyGiftCardForm.amountToApply.$touch " ng-messages="applyGiftCardForm.amountToApply.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
				</div>
			</div>

			<div class="footer">
				<button
					type="submit"
					class="btn btn-block bg-primary"
					ng-class="{ loading: monatFlexshipAddGiftCardModal.loading }"
					sw-rbkey="'frontend.modal.saveChangesButton'"
					ng-disabled ="monatFlexshipAddGiftCardModal.loading || !monatFlexshipAddGiftCardModal.giftCards.length "
				></button>
				<button
					type="button"
					class="btn btn-cancel cancel-dark"
					ng-click="monatFlexshipAddGiftCardModal.closeModal()"
					sw-rbkey="'frontend.modal.closeButton'"
				></button>
			</div>
			</form>
		</div>
	</div>
</div>
