<sw-modal-launcher data-modal-name="{{swAccountShippingMethodModal.uniqueName}}" 
                   data-title="{{swAccountShippingMethodModal.title}}" 
                   data-save-action="swAccountShippingMethodModal.save">
    
    <sw-modal-button>
        <a ng-bind="swAccountShippingMethodModal.modalButtonText"></a>
    </sw-modal-button>
    
    <sw-modal-content> 
         <div class="col-md-6">
            
            <div class="form-group" ng-if="!swAccountShippingMethodModal.hideSelectAccountAddress">
                    <label class="form-label" 
                            for="shippingAccountAddress" 
                            ng-bind="swAccountShippingMethodModal.shippingAccountAddressTitle">
                    </label>
                    
                    <select name="shippingAccountAddress" 
                            class="form-control"
                            ng-disabled="swAccountShippingMethodModal.showCreateShippingAddress"
                            ng-model="swAccountShippingMethodModal.baseEntity.shippingAccountAddress"
                            ng-options="accountAddress as accountAddress.name for accountAddress in swAccountShippingMethodModal.accountAddressOptions track by accountAddress.value">
                    </select> 
            </div>
            
            <label class="control-label">
                <input type="checkbox" 
                    name="createShippingAddress" 
                    ng-disabled="swAccountShippingMethodModal.hideSelectAccountAddress"
                    ng-change="swAccountShippingMethodModal.toggleCreateShippingAddress()"
                    ng-model="swAccountShippingMethodModal.showCreateShippingAddress" />
                
                <span ng-bind="swAccountShippingMethodModal.createShippingAddressTitle"></span>
            </label>
            
            <div ng-if="swAccountShippingMethodModal.showCreateShippingAddress"> 
                
                <div class="form-group">
                    <label class="form-label" 
                            for="accountAddressName" 
                            sw-rbkey="'entity.AccountAddress.accountAddressName'">
                    </label>
                    
                    <input type="text"
                            class="form-control" 
                            name="accountAddressName" 
                            required 
                            ng-model="swAccountShippingMethodModal.newAccountAddress.accountAddressName">
                </div>
                
                
                <sw-address-form-partial data-address="swAccountShippingMethodModal.newAccountAddress.address"
                                         data-state-code-options="swAccountShippingMethodModal.stateCodeOptions"
                                         data-country-code-options="swAccountShippingMethodModal.countryCodeOptions"
                                         data-default-country-code="{{swAccountShippingMethodModal.defaultCountryCode}}">
                </sw-address-form-partial>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                    <label class="form-label" 
                            for="shippingMethod" 
                            ng-bind="swAccountShippingMethodModal.shippingMethodTitle">
                    </label>
                    
                    <select name="shippingMethod" 
                            class="form-control"
                            ng-model="swAccountShippingMethodModal.baseEntity.shippingMethod"
                            ng-options="shippingMethod as shippingMethod.name for shippingMethod in swAccountShippingMethodModal.shippingMethodOptions track by shippingMethod.value">
                    </select> 
            </div>
        </div>
        
    </sw-modal-content>
    
</sw-modal-launcher>