<sw-modal-launcher data-modal-name="{{swAccountPaymentMethodModal.uniqueName}}" 
                   data-title="{{swAccountPaymentMethodModal.title}}" 
                   data-save-action="swAccountPaymentMethodModal.save">
    
    <sw-modal-button>
        <a ng-bind="swAccountPaymentMethodModal.modalButtonText"></a>
    </sw-modal-button>
    
    <sw-modal-content> 
        <div class="col-md-6">
            <div class="form-group" ng-if="!swAccountPaymentMethodModal.hideSelectAccountAddress">
                    <label class="form-label" 
                            for="billingAccountAddress" 
                            ng-bind="swAccountPaymentMethodModal.billingAccountAddressTitle">
                    </label>
                    
                    <select name="billingAccountAddress" 
                            class="form-control"
                            ng-disabled="swAccountPaymentMethodModal.showCreateBillingAddress || !swAccountPaymentMethodModal.showCreateAccountPaymentMethod"
                            ng-model="swAccountPaymentMethodModal.baseEntity.billingAccountAddress"
                            ng-options="accountAddress as accountAddress.name for accountAddress in swAccountPaymentMethodModal.accountAddressOptions track by accountAddress.value">
                    </select> 
            </div>
                                
            <label class="control-label" ng-if="swAccountPaymentMethodModal.showCreateAccountPaymentMethod">
                <input type="checkbox" 
                    name="createBillingAddress" 
                    ng-disabled="swAccountPaymentMethodModal.hideSelectAccountAddress"
                    ng-change="swAccountPaymentMethodModal.toggleCreateBillingAddress()"
                    ng-model="swAccountPaymentMethodModal.showCreateBillingAddress" />
                
                <span ng-bind="swAccountPaymentMethodModal.createBillingAddressTitle"></span>
            </label>
            
            <div ng-if="swAccountPaymentMethodModal.showCreateBillingAddress"> 
                
                <div class="form-group">
                    <label class="form-label" 
                            for="accountAddressName" 
                            sw-rbkey="'entity.accountAddress.accountAddressName'">
                    </label>
                    
                    <input type="text"
                            class="form-control" 
                            name="accountAddressName" 
                            required 
                            ng-model="swAccountPaymentMethodModal.newAccountAddress.accountAddressName">
                </div>
                
                <sw-address-form-partial data-address="swAccountPaymentMethodModal.newAccountAddress.address"
                                         data-state-code-options="swAccountPaymentMethodModal.stateCodeOptions"
                                         data-country-code-options="swAccountPaymentMethodModal.countryCodeOptions"
                                         data-default-country-code="{{swAccountPaymentMethodModal.defaultCountryCode}}">
                </sw-address-form-partial>
            </div>
        </div>
        
        <div class="col-md-6">
            
             <div class="form-group" ng-if="!swAccountPaymentMethodModal.hideSelectAccountPaymentMethod">
                <label class="form-label" 
                        for="billingAccountAddress" 
                        ng-bind="swAccountPaymentMethodModal.accountPaymentMethodTitle">
                </label>
                    
                <select class="form-control"
                        name="accountPaymentMethod"
                        ng-change="swAccountPaymentMethodModal.updateAccountPaymentMethod()"
                        ng-disabled="swAccountPaymentMethodModal.showCreateAccountPaymentMethod"
                        ng-model="swAccountPaymentMethodModal.baseEntity.accountPaymentMethod"
                        ng-options="accountPaymentMethod as accountPaymentMethod.name for accountPaymentMethod in swAccountPaymentMethodModal.accountPaymentMethodOptions track by accountPaymentMethod.value">
                </select>
            </div>
                
            <label class="control-label">
                <input type="checkbox" 
                        name="createAccountPaymentMethod" 
                        ng-disabled="swAccountPaymentMethodModal.hideSelectAccountPaymentMethod"
                        ng-change="swAccountPaymentMethodModal.toggleCreateAccountPaymentMethod()"
                        ng-model="swAccountPaymentMethodModal.showCreateAccountPaymentMethod" />
                        
                <span ng-bind="swAccountPaymentMethodModal.createAccountPaymentMethodTitle"></span>
            </label>
            
            
            <div ng-if="swAccountPaymentMethodModal.showCreateAccountPaymentMethod"> 
                
                <div class="form-group">
                    <label class="form-label" 
                            for="accountPaymentMethodName"
                            sw-rbkey="'entity.accountPaymentMethod.accountPaymentMethodName'">
                    </label>
                    <input type="text" 
                           class="form-control" 
                           name="accountPaymentMethodName"
                           required 
                           ng-model="swAccountPaymentMethodModal.newAccountPaymentMethod.accountPaymentMethodName">
                </div> 
                
                
                <div class="form-group">
                    <label class="form-label" 
                            for="creditCardNumber" 
                            sw-rbkey="'entity.accountPaymentMethod.creditCardNumber'">
                    </label>
                    <input type="text" 
                           class="form-control" 
                           name="creditCardNumber" 
                           required 
                           ng-model="swAccountPaymentMethodModal.newAccountPaymentMethod.creditCardNumber">
                </div>
                
                <div class="form-group">
                    <label class="form-label" 
                            for="nameOnCreditCard" 
                            sw-rbkey="'entity.accountPaymentMethod.nameOnCreditCard'">
                    </label>
                    <input type="text" 
                           class="form-control" 
                           name="nameOnCreditCard"
                           required 
                           ng-model="swAccountPaymentMethodModal.newAccountPaymentMethod.nameOnCreditCard">
                </div> 
                
                <div class="form-group">
                    <label class="form-label" 
                            for="expirationMonth" 
                            sw-rbkey="'entity.accountPaymentMethod.expirationMonth'">
                    </label>
                    <select class="form-control" 
                            name="expirationMonth" 
                            required
                            ng-model="swAccountPaymentMethodModal.newAccountPaymentMethod.expirationMonth"
                            ng-options="month for month in swAccountPaymentMethodModal.expirationMonthOptions">
                    </select>
                </div>
                
                <div class="form-group">
                    <label class="form-label" 
                            for="expirationYear" 
                            sw-rbkey="'entity.accountPaymentMethod.expirationYear'">
                    </label>
                    
                    <select class="form-control" 
                            name="expirationYear" 
                            required
                            ng-model="swAccountPaymentMethodModal.newAccountPaymentMethod.expirationYear"
                            ng-options="year.NAME for year in swAccountPaymentMethodModal.expirationYearOptions track by year.VALUE">
                    </select> 
                </div>
                
                <div class="form-group">
                    <label class="form-label" 
                            for="securityCode" 
                            sw-rbkey="'entity.accountPaymentMethod.securityCode'">
                    </label>
                    <input type="text" 
                           class="form-control" 
                           name="securityCode" 
                           required 
                           ng-model="swAccountPaymentMethodModal.newAccountPaymentMethod.securityCode">
                </div>
            </div>
        </div>
    </sw-modal-content> 
</sw-modal-launcher>