<div class="j-panel panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title" ng-bind="swAccountShippingAddressCard.title"></h4>
	</div>
	<content class="s-body-box">
		
		<div ng-if="swAccountShippingAddressCard.shippingAccountAddress">
			<h5 ng-bind="swAccountShippingAddressCard.shippingAddressTitle"></h5>
			
			<ul class="list-unstyled">
				<li ng-bind="swAccountShippingAddressCard.shippingAccountAddress.accountAddressName"></li>
				<li ng-bind="swAccountShippingAddressCard.shippingAccountAddress.address_streetAddress"></li>
				<li ng-bind="swAccountShippingAddressCard.shippingAccountAddress.address_street2Address"></li>
				<li>
					<span ng-bind="swAccountShippingAddressCard.shippingAccountAddress.address_city"></span>
					<span ng-bind="swAccountShippingAddressCard.shippingAccountAddress.address_stateCode"></span>
					<span ng-bind="swAccountShippingAddressCard.shippingAccountAddress.address_postalCode"></span>
				</li>
				<li ng-bind="swAccountShippingAddressCard.shippingAccountAddress.address_countryCode"></li>
			</ul>
		</div>
		
		<div ng-if="swAccountShippingAddressCard.shippingMethod">
			<h5 ng-bind="swAccountShippingAddressCard.shippingMethodTitle"></h5>
			
			<ul class="list-unstyled">
				<li ng-bind="swAccountShippingAddressCard.shippingMethod.shippingMethodName"></li>
			</ul>
		</div>
		
		<sw-account-shipping-method-modal   ng-if="swAccountShippingAddressCard.includeModal"
											data-modal-button-text="{{swAccountShippingAddressCard.modalButtonText}}">
		</sw-account-shipping-method-modal>
	</content>
</div>
