<sw-modal-launcher data-modal-name="{{swAccountPaymentMethodModal.uniqueName}}" 
                   data-title="{{swAccountPaymentMethodModal.title}}" 
                   data-save-action="swAccountPaymentMethodModal.save">
    
    <sw-modal-button>
        <a>Add Account Payment Method</a>
    </sw-modal-button>
    
    <sw-modal-content> 
        
        <sw-form name="{{swAccountPaymentMethodModal.formName}}" 
                 data-object="swAccountPaymentMethodModal.baseEntity"    
                 data-context="save"
                 >
            <div class="row">
                   
                <h1>testing 1234</h1>
            </div>
        </sw-form>
    </sw-modal-content> 
</sw-modal-launcher>