<sw-modal-launcher data-modal-name="{{swOrderTemplateUpdateScheduleModal.uniqueName}}" 
                   data-title="{{swOrderTemplateUpdateScheduleModal.title}}" 
                   data-save-action="swOrderTemplateUpdateScheduleModal.save"
                   data-save-disabled="!swOrderTemplateUpdateScheduleModal.form.$dirty">
    
    <sw-modal-button>
        <button type="button" class="btn btn-default" ng-disabled="swOrderTemplateUpdateScheduleModal.orderTemplate['orderTemplateStatusType_systemCode'] === 'otstCancelled'">
            Push Out Next Delivery
        </button>
    </sw-modal-button>
    
    <sw-modal-content> 
        <div class="col-md-12">
            <ng-form name="swOrderTemplateUpdateScheduleModal.form">
                <div class="radio s-vertical" ng-repeat="orderTemplateScheduleDateChangeReasonType in swOrderTemplateUpdateScheduleModal.orderTemplateScheduleDateChangeReasonTypeOptions">
                    <label ng-class="{'checked':swOrderTemplateUpdateScheduleModal.orderTemplateScheduleDateChangeReasonType.value === orderTemplateScheduleDateChangeReasonType.value}">
                        <input type="radio" 
                               name="orderTemplateScheduleDateChangeReasonType"
                               required
                               ng-model="swOrderTemplateUpdateScheduleModal.orderTemplateScheduleDateChangeReasonType" 
                               ng-value="orderTemplateScheduleDateChangeReasonType" />
                        <span ng-bind="orderTemplateScheduleDateChangeReasonType.name"></span>
                    </label>
                </div>
                
                <!-- Other Type defined in dbData -->
                <div class="form-group" ng-if="swOrderTemplateUpdateScheduleModal.orderTemplateScheduleDateChangeReasonType.value === '2c9280846a023949016a029455f0000c'">
                    <label class="control-label" 
                           sw-rbKey="'entity.orderTemplateScheduleDateChangeReason.otherScheduleDateChangeReasonNotes'">
                    </label>
                    <input type="text"
                           class="form-control"
                           name="otherReason"
                           ng-model="swOrderTemplateUpdateScheduleModal.otherScheduleDateChangeReasonNotes"/>
                </div>
                
                <hr>
                
                <div class="form-group ">
    				<label for="scheduleOrderNextPlaceDateTime" class="control-label col-sm-4">
    					<span class="s-title">Next Place Date</span>
    				</label>
    				<div class="col-sm-8">
        				<input type="text" 
        				       id="scheduleOrderNextPlaceDateTime"
        				       name="scheduleOrderNextPlaceDateTime" 
        				       sw-date-picker
        				       data-end-day-of-the-month="swOrderTemplateUpdateScheduleModal.endDayOfTheMonth"
        				       data-end-date="swOrderTemplateUpdateScheduleModal.endDate"
        				       ng-disabled="swOrderTemplateUpdateScheduleModal.orderTemplateScheduleDateChangeReasonType == null"
        				       ng-model="swOrderTemplateUpdateScheduleModal.scheduleOrderNextPlaceDateTime"
        				       class="form-control" 
        				       autocomplete="off">
    				</div>
    			</div>
			</ng-form>
        </div>
    </sw-modal-content>
</sw-modal-launcher>