<div>
    <sw-listing-display data-collection-config='swAddOrderItemsBySku.addSkuCollection'
                        data-has-action-bar="false"
                        data-using-personel-collection='false'
                        data-record-add-event="addOrderItem"
                        data-listing-columns="swAddOrderItemsBySku.skuColumns"
                        data-show-filters="false"
                        data-show-simple-listing-controls="true"
    ></sw-listing-display>
    
    <!-- Default bootstrap modal example -->
    <div class="modal fade" id="ajax_addorderitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Order Item</h4>
          </div>
          <div class="modal-body" id="addorderitem_modalbody" style="overflow-y: auto;!important">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>