<div>
    <sw-listing-display data-collection-config='swAddOrderItemsBySku.addSkuCollection'
                        data-has-action-bar="false"
                        data-using-personel-collection='false'
                        data-record-add-event="addOrderItem"
                        data-listing-columns="swAddOrderItemsBySku.skuColumns"
                        data-show-filters="false"
                        data-show-simple-listing-controls="true"
                        data-currency-code="{{swAddOrderItemsBySku.currencyCode}}"
    ></sw-listing-display>
    
</div>