<sw-listing-display ng-if="swOrderTemplateGiftCards.giftCardCollection"
                    data-name="orderTemplateGiftCards"
                    data-has-action-bar="false"
                    data-has-search="true"
                    data-collection-config='swOrderTemplateGiftCards.giftCardCollection'
                    data-using-personel-collection='false'
                    data-record-delete-event="OrderTemplateRemoveGiftCard"
                    data-show-filters="false"
                    data-show-simple-listing-controls="true"
></sw-listing-display>
<sw-order-template-add-gift-card-modal data-order-template="swOrderTemplateGiftCards.orderTemplate">
</sw-order-template-add-gift-card-modal>