<div ng-if="!swOrderTemplateItems.edit">
    <sw-listing-display data-name="orderTemplateDetailOrderItems"
                        data-has-action-bar="false"
                        data-currency-code="{{swOrderTemplateItems.currencyCode}}"
                        data-has-search="true"
                        data-base-entity-name="OrderTemplateItem"
                        data-collection-config='swOrderTemplateItems.viewOrderTemplateItemsCollection'
                        data-using-personel-collection='false'
                        data-listing-columns="swOrderTemplateItems.viewOrderTemplateColumns"
                        data-record-delete-event="deleteOrderTemplateItem"
                        data-show-filters="false"
                        data-show-simple-listing-controls="true"
    ></sw-listing-display>
</div>


<div ng-if="swOrderTemplateItems.edit">
    <sw-listing-display data-name="orderTemplateDetailOrderItems"
                        data-base-entity-name="OrderTemplateItem"
                        data-currency-code="{{swOrderTemplateItems.currencyCode}}"
                        data-collection-config='swOrderTemplateItems.editOrderTemplateItemsCollection'
                        data-has-action-bar="false"
                        data-has-search="true"
                        data-using-personel-collection='false'
                        data-record-edit-event="editOrderTemplateItem"
                        data-record-edit-icon="floppy-disk"
                        data-record-delete-event="deleteOrderTemplateItem"
                        data-listing-columns="swOrderTemplateItems.editOrderTemplateColumns"
                        data-show-filters="false"
                        data-show-simple-listing-controls="true"
    ></sw-listing-display>
    
    <sw-listing-display data-base-entity-name="Sku"
                        data-currency-code="{{swOrderTemplateItems.currencyCode}}"
                        data-collection-config='swOrderTemplateItems.addSkuCollection'
                        data-has-action-bar="false"
                        data-using-personel-collection='false'
                        data-record-add-event="addOrderTemplateItem"
                        data-listing-columns="swOrderTemplateItems.skuColumns"
                        data-show-filters="false"
                        data-show-simple-listing-controls="true"
    ></sw-listing-display>
</div>