<sw-listing-display ng-if="swOrderTemplatePromotions.promotionCodeCollection"
                    data-name="orderTemplatePromotions"
                    data-has-action-bar="false"
                    data-has-search="true"
                    data-collection-config='swOrderTemplatePromotions.promotionCodeCollection'
                    data-using-personel-collection='false'
                    data-record-delete-event="OrderTemplateRemovePromotionCode"
                    data-show-filters="false"
                    data-show-simple-listing-controls="true"
></sw-listing-display>
<sw-order-template-add-promotion-modal data-order-template="swOrderTemplatePromotions.orderTemplate">
</sw-order-template-add-promotion-modal>