<label class="control-label" sw-rbkey="'entity.orderTemplate.scheduledOrderDates'"></label>
<p class="form-control-static">
    
    <span ng-bind="swOrderTemplateUpcomingOrdersCard.startDateFormatted"></span>

    <sw-modal-launcher ng-if="swOrderTemplateUpcomingOrdersCard.includeModal && swOrderTemplateUpcomingOrdersCard.startDate != null && swOrderTemplateUpcomingOrdersCard.frequencyTerm != null"
                       data-modal-name="viewUpcomingScheduledOrders" 
                       data-title="{{swOrderTemplateUpcomingOrdersCard.title}}"> 
    
        <sw-modal-button>
            <a class="fa fa-eye"></a>  
        </sw-modal-button>
        
        <sw-modal-content> 
        
            <sw-term-schedule-table 
                                    data-start-date="swOrderTemplateUpcomingOrdersCard.startDate"
                                    data-term="swOrderTemplateUpcomingOrdersCard.frequencyTerm">
            </sw-term-schedule-table>
            
        </sw-modal-content>
        
    </sw-modal-launcher>
</p>