<sw-modal-launcher data-modal-name="swOrderTemplateAddGiftCard" 
                   data-title="{{swOrderTemplateAddGiftCard.title}}" 
                   data-save-action="swOrderTemplateAddGiftCard.save">
    
    <sw-modal-button>
        <a class="btn btn-default" ng-bind="swOrderTemplateAddGiftCard.modalButtonText"></a>
    </sw-modal-button>
    
    <sw-modal-content> 
        <form name="addGiftCard">
            <div class="form-group">
                    <label class="form-label" 
                            for="giftCard" 
                            sw-rbkey="'entity.GiftCard'">
                    </label>
                    
                    <select name="giftCard" 
                            class="form-control"
                            ng-model="swOrderTemplateAddGiftCard.giftCard"
                            ng-change="swOrderTemplateAddGiftCard.prefillGiftCardAmount()"
                            ng-options="giftCard as giftCard.name for giftCard in swOrderTemplateAddGiftCard.customerGiftCards track by giftCard.value">
                    </select> 
            </div>
    
            <div class="form-group">
                <label class="form-label" 
                        for="amountToApply" 
                        sw-rbkey="'entity.OrderTemplateAppliedGiftCard.amountToApply'">
                </label>
                
                <div class="alert alert-danger" ng-if="addGiftCard.amountToApply.$invalid" sw-rbkey="'process.orderTemplate.applyGiftCard.amountToApply.invalid'">
                    
                </div>
                
                <input type="number"
                        class="form-control" 
                        name="amountToApply"
                        ng-max="swOrderTemplateAddGiftCard.maxAmount"
                        ng-disabled="!swOrderTemplateAddGiftCard.giftCard.value.length"
                        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                        sw-currency-formatter 
                        currency-code="{{swOrderTemplateAddGiftCard.orderTemplate.currencyCode}}"
                        step="0.01"
                        required 
                        ng-model="swOrderTemplateAddGiftCard.amountToApply">
            </div>
        </form>        
    </sw-modal-content>
</sw-modal-launcher>