<li class="s-filter-group" >

  <!--- Filter display --->
  <div class="s-filter-item">
    <div class="panel panel-default s-filter-group-style">
      <div class="panel-heading">Filter Group <a href="##" class="j-tool-tip-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times"></i></a></div>
      <div data-toggle="collapse" data-target="#j-nested-filter-{{uuid}}" class="panel-body j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" title="Click To Edit">
        (<span ng-bind="filterGroupItem.length"></span>) Filters <a href="##"><i class="fa fa-inbox"></i></a>
      </div>
    </div>
  </div>
  <!--- //Filter display --->

  <!---Nested Filter Box --->
  <div class="col-xs-12 collapse" id="j-nested-filter-{{uuid}}">
    <div class="row">
      <ul class="col-xs-12 list-unstyled s-no-paddings" sw-filter-groups filter-groups="filterGroupItem">

      </ul>
    </div>
  </div>
  <!---//Nested Filter Box --->

</li>
