<sw-modal-launcher 
    data-modal-name="swAddSkuPriceModalLauncher.uniqueName" 
    data-title="Add Sku Price Detail" 
    data-save-action="swAddSkuPriceModalLauncher.saveAction" 
    data-cancel-action="swAddSkuPriceModalLauncher.cancelAction" >
    <sw-modal-button>
        <a href="#" title="Add Price" class="btn btn-default btn-xs" data-target="#">
            <i class="fa fa-plus"></i>
        </a>
    </sw-modal-button>
    <sw-modal-content> 
         <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="s-image">
                            <img src="//placehold.it/600x600/" class="s-responsive-image"/>
                        </div>
                        <div class="caption">
                            <h5>OTB DrinkingTeam</h5>
                            <ul class="list-unstyled">
                                <li><strong>Sku Code - </strong> OTB_DrinkingTeam-1826-...</li>
                                <li><strong>Sku Definition - </strong> Ball Weight: ... lbs</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group j-adjustmentType-remove-this">
                                <label for="" class="control-label">Price Group</label>
                                <select class="form-control">
                                    <option value="manualIn" selected>None</option>
                                    <option value="manualOut">All Price Groups (2)</option>
                                    <option value="manualOut">Employee Price</option>
                                    <option value="manualOut">Wholesale</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Price</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="" class="control-label">Minimum Quantity:</label>
                                <input type="text" class="form-control" placeholder="any" value="">
                            </div>        
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="" class="control-label">Maximum Quantity:</label>
                                <input type="text" class="form-control" placeholder="any" value="">
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
    </sw-modal-content> 
</sw-modal-launcher>