<sw-modal-launcher ng-if="angular.isDefined(swAddSkuPriceModalLauncher.skuId)"
    data-modal-name="{{swAddSkuPriceModalLauncher.uniqueName}}" 
    data-title="Add Sku Price Detail" 
    data-save-action="swAddSkuPriceModalLauncher.save">
    <sw-modal-button>
        <a href="#" title="Add Price" class="btn btn-default btn-xs" data-target="#">
            <i class="fa fa-plus"></i>
        </a>
    </sw-modal-button>
    <sw-modal-content> 
        <sw-form 
                name="addSkuPrice" 
                data-object="swAddSkuPriceModalLauncher.skuPrice"    
                data-context="save"
                >
            <div class="row">
                    <div class="col-sm-4">
                        <sw-sku-thumbnail data-sku="swAddSkuPriceModalLauncher.sku">
                        </sw-sku-thumbnail>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <!-- Holding off on including price group consideration
                            <div class="col-md-6">
                                <div class="form-group j-adjustmentType-remove-this">
                                    <label for="" class="control-label">Price Group</label>
                                    <select class="form-control">
                                        <option value="manualIn" selected>None</option>
                                        <option value="manualOut">All Price Groups (2)</option>
                                        <option value="manualOut">Employee Price</option>
                                        <option value="manualOut">Wholesale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="control-label">Price</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            -->
                            <div class="col-sm-6">
                                <sw-property-display data-object="swAddSkuPriceModalLauncher.skuPrice" 
                                                    data-property="price"
                                                    data-editing="true"
                                                    data-editable="true"
                                                    data-is-dirty="true" 
                                                    >
                                </sw-property-display>
                                <sw-property-display data-object="swAddSkuPriceModalLauncher.skuPrice" 
                                                    data-property="currencyCode"
                                                    data-editing="true"
                                                    data-editable="true"
                                                    data-is-dirty="true" 
                                                    data-options-arguments="{property:'currencyCode'}"   
                                                    >
                                </sw-property-display>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                               <sw-property-display data-object="swAddSkuPriceModalLauncher.skuPrice" 
                                                    data-property="minQuantity"
                                                    data-editing="true"
                                                    data-editable="true"
                                                    data-is-dirty="true" 
                                                    >
                                </sw-property-display>
                            </div>
                            <div class="col-sm-6">
                                <sw-property-display data-object="swAddSkuPriceModalLauncher.skuPrice" 
                                                    data-property="maxQuantity"
                                                    data-editing="true"
                                                    data-editable="true"
                                                    data-is-dirty="true" 
                                                    >
                                </sw-property-display>
                            </div>
                        </div>
                        <!-- BEGIN HIDDEN FIELDS -->
                         <sw-property-display data-object="swAddSkuPriceModalLauncher.skuPrice"
                                data-property="sku"
                                data-is-dirty="true"
                                data-is-hidden="true"
                                data-editing="true"   
                                data-options-arguments="{property:'sku'}"   
                        >
                        </sw-property-display>
                        <!-- END HIDDEN FIELDS -->
                    </div>
                </div>
            </sw-form>
    </sw-modal-content> 
</sw-modal-launcher>