 <div class="dropdown" id="j-currency-dropdown-remove-this" style="display:inline-block;font-size: 11px;margin-left: 4px;margin-top:-2px;top: -1px;float:right;">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-color: #ccc;padding: 4px;line-height: 9px;margin-top: -5px;bottom: -2px;position: relative;">
        <span class="s-title" ng-bind="swSkuCurrencySelector.selectedCurrencyCode"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="currencyCode in swSkuCurrencySelector.currencyCodes">
            <a ng-click="swSkuCurrencySelector.select(currencyCode)" 
               data-currency="{{currencyCode}}" 
               ng-bind="currencyCode">
            </a>
        </li>
    </ul>
</div>