<sw-sku-price-edit ng-if="swSkuPricesEdit.sku" 
                   data-sku="swSkuPricesEdit.sku"
                   data-base-entity-name="{{swSkuPricesEdit.baseEntityName}}" 
                   data-base-entity-id="{{swSkuPricesEdit.baseEntityId}}"
></sw-sku-price-edit>
<sw-sku-price-edit ng-if="(swSkuPricesEdit.skuSkuId && swSkuPricesEdit.skuSkuId.length) || swSkuPricesEdit.skuPrice"
                ng-repeat="skuPrice in swSkuPricesEdit.skuPrices" 
                data-sku-price="skuPrice" 
></sw-sku-price-edit>
