<sw-modal-launcher data-modal-name="{{swSkuStockAdjustmentModalLauncher.name}}" 
                   data-save-action="swSkuStockAdjustmentModalLauncher.save"
                   data-title="Stock Adjustment"><!-- Change this to rb -->
    <sw-modal-button>
        <!-- Load Sku Image Here -->
        <sw-form data-object="swSkuStockAdjustmentModalLauncher.sku" ng-if="swSkuStockAdjustmentModalLauncher.sku">
            <sw-property-display data-object="swSkuStockAdjustmentModalLauncher.sku"
                                 data-property="calculatedQOH"
                                 data-editable="true"
                                 data-editing="true"
                                 data-in-listing-display="true"
            >
            </sw-property-display>
        </sw-form> 
    </sw-modal-button>
    <sw-modal-content> 
        <sw-form 
                 data-name="swSkuStockAdjustmentModalLauncher.name"
                 data-object="swSkuStockAdjustmentModalLauncher.stockAdjustment"    
                 data-context="save"> 
            <div class="row">              
                <div class="col-sm-4">
                    <sw-sku-thumbnail data-sku="swSkuStockAdjustmentModalLauncher.sku">
                        
                    </sw-sku-thumbnail> 
               
                </div>
                
                <div class="col-sm-8">
                    
                    <div class="row s-modal-module-wrapper">
                        <div class="col-md-4">
                            <div class="s-modal-module s-original-value">
                                <div class="s-title">Original Qty</div>
                                <div class="s-value">
                                    <span ng-bind="swSkuStockAdjustmentModalLauncher.sku.data.calculatedQOH"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="s-modal-module">
                                <div class="s-title">Adjustment</div>
                                <div ng-class="{'s-positive':(swSkuStockAdjustmentModalLauncher.stockAdjustmentItem.data.quantity - swSkuStockAdjustmentModalLauncher.sku.data.calculatedQOH)>0,
                                                's-negative':(swSkuStockAdjustmentModalLauncher.stockAdjustmentItem.data.quantity - swSkuStockAdjustmentModalLauncher.sku.data.calculatedQOH)<0}" class="s-value"><!-- s-positive class will turn green for positive number -->
                                    <span>{{ swSkuStockAdjustmentModalLauncher.stockAdjustmentItem.data.quantity - swSkuStockAdjustmentModalLauncher.sku.data.calculatedQOH }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="s-modal-module">
                                <div class="s-title">New Qty</div>
                                <div class="s-value">
                                    <input type="number" ng-model="swSkuStockAdjustmentModalLauncher.stockAdjustmentItem.data.quantity" class="form-control input-xs" />
                                </div>
                             </div>
                        </div>
                    </div>
                    <sw-property-display data-object="swSkuStockAdjustmentModalLauncher.stockAdjustment"
                                         data-property="toLocation"
                                         data-editing="true"
                                         data-is-dirty="true"
                                         data-options-arguments="{property:'toLocation'}"
                            >
                    </sw-property-display> 
                    <!-- Temporary Omitting this field, not sure if we have the js capability to simple add comments
                         without manually creating a comment entity and commentRelationship
                    <div class="form-group">
                        <label for="" class="control-label">Comment:</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    --> 
                </div>
            </div>
        </sw-form> 
        <sw-form 
                 data-name="stockAdjustmentItemForm"
                 data-object="swSkuStockAdjustmentModalLauncher.stockAdjustmentItem"
                 data-context="save">
                <!-- BEGIN HIDDEN FIELDS -->
                <sw-property-display data-object="swSkuStockAdjustmentModalLauncher.stockAdjustmentItem"
                                        data-property="quantity"
                                        data-is-dirty="true"
                                        data-is-hidden="true"
                                        data-editing="true"      
                        >
                </sw-property-display>
                <sw-property-display data-object="swSkuStockAdjustmentModalLauncher.stockAdjustmentItem"
                                data-property="sku"
                                data-is-dirty="true"
                                data-is-hidden="true"
                                data-editing="true"   
                                data-options-arguments="{property:'sku'}"   
                >
                </sw-property-display>
                <sw-property-display data-object="swSkuStockAdjustmentModalLauncher.stockAdjustmentItem"
                                data-property="toStock"
                                data-is-dirty="true"
                                data-is-hidden="true"
                                data-editing="true"   
                                data-options-arguments="{property:'toStock'}"   
                >
                </sw-property-display>

                <!-- END HIDDEN FIELDS -->
        </sw-form> 
    </sw-modal-content> 
</sw-modal-launcher>
