<div class="thumbnail">
    <div class="s-image" style="background-image: URL({{swSkuThumbnail.skuData.imagePath}})">
        
    </div>
    <div class="caption" ng-show="!swSkuThumbnail.imageOnly" ng-if="swSkuThumbnail.skuData.skuCode.length || swSkuThumbnail.skuData.skuDescription.length">
        <h5><span ng-bind="swSkuStockAdjustmentModalLauncher.sku.skuName"></span></h5>
        <ul class="list-unstyled">
            <!-- RB KEYS -->
            <li><strong>Sku Code - </strong><span ng-bind="swSkuThumbnail.skuData.skuCode"></span></li>
            <li><strong>Sku Description - </strong><span ng-bind="swSkuThumbnail.skuData.skuDescription"></span></li>
        </ul>
    </div>
</div>