<div class="thumbnail">
    <div class="s-image">
        <!-- NEED TO PUT THE SKU IMAGE HERE -->
        <img src="{{swSkuThumbnail.imagePath}}" class="s-responsive-image"/>
    </div>
    <div class="caption" ng-show="!swSkuThumbnail.imageOnly">
        <h5><span ng-bind="swSkuStockAdjustmentModalLauncher.sku.skuName"></span></h5>
        <ul class="list-unstyled">
            <!-- RB KEYS -->
            <li><strong>Sku Code - </strong><span ng-bind="swSkuThumbnail.sku.skuCode"></span></li>
            <li><strong>Sku Definition - </strong><span ng-bind="swSkuThumbnail.sku.skuDefinition"></span></li>
        </ul>
    </div>
</div>