<!-- Example of using the cart directive to list various items and well as modify -->
<table >
    <tr class="titles">
        <th class="heading" colspan="2">Items</th>
        <th class="price">Price</th>
        <th class="quantity">Quantity</th>
        <th class="total">Item Total</th>
    </tr>
    <tr ng-repeat="orderItem in $root.slatwall.cart.orderitems">
        <td class="img"><a href="#"><img src="{{orderItem.sku.imagePath}}" style="height: 100px;"></a></td>
        <td class="title"><a href="#"><span ng-if="orderItem.sku.skuName == '' && orderItem.sku.product.productName != ''">{{orderItem.sku.product.productName}}</span> <span ng-if="orderItem.sku.skuName != ''">{{orderItem.sku.skuName}}</span></a></td>
        <td class="price" ng-if="orderItem.quantity != undefined && orderItem.quantity != 0"><span ng-if="orderItem.extendedPriceAfterDiscount"><small ng-if="orderItem.extendedPrice && (orderItem.extendedPrice != orderItem.extendedPriceAfterDiscount) && orderItem.quantity != undefined">{{orderItem.extendedPrice / orderItem.quantity |currency :($root.slatwall.cart.currencyCode == 'EUR'?'&euro;':'$')}}</small> {{orderItem.extendedPriceAfterDiscount / orderItem.quantity |currency :($root.slatwall.cart.currencyCode == 'EUR'?'&euro;':'$')}}</span><span ng-if="!orderItem.extendedPriceAfterDiscount">{{orderItem.price |currency :($root.slatwall.cart.currencyCode == 'EUR'?'&euro;':'$')}}</span></td>
        <td class="quantity">{{orderItem.quantity}}</td>
        <td class="total">{{orderItem.extendedPriceAfterDiscount|currency :($root.slatwall.cart.currencyCode == 'EUR'?'&euro;':'$')}}</td>
    </tr>
</table>
