<div class="alert alert-warning" ng-repeat="emailAddress in slatwall.getEmailFulfillmentAddresses()">
	<i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    <strong>{{slatwall.getOrderFulfillmentItemList(emailAddress.fulfillmentIndex)}}</strong>
    <address>
        Recipient:
        <span>{{emailAddress.emailAddress}}<br></span>&nbsp;<a href="#" ng-click="slatwall.edit = 'fulfillment'" class="edit">Edit</a><br>
    </address>
</div>

<div class="alert alert-warning" ng-if="!slatwall.getEmailFulfillmentAddresses().length">
    <i class="fa fa-info-circle"></i> Select recipient email to continue.
</div>
