<div class="alert alert-warning" ng-repeat="address in slatwall.getShippingAddresses()">
    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    <strong>{{slatwall.getOrderFulfillmentItemList(address.fulfillmentIndex)}}</strong>
    <address>
        <span ng-if="address.streetAddress">{{address.streetAddress}}<br></span>
        <span ng-if="address.street2Address">{{address.street2Address}}<br></span>
        <span ng-if="address.city">{{address.city}}</span>, <span ng-if="address.stateCode">{{address.stateCode}}</span> <span ng-if="address.postalCode">{{address.postalCode}}</span><br>
        <span ng-if="address.countrycode">{{address.countrycode}}</span>
    </address>
    <hr>
    <i class="fa fa-truck fa-lg" aria-hidden="true"></i>
    {{slatwall.cart.orderFulfillments[address.fulfillmentIndex].data.shippingMethod.shippingMethodName}}
    <a href="#" ng-click="slatwall.edit = 'fulfillment'" class="edit">Edit</a>
</div>

<div class="alert alert-warning" ng-if="!slatwall.getShippingAddresses().length">
    <i class="fa fa-info-circle"></i> Select shipping options to continue.
</div>
