<div class="table-responsive s-listing-display-table-wrapper">
	 <table id="" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="data primary" data-propertyIdentifier="formResponseID">	
                                
						</th>
						
                        <th class="admin admin2" data-detailaction="admin:entity.detailformresponse" data-detailquerystring="" data-detailmodal="false" data-editaction="admin:entity.editformresponse" data-editquerystring="redirectAction=admin:entity.detailform&formID=4028289a5309c88c0153140d545500f4" data-editmodal="false">
                            &nbsp;
                        </th>
					</tr>
				</thead>
				<tbody>
						<tr id="4028289a5309c88c01531411334c00ff" >
							
							
									<td class="primary">
										4028289a5309c88c01531411334c00ff 
									</td>
								
								<td class="admin admin2">
									
									<a title="" class="adminentitydetailformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.detailformresponse&formResponseID=4028289a5309c88c01531411334c00ff"id="adminentitydetailformresponse_4028289a5309c88c01531411334c00ff"><i class="glyphicon glyphicon-eye-open"></i> </a> <a title="" class="adminentityeditformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.editformresponse&formResponseID=4028289a5309c88c01531411334c00ff&redirectAction=admin:entity.detailform&formID=4028289a5309c88c0153140d545500f4"id="adminentityeditformresponse_4028289a5309c88c01531411334c00ff"><i class="glyphicon glyphicon-pencil"></i> </a> 
								</td>
							
						</tr>
					
						<tr id="4028289a5309c88c015314114a870103" >
							
							
									<td class="primary">
										4028289a5309c88c015314114a870103 
									</td>
								
								<td class="admin admin2">
									
									<a title="" class="adminentitydetailformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.detailformresponse&formResponseID=4028289a5309c88c015314114a870103"id="adminentitydetailformresponse_4028289a5309c88c015314114a870103"><i class="glyphicon glyphicon-eye-open"></i> </a> <a title="" class="adminentityeditformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.editformresponse&formResponseID=4028289a5309c88c015314114a870103&redirectAction=admin:entity.detailform&formID=4028289a5309c88c0153140d545500f4"id="adminentityeditformresponse_4028289a5309c88c015314114a870103"><i class="glyphicon glyphicon-pencil"></i> </a> 
								</td>
							
						</tr>
					
						<tr id="4028289a5309c88c0153141160ce0107" >
							
							
									<td class="primary">
										4028289a5309c88c0153141160ce0107 
									</td>
								
								<td class="admin admin2">
									
									<a title="" class="adminentitydetailformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.detailformresponse&formResponseID=4028289a5309c88c0153141160ce0107"id="adminentitydetailformresponse_4028289a5309c88c0153141160ce0107"><i class="glyphicon glyphicon-eye-open"></i> </a> <a title="" class="adminentityeditformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.editformresponse&formResponseID=4028289a5309c88c0153141160ce0107&redirectAction=admin:entity.detailform&formID=4028289a5309c88c0153140d545500f4"id="adminentityeditformresponse_4028289a5309c88c0153141160ce0107"><i class="glyphicon glyphicon-pencil"></i> </a> 
								</td>
							
						</tr>
					
						<tr id="4028289a5309c88c0153141176e2010b" >
							
							
									<td class="primary">
										4028289a5309c88c0153141176e2010b 
									</td>
								
								<td class="admin admin2">
									
									<a title="" class="adminentitydetailformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.detailformresponse&formResponseID=4028289a5309c88c0153141176e2010b"id="adminentitydetailformresponse_4028289a5309c88c0153141176e2010b"><i class="glyphicon glyphicon-eye-open"></i> </a> <a title="" class="adminentityeditformresponse btn btn-default btn-xs" target="_self" href="/?slatAction=entity.editformresponse&formResponseID=4028289a5309c88c0153141176e2010b&redirectAction=admin:entity.detailform&formID=4028289a5309c88c0153140d545500f4"id="adminentityeditformresponse_4028289a5309c88c0153141176e2010b"><i class="glyphicon glyphicon-pencil"></i> </a> 
								</td>
							
						</tr>
					
				</tbody>
			</table>

			</div>


									