<!--- Displays all addresses from the addess book and lets you select one to use as the shipping address. --->
<!--- Use a simple directive wrapper to wrap this functionality. --->
<span ng-init="$.slatwall = $root.slatwall"></span>
<div class="existing_user" ng-hide="$.slatwall.accountAddressEditFormIndex != undefined || $.slatwall.OrderAddShippingObj.edit == true">

    <!--- Displays the address book addresses --->
    
    <span class="address" 
	    ng-repeat="(key, value) in $.slatwall.account.data.accountAddresses"  
	    ng-init="orderFulfillmentAddressID = $.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].accountAddress.address.addressID||''"> 
	    
        <input  type="radio" 
        		id="selectedAccountAddress{{key}}" 
        		name="selectedAccountAddress{{key}}"
        		ng-click="$.slatwall.accountAddresses['selected']=key;$.slatwall.doAction('updateOrder', {'orderFulfillments[1].orderFulfillmentID':$.slatwall.cart.data.orderFulfillments[0].orderFulfillmentID,'orderFulfillments[1].accountAddress.accountAddressID': value.accountAddressID ,'orderFulfillments[1].order.orderID':$.slatwall.cart.orderID})"
        		ng-checked="$.slatwall.accountAddresses['selected'] === key" />
        
        <label for="selectedAccountAddress{{key}}" ng-init="$.slatwall.saveShippingAsBilling = true">
        	<span ng-click="$.slatwall.accountAddresses['selected']=key;$.slatwall.doAction('updateOrder', {'orderFulfillments[1].orderFulfillmentID':$.slatwall.cart.data.orderFulfillments[0].orderFulfillmentID,'orderFulfillments[1].accountAddress.accountAddressID': value.accountAddressID ,'orderFulfillments[1].order.orderID':$.slatwall.cart.orderID})">
	        	<span ng-if="$.slatwall.account.data.accountAddresses[key].accountAddressName"><b>{{$.slatwall.account.data.accountAddresses[key].accountAddressName}}</b><br></span>
	            <span ng-if="$.slatwall.account.data.accountAddresses[key].address.name">{{$.slatwall.account.data.accountAddresses[key].address.name}}<br></span>
	            <span ng-if="$.slatwall.account.data.accountAddresses[key].address.company">{{$.slatwall.account.data.accountAddresses[key].address.company}}<br></span>    
	            <span ng-if="$.slatwall.account.data.accountAddresses[key].address.streetAddress">{{$.slatwall.account.data.accountAddresses[key].address.streetAddress}}<br></span>
	            <span ng-if="$.slatwall.account.data.accountAddresses[key].address.street2Address">{{$.slatwall.account.data.accountAddresses[key].address.street2Address}}<br></span>
	            <span ng-if="$.slatwall.account.data.accountAddresses[key].address.city">{{$.slatwall.account.data.accountAddresses[key].address.city}}</span>, <span ng-if="$.slatwall.account.data.accountAddresses[key].address.stateCode">{{$.slatwall.account.data.accountAddresses[key].address.stateCode}}</span> <span ng-if="$.slatwall.account.data.accountAddresses[key].address.locality">{{$.slatwall.account.data.accountAddresses[key].address.locality}}</span> <span ng-if="$.slatwall.account.data.accountAddresses[key].address.postalCode">{{$.slatwall.account.data.accountAddresses[key].address.postalCode}}<br></span>
	            <span ng-if="$.slatwall.account.data.accountAddresses[key].address.countryCode">{{$.slatwall.account.data.accountAddresses[key].address.countryCode}}<br></span>
	            <a href="tel:{{$.slatwall.account.data.accountAddresses[key].address.phoneNumber}}" class="tel" ng-if="$.slatwall.account.data.accountAddresses[key].address.phoneNumber">{{$.slatwall.account.data.accountAddresses[key].address.phoneNumber}}</a><br>   
	        </span>
	        <br>
        	<a ng-click="$.slatwall.accountAddressEditFormIndex = key;$.slatwall.accountAddresses['selected'] = key">Edit</a><br>
        	
        </label> 
        
   </span>
   
   <!--- Button to create a new account address --->
   <div
  		ng-init="$.slatwall.newAccountAddress = undefined" 
   		ng-click="$.slatwall.newAccountAddress={}; $.slatwall.accountAddressEditFormIndex='new';">  
    	<button type="button" class="address">
			<i class="fa fa-plus fa-5x" aria-hidden="true"></i><br/>
			<span>Add Address</span>
		</button>
   </div>
</div>