<p ng-show="swAddOptionGroup.showInvalidFlag" class="alert alert-error fade in">This sku already exists please try a different combination</p>

<div ng-if="swAddOptionGroup.showValidFlag" class="alert alert-success fade in"> 
	<p>This sku can be saved</p>
	<input class="hide" name="options" ng-model="swAddOptionGroup.selectedOptionList" />
</div> 

<div ng-if="swAddOptionGroup.usedOptions" ng-repeat="optionGroupId in swAddOptionGroup.optionGroupIds track by $index">
	<div sw-options-for-option-group option-group-id="{{optionGroupId}}"></div>
</div>