<!--- This will contain all needed files for the frontend directives --->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/angular.min.js"></script>
<script src="/client/lib/angular/angular-resource.min.js"></script>
<script src="/admin/client/js/es5/modules/loggingmodule.js"></script>
<script src="/admin/client/js/es5/modules/hibachi.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-modules/slatwall-angular-module.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfForm.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfFormField.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfPropertyDisplay.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfLogin.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfLogout.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-controllers/swfController.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-services/cartService.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-services/accountService.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-services/processObjectService.js"></script>

  
