<!--- Modify to use the directory where swfApp is located --->
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-modules/slatwall-angular-module.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfForm.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfFormField.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfPropertyDisplay.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-directives/swfLogin.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-controllers/swfController.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-services/cartService.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-services/accountService.js"></script>
<script src="/custom/apps/frontendcode/frontendtesting/swfApp/swf-services/processObjectService.js"></script>
  
