<span ng-init="slatwall = $root.slatwall"></span>
<sw-form
    data-is-process-form="true"
    data-object="'Order_AddPromotionCode'"
    data-form-class="cssform"
    data-on-success="refresh:PromotionDisplay"
    data-name="AddPromotionCode">

    <div>
        <label for="promotionCode"></label>
        <input type="text" id="promotionCode" name="promotionCode" ng-model="promotionCode" placeholder="Enter Promo Code">
        <span class="error" error-for="promotionCode"></span>
    </div>
    
    <sw-action-caller 
        data-action="addPromotionCode"
        data-modal="false" 
        data-type="submit"
        data-class="Apply" 
        data-text="{{(slatwall.getRequestByAction('addPromotionCode').loading)?'Loading':'Apply'}}">
    </sw-action-caller>
    
</sw-form>
