<!-- Add Shipping Address Obj just to control state -->
<div class="col-md-12 panel panel-default" ng-init="slatwall.OrderAddShippingObj = {};fulfillmentIndex = SWFDirective.variables.fulfillmentIndex" ng-show="!slatwall.editingDifferentAccountAddress(fulfillmentIndex)">
	<div class="panel-body">
		<!-- Displays all addresses from the addess book and lets you select one to use as the shipping address. -->
		<h4>Shipping</h4>
		<h5>{{slatwall.getOrderFulfillmentItemList(fulfillmentIndex)}}</h5>

		<div class="alert alert-success" ng-if="slatwall.shippingUpdateSuccess()">Successfully updated shipping address.</div>
		<div class="row">
			<swf-directive partial-name="addshippingbyaccountaddresspartial" ng-show="slatwall.accountAddressEditFormIndex[fulfillmentIndex] == undefined" variables="{fulfillmentIndex:fulfillmentIndex}"></swf-directive>
		</div>

		<div class="alert alert-success" ng-if="slatwall.shippingMethodUpdateSuccess()">Successfully updated shipping method.</div>
		<!-- Displays available shipping methods. -->
		<swf-directive partial-name="shippingmethodoptiondisplay" ng-if="slatwall.hasShippingAddress(fulfillmentIndex) && slatwall.accountAddressEditFormIndex[fulfillmentIndex] == undefined" variables="{fulfillmentIndex:fulfillmentIndex}"></swf-directive>

		<!-- When an address needs to be saved. -->
		<div id="editaddress">
			<div ng-if="slatwall.showEditAccountAddressForm(fulfillmentIndex)">
				<h4>Edit Your Address:</h4>
				<sw-address-form
					data-field-list="countryCode,name,company,streetAddress,street2Address,locality,city,stateCode,postalCode,phoneNumber"
					data-slatwall-scope="slatwall"
					data-id="{{slatwall.account.accountAddresses[slatwall.accountAddressEditFormIndex[fulfillmentIndex]].address.addressID}}" 
					data-address="slatwall.editingAccountAddress" 
					data-tab-index="1" 
					data-address-name="accountAddress" 
					data-field-name-prefix="slatwall.editAddress." 
					data-show-address-book-select="false" 
					data-show-country-select="true"
					data-show-submit-button="true"
					data-context="full"
					data-action="updateAddress,addOrderShippingAddress"
					data-action-text="Save and Continue"
					data-show-address-book-select="false" 
					data-event-listeners="{updateAddressSuccess:slatwall.binder(null,slatwall.hideAccountAddressForm,fulfillmentIndex)}"
					data-submit-on-enter="true"
					data-fulfillment-index="{{fulfillmentIndex}}">
				</sw-address-form>
			</div>
			
			<div ng-if="slatwall.showNewAccountAddressForm(fulfillmentIndex)">
				<h4>Create A New Address:</h4>
				<span ng-init="slatwall.newAddress = slatwall.getAddressEntity()"></span>
				<sw-address-form
					data-field-list="countryCode,name,company,streetAddress,street2Address,locality,city,stateCode,postalCode,phoneNumber,accountAddressName"
					data-slatwall-scope="slatwall"
					data-address="slatwall.newAddress"
					data-tab-index="1" 
					data-context="full"
					data-address-name="accountAddress" 
					data-field-name-prefix="accountAddress.address." 
					data-show-address-book-select="false" 
					data-show-country-select="true" 
					data-show-submit-button="true"
					data-action="addNewAccountAddress,addShippingAddressUsingAccountAddress"
					data-action-text="Save and Continue"
					show-close-button="true"
					close-button-text="CLOSE"
					data-submit-on-enter="true"
					data-event-listeners="{addShippingAddressUsingAccountAddressSuccess:slatwall.binder(null,slatwall.hideAccountAddressForm,fulfillmentIndex)}"
					data-fulfillment-index="{{fulfillmentIndex}}">
				</sw-address-form>
			</div>
		</div>
	</div>
</div>