<div>Order Summary
    <swf-directive partial-path="/custom/assets/frontend/components/custom/checkout/" partial-name="carttotaldisplay"></swf-directive>
</div>
<div>Promo Code
	<swf-directive partial-path="/custom/assets/frontend/components/custom/checkout/" partial-name="addpromo"></swf-directive>         
</div>
<div>In your Cart
	<swf-directive partial-path="/custom/assets/frontend/components/custom/checkout/" partial-name="inyourcartpartial"></swf-directive>          
</div>
<div>Create Account
	<swf-directive partial-path="/custom/assets/frontend/components/custom/checkout/" partial-name="createaccountpartial"></swf-directive>
</div>
<div>SIGN-IN
	<swf-directive partial-path="/custom/assets/frontend/components/custom/checkout/" partial-name="logindirectivepartial"></swf-directive>
</div>
<div>
	Shipping Select
	<swf-directive partial-path="/custom/assets/frontend/components/custom/checkout/" partial-name="shippingselectpartial"></swf-directive>
</div>
