<fieldset>
    <legend>Billing Information</legend>
        <swf-directive partial-name="addbillingbyaccountaddresspartial" ng-show="slatwall.showBillingAccountAddresses()"></swf-directive>
        <sw-address-form ng-if="slatwall.showNewBillingAddressForm()"
            ng-init="slatwall.billingAddress = slatwall.getAddressEntity()"
            data-context="billing"
            data-field-list="name,countryCode,streetAddress,street2Address,locality,city,stateCode,postalCode"
            data-address="slatwall.billingAddress"
            data-address-name="billingAddress"
            data-field-name-prefix="slatwall.billingAddress."
            data-show-submit-button="true"
            data-submit-on-enter="true"
            data-action-text="Add Address"
            data-action="addNewAccountAddress"
            data-event-listeners="{addNewAccountAddressSuccess:slatwall.hideBillingAddressForm}"
            ></sw-address-form>
        <sw-address-form ng-if="slatwall.showEditBillingAddressForm()"
            data-field-list="name,countryCode,streetAddress,street2Address,locality,city,stateCode,postalCode"
            data-id="{{slatwall.account.accountAddresses[slatwall.billingAddressEditFormIndex].address.addressID}}" 
            data-context="billing"
            data-address="slatwall.billingAddress"
            data-address-name="billingAddress" 
            data-field-name-prefix="slatwall.billingAddress." 
            data-show-submit-button="true"
            data-submit-on-enter="true"
            data-action-text="Update Address"
            data-action="updateAddress"
            data-event-listeners="{updateAddressSuccess:slatwall.hideBillingAddressForm}"
            ></sw-address-form>
</fieldset>