<table class="table table-condensed">
    <tr ng-repeat="orderItem in $root.slatwall.cart.orderitems">
        <td>
            <a href="#"><img src="{{orderItem.sku.imagePath}}" style="height: 100px;"></a>
        </td>
        <td>
            <h5>{{orderItem.sku.product.productName}}</h5>
            <span class="price" ng-if="orderItem.quantity != undefined && orderItem.quantity != 0">
                <span ng-if="orderItem.extendedPriceAfterDiscount">
                    <small ng-if="orderItem.extendedPrice && (orderItem.extendedPrice != orderItem.extendedPriceAfterDiscount) && orderItem.quantity != undefined">
                        {{orderItem.extendedPrice / orderItem.quantity |currency}}
                    </small>
                    {{orderItem.extendedPriceAfterDiscount / orderItem.quantity |currency}}
                </span>
                <span ng-if="!orderItem.extendedPriceAfterDiscount">{{orderItem.price |currency}}</span>
            </span>
            Quantity: {{orderItem.quantity}}
        </td>
    </tr>
</table>
