<div class="col-sm-12 panel panel-default" ng-init="fulfillmentIndex = SWFDirective.variables.fulfillmentIndex;fulfillmentID=slatwall.cart.orderFulfillments[fulfillmentIndex].orderFulfillmentID">
	<div class="panel-body">
		<h4>Store Pickup</h4>
		<h5>{{slatwall.getOrderFulfillmentItemList(fulfillmentIndex)}}</h5>
		<div class="alert alert-success" ng-if="slatwall.pickupLocationUpdateSuccess()">Successfully updated pickup location.</div>
		<i class="fa fa-map-marker fa-3x icon-left"></i>
		<span>
			<h5>Your selected store: <span ng-if="slatwall.getPickupLocation(fulfillmentIndex).locationName != undefined">
				<span ng-if="slatwall.getPickupLocation(fulfillmentIndex).locationName != undefined">
					{{(slatwall.loadingThisRequest('addPickupFulfillmentLocation',{fulfillmentID: fulfillmentID})) ? 'Loading...' : slatwall.getPickupLocation(fulfillmentIndex).locationName}}
				</span>
				<span ng-if="slatwall.namelessPickupLocation(fulfillmentIndex)">
					{{(slatwall.loadingThisRequest('addPickupFulfillmentLocation',{fulfillmentID: fulfillmentID})) ? 'Loading...' : slatwall.getPickupLocation(fulfillmentIndex).primaryAddress.address.streetAddress + ' ' + slatwall.getPickupLocation(fulfillmentIndex).primaryAddress.address.city}}</span>
				</span>
				<span ng-if="slatwall.noPickupLocation(fulfillmentIndex)">None</span></h5>
			<a href="#" ng-click="slatwall.showStoreSelector[fulfillmentIndex] = !slatwall.showStoreSelector[fulfillmentIndex];" ng-if="slatwall.getPickupLocation(fulfillmentIndex).primaryAddress != undefined">Change store</a>
		</span>

		<div ng-if="slatwall.showStoreSelector[fulfillmentIndex] || !slatwall.getPickupLocation(fulfillmentIndex).primaryAddress" style="padding-top:30px">
			<span ng-if="slatwall.loading || slatwall.getRequestByAction('getAccount').loading">Loading Stores...</span>

			<div>

				<sw-typeahead-input-field
					data-entity-name="Location"
					data-field-name="pickupLocation"
					data-property-to-save="locationID"
					data-properties-to-load="locationName,primaryAddress.address.city,primaryAddress.address.stateCode,primaryAddress.address.postalCode"
					data-show-add-button="true"
					data-show-view-button="true"
					data-placeholder-text="Search Stores..."
					data-multiselect-mode="false"
					data-action="addPickupFulfillmentLocation"
					data-selected-format-string="${locationName}&nbsp;${primaryAddress_address_city}&nbsp;${primaryAddress_address_stateCode}&nbsp;${primaryAddress_address_postalCode}"
					data-event-listeners="{addPickupFulfillmentLocationSuccess:slatwall.binder(null,slatwall.hideStoreSelector,fulfillmentIndex)}",
					data-variables="{fulfillmentID:fulfillmentID}">
					
					<sw-collection-config
	                      data-entity-name="Location"
						  data-collection-config-property="typeaheadCollectionConfig"
	                      data-parent-directive-controller-as-name="swTypeaheadInputField"
	                      data-all-records="false"
	                      data-page-show="25"
	                      data-filter-flag="false">
				
					  <sw-collection-columns>
						  <sw-collection-column data-property-identifier="primaryAddress.address.addressID" data-is-searchable="false">
						  	
						  </sw-collection-column>
						  <sw-collection-column data-property-identifier="primaryAddress.address.city" data-is-searchable="true"></sw-collection-column>
						  <sw-collection-column data-property-identifier="primaryAddress.address.stateCode" data-is-searchable="false"></sw-collection-column>
						  <sw-collection-column data-property-identifier="primaryAddress.address.postalCode" data-is-searchable="false"></sw-collection-column>
						  <sw-collection-column data-property-identifier="locationName" data-is-searchable="true"></sw-collection-column>
						  <sw-collection-column data-property-identifier="locationID" data-is-searchable="false"></sw-collection-column>
					  </sw-collection-columns>
					  
				
	  			  </sw-collection-config>
					
				  <span sw-typeahead-search-line-item data-property-identifier="locationName"></span>
				  <span sw-typeahead-search-line-item data-property-identifier="primaryAddress_address_city"> - </span>
	              <span sw-typeahead-search-line-item data-property-identifier="primaryAddress_address_stateCode">, </span>
	              <span sw-typeahead-search-line-item data-property-identifier="primaryAddress_address_postalCode"> </span>
				
				</sw-typeahead-input-field>
					
			</div>
		</div>
	</div>
</div>
