
<div class="address" ng-if="$root.slatwall.account.accountAddresses['0'].address.countrycode" ng-repeat="accountAddress in $root.slatwall.account.accountAddresses track by $index">                                
    <input type="radio" id="addressselect{{$index}}" name="ex_user">
    <label for="addressselect{{$index}}" ng-if="accountAddress.address.countrycode == 'US'">
        <span ng-if="accountAddress.accountAddressName">{{accountAddress.accountAddressName}}<br></span>
        <span ng-if="accountAddress.address.company">{{accountAddress.address.company}}<br></span>
        <span ng-if="accountAddress.address.streetAddress">{{accountAddress.address.streetAddress}}<br></span>
        <span ng-if="accountAddress.address.street2address">{{accountAddress.address.street2Address}}<br></span>
        <span ng-if="accountAddress.address.city">{{accountAddress.address.city}}<br></span>,<span ng-if="accountAddress.address.stateCode">{{accountAddress.address.stateCode}}<br></span> <span ng-if="accountAddress.address.postalCode">{{accountAddress.address.postalCode}}<br></span>
        <span ng-if="accountAddress.address.countrycode">{{accountAddress.address.countrycode}}<br></span><br>
        <a href="tel:{{$root.slatwall.account.primaryPhoneNumber.phoneNumber}}" class="tel" ng-if="$root.slatwall.account.primaryPhoneNumber.phoneNumber">{{$root.slatwall.account.primaryPhoneNumber.phoneNumber}}</a><br>
        <a class="fancybox1" ng-click="$root.slatwall.orderFulfillments['0'].shippingAddress = $root.slatwall.account.accountAddresses[$index]; $root.slatwall.editShipping = true">Edit</a>
    </label>
    <label for="addressselect{{$index}}" ng-if="accountAddress.address.countrycode != 'US'">
        {{accountAddress.accountAddressName}}<br>
        {{accountAddress.address.company}}<br>
        {{accountAddress.address.streetAddress}}<br>
        {{accountAddress.address.street2Address}}<br><br>
        {{accountAddress.address.city}}<br>, {{accountAddress.address.stateCode}}<br> {{accountAddress.address.postalCode}}<br><br>
        {{accountAddress.address.countrycode}}<br><br>
        <a href="tel:201-222-1430" class="tel">201-222-1430</a><br>
        <a href="##editaddress" class="fancybox1">Edit</a>
    </label>
</div>


