<!-- Edit Shipping Address -->
<!-- Grab the Data from $.slatwall.cart and add the shipping address info to populate . -->
<span ng-init="$.slatwall = $root.slatwall"></span>
<div ng-init="OrderShippingObj = $.slatwall.cart.orderFulfillments['0'].shippingAddress"></div>
<sw-form
    data-is-process-form="true"
    data-form-class="cssform"
    data-error-class="error"
    data-object="OrderShippingObj"
    data-on-success="Hide:"
    data-class="edit_adderess"
    data-name="Order_AddShippingAddress"> 
  <ul>  
    <li>
        <swf-property-display 
            data-name="name"
            data-type="text"
            data-object="OrderShippingObj"
            data-property-identifier="name" 
            data-label-text="Full Name"
            data-class="none"
            data-editing="true">
        </swf-property-display>
    </li>
    <!--- company --->
    <li>
        <swf-property-display 
            data-name="company"
            data-type="text"
            data-object="OrderShippingObj"
            data-property-identifier="company" 
            data-label-text="Company"
            data-class="none"
            data-editing="true">
        </swf-property-display>
    </li>
    <!--- street address --->
    <li>
        <swf-property-display 
            data-name="streetAddress"
            data-type="text"
            data-object="OrderShippingObj"
            data-property-identifier="streetAddress"  
            data-label-text="Street Address"
            data-class="none"
            data-editing="true">
        </swf-property-display>
    </li>
    <!--- street 2 address --->
    <li>
        <swf-property-display 
            data-name="street2Address"
            data-type="text"
            data-object="OrderShippingObj"
            data-property-identifier="street2Address"  
            data-label-text="Apt./Suite"
            data-class="none"
            data-editing="true">
        </swf-property-display>
    </li>
    
    
    <li> 
    	<!--- country --->
        <label >Country:</label>
        <select ng-model="OrderShippingObj.countrycode">
            <option value="US" selected>United States</option>
        </select>   
        <!----<swf-property-display
            data-name="countrycode"
            data-type="select"
            data-object="OrderAddShippingObj"
            data-property-identifier="countrycode" 
            data-label-text="Country:"
            data-class="none"
            data-editing="true">
        </swf-property-display>--->
    </li>
    
    <!--- city --->
    <li>
        <swf-property-display
            data-name="city"
            data-type="text"
            data-object="OrderShippingObj"
            data-property-identifier="city" 
            data-label-text="City:"
            data-class="city"
            data-editing="true">
        </swf-property-display>
    </li>
    <li>
    	<label for="stateCode"></label>
    	<select ng-model="OrderShippingObj.stateCode" name="stateCode">
    		<option value="Massachusetts" selected>Ma</option>
    	</select>
    	<!--- state --->   	
    	<div class="state">                
            <swf-property-display
                data-name="stateCode"
                data-type="select"
                data-object="OrderAddShippingObj"
                data-property-identifier="stateCode" 
                data-label-text="State"
                data-class="state"
                data-editing="true">
            </swf-property-display>
    	</div>
        <!--- zip --->
        <div class="zip">
            <swf-property-display
                data-name="zip"
                data-type="text"
                data-object="OrderShippingObj"
                data-property-identifier="postalCode" 
                data-label-text="Zip"
                data-class="zip"
                data-editing="true">
            </swf-property-display>
        </div>
    </li>
    <!--- phone --->
    <li class="border">
        <swf-property-display
            data-name="phone"
            data-type="text"
            data-object="OrderShippingObj"
            data-property-identifier="phone" 
            data-label-text="Phone"
            data-class="none"
            data-editing="true">
        </swf-property-display>
    </li>
    <li class="full"><input type="checkbox" id="address" ng-model="OrderShippingObj.saveAsBillingAddressFlag" ng-click="(OrderAddShippingObj.saveAsBillingAddressFlag) ? $.slatwall.setShippingAddress(OrderAddShippingObj) : $.slatwall.setShippingAddress('')"><label for="address">Use this address as my billing address</label></li>
  </ul>
  
  <!--- add shipping address --->
  <sw-action-caller 
    data-action="editShippingAddress"
    data-modal="false" 
    data-type="submit" 
    data-class="btn"
    data-text="Save Address">
  </sw-action-caller>
  
</sw-form>
