<div class="row" ng-if="$.slatwall.cart.orderitems.length">
<div class="col-sm-5">
	<div class="box" ng-controller="frontendController">
		<span ng-init="$.slatwall = $root.slatwall"></span>
		<i class="fa fa-map-marker fa-3x icon-left"></i>
		<span>
			<h5>Your preferred store: <span ng-if="$root.slatwall.account.data.preferredLocation.primaryAddress != undefined || $root.slatwall.cart.data.orderFulfillments[0].pickupLocation.locationName != undefined">
				<span ng-if="$root.slatwall.getLocationName() != undefined">
					{{$root.slatwall.getLocationName()}}
				</span>
				<span ng-if="$root.slatwall.account.data.preferredLocation.primaryAddress != undefined && $root.slatwall.cart.data.orderFulfillments[0].pickupLocation.locationName == undefined">
					{{$root.slatwall.account.data.preferredLocation.primaryAddress.address.streetAddress}} {{$root.slatwall.account.data.preferredLocation.primaryAddress.address.city}}</span>
				</span>
				<span ng-if="$root.slatwall.account.data.preferredLocation.primaryAddress == undefined && $root.slatwall.cart.data.orderFulfillments[0].pickupLocation.locationName == undefined">None</span></h5>
			<a href="#" ng-click="$.slatwall.stores = !$.slatwall.stores;" ng-if="$.slatwall.account.data.preferredLocation.primaryAddress != undefined">Change store</a>
		</span>

		<div ng-if="($.slatwall.stores || !$.slatwall.account.data.preferredLocation)" style="padding-top:30px">
			<span ng-if="$.slatwall.loading || $.slatwall.getRequestByAction('getAccount').loading">Loading Stores...</span>

			<div>

				<sw-typeahead-input-field
						data-entity-name="Location"
						data-field-name="preferredLocation"
						data-property-to-save="locationID"
						data-properties-to-load="locationName,primaryAddress.address.city,primaryAddress.address.stateCode,primaryAddress.address.postalCode"
						data-show-add-button="true"
						data-show-view-button="true"
						data-placeholder-text="Search Stores..."
						data-multiselect-mode="false"
						data-selected-format-string="${locationName}&nbsp;${primaryAddress_address_city}&nbsp;${primaryAddress_address_stateCode}&nbsp;${primaryAddress_address_postalCode}">

						<sw-collection-config
	                          data-entity-name="Location"
							  data-collection-config-property="typeaheadCollectionConfig"
	                          data-parent-directive-controller-as-name="swTypeaheadInputField"
	                          data-all-records="false"
	                          data-page-show="25">


						  <sw-collection-column data-property-identifier="primaryAddress.address.addressID"></sw-collection-column>
						  <sw-collection-column data-property-identifier="primaryAddress.address.city"></sw-collection-column>
						  <sw-collection-column data-property-identifier="primaryAddress.address.stateCode"></sw-collection-column>
						  <sw-collection-column data-property-identifier="primaryAddress.address.postalCode"></sw-collection-column>
						  <sw-collection-column data-property-identifier="locationName"></sw-collection-column>
						  <sw-collection-column data-property-identifier="locationID"></sw-collection-column>


          			</sw-collection-config>

					<i class="fa fa-map-marker icon-left fa-3x"></i>
					<span sw-typeahead-search-line-item data-property-identifier="locationName"></span><br>
					<span sw-typeahead-search-line-item data-property-identifier="primaryAddress_address_city"></span>
		            <span sw-typeahead-search-line-item data-property-identifier="primaryAddress_address_stateCode"></span>
		            <span sw-typeahead-search-line-item data-property-identifier="primaryAddress_address_postalCode"></span>

					</sw-typeahead-input-field>

			</div>
		</div>
	</div>
</div>