<!--- gift card form --->
<span ng-init="$.slatwall = $root.slatwall"></span>
<div class="giftcard-options" ng-if="$root.$.slatwall.hasGiftCardPaymentMethod()">
    <div class="col-md-8">
        <h4 class="input-title">Enter Buddies Pro Shop Gift Card</h4>
        <div class="row giftcard-input">
            <div class="col-sm-8 form-group">
                <input type="text" class="form-control" ng-model="giftCardCodeToApply">
                <span class="error" ng-if="$.slatwall.cart.orderPayments[0].errors['giftCard']">{{$.slatwall.cart.orderPayments[0].errors['giftCard']}}</span>
            	<span class="error" ng-if="$.slatwall.giftCardError">{{$.slatwall.giftCardError}}</span>
            </div>
            <div class="col-sm-4 form-group" ng-click="$.slatwall.addLoader('giftCard')">
                <button type="button" name="button" class="btn-blue btn-block" ng-click="applyGiftCard(giftCardCodeToApply);">{{($.slatwall.loaders['giftCard'] && $.slatwall.loading ? 'Loading...' : 'Add Gift Card')}}</button>
            </div>
        </div>
        
        <div class="selected-gift-cards-wrapper" ng-repeat="giftCard in $.slatwall.account.giftCards track by $index">
            <div class="selected-gift-card" ng-show="$.slatwall.account.giftCards[$index].applied">
                 <div class="col-xs-6 left-side" ng-hide="$.slatwall.finding == true">
                    <span>
                        <i class="fa fa-credit-card"></i>
                    </span>
                    <span class="card-info">
                        <div class="card-number">
                            {{$.slatwall.account.giftCards[$index].giftCardCode}}
                        </div>
                        <div class="card-balance-wrapper">
                            Card Balance: <span class="card-balance">{{($.slatwall.account.giftCards[$index].balanceAmount | currency)||'calculating'}}</span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="selected-gift-cards-wrapper" ng-repeat="giftCard in $.slatwall.cart.orderPayments track by $index">
            <div class="selected-gift-card" ng-show="$.slatwall.cart.orderPayments[$index].amount && $.slatwall.cart.orderPayments[$index].paymentMethod.paymentMethodName == 'Gift Card'">
                <div class="col-xs-6 left-side">
                    <span>
                        <i class="fa fa-credit-card"></i>
                    </span>
                    <span class="card-info">
                        <div class="card-number">
                           {{$.slatwall.cart.orderPayments[$index].giftCardNumber || 'Gift Card'}}
                        </div>
                        <div class="card-balance-wrapper">
                            Amount Applied: <span class="card-balance">{{$.slatwall.cart.orderPayments[$index].amount | currency}}</span>
                        </div>
                    </span>
                </div>
            </div>
       </div>
    </div>
	
    <div class="col-md-4 checkout-help" ng-if="$.slatwall.cart.orderPaymentAmountNeeded > 0 && $.slatwall.hasGiftCardPayment">
        <div class="alert alert-danger">
            <h4>Balance Due: {{$.slatwall.cart.orderPaymentAmountNeeded | currency}}</h4>
            <p>You have a remaining balance of  {{$.slatwall.cart.orderPaymentAmountNeeded | currency}}.  Please choose an additional payment method to complete your order.</p>
        </div>
    </div>
	
	<div class="col-md-12 checkout-step-btn" ng-if="($.slatwall.cart.calculatedTotal||$.slatwall.cart.orderPaymentAmountNeeded) == 0">
        <input type="hidden" value="{{selectedBillingCountry.value}},{{$.slatwall.newBillingAddress.countrycode}},{{selectedBillingState.value}}"></input>
        <span class="next-step-btn" ng-if="$.slatwall.cart.orderPayments.length">
            <input type="submit" class="btn-yellow" tabindex="12" value="Continue to Review Order" ng-click="$.slatwall.addLoader('addOrderPayment');$.slatwall.addOrderPayment({'month':selectedMonth.value,'year':selectedYear,'country':selectedBillingCountry.value||'US','state':selectedBillingState.value})"  ng-class="($.slatwall.loading) ? 'spinner icon-spinner icon-spin icon-large' : ''" ng-if="$.slatwall.cart.orderRequirementsList.indexOf('payment') == -1"/>
         </span>

    </div>
</div>