<span ng-init="slatwall = $root.slatwall"></span>
<div ng-init="Account_LookupObj = slatwall.getProcessObject('Account_Login') "></div>
<div id="loginForm" ng-show="!slatwall.forgotPassword">
	<sw-form
	    data-is-process-form="true"
	    data-object="Account_LookupObj"
	    data-on-success="hide:Account_Lookup,show:Account_Login"
	    data-form-class="cssform"
	    data-error-class="error"
	    data-name="Account_Lookup">
	    
	    <ul>
	        <li>
	        <swf-property-display
	
	            data-name="emailAddress"
	            data-type="email"
	            data-object="Account_LookupObj"
	
	            data-property-identifier="emailAddress"
	            data-label-text="Email Address"
	            data-class="none"
	            data-editing="true">
	        </swf-property-display>
	        </li>
	    </ul>
	    
	    <span ng-show="slatwall.isLoading('lookupAccount')" ng-class="(slatwall.loading) ? 'glyphicon glyphicon-refresh glyphicon-refresh-animate' : ''"></span>
	    <input type="submit" value="Lookup Account" class="btn" ng-click="slatwall.addLoader('lookupAccount');slatwall.doAction('/?slataction=inc:main.getAccountExistsByEmailAddress&ajaxRequest=1/',{'emailAddress':Account_LookupObj.emailAddress})"/>
	    <span ng-if="slatwall.account.errors.lookup.length" class="error">{{slatwall.account.errors['lookup'][0]}}</span>
	</sw-form>
</div>
