<!-- Example of using the cart directive to list various items and well as modify -->
<table class="table table-condensed">
    <tr ng-repeat="orderItem in slatwall.cart.orderitems">
        <td class="text-center">
            <a href="#"><img src="{{orderItem.sku.imagePath}}" style="height: 100px;"></a>
        </td>
        <td>
            <h5>
                <span ng-if="orderItem.sku.skuName == '' && orderItem.sku.product.productName != ''">{{orderItem.sku.product.productName}}</span>
                <span ng-if="orderItem.sku.skuName != ''">{{orderItem.sku.skuName}}</span>
            </h5>
            {{orderItem.price |currency :(slatwall.cart.currencyCode == 'EUR'?'&euro;':'$')}}<br>
            Quantity: {{orderItem.quantity}}
        </td>
    </tr>
</table>
