<div ng-init="Account_LoginObj = slatwall.getProcessObject('Account_Login') "></div>

<div id="loginForm" class="row" ng-show="!slatwall.showForgotPassword">
	    <div class="col-sm-7">
			<sw-form
			    data-object="Account_LoginObj"
			    data-action="login"
			    data-name="Account_Login"
			    data-event-announcers="keyup">
			<div class="form-group">
		        <swf-property-display
		            data-name="emailAddress"
		            data-field-type="email"
		            data-property-identifier="emailAddress"
		            data-label-text="Email Address"
		            data-class="form-control">
		        </swf-property-display>
			</div>
	        <div class="form-group last">
		        <swf-property-display
		            data-name="password"
		            data-field-type="password"
		            data-property-identifier="password"
		            data-label-text="Password"
		            data-class="form-control">
		        </swf-property-display>
	        </div>

			<div class="form-group">
			    <sw-action-caller
			        data-type="button"
			        data-class="button blue"
			        data-text="{{(slatwall.getRequestByAction('login').loading ? 'LOADING...' : 'Login')}}"
			        data-event-listeners="{Account_Loginkeyup:$parent.swForm.submitKeyCheck}">
			    </sw-action-caller>
			</div>

			<p><a href="#" ng-click="slatwall.showForgotPassword = true;">Forgot your password?</a></p>
		</div>
	</sw-form>
</div>
<!--- Forgot password form --->
<div ng-show="slatwall.showForgotPassword" class="forgotPassword">

	<!-- Instruction for getting the reset email-->
    <p ng-if="slatwall.forgotPasswordNotSubmitted()">Enter your e-mail address and a password reset e-mail will be sent your inbox or <a href="##" ng-click="slatwall.showForgotPassword = false">login</a></p>

	<!-- Display a message if a reset email has been sent -->
    <div class="msg alert alert-info" ng-show="slatwall.forgotPasswordHasNoErrors()">
        <i class="fa fa-info-circle"></i> An email has been sent to the address you provided with a link to reset your password so you may <a ng-click="slatwall.showForgotPassword = false">login</a>
    </div>

    <!-- Display a message if the email address is not recognized -->
    <div class="msg" ng-show="slatwall.forgotPasswordError()">
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{slatwall.forgotPasswordError()}}</div>
    </div>

	<div ng-init="Account_ForgotPassword = slatwall.getProcessObject('Account_ForgotPassword') "></div>
    <div class="row" ng-click="slatwall.addLoader('forgotPassword')">
		<div class="col-sm-7">
		    <sw-form
		        data-object="Account_ForgotPassword"
		        data-name="Account_ForgotPassword"
		        data-event-announcers="keyup"
		        data-action="forgotPassword">
			<div class="form-group">
		        <swf-property-display
		                data-name="emailAddress"
		                data-field-type="email"
		                data-property-identifier="emailAddress"
		                data-label-text="Email Address"
		                data-class="form-control">
		        </swf-property-display>
			</div>
			<div class="form-group">
		        <sw-action-caller
		            data-type="button"
		            data-class="button blue"
		            data-text="{{(slatwall.getRequestByAction('forgotPassword').loading ? 'LOADING...' : 'Send Me Reset Email')}}"
		            data-event-listeners="{Account_ForgotPasswordkeyup:$parent.swForm.submitKeyCheck}">
		        </sw-action-caller>
			</div>
		    </sw-form>
    </div>
</div>
