<span ng-init="$.slatwall = $root.slatwall"></span>
<li>
    <ul>
    <li>
        <label for="namec">Name on Credit Card</label>
        <input type="text" class="form-control" id="name" tabindex="1" name="nameOnCreditCard" ng-model="$.slatwall.newBillingAddress.nameOnCreditCard" ng-init="$.slatwall.newBillingAddress.nameOnCreditCard = $.slatwall.account.firstName + ' ' + $.slatwall.account.lastName">
        <span class="error" ng-if="$.slatwall.cart.newOrderPaymentErrors['nameOnCreditCard']">{{$.slatwall.cart.newOrderPaymentErrors['nameOnCreditCard']}}</span>
    </li>
    
    <li class="cards">
        <img src="{{imagePath}}/cards.png" alt="">
    </li>
    
    <li>
        <label for="cardnumber">Card Number</label>
        <input type="text" class="form-control"  id="cardnumber" tabindex="2" ng-model="$.slatwall.newBillingAddress.cardNumber">
        <span class="error" ng-if="$.slatwall.cart.newOrderPaymentErrors['creditCardNumber']">{{$.slatwall.cart.newOrderPaymentErrors['creditCardNumber']}}</span>
    </li>
    
    <li class="date">
        <!--- Month --->
        <label>Expiration Date</label>
        <select class="selectpicker form-control" ng-model="$.slatwall.selectedMonth" tabindex="3" ng-options="month as month.name for month in $.slatwall.months" ng-change="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.expirationMonth = $.slatwall.selectedMonth.value" ng-init="$.slatwall.selectedMonth = $.slatwall.months[0]">
            <option>Month *</option>
        </select>
        <!--- Year --->
        <select class="selectpicker year form-control" ng-model="$.slatwall.selectedYear" tabindex="4" ng-options="year for year in $.slatwall.years" ng-change="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.expirationYear = $.slatwall.selectedYear" ng-init="$.slatwall.selectedYear = $.slatwall.years[0]">
            <option>Year *</option>
        </select>
        <span class="error" ng-if="$.slatwall.cart.newOrderPaymentErrors['expirationMonth']">{{$.slatwall.cart.newOrderPaymentErrors['expirationMonth']}}</span>
        <span class="error" ng-if="$.slatwall.cart.newOrderPaymentErrors['expirationYear']">{{$.slatwall.cart.newOrderPaymentErrors['expirationYear']}}</span>
    </li>
    
    <li class="cvv">
        <label>CVV <a href="#cvvModalContent" class="info cvvModal"><i class="fa fa-question"></i></a></label>
        <label for="cvv2" class="mobile">CVV</label>
        <input type="text" id="cvv2" class="form-control"  tabindex="5" ng-model="$.slatwall.newBillingAddress.cvv">
        <span class="error" ng-if="$.slatwall.cart.newOrderPaymentErrors['cvv']">{{$.slatwall.cart.newOrderPaymentErrors['cvv']}}</span>
    </li>
    </ul>
</li>