<span ng-init="$.slatwall = $root.slatwall"></span>
<ul ng-show="$.slatwall.saveShippingAsBilling === 'true' && $.slatwall.cart.orderFulfillments['0'].data.shippingAddress.addressID" ng-cloak>
    
    <!--- Displays the shipping address as a editable block  --->
	<swf-directive partial-path="/custom/client/src/frontend/components/checkouttemplates/checkout/" partial-name="shippingaddressblock"></swf-directive>
	
	<!--- Displays the order payment fields  --->
	<swf-directive partial-path="/custom/client/src/frontend/components/checkouttemplates/checkout/" partial-name="orderpaymentfields"></swf-directive>
	
</ul>