<!-- Add Shipping Address -->
<span ng-init="slatwall.saveShippingAsBilling = undefined"></span>
<span ng-init="slatwall.addOrderPayment.newOrderPayment = {billingAddress:{},paymentMethod:{paymentMethodID:SWFDirective.variables.paymentMethodID}}"></span>
	<swf-directive partial-name="savedcreditcards"></swf-directive>

	<!--- The form without shipping address block --->
	<swf-directive partial-name="orderpaymentformfull"></swf-directive>

	<!--- Pleace Order / Review Order / Save Buttons --->
	<div class="form-group">
	    <sw-action-caller
	        data-type="button"
	        data-class="button blue"
	        data-text="{{(slatwall.loadingThisRequest('addOrderPayment',{'newOrderPayment.nameOnCreditCard': true}) ? 'LOADING...' : 'Add Payment')}}">
	    </sw-action-caller>
	</div>
</swform>
