
<span ng-init="$.slatwall = $root.slatwall"></span>
<div class="col-sm-12 payment-options">
	<div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
        <div ng-show="$.slatwall.hasCreditCardPaymentMethod()" class="panel radio panel-default" ng-cloak>
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="##accordion" href="##collapse1" aria-expanded="false" aria-controls="collapseOne" ng-click="clearBilling();">
                        <span class="dot"></span> Credit Card
                    </a>
					<span class="overflowed pull-right">
                        <img src="#themePath#/assets/img/preview/payments/mastercard-2.jpg" alt="">
                        <img src="#themePath#/assets/img/preview/payments/visa-2.jpg" alt="">
                        <img src="#themePath#/assets/img/preview/payments/american-express-2.jpg" alt="">
                        <img src="#themePath#/assets/img/preview/payments/discovery-2.jpg" alt="">
                    </span>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                <div class="panel-body">
					<div class="row">
						<div class="col-md-12 payment-tab">
							<!--- Credit card --->
							<swf-directive partial-path="{{customTemplateFolder}}" partial-name="orderpaymentpartial"></swf-directive>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="$.slatwall.hasPaypalPaymentMethod()">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="##accordion" href="##collapse2" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="dot"></span> PayPal
                    </a>
					<span class="overflowed pull-right"><img src="#themePath#/assets/img/preview/payments/paypal-2.jpg" alt=""></span>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<!--- Checkout with paypal --->
							<a href="?slatAction=paypalexpress:main.initiatepayment&paymentMethodID=5124bffa549dfdb10154a18a157504d3">
								<img src="//www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
							</a>
							
						</div>
						<!--- <div class="col-sm-4 checkout-help">
							<h4>About PayPal</h4>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div> --->
					</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="$.slatwall.hasMoneyOrderPaymentMethod()" ng-click="slatwall.useMoneyOrder = !slatwall.useMoneyOrder">
            <div class="panel-heading" >
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="##accordion" href="##cashiersCheck" aria-expanded="false" aria-controls="cashiersCheck">
                        <span class="dot"></span> Money Order or Cashiers Check
                    </a>
                </h4>
            </div>
            <div id="cashiersCheck" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cashiersCheck" aria-expanded="false">
				<!--- Money order component --->
                <!---#$.renderContent( '5124bffa549dfdb10154a0f231f802b7' , 'contentBody')#--->
				<div class="submit-btn-wrapper">
					<input type="submit" class="btn-yellow" tabindex="12" value="Continue to Review Order" ng-click="slatwall.addOrderPayment({'moneyOrder':true})"  ng-class="(slatwall.loading) ? 'spinner icon-spinner icon-spin icon-large' : ''"/>
					<div class="button-message">By placing your order, you agree to BuddiesProShop.com <a href="##" data-toggle="modal" data-target="##privacyModal">privacy policy</a> and <a href="##" data-toggle="modal" data-target="##termsConditions">terms and conditions</a>.</div>
				</div>	
            </div>
            
        </div>
    </div>
</div>