<span ng-init="promoCode = {}"></span>
<sw-form
    data-object="promoCode"
    data-submit-on-enter="true"
    data-name="AddPromotionCode"
    data-action="addPromotionCode"
    class="row">
    <div class="col-md-9">
        <swf-property-display
            data-name="promotionCode"
            data-field-type="text"
            data-label-text=""
            data-property-identifier="promotionCode"
            data-class="form-control"
            data-event-announcers="keyup"
            >
        </swf-property-display>
    </div>
    <div class="col-md-3">
        <sw-action-caller 
            data-event-listeners="{addPromotionCodeSuccess:$parent.swForm.clear}"
            data-type="button"
            data-class="Apply" 
            data-text="{{(slatwall.getRequestByAction('addPromotionCode').loading)?'Loading':'Apply'}}">
        </sw-action-caller>
    </div>
    
</sw-form>

<ul class="list-group" ng-if="slatwall.cart.promotionCodeList && slatwall.cart.promotionCodeList.length">
    <li class="list-group-item" ng-repeat="code in slatwall.cart.promotionCodes track by $index">
    {{code.promotion.promotionName}} - <a href="#" ng-click="slatwall.removePromoCode(code.promotionCode)">{{slatwall.loadingThisRequest('removePromotionCode',{promotionCode:code.promotionCode}) ? 'Removing' : 'Remove'}}</a>
    </li>
</ul>