
<div class="method">
	<h4>Select Shipping Method:</h4>
    <span ng-init="$.slatwall = $root.slatwall"></span>
    <!-- Add save shipping method to API and add public service method in $.slatwall... -->
    <p class="shippingMethodOption" ng-repeat="option in $.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingMethodOptions track by $index">
    	<input type="radio" name="cb{{option.shippingMethodCode}}" id="check{{optionValue}}" ng-model="rememberMe[$index]" ng-click="rememberMe[$index]=true;$.slatwall.selectedMethod = option.value;$.slatwall.doAction('addShippingMethodUsingShippingMethodID', {'shippingMethodID': option.value });" ng-checked="(($.slatwall.cart.fulfillmentTotal && option.value == $.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingMethod.shippingMethodID)) || $.slatwall.cart.data.orderFulfillments[$.slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].shippingMethodOptions.length == 1"/>
        <label for="cb{{option.shippingMethodCode}}" ng-click="rememberMe[$index]=true;$.slatwall.selectedMethod = option.value;$.slatwall.doAction('addShippingMethodUsingShippingMethodID', {'shippingMethodID': option.value });$.slatwall.getCart()">{{option.name}}</label>
	</p>
    
    <input type="submit" value="CONTINUE" ng-disabled="!$.slatwall.hasShippingAddressAndMethod && !$.slatwall.cart.fulfillmentTotal" ng-click="$.slatwall.hasShippingAddressAndMethod=true;$.slatwall.editShipping=false;"></input>
</div>