<!--- SELECT SHIPPING METHOD --->
<div ng-cloak class="method col-md-12" ng-init="fulfillmentIndex = SWFDirective.variables.fulfillmentIndex;fulfillmentID = slatwall.cart.orderFulfillments[fulfillmentIndex].orderFulfillmentID">
    <div class="row">
            <div class="col-md-12 method">
				<h5>Select Shipping Method</h5>
			    <!-- Add save shipping method to API and add public service method in slatwall... -->
			    <p class="shippingMethodOption" 
			    ng-repeat="option in slatwall.cart.orderFulfillments[fulfillmentIndex].data.shippingMethodOptions track by $index" 
			    ng-click="slatwall.selectShippingMethod(option, fulfillmentIndex)">
			    	<span class="loader-wrapper" ng-show="slatwall.loadingThisRequest('addShippingMethodUsingShippingMethodID',{fulfillmentID:fulfillmentID,shippingMethodID:option.value})">
						<i class="fa fa-spinner fa-spin fa-fw"></i>
					</span>
			    	<input type="radio" name="cb{{option.shippingMethodCode}}{{fulfillmentIndex}}" id="check{{optionValue}}{{fulfillmentIndex}}"
				    	ng-checked="slatwall.isSelectedShippingMethod(option, fulfillmentIndex)"
				    	ng-hide="slatwall.loadingThisRequest('addShippingMethodUsingShippingMethodID',{fulfillmentID:fulfillmentID,shippingMethodID:option.value})"/>
			        <label for="cb{{option.shippingMethodCode}}">{{option.name}}</label>
				</p>
			</div>
	</div>
</div>