<li>
	<span ng-init="$.slatwall = $root.slatwall"></span>
    <!--- This will show instead of the billing address fields if saveShippingAsBilling is enabled --->
    <div class="existing_user" style="padding-top:0px">
        <div class="address" ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.addressID" ng-init="$.slatwall.newBillingAddress = $.slatwall.cart.orderFulfillments['0'].data.shippingAddress">
            <input type="radio" id="{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.addressID}}" ng-checked="$.slatwall.saveShippingAsBilling == 'true'"/>
        
            <label for="selectedAddress">
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.firstName && $.slatwall.cart.orderFulfillments['0'].data.shippingAddress.lastName">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.firstName}} {{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.lastName}}<br></span>
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.name">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.name}}<br></span>
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.company">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.company}}<br></span>
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.streetAddress">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.streetAddress}}<br></span>
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.street2address">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.street2Address}}<br></span>
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.city">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.city}}</span>, <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.stateCode">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.stateCode}}</span> <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.postalCode">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.postalCode}}<br></span>
                <span ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.countrycode">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.countrycode}}<br></span>
                <a href="tel:{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.phoneNumber}}" class="tel" ng-if="$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.phoneNumber">{{$.slatwall.cart.orderFulfillments['0'].data.shippingAddress.phoneNumber}}</a><br>
                <a ng-click="$.slatwall.editingShippingInPayment = true;$.slatwall.saveShippingAsBilling='false';">Edit</a>
            </label>
        </div>
    </div>
</li>