<span ng-init="$.slatwall = $root.slatwall"></span>
<section id="content-part" ng-controller="frontendController">
	<div class="container">
		<h1 class="banner">Shopping Cart</h1>
		<hr>
		<div class="loading" style="opacity: .75;background-color:#DDD1B3" ng-if="!$.slatwall.cart.orderitems.length && $.slatwall.loading || $.slatwall.cart == undefined || $.slatwall.getRequestByAction('getCart').loading">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<div class="cartbox" ng-cloak>
	        <div class="alert alert-warning" ng-if="!$.slatwall.cart.orderitems.length && !$.slatwall.getRequestByAction('getCart').loading">
                <i class="fa fa-info-circle"></i> There are no items in your cart. Add items to continue.</a>
            </div>
	        <div class="cart" ng-if="$.slatwall.cart.orderitems.length">
				<div class="row">
					<div class="col-sm-6">
						<h5 style="margin-top: 10px;">You have {{$.slatwall.cart.orderitems.length}} item(s) in your cart.</h5>
					</div>
					<div class="col-sm-6 text-right">
						<a href="/checkout" class="button">Continue to Checkout</a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
			        	<table id="cart" class="table table-hover">
							<thead>
				            	<tr class="titles">
				                	<th style="width:50%" class="heading">Product</th>
				                    <th style="width:10%" class="price">Price</th>
				                    <th style="width:8%" class="quantity">Quantity</th>
				                    <th style="width:22%" class="total text-center">Total</th>
				                    <th style="width:10%" class="remove"></th>
				                </tr>
							</thead>
							<tbody>
				                <tr ng-repeat="orderItem in $.slatwall.cart.orderitems | orderBy: 'orderItem.sku.product.listingPages[0].content.title'">
				                	<td data-th="Product">
										<div class="row pageTitle">
											<div class="col-sm-7">
												<h4 ng-bind="orderItem.sku.product.listingPages[0].content.title"></h4>
											</div>
											<div class="col-sm-5">
												<a href="#"><i class="fa fa-tag"></i> <a href="{{orderItem.sku.product.listingPages[0].content.urlTitle}}">Shop more from this offer</a>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-2 hidden-xs">
												<img src="{{orderItem.sku.imagePath}}" class="img-responsive center-block">
											</div>
											<div class="col-sm-10">
												<h5>{{orderItem.sku.product.productName}}</h5>
												<p>{{orderItem.sku.product.featuredReviewContent}}</p>
												<ul><li>{{orderItem.sku.calculatedSkuDefinition}}</li></ul>
											</div>
										</div>
									</td>
				                    <td data-th="Price" class="price">
				                    	
				                    	<span ng-if="orderItem.price && !$.slatwall.getRequestByAction('updateOrderItemQuantity').loading">
				                    		{{orderItem.price |currency}}
				                    	</span>
				                    	
				                    	<span ng-if="$.slatwall.getRequestByAction('updateOrderItemQuantity').loading">
											<i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
											<span class="sr-only">Loading...</span>
										</span>
									</td>
									
				                    <td class="quantity">
				                    	<input style="width:50px" type="text" 
											ng-init="quantity='1'" 
											value="{{orderItem.quantity}}" 
											ng-model="orderItem.quantity" 
											ng-model-options='{ debounce: 250 }' 
											ng-change="$root.$root.slatwall.doAction('updateOrderItemQuantity', {'orderItem.sku.skuID':orderItem.sku.skuID, 'orderItem.qty':orderItem.quantity})" />
				                    </td>
				                    
									<td data-th="Total" class="total text-center">
										<span ng-if="orderItem.extendedPrice && !$.slatwall.getRequestByAction('updateOrderItemQuantity').loading">
				                    		<small ng-if="(orderItem.extendedPrice != orderItem.extendedPriceAfterDiscount)">
				                    			<strike>{{orderItem.extendedPrice |currency}}</strike> &nbsp; {{orderItem.extendedPriceAfterDiscount |currency}}
				                    		</small>
				                    		
				                    		<small ng-if="(orderItem.extendedPriceAfterDiscount && orderItem.extendedPrice == orderItem.extendedPriceAfterDiscount)">
				                    			{{orderItem.extendedPriceAfterDiscount |currency}}
				                    		</small>
				                    	</span>
									</td>
				                    
				                    <td>
				                    	<a href="#" class="remove btn btn-sm" ng-click="$.slatwall.doAction('removeOrderItem', {'orderItemID': orderItem.orderItemID })"><i class="fa fa-trash-o"></i></a>
									</td>
				                </tr>
							</tbody>
			            </table>
					</div>
				</div>

					<div class="col-sm-5 col-sm-offset-2">
						<div class="box">
							<div class="row text-right">
								<div class="col-sm-12 promo">
									<div class="row">
										<div class="col-sm-3 text-left">
											<swf-directive partial-path="/custom/client/src/frontend/components/checkouttemplates/" partial-name="listpromo"></swf-directive>
										</div>
										<div class="col-sm-9">
											<swf-directive partial-path="/custom/client/src/frontend/components/checkouttemplates/" partial-name="addpromo"></swf-directive>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="box">
									<swf-directive partial-path="/custom/client/src/frontend/components/checkouttemplates/" partial-name="carttotaldisplay"></swf-directive>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-12 text-right">
								<a href="/checkout" class="button">Continue to Checkout</a>
							</div>
						</div>

					</div>

				</div>

				<div ng-if="!$.slatwall.cart.orderitems.length && !$.slatwall.getRequestByAction('getCart').loading" class="container cartbox">
		        	<div class="alert alert-info"><i class="fa fa-info-circle"></i> No items have been added to your cart.</p>
		        </div>

			</div>
		</div>
	</div>
</section>