<div class="col-md-12">
   <div class="configure-bar-container">
      <div class="col-md-6">
         <div class="report-btn-container">
            <!--<a  href="" class="hibachi-report-date-group btn btn-xs btn-default "-->
            <!--ng-repeat="range in swReportConfigurationBar.dashboardService.reportDateTimeGroups"-->
            <!--ng-click="swReportConfigurationBar.dashboardService.changeTimeRange(range.code)"-->
            <!--ng-class="swReportConfigurationBar.dashboardService.reportDateTimeGroupBy === range.code ?'active' : '' ">{{range.name}}</a>-->
            <a href="" class="hibachi-report-date-group-custom-toggle btn btn-xs btn-default "
               ng-class="swReportConfigurationBar.period === 'hour' ?'active' : '' "
               ng-click="swReportConfigurationBar.changeTimeRange('hour',lastTwentyFourHours,endOfHour)"
               data-groupby="hour" data-start="{{lastTwentyFourHours}}" data-end="{{endOfHour}}">Hour</a>
               
            <a href="" class="hibachi-report-date-group-custom-toggle btn btn-xs btn-default" 
               ng-class="swReportConfigurationBar.period === 'day' ?'active' : '' "
               ng-click="swReportConfigurationBar.changeTimeRange('day',lastTwoWeeks,endOfToday)"
               data-groupby="day" data-start="lastTwoWeeks" data-end="endOfToday">Day</a>
               
            <a href="" class="hibachi-report-date-group-custom-toggle btn btn-xs btn-default" 
               ng-class="swReportConfigurationBar.period === 'week' ?'active' : '' "
               ng-click="swReportConfigurationBar.changeTimeRange('week',weekGrouping,endOfToday)"
               data-groupby="week" data-start="weekGrouping" data-end="endOfToday">Week</a>
               
            <a href="" class="hibachi-report-date-group-custom-toggle btn btn-xs btn-default" 
               ng-class="swReportConfigurationBar.period === 'month' ?'active' : '' "
               ng-click="swReportConfigurationBar.changeTimeRange('month',monthGrouping,endOfMonth)"
               data-groupby="month" data-start="monthGrouping" data-end="endOfMonth">Month</a>
               
            <a href="" class="hibachi-report-date-group-custom-toggle btn btn-xs btn-default" 
               ng-class="swReportConfigurationBar.period === 'year' ?'active' : '' "
               ng-click="swReportConfigurationBar.changeTimeRange('year',startOfYear,endOfYear)"
               data-groupby="year" data-start="startOfYear" data-end="endOfYear">Year</a>
               
            <a  
               ng-class="swReportConfigurationBar.period === 'custom' ?'active' : '' "
            class="hibachi-report-date-group-custom-toggle btn btn-xs btn-default" 
            ng-click="swReportConfigurationBar.startCustomRange($event)">Custom</a>
         </div>
      </div>
      <div class="site-selector-container col-md-3">
         <select 
            class="form-control j-custom-select" 
            name="siteSelector"
            ng-model="swReportConfigurationBar.site"
            ng-options="site.siteName for site in swReportConfigurationBar.siteCollectionList"
            >
         </select>
      </div>
   </div>
</div>
<!--<div ng-show="swReportConfigurationBar.customToggle" class="col-md-12">-->
<!--   <div class="configure-bar-container">-->
<!--      <div class="col-md-3">-->
<!--         <div id="hibachi-report-compare-date" class="flex compare">-->
<!--            <span class="icon-wrapper"><i class="fas fa-exchange-alt"></i> </span> -->
<!--            <span><i class="fa fa-arrows-h" style="margin-top: 30px;font-size: 17px;"></i></span>-->
<!--            <div class="col-cal">-->
<!--               <p class="input-group s-datepicker">-->
<!--                  <label>Start Date</label>-->
<!--                                      <input class="form-control" -->
<!--                                  		datepicker-popup="MMM dd, yyyy" -->
<!--                                  		close-text="Close" -->
<!--                                  		is-open="swListingReport.openedCalendarStartCompare" -->
<!--                                  		type="text"-->
<!--                                  		ng-change="swReportConfigurationBar.dashboardService.updateCustomPeriod()"-->
<!--                                  		ng-model="swReportConfigurationBar.dashboardService.customReportStartDateTime"-->
<!--                                  		year="2020"-->
<!--                              	        month="01"-->
<!--                              	        day="01"-->
<!--                                  		/>-->
<!--                  <span class="input-group-btn" >-->
<!--                  <button type="button" class="btn btn-default btn-sm btn-cal" ng-click=""><i class="glyphicon glyphicon-calendar"></i></button>-->
<!--                  </span>-->
<!--               </p>-->
<!--            </div>-->
<!--            <div class="col-cal">-->
<!--               <p class="input-group s-datepicker">-->
<!--                  <label>End Date</label>-->
     
<!--                  <span class="input-group-btn" >-->
<!--                  <button type="button" class="btn btn-default btn-sm btn-cal" ng-click=""><i class="glyphicon glyphicon-calendar"></i></button>-->
<!--                  </span>-->
<!--               </p>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->
<!--   </div>-->
<!--</div>-->