<form action="index.html" method="post">
  <div class="s-filter-group-item">

    <div class="form-group form-group-sm">
      <label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Condition:</label>
      <div class="col-sm-12 s-no-paddings">
        <span class="s-custom-select-wrapper">
        	<select class="form-control s-custom-select" id="u52_input" style="-webkit-appearance: menulist-button; border-color: rgb(153, 153, 153);"
        			ng-model="selectedFilterProperty.selectedCriteriaType" 
          		ng-options="conditionOption as conditionOption.display 
          					for conditionOption in conditionOptions 
          					
          					" 	
        	>
        		<option selected="selected" value="">Select Condition</option>
          </select>
        </span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>