<form action="index.html" method="post" ng-if="collectionOptions">
  <div class="s-filter-group-item" >

    <div class="form-group form-group-sm">
      <div class="col-sm-12 s-no-paddings">
     	<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Select From Existing Collections:</label>
         <span class="s-custom-select-wrapper">
    		<select id="u52_input" class="form-control s-custom-select" style="-webkit-appearance: menulist-button; border-color: rgb(153, 153, 153);"
          			ng-model="selectedFilterProperty.selectedCollection" 
            		ng-options="collection as collection.collectionName 
            					for collection in collectionOptions 
            					" 	
          	>
          		<option selected="selected" value="">Select Collection</option>
            </select>
        </span>
      	<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Select Condition:</label>
        <span class="s-custom-select-wrapper">
          	<select id="u52_input" class="form-control s-custom-select" style="-webkit-appearance: menulist-button; border-color: rgb(153, 153, 153);"
          			ng-model="selectedFilterProperty.selectedCriteriaType" 
            		ng-options="oneToManyOption as oneToManyOption.display 
            					for oneToManyOption in oneToManyOptions 
            					" 	
          	>
          		<option selected="selected" value="">Select Condition</option>
            </select>
        </span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>