  <div class="s-filter-group-item">
    <div class="form-group form-group-sm">
      <label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Condition:</label>
      <div class="col-sm-12 s-no-paddings">
        <span class="s-custom-select-wrapper">
          	<select id="u52_input" class="form-control s-custom-select" style="-webkit-appearance: menulist-button; border-color: rgb(153, 153, 153);"
          			ng-model="selectedFilterProperty.selectedCriteriaType" 
            		ng-options="conditionOption as conditionOption.display 
            					for conditionOption in conditionOptions 
            					" 	
            		ng-change="selectedConditionChanged(selectedFilterProperty)"
          	>
          		<option selected="selected" value="">Select Condition</option>
            </select>
        </span>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group form-group-sm">
		<label ng-show="selectedFilterProperty.showCriteriaValue" class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Value:</label>
		<div class="col-sm-12 s-no-paddings" ng-show="selectedFilterProperty.showCriteriaValue">
			<input  style="" type="number" class="form-control" 
					ng-model="selectedFilterProperty.criteriaValue"
					
					/>
		</div>
      	<label ng-show="selectedFilterProperty.selectedCriteriaType.showCriteriaEnd" class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Start Range:</label>
		
		<p class="input-group" ng-show="selectedFilterProperty.selectedCriteriaType.showCriteriaStart">
		  <input 	type="number" class="form-control" 
		  			ng-model="selectedFilterProperty.criteriaRangeStart" 
		  			ng-change="criteriaRangeChanged(selectedFilterProperty)"
		  			ng-disabled="selectedFilterProperty.selectedCriteriaType.disableCriteriaStart"
		  			/>
		</p>
		<label ng-show="selectedFilterProperty.selectedCriteriaType.showCriteriaEnd" class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">End Range:</label>
		  
		    <p class="input-group" ng-show="selectedFilterProperty.selectedCriteriaType.showCriteriaEnd">
		  <input 	type="number" class="form-control" 
		  			ng-model="selectedFilterProperty.criteriaRangeEnd" 
		  			ng-change="criteriaRangeChanged(selectedFilterProperty)"
		  			ng-disabled="selectedFilterProperty.selectedCriteriaType.disableCriteriaEnd"
		  			/>
		</p>
      <div class="clearfix"></div>
    </div>
  </div>
