
<li ng-class="{'s\-disabled':filterItem.$$disabled}" >
 
  <!--- Filter display --->
  <div class="s-filter-item" ng-show="!filterItem.$$isNew">
  	<div ng-if="filterItem.logicalOperator" class="btn-group-vertical btn-toggle">
      <button class="btn btn-xs " 
      			ng-click="logicalOperatorChanged('AND')" 
      			ng-class="{'btn\-default':filterItem.logicalOperator !== 'AND'}"
      			>
      			AND
      </button>
      <button class="btn btn-xs " 
      			ng-class="{'btn\-default':filterItem.logicalOperator !== 'OR'}"
      			ng-click="logicalOperatorChanged('OR')"
      			>
      			OR
      </button>
    </div>
    <div class="panel panel-default"  ng-class="{'s\-focus':!filterItem.$$isClosed}" >
      <div class="panel-heading">
      	<span ng-bind="filterItem.displayPropertyIdentifier | truncate:15"></span> 
      	<a href="##" class="j-tool-tip-item" 
      		data-toggle="tooltip" data-placement="top" 
      		title="" data-original-title="Remove" 
      		
      		>
      			<i class="fa fa-times"
      				ng-click="removeFilterItem()"
      				>
      			</i>
      	</a>
      </div>
      <div ng-click="selectFilterItem(filterItem)" ng-class="{}"   class="panel-body j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" title="Click To Edit">
        <span ng-bind="filterItem.comparisonOperator"></span>&nbsp;<span ng-bind="filterItem.displayValue | truncate:15"></span> <a  href="##"><i class="fa fa-pencil-square-o"></i></a>
      </div>
    </div>
    
  </div>
  <!--- //Filter display --->

  <!--- Edit Filter Box --->
  <span sw-edit-filter-item
  		data-filter-item="filterItem"
  		data-filter-properties-list="filterPropertiesList"
  		ng-if="filterPropertiesList.hasOwnProperty(baseEntityAlias)"
  		data-save-collection="saveCollection()"
  		data-filter-item-index="filterItemIndex"
  		data-remove-filter-item="removeFilterItem({filterItemIndex:filterItemIndex})"
  >
  </span>
  <!--- //Edit Filter Box --->

</li>