<!-- Example Logout Form - This will be used with login form through events -->
<sw-form
    data-is-process-form="true"
    data-object="Account_Logout"
    data-on-success="hide:Account_Logout,show:Account_Login"
    data-action="$logout"
    data-form-class="cssform"
    data-error-class="error">
    
    <sw-action-caller 
        action="$logout"
        modal="false" 
        type="button" 
        class="btn" 
        title="Logout" 
        text="Logout">
    <sw-action-caller>
    
        
</sw-form>
