<!-- Example Logout Form - This will be used with login form through events -->
<sw-form
    data-is-process-form="true"
    data-object="Account_Logout"
    data-on-success="hide:Account_Logout,show:Account_Login"
    data-action="$logout"
    data-form-class="cssform"
    data-error-class="error">

    <swf-property-display
        data-name="Logout" 
        data-type="submit" 
        data-class="formControl">Logout
    </swf-property-display>
    
    <!---<sw-action-caller 
        action="public:account.logout"
        modal="false" 
        type="link" 
        class="btn" 
        title="Submit" 
        text="Logout">
    <sw-action-caller>--->
        
</sw-form>
