<!-- Example Add Promotion Form - Event should update the promotion listing on success -->
<sw-form
    data-is-process-form="true"
    data-object="AddPromotionCode"
    data-form-class="cssform"
    data-error-class="error"
    data-on-success="refresh:PromotionDisplay">
    
    <swf-property-display 
        data-name="promotionCode"
        data-type="text"
        data-object="Order_AddPromotionCode" 
        data-property-identifier="promotionCode"
        data-label-text="Promotion Code:"
        data-class="formControl"
        data-editing="true">
    </swf-property-display>
    
    <sw-action-caller 
        data-action="$addPromotionCode"
        data-modal="false" 
        data-type="button" 
        data-class="btn" 
        data-text="Add Promotion Code">
    </sw-action-caller>
    
</sw-form>
