<!DOCTYPE html>
<html lang="en" ng-app="slatwalladmin">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Products | Slatwall</title>

		<link rel="icon" href="/assets/images/favicon.png" type="image/png">
		<link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="/org/Hibachi/HibachiAssets/css/jquery-ui-1.9.2.custom.css" rel="stylesheet">
		<link href="/admin/client/css/main.css" rel="stylesheet">
		<link href="/assets/flags/css/flag-icon.min.css" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="/client/lib/metismenu/metismenu.css" rel="stylesheet">
		<link href="/client/lib/ngTagsInput/ng-tags-input.css" rel="stylesheet">
		

		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/jquery-ui-1.9.2.custom.min.js"></script>
		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/jquery-ui-timepicker-addon-1.3.1.js"></script>
		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/jquery-validate-1.9.0.min.js"></script>
		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/jquery-typewatch-2.0.js"></script>
		<script type="text/javascript" src="/client/lib/selectBoxIt/selectBoxIt.min.js"></script>

		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/hibachi-scope.js"></script><script type="text/javascript">(function( $ ){$.slatwall = new Hibachi({"rbLocale":"en_us","timeFormat":"hh:mm tt","instantiationKey":"56F7EDDC-C8DE-E248-23C7259A2EC812D9","debugFlag":true,"action":"slatAction","dateFormat":"mmm dd, yyyy","baseURL":""});})( jQuery );</script> 
		<script type="text/javascript">
			var hibachiConfig = $.slatwall.getConfig();
		</script>
		<script type="text/javascript" src="/org/Hibachi/HibachiAssets/js/global.js"></script>
		<script type="text/javascript" src="/assets/js/admin.js"></script>

		<script type="text/javascript" src="/org/Hibachi/ckeditor/ckeditor.js"></script><style>.cke{visibility:hidden;}</style>
		<script type="text/javascript" src="/org/Hibachi/ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript" src="/org/Hibachi/ckfinder/ckfinder.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

	</head>
	<body>
		<section class="s-ds-header">
			<div class="container">
				<h1>Slatwall Design System</h1>
				<p>Slatwall's design system was created to help our team solve some of the pain points of maintaing, test, and evloveing our current css & HTML structures.  The system is based on Brad Frost's <a href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic Design Concept</a>.</p>
			</div>
		</section>
		
		<section class="container">
			
			<div class="row">
						
				<div class="col-sm-3">
					<div class="s-ds-sidebar">
						
						<div class="s-ds-sidebar-group">
							<h2>Atoms</h2>
							<ul class="list-unstyled">
								<li><a href="#buttons-link">Buttons</a></li>
								<li><a href="#typography-link">Typography</a></li>
								<li><a href="#form-elements-link">From Elements</a></li>
							</ul>
						</div>
						
						<div class="s-ds-sidebar-group">
							<h2>Molecules</h2>
							<ul class="list-unstyled">
								<li><a href="#action-list-elements-link">Action List Elements</a></li>
								<li><a href="#modals-link">Modals</a></li>
								<li><a href="#comments-link">Comments</a></li>
								<li><a href="#validation-link">Validation</a></li>
								<li><a href="#alerts-link">Alerts</a></li>
							</ul>
						</div>
						
						<div class="s-ds-sidebar-group">
							<h2>Organisms</h2>
							<ul class="list-unstyled">
								<li><a href="#tables-link">Tables</a></li>
								<li><a href="#add-gift-card-recipient">Add Gift Card Recipient</a></li>
							</ul>
						</div>
						
					</div>
				</div>
				<div class="col-sm-9">
					
					<div class="s-ds-type-group">
						<h2>Atoms</h2>
						
						<!-- Buttons -->
						<div class="s-ds-type-item" id="buttons-link">
							<h3>Buttons</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Buttons Colors</h4>
									
									<!-- Start -->
									<div class="row">
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-primary">Primary Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-warning">Warning Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-default">Default Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-danger">Danger Button</button>
									    </div>
									</div>
									<br/>
									<div class="row">
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-success">Success Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-inverse">Inverse Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-info">Info Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-default disabled">Disabled Button</button>
									    </div>
									</div>
									<br/>
									<div class="row">
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block s-btn-ten24">Call To Action Button</button>
									    </div>
									    <div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-dgrey">Dark Grey</button>
									    </div>
										<div class="col-sm-3">
									        <button href="#" class="btn btn-block btn-no-style">No Style</button>
									    </div>
									</div>
									<!-- /End -->
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Button Size</h4>
									
									<!-- Start -->
									<ul class="list-unstyled list-inline s-ds-obj-listing">
										<li>
											<button href="#" class="btn btn-primary btn-xs">Extra Small</button>
										</li>
										<li>
											<button href="#" class="btn btn-primary btn-sm">Small</button>
										</li>
										<li>
											<button href="#" class="btn btn-primary">Defualt</button>
										</li>
										<li>
											<button href="#" class="btn btn-primary btn-lg">Large</button>
										</li>
									</ul>
									<!-- /End -->
									
								</div>
				
							</div>
						</div>
						
						<!-- Typography -->
						<div class="s-ds-type-item" id="typography-link">
							<h3>Typography</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Heading Tags</h4>
									
									<!-- Start -->
									<h1>Heading 1</h1>
									
									<h2>Heading 2</h2>
									
									<h3>Heading 3</h3>
									
									<h4>Heading 4</h4>
									
									<h5>Heading 5</h5>
									
									<h6>Heading 6</h6>
									<!-- /End -->
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Paragraph</h4>
									
									<!-- Start -->
									<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
									<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
									<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
									<!-- /End -->
									
								</div>
				
							</div>
							
						</div>
						
						<!-- Form Elements -->
						<div class="s-ds-type-item" id="form-elements-link">
							<h3>Form Elements</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Basic Elements</h4>
									<div class="form-group">
							            <label class="control-label">Text Field (input-xs)</label>
							            <input type="text" class="form-control input-xs" />
							        </div>
									<div class="form-group">
							            <label class="control-label">Text Field (input-sm)</label>
							            <input type="text" class="form-control input-sm" />
							        </div>
									<div class="form-group">
							            <label class="control-label">Text Field (no style)</label>
							            <input type="text" class="form-control" />
							        </div>
									<div class="form-group">
							            <label class="control-label">Text Field (input-lg)</label>
							            <input type="text" class="form-control input-lg" />
							        </div>
							        <div class="form-group">
							            <label class="control-label">Text Area</label>
							            <textarea class="form-control"></textarea>
							        </div>
							        <div class="form-group">
							            <label>Select Element</label>
							            <select class="form-control" name="select_element">
							                <optgroup label="Option Group 1">
							                    <option value="1">Option 1</option>
							                    <option value="2">Option 2</option>
							                    <option value="3">Option 3</option>
							                </optgroup>
							                <optgroup label="Option Group 2">
							                    <option value="1">Option 1</option>
							                    <option value="2">Option 2</option>
							                    <option value="3">Option 3</option>
							                </optgroup>
							            </select>
							        </div>
							        <div class="form-group">
							            <label for="radio_buttons">Radio Buttons:</label>
							            <div class="radio">
							                <input type="radio" name="radio" id="radio1" value="option1">
							                <label for="radio1">
							                Radio One
							                </label>
							            </div>
							            <div class="radio">
							                <input type="radio" name="radio" id="radio2" value="option2">
							                <label for="radio2">
							                Radio Two
							                </label>
							            </div>
							            <div class="radio">
							                <input type="radio" name="radio" id="radio3" value="option3">
							                <label for="radio3">
							                Radio Three
							                </label>
							            </div>
							        </div>
							        <div class="form-group">
							            <label for="checkboxes">Checkboxes:</label>
							            <div class="s-checkbox">
							                <input type="checkbox" id="checkbox1">
							                <label for="checkbox1"> Checkbox One</label>
							            </div>
							            <div class="s-checkbox">
							                <input type="checkbox" id="checkbox2">
							                <label for="checkbox2"> Checkbox Two</label>
							            </div>
							            <div class="s-checkbox">
							                <input type="checkbox" id="checkbox3">
							                <label for="checkbox3"> Checkbox Three</label>
							            </div>
							        </div>
							        <div class="form-group">
							            <label for="password">Password:</label>
							            <input type="password" class="password form-control" name="password" />
							        </div>
							        <div class="form-group">
							            <label for="file">File Input:</label>
							            <input type="file" class="file" name="file" />
							        </div>
									<div class="form-group">
										<label for="file">Toggle:</label><br/>
										<div class="s-toggle-switch">
                                            <input name="t4" type="hidden" value="0" />
                                            <input id="t4" name="t4" type="checkbox" value="1" checked />
                                            <div class="btn">
                                                <label for='t4'>
                                                    <div class="s-toggle-switch-on btn btn-success"> 
                                                        Active
                                                    </div>
                                                    <div class="s-toggle-switch-handle btn btn-default"></div>
                                                    <div class="s-toggle-switch-off btn">
                                                        Disabled 
                                                    </div>
                                                </label>
                                            </div>
										</div>
							        </div>
								</div>
				
							</div>
						</div>
						
					</div>
					
					<div class="s-ds-type-group">
						<h2>Molecules</h2>
						
						<!-- Action List Elements -->
						<div class="s-ds-type-item" id="action-list-elements-link">
							<h3>Action List Elements</h3>
							<div class="s-ds-type-item-objs">
								
								
								<div class="s-ds-type-item-obj">
									<h4>Multiple select list</h4>
									
									<div ng-controller="MainCtrl">
										<tags-input ng-model="locations" add-on-paste="true">
											<auto-complete placeholder="" source="loadLocations($query)"></auto-complete>
										</tags-input>
										<p>Model: {{locations}}</p>
									</div>
									
									<!-- Start -->
									<div class="s-select-list-wrapper s-search">
									    <div class="form-group">
									        <!-- Option select field wrapper -->
									        <div class="input-group">
									            <div class="s-input-btn">
									                <input id="searchinput" type="search" class="form-control">
									                <span class="glyphicon glyphicon-remove"></span>
									                <!--<i class="fa fa-refresh fa-spin"></i>--><!-- Loading Icon -->
									            </div>
									            <div class="input-group-btn">
									                <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-caret-down"></i></button>
									            </div>
									        </div>
									    </div>
									    <!-- Dropdown wrapper -->
									    <div class="dropdown s-search-results-wrapper">
									        <ul class="dropdown-menu">
									            <li><a href="##">Item One</a></li>
									            <li><a href="##">Item Two</a></li>
									            <li><a href="##">Item Three</a></li>
									            <li><a href="##">Item Four</a></li>
									            <li><a href="##">Item Five</a></li>
									        </ul>
									    </div>
									</div>
									<!-- /End -->
									
								</div>
								
								
								<div class="s-ds-type-item-obj">
									<h4>Select From a List</h4>
									
									<!-- Start -->
									<div class="s-select-list-wrapper s-search">
									    <div class="form-group">
									        <!-- Option select field wrapper -->
									        <div class="input-group">
									            <div class="s-input-btn">
									                <input id="searchinput" type="search" class="form-control">
									                <span class="glyphicon glyphicon-remove"></span>
									                <!--<i class="fa fa-refresh fa-spin"></i>--><!-- Loading Icon -->
									            </div>
									            <div class="input-group-btn">
									                <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-caret-down"></i></button>
									            </div>
									        </div>
									    </div>
									    <!-- Dropdown wrapper -->
									    <div class="dropdown s-search-results-wrapper">
									        <ul class="dropdown-menu">
									            <li><a href="##">Item One</a></li>
									            <li><a href="##">Item Two</a></li>
									            <li><a href="##">Item Three</a></li>
									            <li><a href="##">Item Four</a></li>
									            <li><a href="##">Item Five</a></li>
									        </ul>
									    </div>
									</div>
									<!-- /End -->
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Add a List</h4>
									
									<!-- Start -->
									<div class="s-select-list-wrapper">
									    <!-- Add select component Wrapper -->
									    <div class="form-group">
									        <!-- Option select field wrapper -->
									        <div class="input-group">
									            <div class="s-input-btn">
									                <input id="searchinput" type="search" class="form-control">
									                <span class="glyphicon glyphicon-remove"></span>
									                <!--<i class="fa fa-refresh fa-spin"></i>--><!-- Loading Icon -->
									            </div>
									            <div class="input-group-btn">
									                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-plus"></i></button>
									            </div>
									        </div>
									    </div>
									    <div class="s-selected-list">
									        <!-- Selected options wrapper -->
									        <div class="alert s-selected-item">
									            <!-- Example Item 2 -->
									            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									            Search Result Title 1
									        </div>
									        <div class="alert s-selected-item">
									            <!-- Example Item 2 -->
									            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									            Search Result Title 2
									        </div>
									    </div>
									</div>
									<!-- /End -->
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Add a List W/Select Drop-Down</h4>
									
									<!-- Start -->
									<div class="s-select-list-wrapper s-dropdown">
									    <!-- Add select component Wrapper -->
									    <div class="form-group">
									        <!-- Option select field wrapper -->
									        <div class="input-group">
									            <div class="s-input-btn">
									                <input id="searchinput" type="search" class="form-control">
									                <span class="glyphicon glyphicon-remove"></span>
									                <!--<i class="fa fa-refresh fa-spin"></i>--><!-- Loading Icon -->
									            </div>
									            <div class="input-group-btn">
									                <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-caret-down"></i></button>
									                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-plus"></i></button>
									            </div>
									        </div>
									    </div>
									    <div class="dropdown s-search-results-wrapper">
									        <!-- Dropdown wrapper -->
									        <ul class="dropdown-menu">
									            <li><a href="##">Item One</a></li>
									            <li><a href="##">Item Two</a></li>
									            <li><a href="##">Item Three</a></li>
									            <li><a href="##">Item Four</a></li>
									            <li><a href="##">Item Five</a></li>
									        </ul>
									    </div>
									    <div class="s-selected-list">
									        <!-- Selected options wrapper -->
									        <div class="alert s-selected-item">
									            <!-- Example Item 2 -->
									            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									            Search Result Title 1
									        </div>
									        <div class="alert s-selected-item">
									            <!-- Example Item 2 -->
									            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									            Search Result Title 2
									        </div>
									    </div>
									</div>
									<!-- /End -->
									
									<script charset="utf-8">
									    //Not for production use
									    $('.s-select-list-wrapper input').focusin(function() {
									    	$(this).closest('.s-select-list-wrapper').find('.s-search-results-wrapper').show();
									    }).focusout(function () {
											$(this).closest('.s-select-list-wrapper').find('.s-search-results-wrapper').hide();
									    });
									    $('.s-search-results-wrapper').hide();
									</script>
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Search users dropdown</h4>
									<button class="btn btn-default" id="addDropdown-add-btn">Show Add Account</button>
									<button class="btn btn-default" id="addDropdown-show-dropdown">Show Dropdown</button>
									<button class="btn btn-default" id="addDropdown-filledName">Show Filled Name</button>
									<button class="btn btn-default" id="addDropdown-remove-all">Hide All</button><br/><br/>
									
									<!-- Start -->            
				                    <div class="s-search">
				                        <div class="input-group" >
				                            <input type="text" placeholder="Search" class="form-control">
											<a href="##" class="s-current-selection-item addDropdown <!---Remove addDropdown---> addDropdown-filledName-input <!--- Remove addDropdown-filledName-input --->" title="remove"><i class="fa fa-times"></i> Reyjay Solares</a>
				                            <ul class="dropdown-menu addDropdown <!---Remove addDropdown---> addDropdown-dropdown <!--- Remove addDropdown-dropdown --->"><!-- display block should be replaced with js(angular) -->
				                                
												<!-- Item-->
												<li>
													<a>
														<div class="row">
															<div class="col-xs-2 s-photo">
																<img src="http://placehold.it/350x350">	
															</div>
															<div class="col-xs-10 s-info">
																<div class="s-name">Reyjay Solares</div>
																<div class="s-email">reinaldosolares@gmail.com</div>
															</div>
														</div>
													</a>
												</li>
												<!-- //Item-->
												<!-- Item-->
												<li>
													<a>
														<div class="row">
															<div class="col-xs-2 s-photo">
																<img src="http://placehold.it/350x350">	
															</div>
															<div class="col-xs-10 s-info">
																<div class="s-name">Reyjay Solares</div>
																<div class="s-email">reinaldosolares@gmail.com</div>
															</div>
														</div>
													</a>
												</li>
												<!-- //Item-->
												
				                            </ul>
				                            <div class="input-group-btn">
				                                <button type="button" class="btn btn-sm btn-default">
				                                <span class="fa fa-caret-up"></span>
				                                </button>
				                            </div>
				                        </div>
				                        <div class="addDropdown <!---Remove addDropdown---> addDropdown-dropdown <!--- Remove addDropdown-dropdown --->">
				                            <!-- Only show if there is text -->
				                            <button type="button" class="btn btn-primary">
				                            	<i class="fa fa-plus"></i> Add "New Name Would Be Here"
				                            </button>
				                        </div>
										<div class="s-add-info-dropdown addDropdown <!---Remove addDropdown---> addDropdown-add-account <!--- Remove addDropdown-add-account --->">
											<form class="s-add-info-dropdown-inner">
												<h5>Add New Customer</h5>
												<div class="form-group has-error">
													<label>Group Name<i class="fa fa-asterisk"></i></label>
													<input type="text" class="form-control">
													<p class="help-block">Example Of Error</p>
												</div>
												<div class="form-group">
													<label>Group Code</label>
													<input type="text" class="form-control">
												</div>
												<div class="form-group">
													<label>Group Description</label>
													<textarea class="field form-control" rows="4"></textarea>
												</div>
												<div class="form-group">
													<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Group Type</button>
												</div>
											</form>
										</div>
									</div>
									<!-- //End -->
									
									<script type="text/javascript">
										$('.addDropdown').hide();
										$('#addDropdown-add-btn').click(function(){
											$('.addDropdown').hide();
											$('.addDropdown-add-account').show();
										});
										$('#addDropdown-filledName').click(function(){
											$('.addDropdown').hide();
											$('.addDropdown-filledName-input').show();
										});
										$('#addDropdown-show-dropdown').click(function(){
											$('.addDropdown').hide();
											$('.addDropdown-dropdown').show();
										});
										$('#addDropdown-remove-all').click(function(){
											$('.addDropdown').hide();
										});
									</script>
									
									<br/><br/><br/><br/><br/><br/>
								</div>
								
							</div>
						</div>
						
						<!-- Modals -->
						<div class="s-ds-type-item" id="modals-link">
							<h3>Modals</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Delete Confirmation Modal</h4>
									
									<!-- Start -->
									<a title="Delete" class="adminentitydeleteproduct btn btn-default s-remove alert-confirm" target="_self" href="##" data-confirm="Are you sure you would like to delete this Product?"><i class="glyphicon glyphicon-trash icon-white"></i> Delete</a>
									
									<div id="adminConfirm" class="modal">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Confirm</h3></div>
												<div class="modal-body"></div>
												<div class="modal-footer">
													<a href="#" target="_self" class="btn btn-sm btn-default btn-inverse" data-dismiss="modal" id="confirmNoLink"><i class="icon-remove icon-white"></i> No</a>
													<a href="#" target="_self" class="btn btn-sm btn-default btn-primary" id="confirmYesLink"><i class="icon-ok icon-white"></i> Yes</a>
												</div>
											</div>
										</div>
									</div>
									<!-- /End -->
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Delete Disabled Modal</h4>
									
									<!-- Start -->
									<a title="Delete" class="adminentitydeleteaccount btn btn-primary s-remove btn-disabled" target="_self" href="##" data-disabled="<p class='error'>This Account can not be deleted because it has Orders assigned to it.</p>"><i class="glyphicon glyphicon-trash icon-white"></i> Delete</a>
									
									<div id="adminDisabled" class="modal in" aria-hidden="false" style="display: none;">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Disabled</h3></div>
												<div class="modal-body"><p class="error">This Account can not be deleted because it has Orders assigned to it.</p></div>
												<div class="modal-footer">
													<a href="#" class="btn btn-sm btn-default btn-inverse" data-dismiss="modal" id="disabledOkLink"><i class="icon-ok icon-white"></i> Ok</a>
												</div>
											</div>
										</div>
									</div>
									<!-- /End -->
									
								</div>
				
							</div>
						</div>
						
						<!-- Comments -->
						<div class="s-ds-type-item" id="comments-link">
							<h3>Comments</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Add/View Comments</h4>
									
									<!-- Start -->
									<div class="panel panel-default s-comments-component">
									    <div class="panel-body">
									        <ul class="list-group">
									            <!-- Example Add Comment -->
									            <li class="list-group-item">
									                <div class="row">
									                    <div class="col-xs-2 col-md-1">
									                        <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
									                    </div>
									                    <div class="col-xs-10 col-md-11">
									                        <div class="s-comment-text">
									                            <textarea class="form-control" rows="3" placeholder="Type your comment..."></textarea>
									                        </div>
									                        <div class="action">
									                            <button type="button" class="btn btn-success btn-xs" title="Approved">
									                            <span class="fa fa-check"></span> Save
									                            </button>
									                        </div>
									                    </div>
									                </div>
									            </li>
									            <!-- Example Comment -->
									            <li class="list-group-item">
									                <div class="row">
									                    <div class="col-xs-2 col-md-1">
									                        <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
									                    </div>
									                    <div class="col-xs-10 col-md-11">
									                        <div>
									                            <div class="s-author">Reyjay Solares <span class="s-security">(private)</span></div>
									                            <div class="s-info">
									                                August 2, 2015 / 3:15pm
									                            </div>
									                        </div>
									                        <div class="s-comment-text">
									                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla.
									                        </div>
									                        <div class="action">
									                            <button type="button" class="btn btn-default btn-xs" title="Edit">
									                            <span class="fa fa-pencil"></span> Edit
									                            </button>
									                            <button type="button" class="btn btn-default btn-xs s-remove" title="Delete">
									                            <span class="fa fa-trash"></span> Delete
									                            </button>
									                        </div>
									                    </div>
									                </div>
									            </li>
									            <!-- Example Comment -->
									            <li class="list-group-item">
									                <div class="row">
									                    <div class="col-xs-2 col-md-1">
									                        <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
									                    </div>
									                    <div class="col-xs-10 col-md-11">
									                        <div>
									                            <div class="s-author">Jame Earl <span class="s-security">(public)</span></div>
									                            <div class="s-info">
									                                July 25, 2015 / 9:30am
									                            </div>
									                        </div>
									                        <div class="comment-text">
									                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui.
									                        </div>
									                        <div class="action">
									                            <button type="button" class="btn btn-default btn-xs" title="Edit">
									                            <span class="fa fa-pencil"></span> Edit
									                            </button>
									                            <button type="button" class="btn btn-default btn-xs s-remove" title="Delete">
									                            <span class="fa fa-trash"></span> Delete
									                            </button>
									                        </div>
									                    </div>
									                </div>
									            </li>
									        </ul>
									    </div>
									</div>
									<!-- /End -->
									
								</div>
				
							</div>
						</div>
						
						<!-- Validation -->
						<div class="s-ds-type-item" id="validation-link">
							<h3>Validation</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Validation Form Classes</h4>
									
									<!-- Start -->
								    <strong>ng-pristine:</strong> The filed has never had text inputed in it.<br/>
								    <strong>ng-dirty:</strong> The form field has been entered at some point.<br/>
								    <strong>ng-invalid:</strong> The field requires validaiton that has not been met.<br/>
								    <strong>ng-valid:</strong> The fields is valid and ready to submit.<br/>
									<!-- /End -->
									
								</div>
				
							</div>
							
							<div class="s-ds-type-item-objs">
								<div class="s-ds-type-item-obj">
									<h4>Validation Errors</h4>
									
									<!-- Start -->
								    <div class="form-group">
									    <label for="name" class="col-md-3">Example Input Error<i class="fa fa-asterisk"></i></label>
									    <div class="col-md-9 s-form-input">
										    <input type="text" class="form-control ng-invalid ng-touched">
										    <p class="error help-block">You must provide a valid first name.</p>
									    </div>
								    </div>
								    <div class="form-group">
									    <label for="name" class="col-md-3">Example Select Error<i class="fa fa-asterisk"></i></label>
									    <div class="col-md-9 s-form-input">
										    <select class="form-control ng-invalid ng-touched">
											    <option disabled selected>-Select State-</option>
											    <option value="">California</option>
											    <option value="">Florida</option>
											    <option value="">Boston</option>
										    </select>
									    	<p class="error help-block">You must provide a valid first name.</p>
										</div>
									</div>
									<!-- /End -->
									
								</div>
							</div>
							
						</div>
						
						<!-- Alerts -->
						<div class="s-ds-type-item" id="alerts-link">
							<h3>Alerts</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Pop-Up Alerts</h4>
									<div class="alert alert-warning">
			    						<strong>Warning Message!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
									</div>
									<div class="alert alert-error">
									    <strong>Error Message!</strong> Numquam quos fuga quam suscipit sapiente perferendis magnam. 
									</div>
									<div class="alert alert-success">
									    <strong>Success Message!</strong> Totam officiis dolorum voluptatibus maxime molestiae iste.
									</div>
									<div class="alert alert-info">
									    <strong>Info Message!</strong> Consequatur facere deleniti cumque ducimus maiores nemo.
									</div>
								</div>
				
							</div>
						</div>
						
					</div>
					
					<div class="s-ds-type-group">
						<h2>Organisms</h2>
						
						<!-- Tables -->
						<div class="s-ds-type-item" id="tables-link">
							<h3>Tables</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Default Table Structure</h4>
									
									<!-- Start -->
									<div class="table-responsive s-filter-table-box">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th style="display:none">Row</th>
													<!-- ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope ng-hide" ng-bind="column.title" ng-show="column.isVisible">File ID</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope" ng-bind="column.title" ng-show="column.isVisible">Active</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope" ng-bind="column.title" ng-show="column.isVisible">File Type</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope" ng-bind="column.title" ng-show="column.isVisible">MIME Type</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope" ng-bind="column.title" ng-show="column.isVisible">File Name</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope" ng-bind="column.title" ng-show="column.isVisible">File Description</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable ng-scope" ng-bind="column.title" ng-show="column.isVisible">URL Title</th>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<th>
													</th>
												</tr>
											</thead>
											<tbody>
												<!-- ngRepeat: pageRecord in collection.pageRecords -->
												<tr ng-repeat="pageRecord in collection.pageRecords" class="ng-scope">
													<td style="display:none">
														<div class="s-checkbox"><input type="checkbox" id="j-checkbox"><label for="j-checkbox"></label></div>
													</td>
													<!-- ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope ng-hide">8a8080824bffd8a8014c0481ec750023</td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope">YES </td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope">pdf</td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope">application/pdf</td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope">Test file name</td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope">&lt;p&gt;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&lt;/p&gt;
														&lt;p&gt;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.&lt;/p&gt;
														&lt;p&gt;Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.&lt;/p&gt;
													</td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[column.key]" ng-show="column.isVisible" class="ng-binding ng-scope">test-file-name</td>
													<!-- end ngRepeat: (key,column) in collectionConfig.columns -->
													<td class="s-edit-elements">
														<a class="btn btn-default btn-xs" href="?slatAction=entity.detailfile&amp;fileID=8a8080824bffd8a8014c0481ec750023" target="_self"><i class="glyphicon glyphicon-eye-open"></i></a>
														<a class="btn btn-default btn-xs" href="?slatAction=entity.editfile&amp;fileID=8a8080824bffd8a8014c0481ec750023" target="_self"><i class="glyphicon glyphicon-pencil"></i></a>
													</td>
												</tr>
												<!-- end ngRepeat: pageRecord in collection.pageRecords -->
											</tbody>
										</table>
									</div>
									<!-- /End -->
									
								</div>
				
							</div>
						</div>
						
						<!-- Tables -->
						<div class="s-ds-type-item" id="add-gift-card-recipient">
							<h3>Add Gift Card Recipient</h3>
							<div class="s-ds-type-item-objs">
								
								<div class="s-ds-type-item-obj">
									<h4>Gift card table with no data view</h4>
									
									<!-- Start -->
									<hr/>
									<h5>Assign Gift Cards <strong>(5)</strong></h5>
									<div class="table-responsive s-gift-card-table">
									    <div class="alert alert-info" role="alert">Use the recipient add or search field below to add gift recipients for the gift cards selected.  You have selected <strong>5</strong> gift card/s to assign</div>
									</div>
									
									<div class="form-group ">
										
										<div class="s-search-filter s-gift-card">
					                        <div class="input-group">
												<div class="s-search">
					                            	<input type="text" placeholder="search or add recipient..." class="form-control">
													<i class="fa fa-search"></i>
												</div>
												<span href="##" class="s-current-selection-item addDropdown <!---Remove addDropdown---> addDropdown-filledName-input <!--- Remove addDropdown-filledName-input --->"> Reyjay Solares (reinaldosolares@gmail.com) <a href="##" title="edit"><i class="fa fa-pencil"></i></a></span>
					                            <ul class="dropdown-menu addDropdown <!---Remove addDropdown---> addDropdown-dropdown <!--- Remove addDropdown-dropdown --->"><!-- display block should be replaced with js(angular) -->
					                                
													<!-- Item-->
													<li>
														<a>
															<div class="row">
																<div class="col-xs-2 s-photo">
																	<img src="http://placehold.it/350x350">	
																</div>
																<div class="col-xs-10 s-info">
																	<div class="s-name">Reyjay Solares</div>
																	<div class="s-email">reinaldosolares@gmail.com</div>
																</div>
															</div>
														</a>
													</li>
													<!-- //Item-->
													<!-- Item-->
													<li>
														<a>
															<div class="row">
																<div class="col-xs-2 s-photo">
																	<img src="http://placehold.it/350x350">	
																</div>
																<div class="col-xs-10 s-info">
																	<div class="s-name">Reyjay Solares</div>
																	<div class="s-email">reinaldosolares@gmail.com</div>
																</div>
															</div>
														</a>
													</li>
													<!-- //Item-->
													
					                            </ul>
												
					                        </div>
					                        <div class="addDropdown <!---Remove addDropdown---> addDropdown-dropdown <!--- Remove addDropdown-dropdown --->">
					                            <!-- Only show if there is text -->
					                            <button type="button" class="btn btn-primary">
					                            	<i class="fa fa-plus"></i> Add "Bob Johnson"
					                            </button>
					                        </div>
											<div class="s-add-info-dropdown addDropdown <!---Remove addDropdown---> addDropdown-add-account <!--- Remove addDropdown-add-account --->">
												<form>
													<h5>Create New Recipient</h5>
													<div class="form-group">
														<label>Name<i class="fa fa-asterisk"></i></label>
														<input type="text" class="form-control">
													</div>
													<div class="form-group">
														<label>Email</label>
														<input type="text" class="form-control">
													</div>
													<div class="form-group">
														<label>Qty</label>
														<select class="form-control">
															<option value="">1</option>
														</select>
													</div>
													<div>
														<button type="button" class="btn btn-sm btn-primary">Add Recipient</button>
													</div>
												</form>
											</div>
										</div>
											
									</div>
									<!-- //End -->
									
								</div>
								
								<div class="s-ds-type-item-obj">
									<h4>Gift card table with data view</h4>
									
									<!-- Start -->
									<hr/>
									<h5>Assign Gift Cards <strong>(5)</strong></h5>
									<div class="table-responsive s-gift-card-table">
									    <table class="table table-bordered table-hover">
									        <thead>
									            <tr>
									                <th>Name / Account</th>
													<th>Email</th>
													<th>Qty (5)</th>
													<th></th>
									            </tr>
									        </thead>
									        <tbody>
									            <tr>
									                <td>Reinaldo Solares</td>
									                <td>reinaldosolares@gmail.com</td>
													<td class="s-table-input-element">
														<select class="form-control s-table-sm-select" >
															<option value="" selected>1</option>
														</select>
													</td>
									                <td class="admin admin2">
														<a class="btn btn-default btn-xs" href="##"><i class="glyphicon glyphicon-pencil"></i> </a> 
														<a class="btn btn-default btn-xs" href="##"><i class="glyphicon glyphicon-trash"></i> </a> 
									                </td>
									            </tr>
												<tr class="s-save-row"><!-- s-save-row is added to rows that are being saved and removed after  -->
													<td class="s-table-input-element">
														<input type="text" value="John Rowe" class="form-control">
													</td>
									                <td class="s-table-input-element">
									                	<input type="text" value="johnrowe@yahoo.com" class="form-control">
									                </td>
													<td class="s-table-input-element">
														<select class="form-control" >
															<option value="">1</option>
															<option value="" selected>2</option>
														</select>
													</td>
									                <td class="admin admin2">
														<a class="btn btn-default btn-xs btn-save" href="##">Save</a> 
									                </td>
									            </tr>
												<tr>
									                <td>Mark Freeze <a href="##"><i class="fa fa-user"></i></a></td>
									                <td>mark@gmail.com</td>
													<td class="s-table-input-element">
														<select class="form-control">
															<option value="">1</option>
															<option value="" selected>2</option>
														</select>
													</td>
									                <td class="admin admin2">
														<a class="btn btn-default btn-xs" href="##"><i class="glyphicon glyphicon-trash"></i> </a> 
									                </td>
									            </tr>
									        </tbody>
									    </table>
									</div>
									
									<div class="form-group ">
										
										<div class="s-search-filter s-gift-card">
					                        <div class="input-group">
												<div class="s-search">
					                            	<input type="text" placeholder="search or add recipient..." class="form-control">
													<i class="fa fa-search"></i>
												</div>
												<span href="##" class="s-current-selection-item addDropdown <!---Remove addDropdown---> addDropdown-filledName-input <!--- Remove addDropdown-filledName-input --->"> Reyjay Solares (reinaldosolares@gmail.com) <a href="##" title="edit"><i class="fa fa-pencil"></i></a></span>
					                            <ul class="dropdown-menu addDropdown <!---Remove addDropdown---> addDropdown-dropdown <!--- Remove addDropdown-dropdown --->"><!-- display block should be replaced with js(angular) -->
					                                
													<!-- Item-->
													<li>
														<a>
															<div class="row">
																<div class="col-xs-2 s-photo">
																	<img src="http://placehold.it/350x350">	
																</div>
																<div class="col-xs-10 s-info">
																	<div class="s-name">Reyjay Solares</div>
																	<div class="s-email">reinaldosolares@gmail.com</div>
																</div>
															</div>
														</a>
													</li>
													<!-- //Item-->
													<!-- Item-->
													<li>
														<a>
															<div class="row">
																<div class="col-xs-2 s-photo">
																	<img src="http://placehold.it/350x350">	
																</div>
																<div class="col-xs-10 s-info">
																	<div class="s-name">Reyjay Solares</div>
																	<div class="s-email">reinaldosolares@gmail.com</div>
																</div>
															</div>
														</a>
													</li>
													<!-- //Item-->
													
					                            </ul>
												
					                        </div>
					                        <div class="addDropdown <!---Remove addDropdown---> addDropdown-dropdown <!--- Remove addDropdown-dropdown --->">
					                            <!-- Only show if there is text -->
					                            <button type="button" class="btn btn-primary">
					                            	<i class="fa fa-plus"></i> Add "Bob Johnson"
					                            </button>
					                        </div>
											<div class="s-add-info-dropdown addDropdown <!---Remove addDropdown---> addDropdown-add-account <!--- Remove addDropdown-add-account --->">
												<form>
													<h5>Create New Recipient</h5>
													<div class="form-group">
														<label>First Name<i class="fa fa-asterisk"></i></label>
														<input type="text" class="form-control">
													</div>
													<div class="form-group">
														<label>Last Name<i class="fa fa-asterisk"></i></label>
														<input type="text" class="form-control">
													</div>
													<div class="form-group">
														<label>Email<i class="fa fa-asterisk"></i></label>
														<input type="text" class="form-control">
													</div>
													<div class="form-group">
														<label>Message (limited to 250)</label>
														<textarea class="form-control" rows="4"></textarea>
														<div class="s-character-count">
															Remaining characters: <strong>250</strong>
														</div>
													</div>
													<div class="form-group">
														<label>Qty</label>
														<select class="form-control">
															<option value="">1</option>
														</select>
													</div>
													<div>
														<button type="button" class="btn btn-sm btn-primary">Add Recipient</button>
													</div>
												</form>
											</div>
										</div>
											
									</div>
									<!-- //End -->
									
									<hr/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
									<button class="btn btn-default" id="card-addDropdown-add-btn2">Show Add Account</button>
									<button class="btn btn-default" id="card-addDropdown-show-dropdown2">Show Dropdown</button>
									
									<button class="btn btn-default" id="card-addDropdown-remove-all2">Hide All</button><br/><br/>
									<script type="text/javascript">
										$('.addDropdown').hide();
										$('#card-addDropdown-add-btn2').click(function(){
											$('.addDropdown').hide();
											$('.addDropdown-add-account').show();
										});
										
										$('#card-addDropdown-show-dropdown2').click(function(){
											$('.addDropdown').hide();
											$('.addDropdown-dropdown').show();
										});
										$('#card-addDropdown-remove-all2').click(function(){
											$('.addDropdown').hide();
										});
									</script>

								</div>
				
							</div>
						</div>
						
						
						
					</div>
					
				</div>
			</div>
				
		</section>
		
		<!-- For now I am leaving this css in the design system.  It's only use is to format the design systems layout, and not effect any elements within -->
		<style>
			/*Overwirtes*/
			body {
				padding:0px;
			}
					
			/*Header*/
			.s-ds-header {
				background: #F58620;
				color: #fff;
				padding: 30px;
			}
			.s-ds-header h1 {
				margin-top:0px;
			}
			.s-ds-header a {
				color: #fff;
				text-decoration: underline;
			}
			.s-ds-header a:hover {
				color: #eee;
			}
			
			/*Sidebar*/
			.s-ds-sidebar h2 {
				font-size: 22px;
				margin-bottom: 3px;
			}
			
			/*Type Object Group*/
			.s-ds-type-group > h2 {
				border-bottom: 2px solid #AAA;
				font-weight: 600;
				text-transform: uppercase;
			}
			.s-ds-obj-listing li {
				margin-bottom: 10px;
			}
			.s-ds-type-item-objs .s-ds-type-item-obj {
				padding: 20px;
				background: #fff;
				border-radius: 4px;
			}
		</style>
		<script type="text/javascript" src="/client/lib/ngTagsInput/ng-tags-input.min.js"></script>
		
		<script>
			var app = angular.module('slatwalladmin', ['ngTagsInput']);

			app.controller('MainCtrl', function($scope, $http) {
				$scope.locations = [
				    { text: 'San Diego > ... > Floor c' },
				    { text: 'Tag2' },
				    { text: 'Tag3' }
				  ];
				 $scope.allLocations = [
				  { "text": "Tag1" },
				  { "text": "Tag2" },
				  { "text": "Tag3" },
				  { "text": "Tag4" },
				  { "text": "Tag5" },
				  { "text": "Tag6" },
				  { "text": "Tag7" },
				  { "text": "Tag8" },
				  { "text": "Tag9" },
				  { "text": "Tag10" }
				]
				$scope.loadLocations = function(query) {
					return $scope.allLocations;
				};
				$scope.placeholder = function(){
					if($scope.locations.length){
						
					};
				};
			});

		</script>
	</body>
</html>
