<div class="s-create-window">
  <header>
    <div class="navbar navbar-s-navbar-ten24 s-dialog-header">
      <span class="navbar-brand" href="#">Create Bundle</span>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a ng-click="closePageDialog($index)"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
  </header>

  <section class="col-xs-12">

    Test Content

  </section>

  <footer>
    <div class="navbar navbar-s-navbar-ten24 s-dialog-footer">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#" style="padding: 9px 12px;font-size: 16px;">Save & New</a></li>
        <li class="active"><a href="#" style="padding: 9px 12px;font-size: 16px;">Save & Finish</a></li>
      </ul>
    </div>
  </footer>

</div><!--//wrapper end-->
