<div class="s-table-header-nav s-listing-head-margin">
	
	<div class="col-xs-6 s-no-padding-left" ng-if="swListingDisplay.title">
		<ul class="list-inline list-unstyled">
			<li>
				<h4 class="s-table-title" ng-bind="swListingDisplay.title"></h4>
			</li>
		</ul>
	</div>
	<!-- search begin -->
	<div class="col-xs-6 s-table-view-options s-no-padding-right pull-right">
		<!--<ul class="list-inline list-unstyled">
			<li class="s-table-header-search">
				<cfif not thistag.expandable>
					<input type="text" name="search" class="form-control input-sm general-listing-search" placeholder="#attributes.hibachiScope.rbKey('define.search')#" value="" tableid="LD#replace(attributes.smartList.getSavedStateID(),'-','','all')#" >
				</cfif>
			</li>
			<li>
				<div class="btn-group navbar-left dropdown">

					<button type="button" class="btn btn-sm s-btn-dgrey dropdown-toggle"><i class="fa fa-cog"></i></button>

						<ul class="dropdown-menu pull-right" role="menu">
							<hb:HibachiActionCaller action="#attributes.exportAction#" text="#attributes.hibachiScope.rbKey('define.exportlist')#" type="list">
						</ul>
						<!--- Listing: Button Groups 
						<cfif structKeyExists(thistag, "buttonGroup") && arrayLen(thistag.buttonGroup)>
							<cfloop array="#thisTag.buttonGroup#" index="buttonGroup">
								<cfif structKeyExists(buttonGroup, "generatedContent") && len(buttonGroup.generatedContent)>
									<cfif findNoCase('dropdown', #buttonGroup.generatedContent#)>
											#buttonGroup.generatedContent#
									<cfelse>
										<div class="btn-group">
											#buttonGroup.generatedContent#
										</div>
									</cfif>
								</cfif>
							</cfloop>
						</cfif>

						<!--- Listing: Create 
						<cfif len(attributes.createAction)>
							<div class="btn-group">
								<cfif attributes.createModal>
									<hb:HibachiActionCaller action="#attributes.createAction#" queryString="#attributes.createQueryString#" class="btn btn-primary" icon="plus icon-white" modal="true">
								<cfelse>
									<hb:HibachiActionCaller action="#attributes.createAction#" queryString="#attributes.createQueryString#" class="btn btn-primary" icon="plus icon-white">
								</cfif>
							</div>
						</cfif>

				</div>
			</li>
		</ul>-->

	</div>
</div><!--- reyjay's class --->


<div class="table-responsive s-listing-display-table-wrapper" >
	<!--<table 
	id="LD#replace(attributes.smartList.getSavedStateID(),'-','','all')#" 
	ng-class="swListingDisplay.tableclass" 
	data-norecordstext="#attributes.hibachiScope.rbKey("entity.#thistag.exampleEntity.getClassName()#.norecords", {entityNamePlural=attributes.hibachiScope.rbKey('entity.#thistag.exampleEntity.getClassName()#_plural')})#" 
	data-savedstateid="#attributes.smartList.getSavedStateID()#" 
	data-entityname="swListingDisplay.collection.data.collectionObject#" 
	data-idproperty="#thistag.exampleEntity.getPrimaryIDPropertyName()#" 
	data-processobjectproperties="{{swListingDisplay.allprocessobjectproperties}}" 
	data-propertyidentifiers="#thistag.exampleEntity.getPrimaryIDPropertyName()#,#thistag.allpropertyidentifiers#" {{this.tableattributes}}>
-->
	<table  ng-class="swListingDisplay.tableclass" 
			ng-attr-id="{{swListingDisplay.tableID}}"
			data-norecordstext="{{swListingDisplay.norecordstext}}" 
			data-entityname="{{swListingDisplay.collectionObject}}" 
			data-idproperty="{{swListingDisplay.exampleEntity.$$getIDName()}}" 
			data-processobjectproperties="{{swListingDisplay.allprocessobjectproperties}}" 
			data-propertyidentifiers="{{swListingDisplay.exampleEntity.$$getIDName()}},{{swListingDisplay.allpropertyidentifiers}}"
			{{swListingDisplay.tableattributes}}>
		<thead>
			<tr>
				<!--- Selectable --->
				<input ng-if-start="swListingDisplay.selectable" type="hidden" ng-attr-name="swListingDisplay.selectFieldName" ng-value="swListingDisplay.selectValue" />
				<th ng-if-end ng-class="{'disabled':!swListingDisplay.edit,'select':1===1}" ng-bind="swListingDisplay.selectTitle"></th>
				<!--- Multiselectable --->
				<input ng-if-start="swListingDisplay.multiselectable" type="hidden" ng-attr-name="swListingDisplay.multiselectFieldName" ng-value="swListingDisplay.multiselectValues" />
				<th ng-if-end ng-class="{'multiselect':1===1,'disabled':!swListingDisplay.edit}">
					<div ng-if="!swListingDisplay.expandable && swListinDisplay.multiselectPropertyIdentifier && swListinDisplay.multiselectPropertyIdentifier.length" class="dropdown">
						<a href="##" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<i class="glyphicon glyphicon-check"></i> </a>
						<ul class="dropdown-menu nav">
							<li>
								<a href="##" class="multiselect-checked-filter">
									<i class="hibachi-ui-checkbox{{!swListingDisplay.edit ? '-checked':''}}"></i> Show Selected
								</a>
							</li>
						</ul>
					</div>
					<span ng-if="!(!swListingDisplay.expandable && swListinDisplay.multiselectPropertyIdentifier && swListinDisplay.multiselectPropertyIdentifier.length)">&nbsp;</span>
				</th>
				<!--- Sortable -->
				<th class="sort" ng-if="swListingDisplay.sortable">&nbsp;</th>
				<!-- Columns -->
				<th ng-repeat="column in swListingDisplay.collectionConfig.columns" 
					class="data {{column.tdClass}}" 
					ng-if="column.isVisible"
					ng-cloak
				>
					<span 
						ng-if="(!column.sort || swListingDisplay.expandable) && (!column.search || swListingDisplay.expandable) && (!column.filter || swListingDisplay.expandable) && (!column.range || swListingDisplay.expandable)"
						ng-bind="column.title"
					></span>
					<div ng-if="!((!column.sort || swListingDisplay.expandable) && (!column.search || swListingDisplay.expandable) && (!column.filter || swListingDisplay.expandable) && (!column.range || swListingDisplay.expandable))"
						class="dropdown"
					>
						<a href="##" class="dropdown-toggle" ng-cloak>{{column.title}} <i class="fa fa-sort"></i></a>
						<ul class="dropdown-menu nav scrollable">
							<!--<hb:HibachiDividerHider>-->
								<li ng-if-start="column.sort && !swListingDisplay.expandable" class="dropdown-header">#attributes.hibachiScope.rbKey('define.sort')#</li>
								<li><a href="##" class="listing-sort" data-sortdirection="ASC"><i class="icon-arrow-down"></i> Sort Ascending</a></li>
								<li><a href="##" class="listing-sort" data-sortdirection="DESC"><i class="icon-arrow-up"></i> Sort Descending</a></li>
								<li ng-if-end class="divider"></li>
								
								<li ng-if-start="column.search && !swListingDisplay.expandable" class="dropdown-header">#attributes.hibachiScope.rbKey('define.search')#</li>
								<li class="search-filter"><input type="text" class="listing-search form-control" name="FK:#column.propertyIdentifier#" value="" /> <i class="icon-search"></i></li>
								<li ng-if-end class="divider"></li>
								
								<!--<cfif column.range and not thistag.expandable>
									<cfsilent>
										<cfset local.rangeClass = "text" />
										<cfset local.fieldType = thistag.exampleEntity.getFieldTypeByPropertyIdentifier(column.propertyIdentifier) />
										<cfif local.fieldType eq "dateTime">
											<cfset local.rangeClass = "datetimepicker" />
										</cfif>
									</cfsilent>
									<li class="dropdown-header">#attributes.hibachiScope.rbKey('define.range')#</li>
									<li class="range-filter"><label for="From Date" class="col-md-12 s-zero-left">From</label><input type="text" class="#local.rangeClass# form-control range-filter-lower col-md-12" name="R:#column.propertyIdentifier#" value="" /></li>
									<li class="range-filter"><label for="To Date" class="col-md-12 s-zero-left">To</label><input type="text" class="#local.rangeClass# form-control range-filter-upper col-md-12" name="R:#column.propertyIdentifier#" value="" /></li>
									<li class="divider"></li>
								</cfif>
								<cfif column.filter and not thistag.expandable>
									<li class="dropdown-header">#attributes.hibachiScope.rbKey('define.filter')#</li>
									<cfset filterOptions = attributes.smartList.getFilterOptions(valuePropertyIdentifier=column.propertyIdentifier, namePropertyIdentifier=column.propertyIdentifier) />
									<input type="hidden" name="F:#column.propertyIdentifier#" value="#attributes.smartList.getFilters(column.propertyIdentifier)#" />
									<cfloop array="#filterOptions#" index="filter">
										<li><a href="##" class="listing-filter" data-filtervalue="#filter['value']#"><i class="hibachi-ui-checkbox"></i> #filter['name']#</a></li>
									</cfloop>
								</cfif>-->
							<!--</hb:HibachiDividerHider>-->
						</ul>
					</div>
				</th>
				<!--- Admin -->
				<th ng-if="swListingDisplay.administrativeCount" class="admin admin{{swListingDisplay.administativeCount}}" {{swListingDisplay.adminattributes}}>&nbsp;</th>
			</tr>
		</thead>
		<tbody ng-class="{'sortable':swListingDisplay.sortable}">
			<tr ng-repeat="(pageRecordKey, pageRecord) in swListingDisplay.collectionData.pageRecords" ng-show="pageRecord.dataIsVisible !== false">
				<!--Selectable-->
				<td ng-if="swListingDisplay.selectable" class="s-table-select">
					<a href="##" class="table-action-select{{swListingDisplay.edit ? '' : 'disabled'}}" data-idvalue="pageRecord[swListingDisplay.exampleEntity.$$getIDName()]">
						<i class="hibachi-ui-radio"></i>
					</a>
				</td>
				<!-- Multiselectable-->
				<td ng-if="swListingDisplay.multiselectable" 
					class="s-table-checkbox">
					<sw-selection
						data-id="pageRecord[swListingDisplay.exampleEntity.$$getIDName()]"
						data-is-radio="false"
	            		data-selectionid="ListingDisplay"
	            		data-selection="pageRecord[swListingDisplay.exampleEntity.$$getIDName()]"
	            		data-name="{{swListingDisplay.multiselectFieldName}}"
	            		data-disabled="swListingDisplay.edit === false"
					></sw-selection>
					
					<!--<a href="##" class="table-action-multiselect {{swListingDisplay.edit ? '' : 'disabled'}}" ng-data-idvalue="pageRecord[swListingDisplay.exampleEntity.$$getIDName()]">
						<i class="hibachi-ui-checkbox"></i>
					</a>-->
				</td>
				<!--- Sortable -->
				<!--<td ng-if="swListingDisplay.sortable" 
					class="s-table-sort">
					<a href="##" class="table-action-sort" ng-data-idvalue="pageRecord[swListingDisplay.exampleEntity.$$getIDName()]" data-sortPropertyValue="{{record.getValueByPropertyIdentifier( attributes.sortProperty )}}">
						<i class="fa fa-arrows"></i>
					</a>
				</td>-->
				
				<!--Expandable Check-->
				<td 
					ng-repeat="(key,column) in swListingDisplay.collectionConfig.columns" 
					class="column.tdclass"
					ng-cloak
					ng-if="column.isVisible"
					sw-expandable-record
					data-expandable="swListingDisplay.expandable && column.tdclass && column.tdclass === 'primary' "
					data-link="{{$root.buildUrl(swListingDisplay.recordEditAction,swListingDisplay.recordEditQueryString)}}"
					data-record-value="pageRecord[swListingDisplay.getPageRecordKey(column.propertyIdentifier)]"
					data-parent-id="pageRecord[swListingDisplay.exampleEntity.$$getIDName()]"
					data-entity="swListingDisplay.exampleEntity"
					data-collection-config="swListingDisplay.collectionConfig"
					data-records="swListingDisplay.collectionData.pageRecords"
					data-record-index="pageRecordKey"
					data-record-depth="pageRecord.depth"
				>
					{{pageRecord[swListingDisplay.getPageRecordKey(column.propertyIdentifier)]}}
				</td>
				
				<td class="admin admin#attributes.administativeCount#" ng-if="swListingDisplay.administrativeCount">
					<!--- Detail -->
					<sw-action-caller 
						ng-if="swListingDisplay.recordDetailAction && swListingDisplay.recordDetailAction.length"
						data-action="{{swListingDisplay.recordDetailAction}}" 
						data-query-string="{{'&'+swListingDisplay.exampleEntity.$$getIDName()+'='+pageRecord[swListingDisplay.exampleEntity.$$getIDName()]+swListingDisplay.recordDetailQueryString}}" 
						data-class="btn btn-default btn-xs" 
						data-icon="eye-open" 
						data-iconOnly="true" 
						data-modal="swListingDisplay.recordDetailModal" 
					></sw-action-caller>
					
					<!--Edit-->
					<sw-action-caller 
						ng-if="swListingDisplay.recordEditAction && swListingDisplay.recordEditAction.length"
						data-action="{{swListingDisplay.recordEditAction}}" 
						data-query-string="{{'&'+swListingDisplay.exampleEntity.$$getIDName()+'='+pageRecord[swListingDisplay.exampleEntity.$$getIDName()]+swListingDisplay.recordDetailQueryString}}" 
						data-class="btn btn-default btn-xs" 
						data-icon="pencil" 
						data-iconOnly="true" 
						
						data-modal="swListingDisplay.recordEditModal" 
					></sw-action-caller>

					<!--- Delete -->
					<sw-action-caller 
						ng-if="swListingDisplay.recordDeleteAction && swListingDisplay.recordDeleteAction.length"
						data-action="{{swListingDisplay.recordDeleteAction}}" 
						data-query-string="{{'&'+swListingDisplay.exampleEntity.$$getIDName()+'='+pageRecord[swListingDisplay.exampleEntity.$$getIDName()]+swListingDisplay.recordDetailQueryString}}" 
						data-class="btn btn-default btn-xs" 
						data-icon="trash" 
						data-iconOnly="true" 
						data-confirm="true" 
					></sw-action-caller>
					
					<!--- Process -->
					<!--<sw-process-caller 
						action="{{swListingDisplay.recordProcessAction}}" 
						entity="#attributes.recordProcessEntity#" 
						processContext="#attributes.recordProcessContext#" 
						queryString="#listPrepend(attributes.recordProcessQueryString, '#processActionProperty#=#processActionPropertyValue#', '&')#" 
						class="btn btn-default hibachi-ajax-submit" 
						id="#thisID#" 
					></sw-process-caller>-->
				</td>
			</tr>
			
			<tr ng-if="swListingDisplay.collectionData.pageRecords && !swListingDisplay.collectionData.pageRecords.length">
				<td colspan="#thistag.columnCount#" style="text-align:center;">
					no records
				</td>
			</tr>
			<!--<cfif !arrayLen(attributes.smartList.getPageRecords())>
				<tr><td colspan="#thistag.columnCount#" style="text-align:center;"><em>#attributes.hibachiScope.rbKey("entity.#thistag.exampleEntity.getClassName()#.norecords", {entityNamePlural=attributes.hibachiScope.rbKey('entity.#thistag.exampleEntity.getClassName()#_plural')})#</em></td></tr>
			</cfif>
			--->
		</tbody>
	</table>

	</div><!--- table-responsive --->

	<sw-pagination-bar
		ng-if="swListingDisplay.paginator && !swListingDisplay.multiselectable"
		data-paginator="swListingDisplay.paginator"
		>
	</sw-pagination-bar>


