<!--
	TODO: figure out the context of entity as an object
<cfif !isObject(attributes.entity) || (isObject(attributes.entity) && ( !attributes.disabled || !attributes.hideDisabled ) )>
		<hb:HibachiActionCaller attributecollection="#attributes#" />
	</cfif>-->
<sw-action-caller
	
	data-type="{{swProcessCaller.type}}"
	data-action="{{swProcessCaller.action}}"
	data-text="{{swProcessCaller.text}}"
	data-query-string="{{swProcessCaller.queryString+'&processContext='+swProcessCaller.processContext}}"
	data-title="{{swProcessCaller.title}}"
	data-class="{{swProcessCaller.class}}"
	data-icon="{{swProcessCaller.icon}}"
	data-iconOnly="swProcessCaller.iconOnly"
	data-name="{{swProcessCaller.name}}"
	data-confirm="swProcessCaller.confirm"
	data-confirmtext="{{swProcessCaller.confirmtext}}"
	data-disabled="swProcessCaller.disabled"
	data-disabledtext="{{swProcessCaller.disabledtext}}"
	data-modal="swProcessCaller.modal"
	data-modal-full-width="swProcessCaller.modalFullWidth"
	data-id="{{swProcessCaller.id}}"
>
</sw-action-caller>