<div>
	<p class="text-center loader {{swfPropertyDisplayController.class}}" ng-if="swfPropertyDisplayController.loader"><i class="fa fa-spinner fa-spin" ng-if="swfPropertyDisplayController.loader"></i></p>
    
    <!-- Check if a label should be defined for this set of elements -->
    <label ng-if="swfPropertyDisplayController.name && swfPropertyDisplayController.type !== 'yesno' && swfPropertyDisplayController.type !== 'submit' && swfPropertyDisplayController.labelText && !swfPropertyDisplayController.labelClass " class="form-control" for="{{swfPropertyDisplayController.name}}" ng-bind="swfPropertyDisplayController.labelText"></label>
    <label ng-if="swfPropertyDisplayController.name && swfPropertyDisplayController.type !== 'yesno' && swfPropertyDisplayController.type !== 'submit' && swfPropertyDisplayController.labelText && swfPropertyDisplayController.labelClass "  class="{{swfPropertyDisplayController.labelClass}}" for="{{swfPropertyDisplayController.name}}" ng-bind="swfPropertyDisplayController.labelText"></label>
    
    <!-- Figure out which type of element we have and display it .-->
    <ng-switch on="swfPropertyDisplayController.type">
    	<input type="text" ng-switch-when="text" ng-model="swfPropertyDisplayController.object" class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}"></input>
    	<input type="email" ng-switch-when="email" ng-model="swfPropertyDisplayController.object" class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}"></input>
    	<input type="password" ng-switch-when="password" ng-model="swfPropertyDisplayController.object" class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}"></input>
    	<input type="file" ng-switch-when="file" ng-model="swfPropertyDisplayController.object"  class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}"></input>
    	<textarea ng-switch-when="textarea" class="{{swfPropertyDisplayController.class}}"  id="{{swfPropertyDisplayController.name}}TextArea" ng-model="swfPropertyDisplayController.value" name="{{swfPropertyDisplayController.name}}"></textarea>
    	<input type="checkbox" ng-switch-when="checkbox" value="{{swfPropertyDisplayController.value}}" class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}"></input>
    	
    	<select ng-switch-when="multiselect" class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}" multiple="true">
              <option value="{{option.value}}" ng-repeat="option in swfPropertyDisplayController.optionValues" ng-if="option.selected" selected>{{option.name}}</option>
              <option value="{{option.value}}" ng-repeat="option in swfPropertyDisplayController.optionValues" ng-if="!option.selected">{{option.name}}</option>
        </select>
        
        <select ng-switch-when="select" class="{{swfPropertyDisplayController.class}}" name="{{swfPropertyDisplayController.name}}" >
              <option value="{{option.value}}" ng-repeat="option in optionValues">{{option.name}}</option>
        </select>
        
        <div ng-switch-when="radiogroup" name="{{swfPropertyDisplayController.name}}">
        	<div ng-repeat="option in optionValues" class="{{swfPropertyDisplayController.class}}">
        	  <label ng-bind="option.name" ng-if="option.name" class="control-label"></label>
              <input type="radio" id="{{option.name}}_{{option.value}}" name="{{swfPropertyDisplayController.name}}" class="radio"/>
            </div>
        </div>
        
        <div ng-switch-when="checkboxgroup" name="{{swfPropertyDisplayController.name}}">
            <div ng-repeat="option in optionValues" class="{{swfPropertyDisplayController.class}}">
              <label ng-bind="option.name" ng-if="option.name" class="{{swfPropertyDisplayController.class}}"></label>
              <input type="checkbox" id="{{option.name}}_{{option.value}}" name="{{swfPropertyDisplayController.name}}"/>
            </div>
        </div>
        
        <div ng-switch-when="yesno" name="{{swfPropertyDisplayController.name}}">
        	    <label ng-bind="swfPropertyDisplayController.name"></label>
                <label class="radio-inline"><input type="radio" name="{{swfPropertyDisplayController.name}}" value="1" text="Yes"/>Yes</label>
                <label class="radio-inline"><input type="radio" name="{{swfPropertyDisplayController.name}}" value="0" text="No" checked="true"/>No</label>
        </div>
        
        <div ng-switch-when="submit" name="submit">
                <input type="submit" class="btn" name="submit" text="{{swfPropertyDisplayController.name}}" value="{{swfPropertyDisplayController.name}}" ng-click="swfPropertyDisplayController.submit();"></input>
        </div>
    </ng-switch>
    
    <!-- handle errors -->
    <div ng-if="!swfPropertyDisplayController.errorClass" class="error" error-for="{{swfPropertyDisplayController.name}}"></div>
    <div ng-if="swfPropertyDisplayController.errorClass"  class="{{swfPropertyDisplayController.errorClass}}" error-for="{{swfPropertyDisplayController.name}}"></div>
    
</div>
