<td ng-click="getChildContent(contentData)"><i class="fa fa-caret-{{contentData.loadedChild ? 'down' : 'right' }}" ng-bind="contentData.title"></i></td>
<td ng-bind="contentData.site_siteName"></td>
<td ng-bind="contentData.contentTemplateFile"></td>
<td ng-bind="contentData.allowPurchaseFlag"></td>
<td ng-bind="contentData.productListingPageFlag"></td>
<td ng-bind="contentData.activeFlag"></td>

<!--<td><i class="fa fa-caret-right"></i></td>-->

<!--<td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="contentData[column.propertyIdentifier.substring(column.propertyIdentifier.indexOf('.')+1,column.propertyIdentifier.length).replace('.','_')]" ng-show="column.isVisible"></td>-->
   
    <td class="s-edit-elements">
  <ul class="list-unstyled list-inline">
    <li><a sw-href="{{'/entity/'+entityName+'/'+contentData[entityName.toLowerCase()+'ID']}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a></li>
    <li><a sw-href="{{'/entity/'+entityName+'/'+contentData[entityName.toLowerCase()+'ID']}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a></li>
  </ul>
</td>
