
<section class="content s-body-margin" id="j-main-content">
	<div class="row s-body-nav">
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="col-md-6 s-header-info">
				<ul class="list-unstyled list-inline"></ul>
				<h1 class="actionbar-title" sw-rbkey="'entity.'+entityName.toLowerCase()+'_plural'"></h1>
			</div>

			<div class="col-md-6">
				<div class="btn-toolbar">
					<div class="btn-group btn-group-sm">
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="s-table-header-nav s-listing-head-margin">
		<div class="col-xs-6 s-no-padding-left">
			{{siteOptions}}
			{{options}}
			<ul class="list-inline list-unstyled">
				<li>
					<sw-options
						data-object-name="Site"
					></sw-options>
				</li>
			</ul>
			<ul class="list-inline list-unstyled">
				<li>
					<span sw-pagination-bar
						data-collection="collection"
						data-current-page="currentPage"
						data-page-show="pageShow"
						data-page-start="pageStart"
						data-page-end="pageEnd"
						data-records-count="recordsCount"
						data-get-collection="getCollection()"
						>
					</span>
				</li>
			</ul>
		</div>
		
		<div class="col-xs-6 s-table-view-options s-no-padding-right">
			<ul class="list-inline list-unstyled">
				
				<!-- to implement searching-->
				<li>
					<div class="s-select-list-wrapper">
						<div class="form-group">
							<div class="input-group">
								<div class="s-input-btn">
									<input  type="text"
										class="form-control input-sm"
										placeholder="Search"
										name="srch-term"
										ng-model="keywords"
										ng-change="searchCollection()"
										/>
									<i ng-show="loadingCollection" class="fa fa-refresh fa-spin"></i>
								</div>
								<div class="input-group-btn">
									<button   class="btn btn-primary btn-sm"
										type="button"
										ng-click="searchCollection()"
										>
									<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- s-select-list-wrapper -->
				</li>
				
				<!--
				<li>
					<div class="btn-group navbar-left dropdown">
						<button type="button" class="btn btn-sm s-btn-dgrey dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a title="Export List" class="adminentityexportSlatwallCollection " target="_self" href="?slatAction=entity.exportSlatwallCollection">Export List</a></li> 
						</ul>
					</div>
				</li>-->
			</ul>
		</div>
	</div>
	<content class="s-body-box">
		<div class="table-responsive">
			<table id="contentList" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="s-sortable ng-binding ng-scope" 
							ng-repeat-start="column in collectionConfig.columns" 
							ng-repeat-end="" 
							ng-show="column.isVisible"
							sw-column-sorter
							data-column="column">
							
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody sw-scroll-trigger
					infinite-scroll="appendToCollection()"
					infinite-scroll-disabled="autoScrollDisabled"
					infinite-scroll-distance="1"
					id="contentListTable"
				>
					
					<tr sw-content-node
						ng-repeat="pageRecord in collection.pageRecords"
						data-content-data="pageRecord"
						data-load-children="true"
					></tr>
			    </tbody>
			</table>
		</div>
	</content>	
	
</section>
