

<div class="col-md-6 s-header-left" >
	<div class="s-header-detail">
		<dl class="dl-horizontal" ng-if="content">
			<span  	sw-property-display
					data-object="content"
					data-property="title"
					data-editing="true"
					data-editable="true"
			> 
			</span>
			
			<span  	sw-property-display
					data-object="content"
					data-property="urlTitle"
					data-editing="true"
					data-editable="true"
			>
			</span>
			<span  	sw-property-display
					data-object="content"
					data-property="activeFlag"
					data-editing="true"
					data-editable="true"
			>
			</span>
			<span  	sw-property-display
					data-object="content"
					data-property="productListingPageFlag"
					data-editing="true"
					data-editable="true"
			>
			</span>
			<span  	sw-property-display
					data-object="content"
					data-property="allowPurchaseFlag"
					data-editing="true"
					data-editable="true"
			>
			</span>
		</dl>
	</div>
</div>
