

	<!--<div class="s-table-header-nav s-listing-head-margin">
		<div class="col-xs-6 s-no-padding-left">
			<ul class="list-inline list-unstyled">
				<li>
					<h4></h4>
				</li>
			</ul>
		</div>

		<div class="col-xs-6 s-table-view-options s-no-padding-right">
			<ul class="list-inline list-unstyled">
				<li>
					<form class="s-table-header-search ng-pristine ng-valid" novalidate="novalidate">
						<input type="text" name="search" class="form-control input-sm general-listing-search" placeholder="Search" value="" tableid="LD45E2A51ABB8FAA1277509A46B2857887">
					</form>
				</li>
				<li>
					<div class="btn-group navbar-left dropdown">
						<button type="button" class="btn btn-sm s-btn-dgrey dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a title="Export List" class="adminentityexportSlatwallCollection " target="_self" href="?slatAction=entity.exportSlatwallCollection">Export List</a></li> 
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>-->
	
	<sw-entity-action-bar
		type="listing" 
		object="" 
		showCreate="false"
	>
		<!--- Create ---> 
		<sw-entity-action-bar-button-group>
			<sw-action-caller-dropdown title="#$.slatwall.rbKey('define.create')#" icon="plus" dropdownClass="pull-right">
				<li><a ng-click="openPageDialog( 'productbundle/createproductbundle' )">#rc.$.slatwall.rbKey('define.bundleProduct')#</a></li>
				<sw-process-caller action="admin:entity.preprocessproduct" entity="product" processContext="create" text="#rc.$.slatwall.rbKey('define.contentAccess')# #rc.$.slatwall.rbKey('entity.product')#" querystring="baseProductType=contentAccess" disabled="#!$.slatwall.getSmartList("Content").getRecordsCount()#" disabledText="#$.slatwall.rbKey('admin.entity.listproduct.createNoContent')#" type="list" />
				<sw-process-caller action="admin:entity.preprocessproduct" entity="product" processContext="create" text="#rc.$.slatwall.rbKey('define.event')# #rc.$.slatwall.rbKey('entity.product')#" querystring="baseProductType=event" type="list" />
				<sw-process-caller action="admin:entity.preprocessproduct" entity="product" processContext="create" text="#rc.$.slatwall.rbKey('define.gift-card')# #rc.$.slatwall.rbKey('entity.product')#" querystring="baseProductType=gift-card" type="list" />
				<sw-process-caller action="admin:entity.preprocessproduct" entity="product" processContext="create" text="#rc.$.slatwall.rbKey('define.merchandise')# #rc.$.slatwall.rbKey('entity.product')#" querystring="baseProductType=merchandise" type="list" />
				<sw-process-caller action="admin:entity.preprocessproduct" entity="product" processContext="create" text="#rc.$.slatwall.rbKey('define.subscription')# #rc.$.slatwall.rbKey('entity.product')#" querystring="baseProductType=subscription" type="list" disabled="#!$.slatwall.getSmartList("SubscriptionTerm").getRecordsCount() or !$.slatwall.getSmartList("SubscriptionBenefit").getRecordsCount()#"  disabledText="#$.slatwall.rbKey('admin.entity.listproduct.createNoSubscriptionBenefitOrTerm')#" />
			</sw-action-caller-dropdown>
		</sw-entity-action-bar-button-group>
	</sw-entity-action-bar>
	
	<!--<sw-listing-display
		data-collection="entityName"
	>
	</sw-listing-display>-->
	
	<!--<sw-collection-table
		ng-if="collection && collectionConfig"
		data-collection="collection"
		data-collection-config="collectionConfig"
		data-angular-links="true"
	>
	</sw-collection-table>-->

