<div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 s-icon" ng-transclude>
    <i ng-class="{'fa fa-shopping-cart fa-{{SwCardIconController.iconMultiplier}}':SwCardIconController.iconName == 'shopping-cart'}"></i>
    <i ng-class="{'fa fa-user fa-{{SwCardIconController.iconMultiplier}}':SwCardIconController.iconName == 'user'}"></i>
    <i ng-class="{'fa fa-calendar fa-{{SwCardIconController.iconMultiplier}}':SwCardIconController.iconName == 'calendar'}"></i>
    <i ng-class="{'fa fa-building fa-{{SwCardIconController.iconMultiplier}}':SwCardIconController.iconName == 'building'}"></i>
</div>