<input type="number" class="form-control" 
		    		 ng-model="numberCtrl.propertyDisplay.object.data[numberCtrl.propertyDisplay.property]"
		    		 ng-disabled="!numberCtrl.propertyDisplay.editable"
		    		 ng-show="numberCtrl.propertyDisplay.editing"
		    		 ng-change="numberCtrl.propertyDisplay.onChange"
		    		 name="{{numberCtrl.propertyDisplay.property}}"
/>
<!-- Error Messages --> 
<span style="color:red"
	ng-repeat="(key,value) in numberCtrl.propertyDisplay.errors"
	ng-show="(numberCtrl.propertyDisplay.form.$submitted && numberCtrl.propertyDisplay.form[numberCtrl.propertyDisplay.property].$invalid) || (numberCtrl.propertyDisplay.form[numberCtrl.propertyDisplay.property].$invalid && numberCtrl.propertyDisplay.form[numberCtrl.propertyDisplay.property].$dirty)">
  <span  ng-show="key === 'required'">{{numberCtrl.propertyDisplay.title}} is a required field<br></span>
</span>
