<div class="s-bundle-group-section">
  <ul class="list-unstyled s-bundle-group">
    <li class="s-bundle-group-item" ng-repeat="bundleGroup in processObject.bundleGroups">
      <div class="row">
        <div class="col-xs-8 s-bundle-group-title">
          <div class="s-bundle-group-range">
            <ul class="list-unstyled s-bundle-group-min">
              <li>Min</li>
              <li>{{bundleGroup.minimumQuantity}}</li>
            </ul>
            <ul class="list-unstyled s-bundle-group-max">
              <li>Max</li>
              <li>{{bundleGroup.maximumQuantity}}</li>
            </ul>
          </div>
          <span class="s-bundle-group-title-text">{{bundleGroup.bundleGroupType.typeName}}</span>
          <span class="s-bundle-group-title-edit"><input type="text" class="form-control" value="T-Shirts: Closeout Selections">
          	<button class="btn btn-xs s-btn-ten24 s-save-btn">Save</button>
          </span>
        </div>
        <div class="col-xs-4">
          <div class="btn-group s-bundle-group-options">
            <a class="btn btn-default s-edit j-tool-tip-item" data-toggle="collapse" data-target="#demo" data-toggle="tooltip" data-placement="bottom" data-original-title="Edit">
            	<i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-default s-remove j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Remove">
            	<i class="fa fa-times"></i>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>