<div class="s-create-window" >
  <header>
    <div class="navbar navbar-s-navbar-ten24 s-dialog-header">
      <span class="navbar-brand" >Create Bundle</span>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a ng-click="closePageDialog($index)"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
  </header>
  <span ng-controller="create-bundle-controller">
	  <section class="col-xs-12" >
	    <div class="row s-bundle-header" >
	     	
			<span ng-if="product">
				<sw-form name="form.createProduct" 
		     		data-object="product"	
					data-context="save"
		     	>
			        <div class="col-xs-6">
				        <sw-property-display
								data-object="product"
								data-property="productName"
								data-editing="true"
								data-editable="true"
						></sw-property-display>	
				        <sw-property-display
								data-object="product"
								data-property="productCode"
								data-editing="true"
								data-editable="true"
								data-on-change="product.data.skus[0].data.skuCode = product.data.productCode + '-1'"
						></sw-property-display>
				        <sw-property-display
				        		ng-if="product.data.skus[0]"
								data-object="product.data.skus[0]"
								data-property="price"
								data-editing="true"
								data-editable="true"
						></sw-property-display> 
			        </div>
				
				
			        <div class="col-xs-6">
			        	
				        <sw-property-display
								data-object="product"
								data-property="productType"
								data-editing="true"
								data-editable="true"
								data-options-arguments="{property:'productType',argument1:'productBundle'}"
								data-is-dirty="true"
						></sw-property-display> 
				        <sw-property-display
								data-object="product"
								data-property="brand"
								data-editing="true"
								data-editable="true"
								data-options-arguments="{property:'brand'}"
								data-is-dirty="true"
						></sw-property-display> 
						
						
					</div>
				</sw-form>
			</span>
			
	    </div><!-- //bundle head -->
		<sw-form name="form.createSku" 
	     		data-object="product.data.skus[0]"	
				data-context="save"
				ng-if="product.data.skus[0]"
	     >
			<sw-property-display
								style="display:none"
								data-object="product.data.skus[0]"
								data-property="skuID"
								data-editing="true"
								data-editable="true"

			></sw-property-display>	
			<sw-property-display
								style="display:none"
								data-object="product.data.skus[0]"
								data-property="skuCode"
								data-editing="true"
								data-editable="true"
								data-is-dirty="true"
			></sw-property-display>		
			
	     </sw-form>
	    <sw-product-bundle-groups
	    		ng-if="product.data.skus[0].data.productBundleGroups"
	    		data-sku="product.data.skus[0]"
	    		data-product-bundle-groups="product.data.skus[0].data.productBundleGroups"
	    		data-add-product-bundle-group="addProductBundleGroup()"
	    >
	    </sw-product-bundle-groups>
	  </section>
	  <footer>
	    <div class="navbar navbar-s-navbar-ten24 s-dialog-footer">
	      <ul class="nav navbar-nav pull-right">
	        <li class="active">
	        	<a  ng-href="#" style="padding: 9px 12px;font-size: 16px;"
	        		ng-click="saveProductBundle()"
	        	>Save & New</a>
	        </li>
	        <li class="active">
	        	<a  ng-href="#" style="padding: 9px 12px;font-size: 16px;"
	        		ng-click="saveProductBundle($index)"
	        	>Save & Finish</a>
	        </li>
	      </ul>
	    </div>
	  </footer>
	</span>
</div><!--//wrapper end-->
