<div class="s-create-window" >
  <header>
    <div class="navbar navbar-s-navbar-ten24 s-dialog-header">
      <span class="navbar-brand" >Create Bundle</span>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a ng-href="#" ng-click="closePageDialog($index)"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
  </header>
  <span ng-controller="create-bundle-controller">
		 <form class="form-horizontal s-properties" 
					role="form" 
					name="form.createProductBundle"
				> 
		  <section class="col-xs-12" >
		
		    <div class="row s-bundle-header">
		     
		        <div class="col-xs-6">
		       	 <span sw-property-display 
		          		data-property="product.productName"
		          		data-object="processObject"
		          		data-is-editable="true"
		          		data-is-hidden="false"
		          		data-editing="true"
		          ></span>
		         <span sw-property-display 
		          		data-property="product.productCode"
		          		data-object="processObject"
		          		data-is-editable="true"
		          		data-is-hidden="false"
		          		data-editing="true"
		          ></span>
		          <span sw-property-display 
		          		data-property="product.price"
		          		data-object="processObject"
		          		data-is-editable="true"
		          		data-is-hidden="false"
		          		data-editing="true"
		          ></span>
		        </div>
		
		        <div class="col-xs-6">
		        	<span sw-property-display 
		          		data-property="product.productType"
		          		data-object="processObject"
		          		data-is-editable="true"
		          		data-is-hidden="false"
		          		data-editing="true"
		          		data-value-options="productTypeOptions"
		          ></span>
		         <span sw-property-display 
		          		data-property="product.brand"
		          		data-object="processObject"
		          		data-is-editable="true"
		          		data-is-hidden="false"
		          		data-editing="true"
		          		data-value-options="product.brandOptions"
		          ></span>
				</div>
		     
		
		    </div><!-- //bundle head -->
		    
		    <span 	sw-add-edit-product-bundle-group
		    		data-bundle-groups="processObject.bundleGroups"
		    >
		    </span>
			<!-- <a ng-click="openPageDialog( 'createproductmerchandise' )"></a> -->
		    <button class="btn btn-xs s-btn-grey s-create-bundle-btn"
		    		data-toggle="collapse" 
		    		ng-click="addProductBundleGroup()"
		    >
		    	<i class="fa fa-plus"></i> Bundle Group
		    </button>
		  </section>
	  </form>
	  <footer>
	    <div class="navbar navbar-s-navbar-ten24 s-dialog-footer">
	      <ul class="nav navbar-nav pull-right">
	        <li class="active">
	        	<a  ng-href="#" style="padding: 9px 12px;font-size: 16px;"
	        		ng-click="saveProductBundle()"
	        	>Save & New</a>
	        </li>
	        <li class="active">
	        	<a  ng-href="#" style="padding: 9px 12px;font-size: 16px;"
	        		ng-click="saveProductBundle($index)"
	        	>Save & Finish</a>
	        </li>
	      </ul>
	    </div>
	  </footer>
	</span>

</div><!--//wrapper end-->
