<div class="s-bundle-group-section" ng-if="productBundleGroups">
  <ul class="list-unstyled s-bundle-group">
  	<span ng-repeat="productBundleGroup in productBundleGroups track by $index">
  		
		    <sw-product-bundle-group
		    		data-product-bundle-groups="productBundleGroups"
		    		data-product-bundle-group="productBundleGroup"
		    		data-index="$index"
		    		data-add-product-bundle-group="addProductBundleGroup()"
		    		data-form-name="form.createProductBundle{{$index}}"
		    >
		    </sw-product-bundle-group>
		
    </span>
  </ul>
</div>
		    
<button class="btn btn-sm btn-default s-create-bundle-btn"
		data-toggle="collapse"
		ng-click="addProductBundleGroup()"
>
	<i class="fa fa-plus"></i> Bundle Group
</button>
