<li class="s-bundle-group-item" ng-if="propertyDisplayData && productBundleGroup">
  <div class="row">
    <div class="col-xs-8 s-bundle-group-title">
      <div class="s-bundle-group-range">
        <ul class="list-unstyled s-bundle-group-min">
          <li>Min</li>
          <li ng-bind="productBundleGroup.minimumQuantity">/li>
        </ul>
        <ul class="list-unstyled s-bundle-group-max">
          <li>Max</li>
          <li ng-bind="productBundleGroup.maximumQuantity"></li>
        </ul>
      </div>
      <span class="s-bundle-group-title-text" ng-bind="productBundleGroup.productBundleGroupType.typeName"></span>
      <span class="s-bundle-group-title-edit"><input type="text" class="form-control" value="T-Shirts: Closeout Selections">
      	<button class="btn btn-xs s-btn-ten24 s-save-btn">Save</button>
      </span>
    </div>
    <div class="col-xs-4">
      <div class="btn-group s-bundle-group-options">
        <a  class="btn btn-default s-edit j-tool-tip-item"
        	data-toggle="tooltip"
        	data-placement="bottom"
        	data-original-title="Edit"
        	ng-click="productBundleGroup.$$toggleEdit()"
        >
        	<i class="fa fa-pencil"></i>
        </a>
        <a  class="btn btn-default s-remove j-tool-tip-item"
        	data-toggle="tooltip"
        	data-placement="bottom"
        	data-original-title="Remove"
        	ng-click="removeProductBundleGroup()"
        >
        	<i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>

  <div ng-show="productBundleGroup.$$editing" class="s-bundle-group-dropdown">
	<div class="s-bundle-group-dropdown-content">
		<div class="s-filter-content">

			<!-- Tab panes for menu options start-->
			<div class="s-options">
				<div class="tab-content" style="padding-top:20px;padding-bottom:20px;" >

					<span   sw-product-bundle-group-type
							data-product-bundle-group="productBundleGroup"
					>
					</span>

					<div class="row form-group">
						<div class="col-xs-2">
							<label for="">Minimum Quantity:</label>
							<input  type="text"
									class="form-control"
									ng-model="productBundleGroup.minimumQuantity"
									ng-change="productBundleGroup.$$setMinimumQuantity(productBundleGroup.minimumQuantity)"
							>
						</div>

						<div class="col-xs-2">
							<label for="">Maximum Quantity:</label>
							<input  type="text"
									class="form-control"
									ng-model="productBundleGroup.maximumQuantity"
									ng-change="productBundleGroup.$$setMaximumQuantity(productBundleGroup.maximumQuantity)"
							>
						</div>
					</div>
					<div class="row form-group" >
						<span sw-property-display 
				          		data-property="amountType"
				          		data-object="productBundleGroup"
				          		data-object-name="productBundleGroup"
				          		data-options-arguments="{property:'amountType'}"
				          		data-meta="propertyDisplayData['amountType']"
				          		data-editing="true"
								data-editable="true"
								data-eager-load-options="true"
				          ></span>
				         <span sw-property-display 
				          		data-property="amount"
				          		data-object="productBundleGroup"
				          		data-object-name="productBundleGroup"
				          		data-meta="propertyDisplayData['amount']"
				          		data-editing="true"
								data-editable="true"
				          ></span>
					</div>
					<div class="form-group s-bundle-group-active">
						<label class="control-label">Active: </label>
						<div class="radio" >
							<input type="radio" name="active" id="random1"
									ng-model="productBundleGroup.active"
									ng-value="true"
							>
							<label for="random1" >
									Yes
							</label>
						</div>
						<div class="radio" >
							<input type="radio" name="active" id="random2"
									ng-model="productBundleGroup.active"
									ng-value="false"
							>
							<label for="random2" >
									No
							</label>
						</div>
						<div class="clearfix"></div>
					</div>

                    <hr style="border-bottom: 4px dotted #ccc;"/>

                    <!-- Selected filters -->
                    <div class="s-bundle-add-items s-workflow-objs">
                        <ul class="list-unstyled s-order-item-options" ng-show="productBundleGroup.productBundleGroupFilters.length">

                            <li class="s-bundle-add-obj" ng-repeat="productBundleGroupFilter in productBundleGroup.productBundleGroupFilters track by $index">
                                <ul class="list-unstyled list-inline s-middle">
                                    <li class="s-bundle-details"><span style="font-weight:600;margin-left:0px;color:#666;" ng-bind="productBundleGroupFilter.type"></span>:<span ng-bind="productBundleGroupFilter.name"></span></li>
                                </ul>
                                <ul class="list-unstyled list-inline s-last">
                                    <li class="col-xs-1 s-bundle-details-add"><a class="btn s-btn-dgrey s-remove" ng-click="removeProductBundleGroupFilter($index)"><i class="fa fa-trash"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </li>

                        </ul>
                    </div>
                    <!-- //Selected filters -->

                    <!-- Search for product -->
                    <div class="row s-bundle-group-items">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <div class="dropdown input-group-btn search-panel">
                                    <button class="btn btn-sm s-btn-lgrey dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span ng-bind="searchOptions.selected.name">Any</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="searchOption in searchOptions.options">
                                            <a 	href="#all"
                                                ng-bind="searchOption.name"
                                                ng-click="searchOptions.setSelected(searchOption)"
                                            ></a>
                                        </li>
                                    </ul>
                                </div>
                                <input  class="form-control s-search-input"
                                        placeholder="Search {{searchOptions.selected.name}} ..."
                                        type="text"
                                        ng-model="productBundleGroupFilters.keyword"
                                        ng-change="productBundleGroupFilters.getFiltersByTerm(productBundleGroupFilters.keyword,searchOptions.selected.value)"
                                >
                            </div>
                        </div>

                        <div class="col-xs-12 s-bundle-add-items" ng-show="productBundleGroupFilters.keyword.length">
                            <div class="col-xs-12 s-bundle-add-items-inner">
                                <h4  class="s-no-items"
                                    ng-show="!productBundleGroupFilters.value.length"
                                >
                                    There are no items selected
                                </h4>

                                <!-- Selected filters -->
                                <div class="s-bundle-add-items s-workflow-objs">
                                    <ul class="list-unstyled s-order-item-options"
                                        ng-show="productBundleGroupFilters.value.length">

                                        <li class="s-bundle-add-obj" ng-repeat="filterItem in productBundleGroupFilters.value track by $index">
                                            <ul class="list-unstyled list-inline s-middle">
                                                <li class="j-tool-tip-item s-bundle-details" ng-bind="filterItem[searchOptions.selected.value+'Name']"></li>
                                            </ul>
                                            <ul class="list-unstyled list-inline s-last">
                                                <li class="col-xs-1 s-bundle-details-add">
                                                    <a class="btn s-btn-ten24" ng-click="addFilterToProductBundle(filterItem)"><i class="fa fa-plus"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </li>

                                    </ul>
                                </div>
                                <!-- //Selected filters -->

                            </div>
                        </div>
                    </div>
                    <!-- //Search for product -->

                    <button class="btn btn-xs s-btn-ten24" style="display:inline-block;margin-bottom:10px;"><i class="fa fa-plus"></i> Save & Add</button>

					<!-- <div class="tab-pane" ng-class="{active:navigation.value ==='Selections'}" ng-show="navigation.value === 'Selections'">


					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
</li>