<div class="row form-group" >
	<div class="col-xs-4">
		<label for="">Bundle Group Type:</label>
		<div class="btn-group s-search-filter">
			<span class="s-search-input" >
			<!--   -->
				<input  type="text" 
						ng-model="productBundleGroup.productBundleGroupType.type" 
						placeholder="Search" 
						class="form-control"
						typeahead="type.type for type in productBundleGroupTypes.getTypesByKeyword($viewValue) | filter:$viewValue"
						typeahead-on-select='selectProductBundleGroupType($item, $model, $label)'
				>
				<div ng-show="showAddProductBundleGroupTypeBtn">
					<button type="button" 
							class="btn s-btn-dgrey" 
							ng-show="showAddProductBundleGroupTypeBtn"
							ng-click="productBundleGroupTypes.setAdding(true)"
					>
						<i class="fa fa-plus"></i> Add "{{productBundleGroup.productBundleGroupType.type}}"
					</button>
					<div ng-show="productBundleGroupTypes.$$adding">
						<form 	
								style="background-color: #FFF;border: 1px solid #DDD;padding:20px;"
								role="form"
								name="form.addProductBundleGroupType"
						>
							
							<span ng-if="productBundleGroupTypes.$$adding && productBundleGroupType" >
								 <span sw-property-display 
						          		data-property="typeName"
						          		data-object="productBundleGroupType"
						          		data-meta="propertyDisplayData['typeName']"
						          		data-is-editable="true"
						          		data-is-hidden="false"
						          		data-editing="true"
						          		data-title="Group Name"
						          		data-value="productBundleGroup.productBundleGroupType.type"
						          ></span>
						          <span sw-property-display 
						          		data-property="typeCode"
						          		data-object="productBundleGroupType"
						          		data-meta="propertyDisplayData['typeCode']"
						          		data-is-editable="true"
						          		data-is-hidden="false"
						          		data-editing="true"
						          ></span>
						          <span sw-property-display 
						          		data-property="typeDescription"
						          		data-meta="propertyDisplayData['typeDescription']"
						          		data-object="productBundleGroupType"
						          		data-is-editable="true"
						          		data-is-hidden="false"
						          		data-editing="true"
						          ></span>
						          <span sw-property-display 
						          		data-property="parentType.TypeID"
						          		data-object="productBundleGroupType"
						          		data-meta="propertyDisplayData['typeID']"
						          		data-is-editable="true"
						          		data-is-hidden="true"
						          		data-field-type="hidden"
						          		data-editing="true"
						          ></span>
								<div class="form-group">
									<button type="button" 
											class="btn btn-sm s-btn-ten24"
											ng-click="saveProductBundleGroupType(form)"
									>
										<i class="fa fa-plus"></i> Add Group Type
									</button>
								</div>
							</span>
						</form>
					</div>
				</div>
			</span>
		</div>
	</div>
</div>

