<!-- Add Shipping Address -->
<span ng-init="paymentMethodID = '444df303dedc6dab69dd7ebcc9b8036a'"></span>

<swf-directive partial-name="savedcreditcards"></swf-directive>
<sw-form
	ng-if="!slatwall.savedPaymentMethod.accountPaymentMethodID"
    data-object="slatwall.orderPaymentObject"
    data-class="new_address"
    data-name="addCreditCardPayment"
    data-submit-on-enter="true"
    data-event-announcers="keyup"
    data-action="addOrderPayment"
    data-event-listeners="{addOrderPaymentSuccess:slatwall.checkIfFinalPayment, addGiftCardOrderPaymentSuccess:slatwall.checkIfFinalPayment}">

	<!--- The form without shipping address block --->
	<swf-directive partial-name="orderpaymentformfull"></swf-directive>

	<!--- Hidden fields --->
	<swf-directive partial-name="orderpaymentaddressfields"></swf-directive>
	<input type="text" class="hidden" ng-model="paymentMethodID" name="newOrderPayment.paymentMethod.paymentMethodID">

	<!--- Pleace Order / Review Order / Save Buttons --->
	<div class="form-group">
	    <sw-action-caller
	        data-type="button"
	        data-class="button blue"
	        data-text="{{(slatwall.loadingThisRequest('addOrderPayment',{'newOrderPayment.nameOnCreditCard': true}) ? 'LOADING...' : 'Add Payment')}}">
	    </sw-action-caller>
	</div>
</swform>
