<div class="agenda">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <tbody *ngFor="let key of scheduleKeys">
            <tr>
                <td class="agenda-date active" [attr.rowspan]="schedule[key].times.length + 1">
                    <div class="dayofmonth" [innerText]="schedule[key].day" ></div>
                    <div class="shortdate" >{{schedule[key].month}}, {{schedule[key].year}}</div>
                    <div class="dayofweek text-muted" [innerText]="schedule[key].weekday"></div>
                </td>
            </tr>
            <tr *ngFor="let test of schedule[key].times">
                <td class="agenda-time" [innerText]="test"></td>
            </tr>
            </tbody>
        </table>
        <!--<button class="btn btn-xs btn-default">Show More <i class="fa fa-refresh fa-spin"></i></button>-->
    </div>
</div>