<span ng-repeat="deliverScheduleDate in swProductDeliveryScheduleDates.deliverScheduleDates" >
    <span ng-bind="deliverScheduleDate.deliveryScheduleDateValue"></span><br/>
</span>

<span ng-repeat="deliverScheduleDate in swProductDeliveryScheduleDates.deliverScheduleDates" class="hidden">
    
    <input type="text" name="deliveryScheduleDates[{{$index+1}}].deliveryScheduleDateID" ng-model="deliverScheduleDate.deliveryScheduleDateID"/>
    <input type="text" name="deliveryScheduleDates[{{$index+1}}].deliveryScheduleDateValue" ng-model="deliverScheduleDate.deliveryScheduleDateValue"/>
    <input type="text" name="deliveryScheduleDates[{{$index+1}}].productID" value="{{swProductDeliveryScheduleDates.productId}}" />
    <br>
</span>

<div class="col-sm-12 s-no-paddings">
    <p class="input-group s-datepicker">
        <input class="form-control" 
      		datepicker-popup="MMM dd, yyyy hh:mm a" 
      		close-text="Close" 
      		is-open="openedCalendarStart" 
      		type="text"
      		ng-model="swProductDeliveryScheduleDates.newDeliverScheduleDate.deliveryScheduleDateValue"/>
        <span class="input-group-btn" >
            <button type="button" class="btn btn-primary btn-sm" ng-click="openCalendarStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>

<button type="button" ng-click="swProductDeliveryScheduleDates.addDate(swProductDeliveryScheduleDates.newDeliverScheduleDate)">add</button>
    