<sw-listing-display
    data-collection="'Content'"
    data-multiselect-field-name="listingPages"
    data-multiselect-id-paths="swProductListingPages.selectedListingPageIdPaths"
    data-edit="swProductListingPages.edit"
    data-has-search="false"
    data-has-action-bar="false"
    data-record-edit-action="admin:entity.editcontent"
    data-is-angular-route="false"
    data-get-child-count="true"
>
    <sw-listing-column data-property-identifier="title" tdclass="primary" />
    <sw-listing-column data-property-identifier="site.siteName" />
</sw-listing-display>