<span ng-init="paymentMethodID = '2c9280845a8b1033015a8b13656e0008'"></span>
<sw-form
	data-object="slatwall.orderPaymentObject"
	data-action="addOrderPayment"
	data-name="addPurchaseOrderPayment"
	data-event-announcers="keyup">
	<div class="form-group">
		<swf-property-display
			data-name="purchaseOrderNumber"
			data-error-name="amount"
			data-field-type="text"
			data-property-identifier="newOrderPayment.purchaseOrderNumber"
			data-label-text="Purchase Order Number"
			data-class="form-control"
			data-required="true">
		</swf-property-display>
	</div>

	<input type="text" class="hidden" ng-model="paymentMethodID" name="newOrderPayment.paymentMethod.paymentMethodID">

	<swf-directive partial-name="orderpaymentaddressfields"></swf-directive>

	<div class="form-group">
		<sw-action-caller
	        data-type="button"
	        data-class="button blue"
	        data-text="{{(slatwall.getRequestByAction('addOrderPayment').loading ? 'LOADING...' : 'Add Order Payment')}}"
	        data-event-listeners="{purchaseOrderkeyup:$parent.swForm.submitKeyCheck}">
	    </sw-action-caller>
	</div>
</sw-form>