<div class="col-md-3 s-md-content-block">
	<div class="s-md-content-block-inner">
		<div class="s-title">
			Balance
			<div class="dropdown s-action">
				<a href="##" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
					<i class="fa fa-ellipsis-h" title="actions"></i>
				</a>
				<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
					<li><a href="#">Add Funds</a></li>
				</ul>
			</div>
		</div>
		<div class="s-body">
			<ul class="list-unstyled">
				<li>
					<div class="row s-line-item s-strong">
						<div class="col-xs-6">Remaining Balance:</div>
						<div class="col-xs-6" ng-bind="swGiftCardBalance.currentBalanceFormatted"></div>
					</div>
				</li>

				<li>
					<div class="row s-line-item">
						<div class="col-xs-6">Original Balance:</div>
						<div class="col-xs-6" ng-bind="swGiftCardBalance.initialBalanceFormatted"></div>
					</div>
				</li>

				<li>
					<div class="row s-line-item">
						<div class="col-xs-12">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{swGiftCardBalance.balancePercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{swGiftCardBalance.balancePercentage}}%">
									<!-- You can add a value in here in the future -->
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>