<div class="col-md-12">
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Recipient Email Failure!</strong> There was an issue sending your gift card to the provided recipient email <button class="btn btn-danger btn-xs">Resend Recipient Email</button>
	</div>
	<div class="row s-detail-modules-wrapper">

		<!--- Overview --->
		
		<sw-gift-card-overview></sw-gift-card-overview>
		
		<!--- Balance --->
		
		<sw-gift-card-balance></sw-gift-card-balance>
		
		<!--- Order Info ---> 
		
		<sw-gift-card-order-info></sw-gift-card-order-info>
		
		<!--- Recipient Info --->
		
		<sw-gift-card-recipient-info></sw-gift-card-recipient-info>
		
	</div>

	<div class="row s-detail-content-wrapper">

		<!--- History --->
		
		<sw-gift-card-history></sw-gift-card-history>
		
	</div>
</div>