<div class="col-xs-12">
	<div class="s-detail-body">
		<h2>History & Orders</h2>
		<div class="row">
			<div class="col-xs-3 s-detail-info">
				<p>This timeline provides details on all actions that have taken place on this gift card.</p>
				<div class="s-search-table">
					<input placeholder="Search timeline" class="form-control">
					<i class="fa fa-search"></i>
					<i class="fa fa-spinner fa-spin"></i>
				</div>
			</div>
			<div class="col-xs-9 s-detail-header-table">


				<div class="responsive-table">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>Type <i class="fa fa-sort"></i></th>
								<th>Date <i class="fa fa-sort"></i></th>
								<th>Info</th>
								<th>Transaction</th>
								<th>Balance</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-class="{'s-purchase':transaction.debit, 's-success':transaction.activated}" ng-repeat="transaction in transactions">
								<!--- Initial Transactions --->
								<td ng-if="$index==transactions.length-1"><i class="fa fa-plus"></i></td>
								<td ng-if="$index==transactions.length-1">Card Purchased </td>
								<td ng-if="$index==transactions.length-1" ng-bind="order.orderOpenDateTime"></td>
								<td ng-if="$index==transactions.length-1">Customer: <a href="##"><span ng-bind="order.account_firstName"></span> <span ng-bind="order.account_lastName"></span> (<span ng-bind="order.account_primaryEmailAddress_emailAddress"></span>)</a></td>
								<td ng-if="$index==transactions.length-1">
									+ <span ng-bind="transaction.creditAmount"></span>
								</td>
								<td ng-if="$index==transactions.length-1">
									<span ng-bind="transaction.creditAmount"></span>
								</td>
								
								<!--- Notification Email --->
								<td ng-if="transaction.emailSent"><i class="fa fa-envelope"></i></td>
								<td ng-if="transaction.emailSent">Recipient notification sent </td>
								<td ng-if="transaction.emailSent" ng-bind="transaction.sentAt"></td>
								<td ng-if="transaction.emailSent">Recipient: <span ng-bind="giftCard.orderItemGiftRecipient_firstName"></span> <span ng-bind="giftCard.orderItemGiftRecipient_lastName"></span> ( <span ng-bind="giftCard.orderItemGiftRecipient_emailAddress"></span> )</td>
								<td ng-if="transaction.emailSent">--</td>
								<td ng-if="transaction.emailSent" ng-bind="transaction.balanceFormatted"></td>
								
								<!--- Activated --->
								<td ng-if="transaction.activated"><i class="fa fa-check"></i></td>
								<td ng-if="transaction.activated">Card Activated</td>
								<td ng-if="transaction.activated" ng-bind="transaction.activeAt"></td>
								<td ng-if="transaction.activated"></td>
								<td ng-if="transaction.activated">--</td>
								<td ng-if="transaction.activated" ng-bind="transaction.balanceFormatted"></td>
							
								<!--- All Other Transactions --->
								<td ng-if="$index!=transactions.length-1 && !transaction.emailSent && !transaction.activated"><i class="fa fa-shopping-cart"></i></td>
								<td ng-if="$index!=transactions.length-1 && !transaction.emailSent && !transaction.activated">
									<span ng-if="transaction.debit">Purchase Applied</span>
									<span ng-if="!transaction.debit">Return Applied</span> 
								</td>
								<td ng-if="$index!=transactions.length-1 && !transaction.emailSent && !transaction.activated" ng-bind="transaction.orderPayment_order_orderOpenDateTime"></td>
								<td ng-if="$index!=transactions.length-1 && !transaction.emailSent && !transaction.activated">Order: <span ng-bind="transaction.orderPayment_order_orderNumber"></span></td>
								<td ng-if="$index!=transactions.length-1 && !transaction.emailSent && !transaction.activated">
									<span ng-if="!transaction.debit && !transaction.emailSent && !transaction.activated">+</span>
									<span ng-if="!transaction.debit && !transaction.emailSent && !transaction.activated" ng-bind="transaction.creditAmount"></span>
									<span ng-if="transaction.debit && !transaction.emailSent && !transaction.activated">-</span>
									<span ng-if="transaction.debit && !transaction.emailSent && !transaction.activated" ng-bind="transaction.debitAmount"></span>
								</td>
								<td ng-if="$index!=transactions.length-1 && !transaction.emailSent && !transaction.activated" ng-bind="transaction.balanceFormatted"></td>
							</tr>
							<!---
							<tr class="s-purchase">
								<td><i class="fa fa-shopping-cart"></i></td>
								<td>Purchase Applied </td>
								<td>July 8, 2015 - 11:43 am</td>
								<td>Order: <a href="##">263546</a></td>
								<td>-$51.03</td>
								<td>$248.97</td>
							</tr>
							<tr class="s-success">
								<td><i class="fa fa-check"></i></td>
								<td>Card Activated</td>
								<td>July 8, 2015 - 11:43 am</td>
								<td></td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr class="s-notify">
								<td><i class="fa fa-times"></i></td>
								<td>Card Deactivated </td>
								<td>July 8, 2015 - 11:43 am</td>
								<td></td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr>
								<td><i class="fa fa-user-plus"></i></td>
								<td>Card Assigned</td>
								<td>July 8, 2015 - 11:43 am</td>
								<td></td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr>
								<td><i class="fa fa-envelope"></i></td>
								<td>Recipient Email Opened</td>
								<td>July 8, 2015 - 11:43 am</td>
								<td>Recipient: Bob Smith (bobsmith@gmail.com)</td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr class="s-error">
								<td><i class="fa fa-envelope"></i></td>
								<td>Recipient Email Failure </td>
								<td>July 8, 2015 - 11:43 am</td>
								<td>Recipient: John Smith (johnsmith@gmail.com)</td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr>
								<td><i class="fa fa-envelope"></i></td>
								<td>Recipient email updated </td>
								<td>July 8, 2015 - 11:43 am</td>
								<td>Recipient: John Smith (johnsmith@gmail.com)</td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr>
								<td><i class="fa fa-envelope"></i></td>
								<td>Recipient notification resent </td>
								<td>July 8, 2015 - 11:43 am</td>
								<td>Recipient: John Smith (johnsmith@gmail.com)</td>
								<td>--</td>
								<td>$300.00</td>
							</tr>
							<tr>
								<td><i class="fa fa-plus"></i></td>
								<td>Card Purchased </td>
								<td>July 8, 2015 - 11:43 am</td>
								<td>Customer: <a href="##">John Smith (johnsmith@gmail.com)</a></td>
								<td>+$300.00</td>
								<td>$300.00</td>
							</tr>
							--->
						</tbody>
					</table>
					<div class="s-load-more-wrapper" ng-hide="transactions.length < 10">
						<button type="button" name="button" class="btn btn-default btn-sm s-load-more">Load More <span>(showing 9 of 200)</span></button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>