<div class="j-panel panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title" ng-bind="swCustomerAccountCard.title"></h4>
	</div>
	<content class="s-body-box">
		<!--<hb:HibachiPropertyDisplay object="#rc.orderTemplate.getAccount()#" property="calculatedFullName" edit="false">
		<hb:HibachiPropertyDisplay object="#rc.orderTemplate.getAccount()#" property="emailAddress" edit="false">
		<hb:HibachiPropertyDisplay object="#rc.orderTemplate.getAccount()#" property="phoneNumber" edit="false">-->
	</content>
</div>
