<div class="s-bundle-add-items s-workflow-objs">
	<ul class="list-unstyled s-order-item-options s-negative-obj">
		<!---TODO: convert to trigger directive --->
		<span ng-repeat="workflowTrigger in workflowTriggers"> 
			<span 	sw-workflow-trigger
					ng-if="workflowTrigger.isPersisted()"
					data-workflow-trigger="workflowTrigger"
					data-workflow-triggers="workflowTriggers"
					ng-init="workflowTrigger.$$index = $index"
			>
			</span>
		</span>
	</ul>

	<button ng-show="!workflowTriggers.selectedTrigger || workflowTriggers.selectedTrigger.isPersisted()" class="btn btn-xs s-btn-ten24" 
			ng-click="addWorkflowTrigger()" 
			data-toggle="collapse" 
			data-target="#j-create-new-trigger"
	>
		<i class="fa fa-plus"></i>
		 Add Trigger
	</button>

	<!--- Edit Filter Box --->
	<div ng-if="workflowTriggers.selectedTrigger" class="col-xs-12 collapse s-add-filter" id="j-create-new-trigger">
		<div class="row">
			<h4> 
				<span ng-show="workflowTriggers.selectedTrigger.isPersisted()">Edit</span>
				<span ng-show="!workflowTriggers.selectedTrigger.isPersisted()">New</span>
				 Trigger 
				 <i class="fa fa-times" 
				 	data-toggle="collapse" 
				 	data-target="#j-create-new-trigger"
				 	ng-click="removeWorkflowTrigger(workflowTriggers.selectedTrigger)"
				 ></i>
			</h4>
			<div class="col-xs-12">

				<div class="row">
					<div class="col-xs-3">
						<!-- <span  	sw-property-display
								data-object="selectedTrigger"
								data-property="triggerType"
								data-meta="propertyDisplayData['triggerType']"
								data-editing="true"
								data-editable="true"
						> -->
						<div class="s-create-obj-window">
							<h4>Trigger Type:</h4>
							<div class="form-group">
								<div class="radio">
									<input  type="radio" name="radio3" id="radio2"
											ng-model="workflowTriggers.selectedTrigger.triggerType"
											value="Event"
									>
									<label for="radio2">
										Event
									</label>
								</div>
								<div class="radio">
									<input  type="radio" name="radio3" id="radio3"
											
											ng-model="workflowTriggers.selectedTrigger.triggerType"
											value="Schedule" 
									>
									<label for="radio3">
										Schedule
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 s-criteria">
						<span ng-show="workflowTriggers.selectedTrigger.triggerType === 'Event'">
							<h4>Select Trigger Event:</h4>
							<!--- Filter Criteria Start --->
							<form action="index.html" method="post">
	
								<div class="s-filter-group-item">
	
									<div class="form-group form-group-sm">
										<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">{{workflowTriggers.selectedTrigger.workflow.workflowObject}}:</label>
										<div class="col-sm-12 s-no-paddings">
	
											<!--- search --->
											<div class="s-search-filter">
												<div class="input-group">
													<input type="text" class="form-control input-sm" placeholder="Search&hellip;" ng-model="searchEvent.name" ng-focus="searchEvent.name = ''">
													<ul class="dropdown-menu " ng-show="showEventOptions">
														<span ng-repeat="eventOption in eventOptions | filter:searchEvent.name">
															<li><a ng-click="selectEvent(eventOption)">{{eventOption.name}}</a></li>
														</span>
													</ul>
													<div class="input-group-btn">
														<button type="button" class="btn btn-sm s-btn-grey" ng-click="getEventOptions(workflowTriggers.selectedTrigger.workflow.workflowObject);"><span class="caret"></span></button>
													</div>
												</div>
	
												<div class="s-add-content collapse" id="j-toggle-add-bundle-type">
													<form id="form_id" action="index.html" method="post" >
														<div class="form-group has-error">
															<label for="">Group Name <i class="fa fa-asterisk"></i></label>
															<input type="text" class="form-control" id="" value="" placeholder="">
															<p class="help-block">Example Of Error</p>
														</div>
														<div class="form-group">
															<label for="">Group Code</label>
															<input type="text" class="form-control" id="" value="" placeholder="">
														</div>
														<div class="form-group">
															<label for="">Group Description</label>
															<textarea class="field form-control" id="textarea" rows="4" placeholder=""></textarea>
														</div>
														<div class="form-group">
															<button type="button" class="btn btn-sm s-btn-ten24"><i class="fa fa-plus"></i> Add Group Type</button>
														</div>
													</form>
												</div>
	
											</div>
											<!--- // search --->
	
										</div>
										<div class="clearfix"></div>
									</div>
	
									<div class="form-group form-group-sm" id="j-placeholder-trigger-select" style="display:none;">
										<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">On Order Item Event:</label>
										<div class="col-sm-12 s-no-paddings">
	
											<!--- search --->
											<div class="s-search-filter">
												<div class="input-group">
													<input type="text" class="form-control input-sm j-search-input" placeholder="Search&hellip;">
													<ul class="dropdown-menu s-search-options">
														<li><button type="button" class="btn s-btn-dgrey" data-toggle="collapse" data-target="#j-toggle-add-bundle-type"><i class="fa fa-plus"></i> Add "This should be the name"</button></li>
														<li><a>On Order Item Save</a></li>
														<li><a>On Order Item Update</a></li>
														<li><a>On Order Item Cancel</a></li>
														<li><a>On Order Item Delete</a></li>
														<li><hr/></li>
														<li id="j-placeholder-trigger"><a>On Order Item Event</a></li>
														<li><a>On Order Fulfillment Event</a></li>
													</ul>
													<div class="input-group-btn">
														<button type="button" class="btn btn-sm s-btn-grey j-dropdown-options"><span class="caret"></span></button>
													</div>
												</div>
	
												<div class="s-add-content collapse" id="j-toggle-add-bundle-type">
													<form id="form_id" action="index.html" method="post" >
														<div class="form-group has-error">
															<label for="">Group Name <i class="fa fa-asterisk"></i></label>
															<input type="text" class="form-control" id="" value="" placeholder="">
															<p class="help-block">Example Of Error</p>
														</div>
														<div class="form-group">
															<label for="">Group Code</label>
															<input type="text" class="form-control" id="" value="" placeholder="">
														</div>
														<div class="form-group">
															<label for="">Group Description</label>
															<textarea class="field form-control" id="textarea" rows="4" placeholder=""></textarea>
														</div>
														<div class="form-group">
															<button type="button" class="btn btn-sm s-btn-ten24"><i class="fa fa-plus"></i> Add Group Type</button>
														</div>
													</form>
												</div>
	
											</div>
											<!--- // search --->
	
										</div>
										<div class="clearfix"></div>
									</div>
	
								</div>
	
							</form>
						</span>
						<!--- //Filter Criteria End --->
						<span ng-show="workflowTriggers.selectedTrigger.triggerType === 'Schedule'">
							<h4>Select Trigger Schedule:</h4>
	
							<!--- Filter Criteria Start --->
							<form action="index.html" method="post">
	
								<div class="s-filter-group-item">
	
									<div class="form-group form-group-sm">
										<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">{{workflowTriggers.selectedTrigger.workflow.workflowObject}} Collection:</label>
										<div class="col-sm-12 s-no-paddings">
	
											<!--- search --->
											<div class="s-search-filter">
												<div class="input-group">
													<input type="text" class="form-control input-sm" placeholder="Search&hellip;">
													<ul class="dropdown-menu s-search-options" ng-show="showCollections" ng-repeat="collection in collections">
														<li >
															<a  ng-bind="collection.collectionName"
																ng-click="selectCollection(collection)"
															></a>
														</li>
														<!-- <li><button type="button" class="btn s-btn-dgrey" data-toggle="collapse" data-target="#j-toggle-add-bundle-type"><i class="fa fa-plus"></i> Add "This should be the name"</button></li>
														<li><a>Unassigned Orders</a></li>
														<li><a>Todays Orders</a></li> -->
													</ul>
													<div class="input-group-btn">
														<button type="button" 
																class="btn btn-sm s-btn-grey j-dropdown-options"
																ng-click="getCollectionByWorkflowObject();showCollections=!showCollections"
														>
															<span class="caret"></span>
														</button>
													</div>
												</div>
	
												<div class="s-add-content collapse" id="j-toggle-add-bundle-type">
													<form id="form_id" action="index.html" method="post" >
														<div class="form-group has-error">
															<label for="">Group Name <i class="fa fa-asterisk"></i></label>
															<input type="text" class="form-control" id="" value="" placeholder="">
															<p class="help-block">Example Of Error</p>
														</div>
														<div class="form-group">
															<label for="">Group Code</label>
															<input type="text" class="form-control" id="" value="" placeholder="">
														</div>
														<div class="form-group">
															<label for="">Group Description</label>
															<textarea class="field form-control" id="textarea" rows="4" placeholder=""></textarea>
														</div>
														<div class="form-group">
															<button type="button" class="btn btn-sm s-btn-ten24"><i class="fa fa-plus"></i> Add Group Type</button>
														</div>
													</form>
												</div>
	
											</div>
											<!--- // search --->
	
										</div>
										<div class="clearfix"></div>
									</div>
	
									<div class="form-group form-group-sm">
										<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Schedule Frequency:</label>
										<div class="col-sm-12 s-no-paddings">
	
											<!--- search --->
											<div class="s-search-filter">
												<div class="input-group">
													<input type="text" class="form-control input-sm j-search-input" placeholder="Search&hellip;">
													<ul class="dropdown-menu s-search-options">
														<li><button type="button" class="btn s-btn-dgrey" data-toggle="collapse" data-target="#j-toggle-add-bundle-type3"><i class="fa fa-plus"></i> Add "This should be the name"</button></li>
														<li><a>Every Monday</a></li>
														<li><a>Bob's Daily Schedule</a></li>
													</ul>
													<div class="input-group-btn">
														<button type="button" class="btn btn-sm s-btn-grey j-dropdown-options"><span class="caret"></span></button>
													</div>
												</div>
	
												<div class="s-add-content collapse" id="j-toggle-add-bundle-type3">
													<form id="form_id" action="index.html" method="post">
														<div class="form-group form-group-sm">
															<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Schedule Name:</label>
															<div class="col-sm-12 s-no-paddings">
																<input type="text" class="form-control" id="input">
															</div>
															<div class="clearfix"></div>
														</div>
	
														<div class="form-group">
															<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Schedule Type:</label>
															<select class="form-control input-sm">
																<option value="-- Select">--Select--</option>
																<option selected="" value="Daily">Daily</option>
																<option value="Days of the Week">Days of the Week</option>
																<option value="Days of the Month">Days of the Month</option>
															</select>
														</div>
	
														<div class="row">
															<div class="form-group form-group-sm col-sm-6">
																<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Start Time:</label>
																<div class="col-sm-12 s-no-paddings">
																	<input type="text" class="form-control" id="input">
																</div>
																<div class="clearfix"></div>
															</div>
	
															<div class="form-group form-group-sm col-sm-6">
																<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">End Time:</label>
																<div class="col-sm-12 s-no-paddings">
																	<input type="text" class="form-control" id="input">
																</div>
																<div class="clearfix"></div>
															</div>
														</div>
	
														<hr/>
	
														<div class="form-group s-workflow-checkbox">
	
															<label class="col-sm-12 s-no-paddings" for="formGroupInputSmall">End Time:</label>
															<div class="controls col-sm-6 s-checkbox">
																<input type="checkbox" id="j-checkbox1" checked="checked" ><label for="j-checkbox1"> Sunday</label>
																<input type="checkbox" id="j-checkbox2" checked="checked" ><label for="j-checkbox2"> Monday</label>
																<input type="checkbox" id="j-checkbox3" checked="checked" ><label for="j-checkbox3"> Tuesday</label>
																<input type="checkbox" id="j-checkbox4" checked="checked" ><label for="j-checkbox4"> Wednesday</label>
															</div>
	
															<div class="controls col-sm-6 s-checkbox">
																<input type="checkbox" id="j-checkbox4" checked="checked" ><label for="j-checkbox4"> Thursday</label>
																<input type="checkbox" id="j-checkbox4" checked="checked" ><label for="j-checkbox5"> Friday</label>
																<input type="checkbox" id="j-checkbox6" checked="checked" ><label for="j-checkbox6"> Saturday</label>
															</div>
	
														</div>
	
														<button name="button" class="btn s-btn-ten24 btn-xs s-width-100"> Save Schedule</button>
													</form>
												</div>
	
											</div>
											<!--- // search --->
	
										</div>
										<div class="clearfix"></div>
									</div>
	
								</div>
	
							</form>
						</span>
						<!--- //Filter Criteria End --->

					</div>
					<div class="col-xs-3">

						<div class="s-default-list" ng-show="workflowTriggers.selectedTrigger.triggerType === 'Schedule'">
							<h2>Estimated Schedule</h2>
							<dl class="dl-horizontal">
								<dt class="title">September 29th, 2014:</dt>
								<dt class="title">October 6th, 2014</dt>
								<dt class="title">September 29th, 2014</dt>
							</dl>
						</div>

						<div class="s-button-select-group">
							<button 
									type="button" 
									class="btn btn-sm s-btn-ten24 s-width-100"
									ng-click="saveTrigger()"
							>
								Save Trigger
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--- //Edit Filter Box --->

	<div class="clearfix"></div>

</div>
