<li class="s-bundle-add-obj">
	<ul class="list-unstyled list-inline">
		<li class="s-item-type s-tooltip" data-toggle="tooltip" data-placement="right" title="Event"><i class="fa fa-flag"></i></li>
	</ul>
	<ul class="list-unstyled list-inline s-middle">
		<li class="j-tool-tip-item s-bundle-details">Order - Save Order Success</li>
	</ul>
	<ul class="list-unstyled list-inline s-last">
		<li class="col-xs-1 j-tool-tip-item s-bundle-details-add"><a class="btn s-btn-dgrey s-remove"><i class="fa fa-trash"></i></a></li>
	</ul>
	<div class="clearfix"></div>
</li>