<div class="s-bundle-add-items s-workflow-objs">
	<span class="list-unstyled s-order-item-options" ng-repeat="workflowTaskAction in workflowTaskActions" ng-init="workflowTaskAction.$$actionIndex = $index">
		<span class="s-bundle-add-obj" ng-if="workflowTaskAction.$$isPersisted()">
			<ul class="list-unstyled list-inline">
				<li class="s-item-type s-tooltip ng-binding" ng-bind="$index+1"></li>
				<!--<li class="s-item-type"><i class="fa fa-arrows-v"></i></li>-->
			</ul>
			<ul class="list-unstyled list-inline s-middle">
				<li class="j-tool-tip-item s-bundle-details">Type: <span ng-bind="workflowTaskAction.data.actionType"></span></li>
				<li class="j-tool-tip-item s-bundle-details">
					Object: 
					<span ng-bind="workflowTaskAction.data.workflowTask.data.workflow.data.workflowObject"></span>
				</li>
				<li class="j-tool-tip-item s-bundle-details">
					Detail: 
					<ng-switch on="workflowTaskAction.data.actionType" ng-if="workflowTaskAction.data.actionType">
						<span ng-switch-when="print" ng-bind="workflowTaskAction.data.printTemplate.data.printTemplateName"></span>
						<span ng-switch-when="email" ng-bind="workflowTaskAction.data.emailTemplate.data.emailTemplateName"></span>
					</ng-switch>
				</li>
			</ul>
			<ul class="list-unstyled list-inline s-last">
				<li class="col-xs-1 j-tool-tip-item s-bundle-details-add" ng-click="selectWorkflowTaskAction(workflowTaskActions[$index]); setHidden(workflowTaskActions[$index]);">
					<a class="btn s-btn-dgrey s-edit" data-target="#s-add-obj-1">
						<i 	class="fa fa-pencil"
						></i>
					</a>
				</li>
				<li class="col-xs-1 j-tool-tip-item s-bundle-details-add" ng-click="removeWorkflowTaskAction(workflowTaskActions[$index])">
					<a class="btn s-btn-dgrey s-remove">
						<i class="fa fa-trash"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</span>
	</span>
</div>
<div class="form-group">
	<!-- This is the add button -->
<button class="btn btn-xs s-btn-ten24" 
			data-target="#j-add-action-b"
			ng-click="addWorkflowTaskAction();"
			ng-show="!workflowTaskActions.selectedTaskAction || workflowTaskActions.selectedTaskAction.hidden"><!-- This button should only show when we are not editing. -->
		<i class="fa fa-plus"></i>
		 Add Action
</button>
</div>
<div ng-if="!workflowTaskActions.selectedTaskAction.hidden"><!-- Handles making sure the form hides on save and finish -->
<!--- Edit Filter Box --->
<div 	class="col-xs-12  s-add-filter" 
		id="j-add-action-b"
		ng-if="workflowTaskActions.selectedTaskAction && !finished">
	<sw-form name="selectedTaskAction"
				data-object="workflowTaskActions.selectedTaskAction"
				data-context="save">
		<div class="row">
			<h4>Add Action {{workflowTaskActions.selectedTaskAction.data.actionType}}
				<i 	class="fa fa-times" 
					data-target="#j-add-action-b"
					ng-click="workflowTaskActions.selectedTaskAction.hidden = true"
				></i>
			</h4>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group form-group-sm">
							<sw-property-display
								data-object="workflowTaskActions.selectedTaskAction"
								data-property="actionType"
								data-editable="true"
								data-editing="true"
								data-options-arguments="{property:'actionType'}"
							>
							</sw-property-display>
						</div>
					</div>
					<div class="col-xs-6 s-criteria">
						<!--- Filter Criteria Start --->
						<div 	class="s-filter-group-item"
								ng-show="workflowTaskActions.selectedTaskAction.data.actionType === 'email'"
						>
							<h4>Email Template</h4>
							<div class="form-group form-group-sm">
								<!--- search --->
								<div class="s-search-filter">
									<sw-property-display
										data-object="workflowTaskActions.selectedTaskAction"
										data-property="emailTemplate"
										data-field-type="search-select"
										data-editing="true"
									></sw-property-display>
									<div class="s-add-content collapse" id="j-toggle-add-bundle-type">
										<form id="form_id" action="index.html" method="post" style="background-color: #FFF;border: 1px solid #DDD;padding:20px;">
											<div class="form-group has-error">
												<label for="">Group Name <i class="fa fa-asterisk"></i></label>
												<input type="text" class="form-control" id="" value="" placeholder="">
												<p class="help-block">Example Of Error</p>
											</div>
											<div class="form-group">
												<label for="">Group Code</label>
												<input type="text" class="form-control" id="" value="" placeholder="">
											</div>
											<div class="form-group">
												<label for="">Group Description</label>
												<textarea class="field form-control" id="textarea" rows="4" placeholder=""></textarea>
											</div>
											<div class="form-group">
												<button type="button" class="btn btn-sm s-btn-ten24"><i class="fa fa-plus"></i> Add Group Type</button>
											</div>
										</form>
									</div>
								</div>
								<!--- // search --->
	
							</div>
	
						</div>
						<!--- //Filter Criteria End --->
						
						<!--- Filter Criteria Start --->
						<div 	class="s-filter-group-item"
								ng-if="workflowTaskActions.selectedTaskAction.data.actionType === 'print'">
	
							<h4>Print Template</h4>
							<div class="form-group form-group-sm">
	
								<!--- search --->
								<div class="s-search-filter">
									<sw-property-display
										data-object="workflowTaskActions.selectedTaskAction"
										data-property="printTemplate"
										data-field-type="search-select"
										data-editing="true"
									></sw-property-display>
									<div class="s-add-content collapse" id="j-toggle-add-bundle-type">
										<form id="form_id" action="index.html" method="post" style="background-color: #FFF;border: 1px solid #DDD;padding:20px;">
											<div class="form-group has-error">
												<label for="">Group Name <i class="fa fa-asterisk"></i></label>
												<input type="text" class="form-control" id="" value="" placeholder="">
												<p class="help-block">Example Of Error</p>
											</div>
											<div class="form-group">
												<label for="">Group Code</label>
												<input type="text" class="form-control" id="" value="" placeholder="">
											</div>
											<div class="form-group">
												<label for="">Group Description</label>
												<textarea class="field form-control" id="textarea" rows="4" placeholder=""></textarea>
											</div>
											<div class="form-group">
												<button type="button" class="btn btn-sm s-btn-ten24"><i class="fa fa-plus"></i> Add Group Type</button>
											</div>
										</form>
									</div>
								</div>
								<!--- // search --->
	
							</div>
	
						</div>
						<!--- //Filter Criteria End --->
	
						<!--- Filter Criteria Start --->
						<div 	class="s-filter-group-item" 
								ng-if="workflowTaskActions.selectedTaskAction.data.actionType === 'update'"
						>
	
							<h4>Update Data</h4>
							<div class="form-group form-group-sm">
								<input type="text" class="form-control" placeholder="Ready To Capture">
								<!--- <p class="help-block">Help text here.</p> --->
							</div>
						</div>
						<!--- //Filter Criteria End --->
						<!--- Filter Criteria Start --->
						<div 	class="s-filter-group-item"
								ng-if="workflowTaskActions.selectedTaskAction.data.actionType === 'process'"
						>
							<h4>Dynamic Numeric</h4>
							<div class="row">
								<div class="col-md-6 form-group form-group-sm">
									<select class="form-control input-sm">
										<option value="1">Dynamic Numeric Value</option>
										<option value="2">Add 'N'</option>
										<option value="3">Set value to '0'</option>
										<option value="4">Subtract 'N'</option>
									</select>
								</div>
								<div class="col-md-6 form-group form-group-sm">
									<input type="number" class="form-control" placeholder="" value="4">
									<!--- <p class="help-block">Help text here.</p> --->
								</div>
							</div>
	
						</div>
						<!--- //Filter Criteria End --->
						<!--- Filter Criteria Start --->
						<div 	class="s-filter-group-item"
								ng-if="workflowTaskActions.selectedTaskAction.data.actionType === 'delete'"
						>
							<h4>Delete</h4>
							<div class="form-group form-group-sm s-checkbox">
								<input type="checkbox" id="j-delete-confirm" checked="checked"><label for="j-delete-confirm"> Confirm "Orders" object will be deleted</label>
							</div>
						</div>
					  <!--- //Filter Criteria End --->
					</div>
					<div class="col-xs-3">
						<div class="s-button-select-group">
							<button type="button" class="btn btn-sm s-btn-ten24" ng-click="saveWorkflowTaskAction(workflowTaskActions.selectedTaskAction, 'add')">Save & Add Another</button>
							<div class="s-or-box">OR-</div>
							<button type="button" class="btn btn-sm s-btn-ten24" ng-click="saveWorkflowTaskAction(workflowTaskActions.selectedTaskAction, 'finish')">Save & Finish</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</sw-form>
</div>
<!--- //Edit Filter Box --->
<div class="clearfix"></div>
<div>