<section class="content s-body-margin" id="j-main-content">

	<div class="col-md-12">
		

	<div class="row s-body-nav">
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="col-md-6 s-header-info">
			
				
				<ul class="list-unstyled list-inline">
					
					
				</ul>
				
				<h1 class="actionbar-title">Collections</h1>
			</div>

			<div class="col-md-6">
				<div class="btn-toolbar">

					
					
						<div class="btn-group btn-group-sm">
							 <a title="Add Collection" class="adminentitycreatecollection btn s-btn-blue" target="_self" href="?slatAction=entity.createcollection"><i class="glyphicon glyphicon-plus icon-white"></i> Add Collection</a>  
						</div>
					
					
				</div>
			</div>
		</nav>
	</div>


<div class="s-table-header-nav s-listing-head-margin">
	<div class="col-xs-6 s-no-padding-left">
		<ul class="list-inline list-unstyled">
			<li>
				<h4>
					
				</h4>
			</li>
		</ul>
	</div>

	<div class="col-xs-6 s-table-view-options s-no-padding-right">
		<ul class="list-inline list-unstyled">
			<li>
				<form class="s-table-header-search ng-pristine ng-valid" novalidate="novalidate">
					
						<input type="text" name="search" class="form-control input-sm general-listing-search" placeholder="Search" value="" tableid="LD45E2A51ABB8FAA1277509A46B2857887">
					
				</form>
			</li>
			<li>
				<div class="btn-group navbar-left dropdown">

					<button type="button" class="btn btn-sm s-btn-lgrey dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>

						<ul class="dropdown-menu pull-right" role="menu">
							<li><a title="Export List" class="adminentityexportSlatwallCollection " target="_self" href="?slatAction=entity.exportSlatwallCollection">Export List</a></li> 
						</ul>
						
						

				</div>
			</li>
		</ul>

	</div>
</div>

<div class="table-responsive">
	<table id="LD45E2A51ABB8FAA1277509A46B2857887" class="table table-striped table-bordered table-condensed" data-norecordstext="There aren't any Collections." data-savedstateid="45E2A51A-BB8F-AA12-77509A46B2857887" data-entityname="SlatwallCollection" data-idproperty="collectionID" data-processobjectproperties="" data-propertyidentifiers="collectionID,collectionName,collectionCode,collectionObject">
		<thead>

			<tr>
				
				
					<th class="data " data-propertyidentifier="collectionName">
						
							<div class="dropdown">
								<a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Collection Name <i class="fa fa-sort-desc"></i></a>
								<ul class="dropdown-menu nav scrollable">
									<li class="dropdown-header">Sort</li>
											<li><a href="#" class="listing-sort" data-sortdirection="ASC"><i class="icon-arrow-down"></i> Sort Ascending</a></li>
											<li><a href="#" class="listing-sort" data-sortdirection="DESC"><i class="icon-arrow-up"></i> Sort Descending</a></li>
											<li class="divider"></li>
										
											<li class="dropdown-header">Search</li>
											<li class="search-filter"><input type="text" class="listing-search form-control" name="FK:collectionName" value=""> <i class="icon-search"></i></li>
								</ul>
							</div>
						
					</th>
				
					<th class="data " data-propertyidentifier="collectionCode">
						
							<div class="dropdown">
								<a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Collection Code <i class="fa fa-sort-desc"></i></a>
								<ul class="dropdown-menu nav scrollable">
									<li class="dropdown-header">Sort</li>
											<li><a href="#" class="listing-sort" data-sortdirection="ASC"><i class="icon-arrow-down"></i> Sort Ascending</a></li>
											<li><a href="#" class="listing-sort" data-sortdirection="DESC"><i class="icon-arrow-up"></i> Sort Descending</a></li>
											<li class="divider"></li>
										
											<li class="dropdown-header">Search</li>
											<li class="search-filter"><input type="text" class="listing-search form-control" name="FK:collectionCode" value=""> <i class="icon-search"></i></li>
								</ul>
							</div>
						
					</th>
				
					<th class="data " data-propertyidentifier="collectionObject">
						
							<div class="dropdown">
								<a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Collection Type <i class="fa fa-sort-desc"></i></a>
								<ul class="dropdown-menu nav scrollable">
									<li class="dropdown-header">Sort</li>
											<li><a href="#" class="listing-sort" data-sortdirection="ASC"><i class="icon-arrow-down"></i> Sort Ascending</a></li>
											<li><a href="#" class="listing-sort" data-sortdirection="DESC"><i class="icon-arrow-up"></i> Sort Descending</a></li>
											<li class="divider"></li>
										
											<li class="dropdown-header">Search</li>
											<li class="search-filter"><input type="text" class="listing-search form-control" name="FK:collectionObject" value=""> <i class="icon-search"></i></li>
								</ul>
							</div>
						
					</th>
				
					<th class="admin admin3" data-detailaction="admin:entity.detailcollection" data-detailquerystring="" data-detailmodal="false" data-editaction="admin:entity.editcollection" data-editquerystring="" data-editmodal="false" data-deleteaction="admin:entity.deletecollection" data-deletequerystring="">&nbsp;</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr id="40288189499ad73d01499f350f5600e7">
					
					
							<td class="">
								test 
							</td>
						
							<td class="">
								
							</td>
						
							<td class="">
								Account 
							</td>
						
						<td class="admin admin3">
							
							<a title="" class="adminentitydetailcollection btn btn-default btn-xs" target="_self" href="?slatAction=entity.detailcollection&amp;collectionID=40288189499ad73d01499f350f5600e7" id="adminentitydetailcollection_40288189499ad73d01499f350f5600e7"><i class="glyphicon glyphicon-eye-open"></i> </a> <a title="" class="adminentityeditcollection btn btn-default btn-xs" target="_self" href="?slatAction=entity.editcollection&amp;collectionID=40288189499ad73d01499f350f5600e7" id="adminentityeditcollection_40288189499ad73d01499f350f5600e7"><i class="glyphicon glyphicon-pencil"></i> </a> <a title="" class="adminentitydeletecollection btn btn-default btn-xs alert-confirm" target="_self" href="?slatAction=entity.deletecollection&amp;collectionID=40288189499ad73d01499f350f5600e7" data-confirm="Are you sure you would like to delete this Collection?" id="adminentitydeletecollection"><i class="glyphicon glyphicon-trash"></i> </a> 
						</td>
					
				</tr>
			
		</tbody>
	</table>

	</div>




	</div>

</section>