<ng-switch on="propertyDisplay.fieldType" ng-if="propertyDisplay">
	<sw-form-field-text data-property-display="propertyDisplay" ng-switch-when="text"></sw-form-field-text>
	<sw-form-field-select data-property-display="propertyDisplay" ng-switch-when="select"></sw-form-field-select>
	<sw-form-field-radio data-property-display="propertyDisplay" ng-switch-when="yesno"></sw-form-field-radio>
	<sw-form-field-number data-property-display="propertyDisplay" ng-switch-when="number"></sw-form-field-number>
	<sw-form-field-json data-property-display="propertyDisplay" ng-switch-when="json"></sw-form-field-json>
	<sw-form-field-search-select data-property-display="propertyDisplay" ng-switch-when="search-select"></sw-form-field-search-select>
</ng-switch>

