
<div class="{{propertyDisplay.fieldType}}">
	<input type="radio" name="active" id="radio1"
			ng-model="propertyDisplay.value"
    		ng-disabled="propertyDisplay.editable"
    		ng-show="propertyDisplay.editing"
			value="true"
			ng-change="formFieldChanged(propertyDisplay.value)"
	>
	<label for="radio1">
			Yes
	</label>
</div>
<div class="{{propertyDisplay.fieldType}}">
	<input type="radio" name="active" id="radio2" 
			ng-model="propertyDisplay.value"
	   		ng-disabled="propertyDisplay.editable"
	   		ng-show="propertyDisplay.editing"
	   		ng-change="formFieldChanged(propertyDisplay.value)"
	>
	<label for="radio2">
			No
	</label>
</div>

<!-- Error Messages -->
    
<span style="color:red"
	ng-repeat="(key,value) in propertyDisplay.errors"
	ng-show="(propertyDisplay.form.$submitted && propertyDisplay.form[propertyDisplay.property].$invalid) || (propertyDisplay.form[propertyDisplay.property].$invalid && propertyDisplay.form[propertyDisplay.property].$dirty)"
>
  <span  ng-show="key === 'required'">{{propertyDisplay.title}} is a required field<br></span>
</span>