<div class="input-group" ng-if="propertyDisplay.object">
	<input  type="text"
			ng-model="property.object.data[propertyDisplay.property+'Name']"
			placeholder="Search"
			class="form-control input-sm"
			typeahead="object[propertyDisplay.property+'Name'] for object in selectionOptions.getOptionsByKeyword($viewValue) | filter:$viewValue"
			typeahead-on-select="selectItem($item, $model, $label)"
	>
	<div class="input-group-btn">
		<button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
	</div>
	<input style="display:none"	type="text" 
		name="{{propertyDisplay.property+'ID'}}"
		ng-model="propertyDisplay.object.data[propertyDisplay.property][propertyDisplay.object.data[propertyDisplay.property].$$getIDName()]"
	/>
	<!-- <sw-property-display
			style="display:none"
			data-object="property.object.data[propertyDisplay.property]"
			data-property="property.object.data[propertyDisplay.property].$$getIDName()"
			data-editing="true"
			data-editable="true"
			data-is-dirty="true"
	></sw-property-display> -->
</div>
<!-- Error Messages -->
    
<span style="color:red"
	ng-repeat="(key,value) in propertyDisplay.errors"
	ng-show="(propertyDisplay.form.$submitted && propertyDisplay.form[propertyDisplay.property].$invalid) || (propertyDisplay.form[propertyDisplay.property].$invalid && propertyDisplay.form[propertyDisplay.property].$dirty)"
>
  <span  ng-show="key === 'required'">{{propertyDisplay.title}} is a required field<br></span>
</span>
