<div class="col-md-9 s-search-filter" id="j-inside-product-bundle-group-type" sw-click-outside="closeThis(clickOutsideArgs)" >
	
	<div class="input-group" ng-if="propertyDisplay.object">
		<input  type="text"
				ng-model="propertyDisplay.object.data[propertyDisplay.property].data[cfcProperCase+'Name']"
				placeholder="Search"
				class="form-control input-sm"
				typeahead="object[cfcProperCase+'Name'] for object in selectionOptions.getOptionsByKeyword($viewValue) | filter:$viewValue"
				typeahead-on-select="selectItem($item, $model, $label)"
		>
		
		<input 	type="text"  
			style="display:none"
			name="{{propertyDisplay.property}}"
			ng-model="propertyDisplay.object.data[propertyDisplay.property]"
		/>
		<div class="input-group-btn">
			<button type="button" class="btn btn-sm btn-default" ng-click="closeAddScreen();clearTypeName();">
				<span ng-if="showAddBtn" class="fa fa-caret-up"></span>
				<span ng-if="!showAddBtn" class="fa fa-caret-down"></span>
			</button>
		</div>
		
	</div>
	<div ng-if="showAddBtn && propertyDisplay.object.data[propertyDisplay.property].data[cfcProperCase+'Name'] "><!-- Only show if there is text -->
		<button type="button" class="btn s-btn-dgrey" ng-click="setAdding(true)">
			<i class="fa fa-plus"></i> Add "{{propertyDisplay.object.data[propertyDisplay.property].data[cfcProperCase+'Name']}}"
		</button>
		<!-- <ng-include ng-if="propertyDisplay.template" src="propertyDisplay.template"></ng-include> -->	
	</div> 
	
	<!-- Error Messages -->
	    
	<span style="color:red"
		ng-repeat="(key,value) in propertyDisplay.errors"
		ng-show="(propertyDisplay.form.$submitted && propertyDisplay.form[propertyDisplay.property].$invalid) || (propertyDisplay.form[propertyDisplay.property].$invalid && propertyDisplay.form[propertyDisplay.property].$dirty)"
	>
	  <span  ng-show="key === 'required'">{{propertyDisplay.title}} is a required field<br></span>
	</span>
</div>
