<select id="{{propertyDisplay.property}}" type="{{propertyDisplay.fieldType}}" class="form-control" 
		    		 ng-model="propertyDisplay.object[propertyDisplay.property]"
		    		 ng-disabled="propertyDisplay.editable"
		    		 ng-show="propertyDisplay.editing"
		    		 ng-options="propertyDisplayOption.name
  									 for propertyDisplayOption in propertyDisplay.meta.options
  									 track by propertyDisplayOption.value"
					 ng-change="formFieldChanged(propertyDisplay.value)"
					 ng-click="getOptions()"
					
></select>

<!-- Error Messages -->
    
<span style="color:red"
	ng-repeat="(key,value) in propertyDisplay.errors"
	ng-show="(propertyDisplay.form.$submitted && propertyDisplay.form[propertyDisplay.property].$invalid) || (propertyDisplay.form[propertyDisplay.property].$invalid && propertyDisplay.form[propertyDisplay.property].$dirty)"
>
  <span  ng-show="key === 'required'">{{propertyDisplay.meta.title}} is a required field<br></span>
</span>