<input type="{{propertyDisplay.fieldType}}" class="form-control" 
    ng-model="propertyDisplay.object.data[propertyDisplay.property]"
    ng-disabled="!propertyDisplay.editable"
    ng-show="propertyDisplay.editing"
    name="{{propertyDisplay.property}}"
    swvalidationrequired />
    
<!-- swvalidationisnumeric swvalidationregex="[0-9]" swvalidationgte="5" swvalidationeq="8" -->

	<span ng-repeat='(key, value) in propertyDisplay.form[propertyDisplay.property].$error' >
		<span ng-show="key === 'swvalidationrequired'" class="error">This field is required</span>
		<span ng-show="key === 'swvalidationunique'" class="error">This field must be unique</span>
		<span ng-show="key === 'swvalidationisnumeric'" class="error">This field must be numeric</span>
		<span ng-show="key === 'swvalidationregex'" class="error">This field contains invalid characters</span>
		<span ng-show="key === 'swvalidationgte'" class="error">The value entered is incorrect</span>
		<span ng-show="key === 'swvalidationlte'" class="error">The value entered is incorrect</span>
		<span ng-show="key === 'swvalidationeq'" class="error">The value entered is incorrect</span>
	</span>





