<input type="{{propertyDisplay.fieldType}}" class="form-control" 
    ng-model="propertyDisplay.object.data[propertyDisplay.property]"
    ng-disabled="!propertyDisplay.editable"
    ng-show="propertyDisplay.editing"
    on-change="propertyDisplay.onChange"
    name="{{propertyDisplay.property}}"
    sw-validate="propertyDisplay.swValidate"/>

<span style="color:red" ng-repeat='(key,value) in propertyDisplay.form.$error' 
	ng-show='(propertyDisplay.form[propertyDisplay.property].$invalid)  ||   (propertyDisplay.form[propertyDisplay.property].$invalid && propertyDisplay.form[propertyDisplay.property].$dirty)'>
<span  ng-show="key === 'invalid-regex'">Invalid input<br></span>
<span  ng-show="key === 'required'">This item is required<br></span>

{{ key }}
</span> 

