<!-- Add Shipping Address By Selecting an Account Address -->
<!--- When an address has already been saved. --->
<div id="allBillingAddresses">

    <div>
        <div ng-repeat="(key, value) in slatwall.account.accountAddresses" class="col-sm-4">
            <div>
                <div vertilize>
                    <ul class="list-unstyled address-info">
                        <!-- <li><small>Account Address</small></li>  -->
                        <li><span class="address-indicator">
                                <i ng-if="slatwall.accountAddressIsSelectedBillingAddress(key)" class="fa fa-check-circle"></i>
                            </span>
                            <strong>{{value.accountAddressName}}&nbsp;</strong>
                        </li>
                        <li>{{value.address.name}}&nbsp;</li>
                        <li>{{value.address.company}}</li>
                        <li>{{value.address.streetAddress}}</li>
                        <li>{{value.address.street2Address}}</li>
                        <li>{{value.address.city}}, <span ng-if="value.address.stateCode">{{value.address.stateCode}}</span><span ng-if="value.address.locality">{{value.address.locality}}</span> <span ng-if="value.address.postalCode">{{value.address.postalCode}}</span></li>
                        <li>{{value.address.countrycode}}</li>
                        <li><a href="tel:{{value.address.phoneNumber}}" class="tel">{{value.address.phoneNumber}}</a></li>
                        <li>
                        <button type="button" ng-click="slatwall.selectBillingAddress(key)">Select Address</button>
                        <button type="button" class="btn-white" ng-click="slatwall.editBillingAddress(key)">Edit</button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="col-sm-4 content-address existing_user">
    <button type="button" class="btn-white btn-block address-wrapper address"  ng-click="slatwall.billingAddressEditFormIndex = 'new';slatwall.selectedBillingAddress = null">
        <i class="fa fa-plus" aria-hidden="true"></i><br/>
        <span>New Address</span>
    </button>
</div>
