<!-- Add Shipping Address By Selecting an Account Address -->
<div ng-init="OrderAddShippingObj = {}; fulfillmentIndex=SWFDirective.variables.fulfillmentIndex"></div>
<!--- When an address has already been saved. --->
<div class="col-md-12">
    <div class="row" id="allAddresses">
        <div class="vertilize-container">
            <div class="address-wrapper col-sm-4" ng-repeat="(key, value) in slatwall.account.accountAddresses">
                <div vertilize>
                    <ul class="list-unstyled address-info">
                        <!-- <li><small>Account Address</small></li>  -->
                        <li><span class="address-indicator">
                                <i ng-if="slatwall.accountAddressIsSelectedShippingAddress(key, fulfillmentIndex)" class="fa fa-check-circle"></i>
                            </span>
                        <strong>{{value.accountAddressName}}&nbsp;</strong></li>
                        <li>{{value.address.name}}&nbsp;</li>
                        <li>{{value.address.company}}</li>
                        <li>{{value.address.streetAddress}}</li>
                        <li>{{value.address.street2Address}}</li>
                        <li>{{value.address.city}}, <span ng-if="value.address.stateCode">{{value.address.stateCode}}</span><span ng-if="value.address.locality">{{value.address.locality}}</span> <span ng-if="value.address.postalCode">{{value.address.postalCode}}</span></li>
                        <li>{{value.address.countrycode}}</li>
                        <li><a href="tel:{{value.address.phoneNumber}}" class="tel">{{value.address.phoneNumber}}</a></li>
                        <li>
                        <button type="button" class="btn-yellow" ng-click="slatwall.doAction('addShippingAddressUsingAccountAddress', {'accountAddressID': value.accountAddressID ,'saveAsAccountAddressFlag':'true', fulfillmentId:slatwall.cart.orderFulfillments[fulfillmentIndex].orderFulfillmentID});thisSelected=true"><i ng-show="thisSelected" class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" style="font-size: 12px;margin:0px;"></i>Select Address</button>
                        <button type="button" ng-click="slatwall.editAccountAddress(key, fulfillmentIndex);">Edit</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="col-sm-4 content-address existing_user">
    <button type="button" ng-click="slatwall.accountAddressEditFormIndex[fulfillmentIndex] = 'new';slatwall.clearShippingAddressErrors()">
		<i class="fa fa-plus" aria-hidden="true"></i><br/>
		<span>Add Address</span>
	</button>
</div>
