<div class="col-sm-12">
	<div class="alert alert-success" ng-if="slatwall.hasSuccessfulAction('addOrderPayment')">Successfully added order payment.</div>
	<div class="alert alert-success" ng-if="slatwall.hasSuccessfulAction('removeOrderPayment')">Successfully removed order payment.</div>
	<swf-directive partial-name="ordererrors"></swf-directive>

	<swf-directive partial-name="billingaccountaddresspartial"></swf-directive>

	<span ng-init="slatwall.orderPaymentObject = {newOrderPayment:{billingAddress:{},paymentMethod:{}}};"></span>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	        <div class="panel radio panel-default" ng-cloak>
	            <div class="panel-heading" role="tab" id="headingOne">
	                <h4 class="panel-title">
	                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapseOne">
	                        <span class="dot"></span> Credit Card
	                    </a>
	                </h4>
	            </div>
	            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
	                <div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<!--- Credit card --->
								<swf-directive partial-name="orderpaymentpartial"></swf-directive>
							</div>
						</div>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" >
	                <h4 class="panel-title">
	                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#purchaseOrder" aria-expanded="false" aria-controls="purchaseOrder">
	                        <span class="dot"></span> Purchase Order
	                    </a>
	                </h4>
	            </div>
	            <div id="purchaseOrder" class="panel-collapse collapse" role="tabpanel" aria-labelledby="purchaseOrder" aria-expanded="false">
	            	<div class="panel-body">
	            		<div class="row">
	            			<div class="col-md-12">
	            				<!--- Purchase Order --->
	            				<swf-directive partial-name="purchaseorderpartial"></swf-directive>
	            			</div>
	            		</div>
	            	</div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" >
	                <h4 class="panel-title">
	                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#moneyOrder" aria-expanded="false" aria-controls="moneyOrder">
	                        <span class="dot"></span> Check/Money Order
	                    </a>
	                </h4>
	            </div>
	            <div id="moneyOrder" class="panel-collapse collapse" role="tabpanel" aria-labelledby="moneyOrder" aria-expanded="false">
	            	<div class="panel-body">
	            		<div class="row">
	            			<div class="col-md-12">
	            				<!--- Purchase Order --->
	            				<swf-directive partial-name="checkpartial"></swf-directive>
	            			</div>
	            		</div>
	            	</div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" role="tab" id="headingTwo">
	                <h4 class="panel-title">
	                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
	                        <span class="dot"></span> PayPal
	                    </a>
						<!--- <span class="overflowed pull-right"><img src="#themePath#/assets/img/preview/payments/paypal-2.jpg" alt=""></span> --->
	                </h4>
	            </div>
	            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-8">
								
								<!--- Checkout with paypal --->
								<a href="?slatAction=paypalexpress:main.initiatepayment&paymentMethodID=2c9280845aaf10bf015ab462d52400de">
									<img src="//www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
								</a>
								
							</div>
							<div class="col-sm-4">
								<h4>About PayPal</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>
</div>

<!--- gift card form --->
<swf-directive partial-name="giftcardpartial"></swf-directive>