<table class="table table-condensed">
	<!--- The Subtotal is all of the orderItems before any discounts are applied --->
	<tr>
		<td>Subtotal</td>
		<td>{{slatwall.cart.subtotal | currency}}</td>
	</tr>
	
	<!--- Item Discounts --->
	<tr ng-if="slatwall.cart.itemDiscountAmountTotal">
		<td>Item Discounts</td>
		<td>{{slatwall.cart.itemDiscountAmountTotal | currency}}</td>
	</tr>
	<!--- Subtotal After Discounts --->
	<tr ng-if="slatwall.cart.itemDiscountAmountTotal">
		<td>Subtotal After Discounts</td>
		<td>{{slatwall.cart.subTotalAfterItemDiscounts | currency}}</td>
	</tr>
	
	<!--- This displays a delivery cost, some times it might make sense to do a conditional here and check if the amount is > 0, then display otherwise show something like TBD --->
	<tr>
		<td>Delivery Costs</td>
		<td>{{slatwall.cart.fulfillmentTotal | currency}}</td>
	</tr>
	
	<!--- Delivery Discounts --->
	<tr ng-if="slatwall.cart.fulfillmentDiscountAmountTotal">
		<td>Delivery Discounts</td>
		<td>{{slatwall.cart.fulfillmentDiscountAmountTotal | currency}}</td>
	</tr>
	<!--- Delivery after Discounts --->
	<tr ng-if="slatwall.cart.fulfillmentDiscountAmountTotal">
		<td>Delivery After Discounts</td>
		<td>{{slatwall.cart.fulfillmentChargeAfterDiscountTotal | currency}}</td>
	</tr>
	
	<!--- Displays the total tax that was calculated for this order --->
	<tr>
		<td>Tax</td>
		<td>{{slatwall.cart.taxTotal | currency}}</td>
	</tr>
	
	<!--- Displays any order discounts --->
	<tr ng-if="slatwall.cart.orderDiscountAmountTotal">
		<td>Additional Order Discounts</td>
		<td>{{slatwall.cart.orderDiscountAmountTotal | currency}}</td>
	</tr>
	
	<!--- If there were discounts they would be displayed here --->
	<tr ng-if="slatwall.cart.discountTotal">
		<td>Total Discounts</td>
		<td>{{slatwall.cart.discountTotal | currency}}</td>
	</tr>

	<!--- The total is the finished amount that the customer can expect to pay --->
	<tr>
		<td><strong>Total</strong></td>
		<td><strong>{{slatwall.cart.calculatedTotal | currency}}</strong></td>
	</tr>
</table>