<div ng-init="Account_CreateObj = {} "></div>

<sw-form 
    data-object="Account_CreateObj"
    data-name="Account_Create" 
    data-action="createAccount,login" 
    data-event-announcers="keyup">
    <div ng-cloak ng-controller="frontendController">
        <fieldset>
            <legend>Your Account Profile</legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--- first name --->
                        <swf-property-display 
                            data-name="firstName" 
                            data-field-type="text" 
                            data-property-identifier="firstName" 
                            data-label-text="First Name" 
                            data-label-class="firstName" 
                            data-class="form-control">
                        </swf-property-display>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--- last name --->
                        <swf-property-display 
                            data-name="lastName" 
                            data-field-type="text" 
                            data-property-identifier="lastName" 
                            data-label-text="Last Name"
                            data-label-class="lastName" 
                            data-class="form-control">
                        </swf-property-display>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--- email address --->
                        <swf-property-display 
                            data-name="emailAddress" 
                            data-field-type="email" 
                            data-property-identifier="emailAddress" 
                            data-label-text="Email Address" 
                            data-label-class="email" 
                            data-class="form-control">
                        </swf-property-display>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--- email address confirm --->
                        <swf-property-display 
                            data-name="emailAddressConfirm" 
                            data-field-type="email" 
                            data-property-identifier="emailAddressConfirm" 
                            data-label-text="Email Address Confirm" 
                            data-label-class="lastName" 
                            data-class="form-control">
                        </swf-property-display>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--- password --->
                        <swf-property-display 
                            data-name="password" 
                            data-field-type="password" 
                            data-property-identifier="password" 
                            data-label-text="Password" 
                            data-class="form-control">
                        </swf-property-display>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--- password confirm --->
                        <swf-property-display 
                            data-name="passwordConfirm" 
                            data-field-type="password" 
                            data-property-identifier="passwordConfirm" 
                            data-label-text="Password Confirm" 
                            data-class="form-control">
                        </swf-property-display>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <!--- create account --->
    <sw-action-caller
        data-type="button"
        data-class="button"
        data-disabled="$parent.Account_Create.$invalid"
        data-text="{{(slatwall.getRequestByAction('createAccount,login').loading ? 'LOADING...' : 'Create Account & Continue')}}"
        data-event-listeners="{Account_Createkeyup:$parent.swForm.submitKeyCheck}">
    </sw-action-caller>
</sw-form>
