<span class="pull-right small" ng-show="!slatwall.fulfillmentTabIsActive()">
	<span ng-if="slatwall.cart.orderFulfillments.length == 1">
		<span ng-if="slatwall.hasShippingAddress(0)">
			{{slatwall.cart.orderFulfillments[0].shippingMethod.shippingMethodName}} - {{slatwall.getShippingAddress(0).city}}, {{slatwall.getShippingAddress(0).stateCode}} {{slatwall.getShippingAddress(0).postalCode}}
		</span>
		<span ng-if="slatwall.hasPickupLocation(0)"> {{slatwall.getPickupLocation(0).locationName}}</span>
		<span ng-if="slatwall.hasEmailFulfillmentAddress(0)"> {{slatwall.getEmailFulfillmentAddress(0)}}</span>
	</span>
	<span ng-if="slatwall.cart.orderFulfillments.length > 1">
		<span>Multiple</span>
	</span>
	&nbsp;
</span>