<div>
    
    <div class="col-md-8">
        <div class="alert alert-success" ng-if="slatwall.hasSuccessfulAction('addGiftCardOrderPayment')">Successfully added gift card.</div>
        
        <h4>Enter Gift Card</h4>
        <div class="row">
            <span ng-init="giftCard = {newOrderPayment:{}}"></span>
            <sw-form
                data-object="giftCard"
                data-name="addGiftCard"
                data-action="addGiftCardOrderPayment"
                data-submit-on-enter="true"
                data-event-announcers="keyup">
                <div class="col-sm-8 form-group">
                    <swf-property-display
                        data-name="giftCardID"
                        data-field-type="text"
                        data-property-identifier="newOrderPayment.giftCardNumber"
                        data-class="form-control">
                    </swf-property-display>
                </div>
                <div class="form-group">
                    <sw-action-caller
                        data-type="button"
                        data-class="button blue"
                        data-text="{{(slatwall.getRequestByAction('addGiftCardOrderPayment').loading? 'LOADING...' : 'Add Gift Card')}}"
                        data-event-listeners="{addGiftCardOrderPaymentSuccess:$parent.swForm.clear}">
                    </sw-action-caller>
                </div>
            </sw-form>
        </div>
        
        <div class="selected-gift-cards-wrapper" ng-repeat="payment in slatwall.cart.orderPayments track by $index">
            <div class="selected-gift-card" ng-show="payment.giftCard.giftCardCode && payment.amount > 0">
                <div class="col-xs-6 left-side">
                    <span>
                        <i class="fa fa-credit-card"></i>
                        <a role="button" ng-click="slatwall.removeGiftCard(payment)">{{slatwall.loadingThisRequest('removeOrderPayment',{orderPaymentID:payment.orderPaymentID}) ? 'Removing...' : 'Remove'}}</a>
                    </span>
                    <span class="card-info">
                        <div class="card-number">
                            {{payment.giftCard.giftCardCode}}
                        </div>
                        <div>
                            Card Balance: <span class="card-balance">{{payment.giftCard.balanceAmount | currency}}</span>
                        </div>
                        <div>
                            Payment Amount: {{payment.amount | currency}}
                        </div>
                        
                    </span>
                </div>
            </div>
       </div>
    </div>
    <div class="col-md-4 checkout-help" ng-show="slatwall.hasGiftCardPaymentMethod()">
        <div class="alert" ng-class="{'alert-danger':slatwall.getTotalMinusPayments() > 0, 'alert-success':slatwall.getTotalMinusPayments() <= 0}">
            <h4>Balance Due: {{slatwall.getTotalMinusPayments() | currency}}</h4>
            <p ng-show="slatwall.getTotalMinusPayments() > 0">You have a remaining balance of  {{slatwall.getTotalMinusPayments() | currency}}.  Please choose an additional payment method to complete your order.</p>
        </div>
    </div>
</div>