<div ng-if="slatwall.cart && slatwall.cart.orderItems && slatwall.cart.orderItems.length" ng-init="skuIDs = slatwall.getOrderItemSkuIDs(slatwall.cart);slatwall.getResizedImageByProfileName('large', skuIDs)">
    <table class="table table-condensed checkoutMiniCart">
        <tr ng-repeat="orderItem in slatwall.cart.orderItems">
            <td class="text-center">
               
                <div>
                    <img ng-src="{{slatwall.imagePath[orderItem.sku.skuID]}}" class="img-responsive center-block" ng-if="!slatwall.loadingThisRequest('getResizedImageByProfileName',{skuIds:skuIDs})">
                    <span ng-if="slatwall.loadingThisRequest('getResizedImageByProfileName',{skuIds:skuIDs})">
                        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                    </span>
                </div>
            </td>
            <td>
                <h5>
                    <span ng-if="slatwall.hasProductNameAndNoSkuName(orderItem)"><a href="{{orderItem.sku.product.urlTitle}}">{{orderItem.sku.product.productName}}</a></span>
                    <span ng-if="orderItem.sku.skuName">{{orderItem.sku.skuName}}</span>
                </h5>
                <div ng-if="orderItem.sku.calculatedSkuDefinition.length">{{orderItem.sku.calculatedSkuDefinition}}</div>
                <div>{{orderItem.price |currency :(slatwall.cart.currencyCode == 'EUR'?'&euro;':'$')}}</div>
                <div>Qty: {{orderItem.quantity}}</div>
            </td>
        </tr>
    </table>
</div>
<div ng-if="slatwall.cartHasNoItems()" class="alert alert-warning ng-cloak">
    <i class="fa fa-info-circle"></i> There are no items in your cart.
</div>
