<!--- Hidden Fields for order payment --->
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.name"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.name"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.streetAddress"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.streetAddress"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.street2Address"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.street2Address"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.city"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.city"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.stateCode"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.stateCode"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.postalCode"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.postalCode"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.countrycode"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.countrycode"
        label-text="">
    </swf-property-display>
    <swf-property-display
        data-class="hidden"
        data-name="billingAddress.locality"
        data-field-type="text"
        data-property-identifier="newOrderPayment.billingAddress.locality"
        label-text="">
    </swf-property-display>