<div class="alert alert-warning" ng-if="slatwall.getShippingAddress().addressID">
    <address>
        <span ng-if="slatwall.getShippingAddress().streetAddress">{{slatwall.getShippingAddress().streetAddress}}<br></span>
        <span ng-if="slatwall.getShippingAddress().street2Address">{{slatwall.getShippingAddress().street2Address}}<br></span>
        <span ng-if="slatwall.getShippingAddress().city">{{slatwall.getShippingAddress().city}}</span>, <span ng-if="slatwall.getShippingAddress().statecode">{{slatwall.getShippingAddress().statecode}}</span> <span ng-if="slatwall.getShippingAddress().postalCode">{{slatwall.getShippingAddress().postalCode}}</span><br>
        <span ng-if="slatwall.getShippingAddress().countrycode">{{slatwall.getShippingAddress().countrycode}}</span>
    </address>
    <hr>
    <i class="fa fa-truck fa-lg" aria-hidden="true"></i>
    {{slatwall.cart.orderFulfillments[slatwall.cart.orderFulfillmentWithShippingMethodOptionsIndex].data.shippingMethod.shippingMethodName}}
    <a href="#" ng-click="slatwall.edit = 'fulfillment'" class="edit">Edit</a>
</div>

<div class="alert alert-warning" ng-if="!slatwall.getShippingAddress().addressID">
    <i class="fa fa-info-circle"></i> Select shipping options to continue.
</div>
