<span *ngFor="let alert of alerts">
	<div style="z-index:11000" [ngClass]="{fade:alert.fade,'alert\-success':alert.type==='success','alert\-danger':alert.type==='error'}" class="alert s-alert-footer fade in" role="alert" >
		<!---only show a dismissable button if we are showing info or a warning --->
		<button style="display:none;" [hidden]="!alert.dismissable" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<!---show check mark only if success, always display message --->
		<i style="display:none;" class="fa fa-check" [hidden]="alert.type !== 'success'"></i>&nbsp;<span [textContent]="alert.msg"></span>
	</div>
</span>