<sw-listing-display data-base-entity-name="Product"
                    data-multi-slot="true"
                    data-edit="true"
                    data-has-search="true"
                    data-is-angular-route="false"
                    data-angular-links="false"
                    data-has-action-bar="false">

    <sw-listing-columns>
        <sw-listing-column data-property-identifier="productName"></sw-listing-column> 
        <sw-listing-column data-property-identifier="productDescription"></sw-listing-column> 
        <sw-listing-column data-property-identifier="productType.productTypeName"></sw-listing-column> 
        <sw-listing-column data-property-identifier="active"></sw-listing-column> 
        <sw-listing-column data-property-identifier="published"></sw-listing-column> 
    </sw-listing-columns>

    <sw-collection-configs>
        <sw-collection-config data-entity-name="Product" 
                              data-in-listing-display="true"
                              data-filter-flag="false">
            <sw-collection-columns>
                <sw-collection-column data-property-identifier="productName"></sw-collection-column>
                <sw-collection-column data-property-identifier="productDescription"></sw-collection-column>
                <sw-collection-column data-property-identifier="productType.productTypeName"></sw-collection-column>
                <sw-collection-column data-property-identifier="active"></sw-collection-column>
                <sw-collection-column data-property-identifier="published"></sw-collection-column>
            </sw-collection-columns>
            <sw-collection-filters>

            </sw-collection-filters>
        </sw-collection-config>
    </sw-collection-configs>

</sw-listing-display>


<div class="row">
    <div class="col-md-9">
        <sw-typeahead-multiselect 
                    data-placeholder-rb-key="define.searchandassignproducts"
                    data-collection-config="swAssignedProducts.collectionConfig">
            <sw-typeahead-search-line-item data-property-identifier="productName"></sw-typeahead-search-line-item>
        </sw-typeahead-multiselect>
        

        <div class="s-search-wrapper">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span>All</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Name</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">Type</a></li>
                        <li><a href="#">Active</a></li>
                        <li><a href="#">Published</a></li>
                        <li><a href="#">Price </a></li>
                    </ul>
                </div>
                <span class="s-search s-add">
                    <input type="text" class="form-control input-sm" name="" placeholder="Search &amp; assign product..." style="padding-left: 30px;">
                    <div class="dropdown s-search-results-wrapper s-selectable" style="display: none;">
                        <ul class="dropdown-menu">
                            <li class="s-selected"><a href="##">Casio Business Casual Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li><a href="##">Casio Classic Black Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li class="s-selected"><a href="##">Casio Calculator Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li class="s-selected"><a href="##">Casio Gold Player Special Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li><a href="##">Casio Kids Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li><a href="##">Casio Training Day Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li><a href="##">Casio Silver Dress Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li class="s-loading"><a href="##">Casio Silver Player Special Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li><a href="##">Casio Surf Tide Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                            <li><a href="##">Casio Underwater Watch <span class="s-right-content">Merchandise &gt; Accessories</span></a></li>
                        </ul>
                    </div>
                </span>
            </div>
            
        </div>
        
    </div>
    <div class="col-md-3 s-action-right">
        <sw-order-by-controls 
                   data-collection-config="swAssignedProducts.collectionConfig">
        </sw-order-by-controls> 
        
        <!-- <div class="s-table-setting">
            <span class="s-title">Manual Sort</span>
            <div class="s-toggle-switch">
                <input id="sampleCheckboxToggle" name="sampleCheckboxToggle" type="checkbox" value="1" />
                <div class="btn">
                    <label for="sampleCheckboxToggle">
                        <div class="s-toggle-switch-on btn btn-success"> 
                            On
                        </div>
                        <div class="s-toggle-switch-handle btn btn-default"></div>
                        <div class="s-toggle-switch-off btn btn-dgrey">
                            Off
                        </div>
                    </label>
                </div>
            </div>
        </div> -->
    </div>
    </div>