<!--  new Address form -->
<form name="accountPaymentForm" 
	ng-submit="accountPaymentForm.$valid && accountPaymentCtrl.onFormSubmit()"
>
	
	
	<div class="payment">
		<div class="row">
			
			<!--existing-account-addresses-->
			<div class="billing-options">
				<ul>
					<li ng-repeat="accountAddress in accountPaymentCtrl.accountAddresses">
						<div
							class="custom-radio form-group"
							ng-click="$parent.accountPaymentCtrl.setSelectedAccountAddressID(accountAddress.accountAddressID)"
						>
							<input
								type="radio"
								name="accountAddressID"
								id="accountAddress-{{accountAddress.accountAddressID}}" 
								ng-checked="accountAddress.accountAddressID === accountPaymentCtrl.selectedShippingAddress.accountAddressID"
							/>
							<label for="accountAddressID">
								{{
                                    accountAddress.address_streetAddress
                                    + ( 
                                        accountAddress.address_street2Address.length 
                                            ? ' ' + accountAddress_address.street2Address + ',' 
                                            : ','
                                    )
                                }}
                                {{accountAddress.address_city}},
                                {{accountAddress.address_stateCode}}
                                {{accountAddress.address_postalCode}}
							</label>
						</div>
					</li>
					<li>
					    <div ng-click="accountPaymentCtrl.setSelectedAccountAddressID()" class="custom-radio">
							<input 
								type="radio" 
								name="accountAddressID"
								id="new-account-address" 
								ng-checked="'new' === accountPaymentCtrl.selectedShippingAddress.accountAddressID"
                            />
                            <label for="accountAddressID">
                                <span sw-rbKey="'frontend.checkout.newAccountAddress'"></span>
                            </label>
						</div>
					</li>
				</ul>
			</div>
			
			<!--  new Address form will get injected here-->
			<div id="shipping-new-account-address-form"></div>
			
			
		</div>
	</div>
	
	
	<div class="form-group">
		<button
			type="submit"
			class="btn btn-block bg-primary col-md-3"
			ng-class="{ 'loading, disabled': accountPaymentCtrl.loading}"
			ng-disabled = "accountPaymentCtrl.loading"
		>
			<span sw-rbkey="'frontend.global.savePayment'"></span>
		</button>
		<button
			type="button"
			class="btn cancel-dark col-md-2 ml-1"
			ng-click="accountPaymentCtrl.remove()"
			ng-class="{ 'disabled': accountPaymentCtrl.loading}"
			ng-disabled = "accountPaymentCtrl.loading"
			sw-rbkey="'frontend.global.cancel'"
		></button>
	</div>
</form>
