<div
	class="modal using-modal-service"
	role="dialog"
	id="flexship-modal-payment-method{{ addressVerification.orderTemplate.orderTemplateID }}"
>
	<div class="modal-dialog modal-lg">
        <form name="updateBillingForm" 
        	ng-submit="updateBillingForm.$valid && addressVerification.updateBilling()"
         >
		<div class="modal-content p-4">
			<!-- Modal Close -->
			<button
				type="button"
				class="close"
				ng-click="addressVerification.closeModal()"
				aria-label="Close"
			>
				<i class="fas fa-times"></i>
			</button>

			<div class="payment">
				<h6 class="title-with-line mb-5">
					{{ addressVerification.translations.suggestedAddress }}
				</h6>
				<div class="shipping-options"> 
					<p>{{ addressVerification.translations.addressMessage }}</p>
					<div
						class="custom-radio form-group"
						ng-repeat="address in addressVerification.suggestedAddresses track by $index"
					>
						<!--<h5>{{$index == 1 ? 'Suggested Address' : 'Entered Address'}}</h5>-->
						<input
							type="radio"
							name="saved_cards"
							ng-checked="addressVerification.selectedAddressIndex == $index"
						/>
						<label for="new_card" ng-click="addressVerification.selectedAddressIndex = $index">
							{{address.streetAddress}}, {{address.city}}, {{(address.stateCode || address.locality) ? (address.stateCode || address.locality) + ',' : ''}} {{address.postalCode}}
						</label>
					</div>
				</div>
			</div>
			
			<div class="footer">
				<button
					class="btn btn-block bg-primary"
					ng-class="{ loading: addressVerification.loading }"
					ng-disabled = "addressVerification.loading || addressVerification.selectedAddressIndex == undefined"
					sw-rbkey="'frontend.checkout.okay'"
					ng-click="addressVerification.submit()"
				>
				</button>
			</div>
        </div>
        </form>
	</div>
</div>
