	<div ng-cloak class="card mb-3 w-100">
		<div class="card-header bg-transparent p-0">
			<div class="bg-primary">
				<a ng-click="enrollmentFlexship.refreshFlexship()" ng-class="{'collapsed': enrollmentFlexship.type != 'vipFlexshipFlow'}" class="py-0" data-toggle="collapse" href="#flexshipBody">
					<div class="py-3 px-3 text-white">
						<span sw-rbKey="'frontend.hybridCart.yourFlexship'"></span> 
						<span 
							ng-if="!enrollmentFlexship.isLoading" 
							ng-bind-html=" ' - ' + enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedTotal ? enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedTotal - enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.purchasePlusTotal : 0 | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"
						></span>
						<i class="fas fa-chevron-down"></i>
					</div>					
				</a>
			</div>
		</div>
		<div ng-class="{'collapse': enrollmentFlexship.type != 'vipFlexshipFlow', 'collapse show': enrollmentFlexship.type == 'vipFlexshipFlow'}" class="multi-collapse" data-parent="#accordion" id="flexshipBody">
			<div class="cart-progress-bar">
				<flexship-purchase-plus messages="enrollmentFlexship.messages"></flexship-purchase-plus>
			</div>
			<div class="card-body p-0 hybrid-cart-body">
				<ul class="list-group list-group-flush">
					<li ng-repeat="item in enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.orderTemplateItems" class="bg-transparent list-group-item d-flex justify-content-between align-items-center">
						<div class="row align-items-center">
							<div class="cart-img">
								<img 
									image-manager 
									height="75px" 
									width="auto"
									ng-src="{{item.sku_imagePath}}" 
									alt="{{item.sku_product_productName}}"
								>
							</div>
							<div class="col">
								<a class="w-100 pb-1 pt-0" ng-href="{{item.skuProductURL}}">
									<p class="title" ng-bind="item.sku_product_productName"></p>
								</a>
								<div class="qty">
									<div>
										<button
											type="button"
											class="minus p-0"
											ng-disabled="item.quantity <= 1"
											ng-click="enrollmentFlexship.decreaseOrderTemplateItemQuantity(item)"
										>
											- 
										</button>
										<input
											type="text"
											id="qty"
											name="quantity"
											ng-model="item.quantity"
										/>
										<button
											type="button"
											class="plus p-0"
											ng-click="enrollmentFlexship.increaseOrderTemplateItemQuantity(item)"
										>
											+
										</button>
									</div>

									<span class="ml-2 text-right" ng-bind-html="item.calculatedTotal | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span>
								</div>
							</div>
						</div>
						<span class="badge badge-pill delete">
							<a ng-click="enrollmentFlexship.removeOrderTemplateItem(item)" href="#">
								<i class="fal fa-times"></i>
							</a>
						</span>
					</li>
				</ul>							
			</div>
			<div class="card-footer">
				<div ng-if="enrollmentFlexship.cartThreshold && enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedSubTotal < enrollmentFlexship.cartThreshold" class="flexship-alert px-3 py-2">
					<i class="fal fa-exclamation-circle text-danger"></i>
					<p class="my-1">
						<span sw-rbkey="'frontend.flexshipCartContainer.alertOFYAndFreeShippingP1'"></span>
						<span ng-bind-html="enrollmentFlexship.cartThreshold | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span> 
						<span sw-rbkey="'frontend.enrollmentFlexship.toQualify'"></span>
					</p>
				</div>
				<div ng-if="enrollmentFlexship.suggestedRetailPrice > 0" class="row justify-content-between suggested">
					<span sw-rbKey="'frontend.hybridCart.suggestedPrice'"></span>
					<span ng-bind-html="enrollmentFlexship.suggestedRetailPrice | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span>
				</div>
				<div class="summary">
					<div class="row justify-content-between">
						<span sw-rbKey="'frontend.hybridCart.yourPrice'"></span>
						<span ng-bind-html="(enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedSubTotal ? enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedSubTotal : 0 )| swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span>
					</div>
					<div class="row justify-content-between">
						<span sw-rbKey="'frontend.hybridCart.purchasePlus'"></span>
						<span ng-bind-html="(enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.purchasePlusTotal ? enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.purchasePlusTotal : 0) | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span>
					</div>
				</div>
				<div class="row justify-content-between total">
					<span sw-rbKey="'frontend.hybridCart.yourFlexship'"></span>
					<span ng-bind-html="(enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedTotal ? enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.calculatedTotal - enrollmentFlexship.orderTemplateService.mostRecentOrderTemplate.purchasePlusTotal : 0) | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span>
				</div>
			</div>
		</div>
	</div>	

