	<div ng-cloak class="card mb-3 w-100">
		<div class="card-header bg-transparent p-0">
			<div class="bg-primary">
				<a ng-click="enrollmentFlexship.refreshFlexship()" class="py-0 collapsed" data-toggle="collapse" href="#flexshipBody">
					<div class="py-3 px-3 text-white">
						<span sw-rbKey="'frontend.hybridCart.yourFlexship'"></span> 
						<span 
							ng-if="!enrollmentFlexship.isLoading" 
							ng-bind-html=" ' - ' + enrollmentFlexship.orderTemplate.calculatedTotal ? enrollmentFlexship.orderTemplate.calculatedTotal - enrollmentFlexship.orderTemplate.purchasePlusTotal : 0 | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"
						></span>
					</div>					
				</a>
			</div>
		</div>
		<div class="collapse multi-collapse" data-parent="#accordion" id="flexshipBody">
			<div class="cart-progress-bar">
				<flexship-purchase-plus messages="enrollmentFlexship.messages"></flexship-purchase-plus>
			</div>
			<div class="card-body p-0 hybrid-cart-body">
				<div class="px-3 scroll-body">
					<ul class="list-group list-group-flush">
						<li ng-repeat="item in enrollmentFlexship.orderTemplate.orderTemplateItems" class="bg-transparent list-group-item d-flex justify-content-between align-items-center p-0">
							<div class="row align-items-center">
								<div class="p-1">
									<a class="py-0" ng-href="{{item.skuProductURL}}">
										<img 
											image-manager 
											height="75px" 
											ng-src="{{item.sku_imagePath}}" 
											alt="{{item.sku_product_productName}}"
										>
									</a>
								</div>
								<div class="col">
									<a class="w-100 pb-1 pt-0" ng-href="{{item.skuProductURL}}">
										<p class="d-inline" ng-bind="item.sku_product_productName"></p>
									</a>
									<div class="qty">
										<button
											type="button"
											class="minus p-0"
											ng-disabled="item.quantity <= 1"
											ng-click="enrollmentFlexship.decreaseOrderTemplateItemQuantity(item)"
										>
											- 
										</button>
										<input
											type="text"
											id="qty"
											name="quantity"
											ng-model="item.quantity"
										/>
										<button
											type="button"
											class="plus p-0"
											ng-click="enrollmentFlexship.increaseOrderTemplateItemQuantity(item)"
										>
											+
										</button>
										
										<span class="ml-2" ng-bind-html="item.total | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span>
									</div>
								</div>
							</div>
							<span class="badge badge-pill delete">
								<a ng-click="enrollmentFlexship.removeOrderTemplateItem(item)" href="#">
									x
								</a>
							</span>
						</li>
					</ul>							
				</div>
			</div>
			<div class="card-footer">
				<div ng-if="enrollmentFlexship.cartThreshold && enrollmentFlexship.orderTemplate.calculatedSubTotal < enrollmentFlexship.cartThreshold" class="px-3">
					<p>
						<i class="fal fa-exclamation-circle text-danger"></i> 
						<span sw-rbkey="'frontend.flexshipCartContainer.alertOFYAndFreeShippingP1'"></span>
						<span ng-bind-html="enrollmentFlexship.cartThreshold | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></span> 
						<span sw-rbkey="'frontend.enrollmentFlexship.toQualify'"></span>
					</p>
				</div>
				<div ng-if="enrollmentFlexship.suggestedRetailPrice > 0" class="row justify-content-between px-3">
					<div>
						<small> <span sw-rbKey="'frontend.hybridCart.suggestedPrice'"></span> </small>
					</div>
					<div>
						<small ng-bind-html="enrollmentFlexship.suggestedRetailPrice | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"> </small>
					</div>
				</div>
				<div class="row justify-content-between px-3">
					<div>
						<small> <span sw-rbKey="'frontend.hybridCart.yourPrice'"></span> </small>
					</div>
					<div>
						<small ng-bind-html="(enrollmentFlexship.orderTemplate.calculatedSubTotal ? enrollmentFlexship.orderTemplate.calculatedSubTotal : 0 )| swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></small>
					</div>
				</div>
				<div class="row justify-content-between px-3">
					<div>
						<small> <span sw-rbKey="'frontend.hybridCart.purchasePlus'"></span> </small>
					</div>
					<div>
						<small ng-bind-html="(enrollmentFlexship.orderTemplate.purchasePlusTotal ? enrollmentFlexship.orderTemplate.purchasePlusTotal : 0) | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></small>
					</div>
				</div>
				<hr class="my-0">
				<div class="row justify-content-between px-3 my-1 mb-3">
					<div>
						<small> 
							<b><span sw-rbKey="'frontend.hybridCart.yourFlexship'"></span></b> 
						</small>
					</div>
					<div>
						<small> 
							<b ng-bind-html="(enrollmentFlexship.orderTemplate.calculatedTotal ? enrollmentFlexship.orderTemplate.calculatedTotal - enrollmentFlexship.orderTemplate.purchasePlusTotal : 0) | swcurrency:enrollmentFlexship.hybridCart.cart.currencyCode"></b>
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>	

