<div class="purchase-plus-bar purchase-plus-bar--dark" ng-if="flexshipPurchasePlus.messages">
	
	<div class="purchase-plus-bar__container">
		
		<div 
			class="purchase-plus-bar__breakpoint" 
			ng-class="{ 'active': flexshipPurchasePlus.messages.amount > 15 }"
		>
			<div class="purchase-plus-bar__percentage">15%</div>
		</div>
		<div class="purchase-plus-bar__progress-bar">
			<div 
				class="purchase-plus-bar__progress-bar-fill" 
				ng-style="{
					width: ( flexshipPurchasePlus.messages.amount > 20 ) 
						? '102%' 
						: ( flexshipPurchasePlus.messages.amount > 15 ) 
							? (flexshipPurchasePlus.messages.qualifierProgress ) + '%' 
							: '0%'
				}"
			></div>
		</div>
		
		<div 
			class="purchase-plus-bar__breakpoint" 
			ng-class="{ 'active': flexshipPurchasePlus.messages.amount > 20 }"
		>
			<div class="purchase-plus-bar__percentage">20%</div>
		</div>
		<div class="purchase-plus-bar__progress-bar">
			<div 
				class="purchase-plus-bar__progress-bar-fill"
				ng-style="{
					width: ( flexshipPurchasePlus.messages.amount > 25 ) 
						? '102%' 
						: ( flexshipPurchasePlus.messages.amount > 20 ) 
							? (flexshipPurchasePlus.messages.qualifierProgress) + '%' 
							: '0%'
				}"
			></div>
		</div>
		
		<div 
			class="purchase-plus-bar__breakpoint" 
			ng-class="{ 'active': flexshipPurchasePlus.messages.amount > 25 }"
		>
			<div class="purchase-plus-bar__percentage">25%</div>
		</div>
		
	</div>
	
</div>

<!--- <div 
	class="text-center purchase-plus-message alert alert-success rounded-0" 
	ng-if="flexshipPurchasePlus.messages"
	ng-bind="flexshipPurchasePlus.messages.message"
></div> --->

<div 
	class="purchase-plus-message alert alert-success rounded-0" 
	ng-if="flexshipPurchasePlus.messages === true && purchasePlusBar.hasPurchasePlusMessage" 
>
	<span ng-bind="flexshipPurchasePlus.messages.message"></span>
	<a id="purchase-plus-questionmark" ng-click="purchasePlusBar.closeCart()" data-target="#purchasePlusModal" data-toggle="modal" type="button"><i class="far fa-question-circle"></i></a>
</div>