<style>
	.hybrid-cart-wrapper{
		right: 10%;
		left:65%;
		font-size:12px;
	}
	.hybrid-cart-wrapper .bg-primary{
		background-color: #403b65 !important;
	}
	.hybrid-cart-body{
    	box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
	}
	
	.hybrid-cart-body .title{
		font-size:12px;
	}
	.hybrid-cart-body li{
		overflow-x: hidden;
	}
	.scroll-body{
		max-height: 12em;
    	overflow: scroll;
	}
	
	.hybrid-cart-wrapper span{
		display: inline !important;
		background-color:transparent !important;
	}
	
    .qty{
        color: #000;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    
    .qty button{
        border: 0 none;
        background-color: transparent;
        font-size: 16px;
        position: relative;
    }
    
	.qty input {
		border: 0 none;
		padding: 0;
		text-align: center;
		width: 30px;
		background-color: transparent;
		color: #000;
		height: 30px;
	}
    
    .delete{
		font-size: 22px;
		font-weight: 100;
    }
    
</style>
<div class="header-cart" ng-click="hybridCart.toggleCart()">
	<a href="#">
		<p class="d-inline" sw-rbKey="'frontend.global.cart'"></p>
		<span ng-if="!hybridCart.cart.totalItemQuantity" class="cart-count">
			<i class="far fa-shopping-cart"></i>
		</span>
		<span ng-if="hybridCart.cart.totalItemQuantity > 0" class="cart-count">
			{{hybridCart.cart.totalItemQuantity}}
		</span>	
	</a> 
</div>

<div ng-if="hybridCart.showCart" class="position-absolute hybrid-cart-wrapper">
	<div class="row">
		<div class="col accordion-group">
			<div id="accordion">
				<div class="card w-100">
					<div class="card-header bg-transparent p-0">
						<div class="bg-primary">
							<a class="py-0 text-white" data-toggle="collapse" href="#hybridCartBody">
								<div class="py-3 px-3">
									<span sw-rbKey="'frontend.cart.todaysOrder'"></span> - <p class="d-inline" ng-bind-html="hybridCart.cart.total | swcurrency:hybridCart.cart.currencyCode"></p>
								</div>							
							</a>
						</div>
					</div>
					<div class="collapse show multi-collapse" id="hybridCartBody" data-parent="#accordion">
						<div class="cart-progress-bar my-2 py-1 px-3">
							<div class="mb-2">
								<progress id="file" value="32" max="100"> 32% </progress>
							</div>
							<div class="alert alert-success mb-0 py-0 rounded-0 text-center">
								<small>You are $30 away from a 20% discount.</small>
							</div>
						</div>
						<div class="card-body p-0 hybrid-cart-body">
							<div class="px-3 scroll-body">
								<ul class="list-group list-group-flush">
									<li ng-repeat="item in hybridCart.cart.orderItems track by item.orderItemID" class="bg-transparent list-group-item d-flex justify-content-between align-items-center p-0">
										<div class="row align-items-center">
											<div class="p-1">
												<a class="py-0" ng-href="{{item.skuProductURL}}">
													<img 
														image-manager 
														height="75px" 
														ng-src="https://monatteam.ten24dev.com/Slatwall/custom/assets/images/product/default/cache/10392000_300w_300h.jpg" 
														alt="{{item.sku.skuDefinition}}"
													>
												</a>
											</div>
											<div class="col">
												<a class="w-100 pb-1 pt-0" ng-href="{{item.skuProductURL}}">
													<p class="d-inline title" ng-bind="item.sku.skuDefinition"></p>
												</a>
												<div class="qty">
													<button
														type="button"
														class="minus p-0"
														ng-disabled="item.quantity <= 1"
														ng-click="hybridCart.decreaseItemQuantity(item)"
													>
														- 
													</button>
													<input
														type="text"
														id="qty"
														name="quantity"
														ng-model="item.quantity"
													/>
													<button
														type="button"
														class="plus p-0"
														ng-click="hybridCart.increaseItemQuantity(item)"
													>
														+
													</button>
													
													<span class="ml-2" ng-bind-html="item.extendedPriceAfterDiscount | swcurrency:hybridCart.cart.currencyCode"></span>
												</div>
											</div>
										</div>
										<span class="badge badge-pill delete">
											<a ng-click="hybridCart.removeItem(item)" href="#">
												x
											</a>
										</span>
									</li>
								</ul>							
							</div>
						</div>
						<div class="card-footer">
							<div class="row justify-content-between px-3">
								<div>
									<small> <span sw-rbKey="'frontend.hybridCart.suggestedPrice'"></span> </small>
								</div>
								<div>
									<small> $99.00 </small>
								</div>
							</div>
							<div class="row justify-content-between px-3">
								<div>
									<small> <span sw-rbKey="'frontend.hybridCart.yourPrice'"></span> </small>
								</div>
								<div>
									<small> $99.00 </small>
								</div>
							</div>
							<div class="row justify-content-between px-3">
								<div>
									<small> <span sw-rbKey="'frontend.hybridCart.purchasePlus'"></span> </small>
								</div>
								<div>
									<small>$99.00</small>
								</div>
							</div>
							<hr class="my-0">
							<div class="row justify-content-between px-3 my-1 mb-3">
								<div>
									<small> 
										<b> <span sw-rbKey="'frontend.hybridCart.todaysOrderTotal'"></span> </b>
									</small>
								</div>
								<div>
									<small> 
										<b ng-bind-html="hybridCart.cart.total | swcurrency:hybridCart.cart.currencyCode"></b> 
									</small>
								</div>
							</div>
							<div class="row">
								<div ng-if="hybridCart.isEnrollment != true" class="btn-group w-100">
							  		<button ng-click="hybridCart.redirect()" type="button" class="btn btn-secondary">View Cart</button>
							  		<button ng-click="hybridCart.redirect(false)" type="button" class="btn bg-primary">Checkout</button>
								</div>						
							</div>
						</div>
					</div>
				</div>	
				<div ng-if="hybridCart.isEnrollment">
					<enrollment-flexship order-template="hybridCart.orderTemplate"></enrollment-flexship>
				</div>
			</div>
		</div>
	</div>	
</div>
