<style>
	.hybrid-cart-wrapper{
		right: 10%;
		left:65%;
	}
	
	.hybrid-cart-body{
    	box-shadow: 
        	inset 0px 11px 8px -10px #CCC,
        	inset 0px -11px 8px -10px #CCC; 
	}
	
</style>
<span ng-click="hybridCart.toggleCart()" class="cart-count">
	<i class="far fa-shopping-cart"></i>
</span>
<div ng-if="hybridCart.showCart" class="position-absolute hybrid-cart-wrapper">
	<div class="row">
		<div class="col">
			<div class="card mb-3 w-100">
				<div class="card-header bg-transparent p-0">
					<div class="bg-primary">
						<div class="py-2 px-3">
							Today's Order - $100.00
						</div>
					</div>
					<div class="cart-progress-bar my-2 py-1 px-3">
						<div class="mb-2">
							<progress id="file" value="32" max="100"> 32% </progress>
						</div>
						<div class="alert alert-success mb-0 py-0 rounded-0 text-center">
							<small>You are $30 away from a 20% discount.</small>
						</div>
					</div>
				</div>
				<div class="card-body p-0 hybrid-cart-body">
					<div class="p-3">
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-center p-0">
								<div>
									<img height="75px" src="https://monatteam.ten24dev.com/Slatwall/custom/assets/images/product/default/cache/20096800_300w_300h.jpg">
									<p class="d-inline"> Monat Shampoo 10oz</p>
								</div>
								
								<span class="badge badge-pill">
									x
								</span>
							</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Morbi leo risus</li>
							<li class="list-group-item">Porta ac consectetur ac</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>							
					</div>
				</div>
				<div class="card-footer">
					<div class="row justify-content-between px-3">
						<div>
							<small> Suggested retail price </small>
						</div>
						<div>
							<small> $99.00 </small>
						</div>
					</div>
					<div class="row justify-content-between px-3">
						<div>
							<small> Purchase Plus Discount </small>
						</div>
						<div>
							<small> $99.00 </small>
						</div>
					</div>
					<div class="row justify-content-between px-3">
						<div>
							<small> Purchase Plus Discount </small>
						</div>
						<div>
							<small>$99.00 </small>
						</div>
					</div>
					<hr>
					<div class="row justify-content-between px-3">
						<div>
							<small> 
								<b> TODAYS ORDER TOTAL </b>
							</small>
						</div>
						<div>
							<small> 
								<b> $99.00 </b> 
							</small>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>
