<div class="pr-box-wrapper">
   <div class="pr-box">
    <!-- Product Card -->
    
        <!-- If the product is not being viewed as a wishlist or enrollment item, show the button to launch add to wishlist modal -->
        <button 
            ng-click=" !monatProductCard.isAccountWishlistItem && monatProductCard.launchWishlistsModal()" 
            ng-if="slatwall.account.userIsLoggedIn() && monatProductCard.type != 'wishlist' && !monatProductCard.isEnrollment" 
            type="button" 
            class="wishlist"
            ><i 
                class="fa-heart" 
                id = "skuID_{{monatProductCard.product.skuID}}"
                ng-class="{
                    'fas no-hover': monatProductCard.isAccountWishlistItem,
                    'far' : !monatProductCard.isAccountWishlistItem
                }"
            ></i></button>  
      
        <!-- If the product is being viewed as a wishlist item, show the button to launch delete item from wishlist -->
        <button 
            ng-if="monatProductCard.type=='wishlist'" 
            ng-click="slatwall.currentProductCardIndex = monatProductCard.index"
            data-toggle="modal" 
            data-target="#delete-item-modal"
            class="close"
        ><i class="fas fa-times"></i></button>
        
        <!-- Product Image Block -->
        <figure class="quick-view">
            
            <div class="overlay">
                <div class="overlay-inner">
                    <span><a ng-click="monatProductCard.launchQuickShopModal()" class="btn prod-btn" sw-rbkey="'frontend.global.quickShop'"></a></span>
                </div>
            </div>
            
            <!--- Link to product if not enrollment type --->
            <a 
                class="d-block" 
                ng-href="{{ !monatProductCard.isEnrollment ? monatProductCard.product.skuProductURL : undefined }}"
            >
                <!--- Length check on monatProductCard.product.skuImagePath[0] to check if it's a string or an array. --->
                <img 
                    ng-if="monatProductCard.product.skuImagePath[0].length > 1"
                    image-manager
                    ng-src="{{ monatProductCard.product.skuImagePath[0] }}" 
                    width="240" 
                    height="270" 
                />
                <img 
                    ng-if="monatProductCard.product.skuImagePath[0].length === 1"
                    image-manager
                    ng-src="{{ monatProductCard.product.skuImagePath }}" 
                    width="240" 
                    height="270" 
                />
            </a>
           
        </figure>
      
        <h3 class="pb-0 mb-0"><a ng-href="{{ !monatProductCard.isEnrollment ? monatProductCard.product.skuProductURL : undefined  }}">{{monatProductCard.product.productName}}</a></h3>
        <div ng-if="monatProductCard.product.skuAllowBackorderFlag == '1' && monatProductCard.product.backorderedMessaging != null && monatProductCard.product.backorderedMessaging != ''">
            <small class="text-danger">{{monatProductCard.product.backorderedMessaging}}</small>
        </div>
            
        <div ng-if="monatProductCard.product.displayOnlyFlag != true" class="price">
            <strong>
                <span ng-bind-html="monatProductCard.product.price | swcurrency:monatProductCard.currencyCode "></span>
                <span ng-if="
                    (monatProductCard.product.upgradedPricing.price != null && monatProductCard.product.upgradedPricing.price > 0) || monatProductCard.product.personalVolume != null"
                >   /
                </span>
            </strong> 
             <span class="personal-volume" ng-if="monatProductCard.product.priceGroupCode == 1"> 
                <strong>
                    <span sw-rbKey="'frontend.cart.pv'"></span> 
                    {{monatProductCard.product.personalVolume}} 
                    <span ng-if="monatProductCard.product.upgradedPricing.price">/</span>
                </strong>
            </span>
            <span class="vip-price">
                <span ng-if="monatProductCard.product.upgradedPricing.price != null && monatProductCard.product.upgradedPricing.price > 0">
                    <span ng-if="monatProductCard.product.upgradedPriceGroupCode == 3" sw-rbKey="'frontend.global.vip'"></span> 
                    <span ng-if="monatProductCard.product.upgradedPriceGroupCode == 2" sw-rbKey="'frontend.global.retail'"></span>
                    <span ng-bind-html="monatProductCard.product.upgradedPricing.price | swcurrency:monatProductCard.currencyCode "></span>
                </span> 
            </span>
        </div>


   </div>
   
   
   <!-- Add To Cart -->
   <div ng-if="monatProductCard.product.displayOnlyFlag != true && (monatProductCard.product.qats > 0)" class="product-actions">
         <button 
            ng-click="monatProductCard.addToCart(monatProductCard.product.skuID, monatProductCard.product.skuCode);" 
            class="btn bg-primary add-to-cart" 
            ng-disabled="monatProductCard.loading && monatProductCard.lastAddedSkuID == monatProductCard.product.skuID"
            ng-class="{
                'bg-primary': monatProductCard.type == 'enrollment',
                loading: monatProductCard.loading && monatProductCard.lastAddedSkuID == monatProductCard.product.skuID,
                loaded: monatProductCard.loaded
            }"
        >
             <span ng-if="monatProductCard.loaded" sw-rbkey="'frontend.global.addedToCart'"></span>
             <span ng-if="monatProductCard.type != 'flexship' && monatProductCard.type != 'VIPenrollment' && !monatProductCard.loaded" sw-rbkey="'frontend.global.addToCart'"></span>
             <span ng-if="monatProductCard.type == 'flexship' || monatProductCard.type == 'VIPenrollment' && !monatProductCard.loaded" sw-rbkey="'frontend.global.addToFlexship'"></span>
         </button>
   </div>
   
    <div ng-if="monatProductCard.product.qats <= 0" class="product-actions">
        <button 
            class="btn bg-primary add-to-cart" 
            ng-class="{
                'bg-primary': monatProductCard.type == 'enrollment',
            }"
        >
            <span sw-rbKey="'frontend.cart.soldOut'"></span>
        </button>
    </div>
</div>

<!--- Delete Wishlist Item Modal --->
<div
	class="modal fade"
	id="delete-item-modal"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
	ng-if="0 == monatProductCard.index"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row mt-2 mb-4">
					<div class="col-12">
						<p class="text-center h6" sw-rbkey="'frontend.wishlist.areYouSureProduct'"></p>
					</div>
				</div>
				<div class="row short-width">
					<div class="col-md-6">
						<button
							data-dismiss="modal"
							aria-label="No"
							class="btn bg-primary w-100 mb-3"
							sw-rbkey="'define.no'"
						></button>
					</div>
					<div class="col-md-6">
						<input
							id="orderTemplateID"
							type="hidden"
							name="orderTemplateID"
							class="form-control success"
							ng-model="swfSelect.selectedOption.value"
						/>
						<button
							class="btn bg-primary w-100"
							ng-click="monatProductCard.deleteWishlistItem(slatwall.currentProductCardIndex)"
							sw-rbKey="'define.yes'"
							ng-class="{loading: monatProductCard.loading}"
							ng-disabled="monatProductCard.product.displayOnlyFlag || monatProductCard.loading"
						></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
