<div class="orderbox flexship-card">
	
	<div ng-if="monatFlexshipCard.orderTemplate.statusCode !== 'otstCancelled'">
		
		<div ng-if="!monatFlexshipCard.orderTemplate.shippingAccountAddress_accountAddressID.trim().length" class="alert alert-danger">
			<i class="fa fa-info-circle" aria-hidden="true"></i>
			<span sw-rbkey="'frontend.flexship.actionRequired'"></span> &nbsp;-&nbsp; <span sw-rbkey="'frontend.flexship.noDeliveryAddress'"></span>
			<a href="#" ng-click="monatFlexshipCard.showFlexshipEditShippingMethodModal()">
				<strong> &nbsp;-&nbsp; <u sw-rbkey="'frontend.flexshipCard.menu.editDeliveryAddress'"></u> </strong>
			</a>
		</div>
		
		<div ng-if="!monatFlexshipCard.orderTemplate.accountPaymentMethod_accountPaymentMethodID.trim().length" class="alert alert-danger">
			<i class="fa fa-info-circle" aria-hidden="true"></i>
			<span sw-rbkey="'frontend.flexship.actionRequired'"></span> &nbsp;-&nbsp; <span sw-rbkey="'frontend.flexship.noPaymentMethod'"></span>
			<a href="#" ng-click="monatFlexshipCard.showFlexshipEditPaymentMethodModal()">
				<strong> &nbsp;-&nbsp; <u sw-rbkey="'frontend.flexshipCard.menu.editPaymentMethod'"></u> </strong>
			</a>
		</div>
	</div>
	
	<div class="alert alert-success" ng-if="
				monatFlexshipCard.orderTemplate.billingAccountAddress_accountAddressID.trim().length 
	            && monatFlexshipCard.orderTemplate.shippingAccountAddress_accountAddressID.trim().length
	            && monatFlexshipCard.orderTemplate.statusCode === 'otstDraft'
	 ">
		<i class="fa fa-check" aria-hidden="true"></i>
		<span sw-rbkey="'frontend.flexship.actionRequired'"></span> &nbsp;-&nbsp; <span sw-rbkey="'frontend.flexship.flexshipReadyActive'"></span>
		<a href="#" ng-click="monatFlexshipCard.activateFlexship()">
			<strong> &nbsp;-&nbsp; <u sw-rbkey="'frontend.flexshipCard.menu.activateFlexship'"></u> </strong>
		</a>
	</div>
	
	
	<div class="subtext">
		
		<div class="flexship-card__top w-100">
			<div class="row">
				<div class="col-md-6">
					<h3 class="flexship-card__title" ng-bind="monatFlexshipCard.orderTemplate.orderTemplateName"></h3>
					<a href="##" class="name flexship-card__link" ng-click="monatFlexshipCard.showEditFlexshipNameModal()"><span sw-rbkey="'define.edit'"></span> <span sw-rbkey="'define.name'"></span></a>
				</div>
				<div class="col-md-6">
					<p class="flexship-card__description"><span sw-rbkey="'frontend.myaccount.editsUntil'"></span> <span>{{monatFlexshipCard.editFlexshipUntilDate | date:'MMMM dd'}}</span></p>
				</div>
			</div>
		</div>
		
		<div class="makeedits">
			
			<div class="row">
				
				<!--- Delivery Frequency --->
				<div ng-if="monatFlexshipCard.orderTemplate.frequencyTerm_termName" class="col-md-6 col-lg-3">
					<div class="small-caps-title" sw-rbkey="'define.deliveryFrequency'"></div>
					<p  class="broad">
						<span ng-bind="monatFlexshipCard.orderTemplate.frequencyTerm_termName"></span>
						<span sw-rbkey="'define.aroundThe'"></span> 
						<span ng-bind="monatFlexshipCard.orderTemplate.scheduleOrderDayOfTheMonth"></span>
					</p>
				</div>
				
				<!--- Shipping Address --->
				<div class="col-md-6 col-lg-3">
					<div class="small-caps-title" sw-rbkey="'entity.order.shippingAddress'"></div>
					<p 
						class="broad" 
						ng-if="
							monatFlexshipCard.orderTemplate.shippingAccountAddress_accountAddressID.trim().length
							&& monatFlexshipCard.orderTemplate.shippingAccountAddress_address_streetAddress.length
						"
					>
						<span ng-bind="monatFlexshipCard.orderTemplate.shippingAccountAddress_accountAddressName"></span><br />
						<span ng-bind="monatFlexshipCard.orderTemplate.shippingAccountAddress_address_streetAddress"></span> <br>
						<span ng-if="monatFlexshipCard.orderTemplate.shippingAccountAddress_address_street2Address">
							<span ng-bind="monatFlexshipCard.orderTemplate.shippingAccountAddress_address_street2Address"></span> <br>
						</span>
						<span ng-bind="monatFlexshipCard.orderTemplate.shippingAccountAddress_address_city"></span>, <span ng-bind="monatFlexshipCard.orderTemplate.shippingAccountAddress_address_stateCode"></span> <span ng-bind="monatFlexshipCard.orderTemplate.shippingAccountAddress_address_postalCode"></span>
					</p>
					<p  class="broad" 
						ng-if="
							!monatFlexshipCard.orderTemplate.shippingAccountAddress_accountAddressID.trim().length
							|| !monatFlexshipCard.orderTemplate.shippingAccountAddress_address_streetAddress.length
						"
					>
						<span sw-rbkey="'define.none'"></span>
					</p>
				</div>
				
				<!--- Status --->
				<div class="col-md-6 col-lg-2">
					<div class="small-caps-title" sw-rbkey="'define.status'"></div>
					<p class="broad" ng-class="monatFlexshipCard.orderTemplate.statusCode === 'otstActive' ? 'text-primary' : 'text-danger' ">
						<i ng-class="monatFlexshipCard.orderTemplate.statusCode === 'otstActive' ? 'fa-check' : 'fa-info-circle' "  class="fa" aria-hidden="true"></i>
						<span ng-bind="monatFlexshipCard.orderTemplate.orderTemplateStatusType_typeName">
					</p>
				</div>
				
				<div class="col-md-6 col-lg-4">
					<monat-flexship-menu 
						ng-if="monatFlexshipCard.orderTemplate.statusCode !== 'otstCancelled'"
						data-order-template="monatFlexshipCard.orderTemplate"
						data-account-addresses="monatFlexshipCard.accountAddresses"
						data-account-payment-methods="monatFlexshipCard.accountPaymentMethods"
						data-state-code-options="monatFlexshipCard.stateCodeOptions"
					></monat-flexship-menu>
				</div>
				
			</div>

		</div>
	</div>
	<div class="items row m-0 p-0">
		<div class="col-md-4 p-2">
			<a href="/{{monatFlexshipCard.urlSitePrefix}}my-account/flexship-details/?orderTemplateID={{monatFlexshipCard.orderTemplate.orderTemplateID}}" class="plus p-1">
				<span ng-bind="monatFlexshipCard.orderTemplate.calculatedOrderTemplateItemsCount ? monatFlexshipCard.orderTemplate.calculatedOrderTemplateItemsCount : 0"></span> 
				<span sw-rbkey="'define.items'"></span> <i class="fa fa-plus"></i>
			</a>
		</div>
				
		<div class="col-md-8 p-0 m-0">
			<div ng-if="monatFlexshipCard.orderTemplate.associatedOFYProduct.sku_product_productName" class="p-2">
				<span sw-rbkey="'alert.frontend.yourNextOrderOFYProduct'"></span> {{monatFlexshipCard.orderTemplate.associatedOFYProduct.sku_product_productName}}
				
				<a ng-if="monatFlexshipCard.userCanEditOFYProductFlag" href="#" ng-click="monatFlexshipCard.goToOFYProductListingPage()">
					<strong> &nbsp;-&nbsp; <u sw-rbkey="'define.edit'"></u> </strong>
				</a>
			</div>
			
			<div ng-if="monatFlexshipCard.orderTemplate.qualifiesForOFYProducts && monatFlexshipCard.userCanAddOFYProductFlag" 
				class="bg-primary  p-2">
				<span sw-rbkey="'alert.frontend.youQualifiesForOFY'"></span>
				<a href="#" class="text-white" ng-click="monatFlexshipCard.goToOFYProductListingPage()">
					<strong> &nbsp;-&nbsp; <u sw-rbkey="'frontend.flexshipCard.menu.selectYourFreeProducts'"></u> </strong>
				</a>
			</div>
		</div>
		
	</div>
</div>
