<div
	class="modal"
	role="dialog"
	id="flexship-modal-payment-method{{ monatFlexshipPaymentMethodModal.orderTemplate.orderTemplateID }}"
>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Close -->
			<button
				type="button"
				class="close"
				ng-click="monatFlexshipPaymentMethodModal.closeModal()"
				aria-label="Close"
			>
				<i class="fas fa-times"></i>
			</button>

			<div class="payment">
				<h6 class="title-with-line mb-5">
					{{ monatFlexshipPaymentMethodModal.translations.billingAddress }}
				</h6>

				<div
					class="custom-radio form-group"
					ng-repeat="accountAddress in monatFlexshipPaymentMethodModal.accountAddresses"
					ng-click="$parent.monatFlexshipPaymentMethodModal.setSelectedBillingAccountAddressID(accountAddress.accountAddressID)"
				>
					<input
						type="radio"
						name="accountAddressID"
						ng-checked="accountAddress.accountAddressID === monatFlexshipPaymentMethodModal.selectedBillingAccountAddress.accountAddressID"
					/>
					<label
						for="accountAddressID"
						ng-bind="accountAddress.accountAddressName.trim().length ? accountAddress.accountAddressName : '--- `'"
					></label>
				</div>

				<div
					class="custom-radio form-group"
					ng-click="monatFlexshipPaymentMethodModal.setSelectedBillingAccountAddressID()"
				>
					<input
						type="radio"
						name="accountAddressID"
						ng-checked="'new' === monatFlexshipPaymentMethodModal.selectedBillingAccountAddress.accountAddressID"
					/>
					<label for="accountAddressID">
						{{ monatFlexshipPaymentMethodModal.translations.addNewBillingAddress }}
					</label>
				</div>
				<!--- Conditional: Add New Shipping Address form --->
				<div
					ng-show="'new' === monatFlexshipPaymentMethodModal.selectedBillingAccountAddress.accountAddressID"
					class="row"
				>
					<div class="label col-12" ng-bind="monatFlexshipPaymentMethodModal.translations.addNewBillingAddress"></div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountAddress.accountAddressName"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_nickName"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.name"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_name"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.streetAddress"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_address"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.street2Address"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_address2"></label>
						</div>
					</div>

					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.countryCode"
								readonly
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_country"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<select
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.stateCode"
								ng-options="state.value as state.name for state in monatFlexshipPaymentMethodModal.stateCodeOptions"
							>
								<option disabled></option>
							</select>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_state"></label>
						</div>
					</div>

					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.city"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_city"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAddress.postalCode"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newAddress_zipCode"></label>
						</div>
					</div>
				</div>
				<!-- end add new account address-->

				<br />
				<!-- end select billing address-->

				<h6 class="title-with-line mb-5">
					{{ monatFlexshipPaymentMethodModal.translations.paymentMethod }}
				</h6>

				<div
					class="custom-radio form-group"
					ng-repeat="accountPaymentMethod in monatFlexshipPaymentMethodModal.accountPaymentMethods"
					ng-click="$parent.monatFlexshipPaymentMethodModal.setSelectedAccountPaymentMethodID(accountPaymentMethod.accountPaymentMethodID)"
				>
					<input
						type="radio"
						name="saved_cards"
						ng-checked="accountPaymentMethod.accountPaymentMethodID === monatFlexshipPaymentMethodModal.selectedAccountPaymentMethod.accountPaymentMethodID"
					/>
					<label
						for="saved_cards"
						ng-bind="accountPaymentMethod.accountPaymentMethodName.trim().length ? accountPaymentMethod.accountPaymentMethodName : '--- `'"
					>
						<i class="fab fa-cc-visa"></i>
					</label>
				</div>

				<div
					class="custom-radio form-group"
					ng-click="monatFlexshipPaymentMethodModal.setSelectedAccountPaymentMethodID()"
				>
					<input
						type="radio"
						name="saved_cards"
						ng-checked="'new' === monatFlexshipPaymentMethodModal.selectedAccountPaymentMethod.accountPaymentMethodID"
					/>
					<label for="new_card">
						{{ monatFlexshipPaymentMethodModal.translations.addNewCreditCard }}
					</label>
				</div>

				<!-- Conditional: Add New Payment Address form -->
				<div
					ng-show="'new' === monatFlexshipPaymentMethodModal.selectedAccountPaymentMethod.accountPaymentMethodID"
					class="row"
				>
					<div class="label col-12" ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard"></div>

					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.accountPaymentMethodName"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard_nickName"></label>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.creditCardNumber"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard_creditCardNumber"></label>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.nameOnCreditCard"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard_nameOnCard"></label>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="material-field">
							<select
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.expirationMonth"
								ng-options="month for month in monatFlexshipPaymentMethodModal.expirationMonthOptions"
							>
								<option disabled></option>
							</select>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard_expirationMonth"></label>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="material-field">
							<select
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.expirationYear"
								ng-options="year.VALUE as year.NAME for year in monatFlexshipPaymentMethodModal.expirationYearOptions"
							>
								<option disabled></option>
							</select>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard_expirationYear"></label>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.securityCode"
							/>
							<label ng-bind="monatFlexshipPaymentMethodModal.translations.newCreditCard_securityCode"></label>
						</div>
					</div>
				</div>
			</div>

			<div class="footer">
				<button
					type="button"
					class="btn btn-block bg-primary"
					ng-click="monatFlexshipPaymentMethodModal.updateBilling()"
				>
					<span sw-rbkey="'frontend.modal.saveChangesButton'"></span>
				</button>
				<button
					type="button"
					class="btn btn-cancel cancel-dark"
					ng-click="monatFlexshipPaymentMethodModal.closeModal()"
				>
					<span sw-rbkey="'frontend.modal.closeButton'"></span>
				</button>
			</div>
		</div>
	</div>
</div>
