
	<div class="order-details-box items-details cart-products" >
		<h3><span ng-bind="monatFlexshipDetail.orderTemplate.calculatedOrderTemplateItemsCount"></span> 
			<span sw-rbkey="'define.items'"></span>
		</h3>
		<table class="table cart-table" >
			<tr monat-flexship-order-item 
				ng-if="monatFlexshipDetail.orderTemplate.orderTemplateItems" 
				ng-repeat="orderItem in monatFlexshipDetail.orderTemplate.orderTemplateItems" 
                data-order-item="orderItem">
			</tr>
		</table>
	</div>
	
	<monat-flexship-shipping-and-billing-card ng-if="monatFlexshipDetail.orderTemplate"
         data-order-template="monatFlexshipDetail.orderTemplate">
	</monat-flexship-shipping-and-billing-card>


	<monat-flexship-order-total-card ng-if="monatFlexshipDetail.orderTemplate"
         data-order-template="monatFlexshipDetail.orderTemplate">
	</monat-flexship-order-total-card>
	