<div class="modal using-modal-service" id="flexship-modal-cancel{{ monatFlexshipCancelModal.orderTemplate.orderTemplateID }}">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Close -->
			<button
				type="button"
				class="close"
				ng-click="monatFlexshipCancelModal.closeModal()"
				aria-label="Close"
			>
				<i class="fas fa-times"></i>
			</button>

			<div class="cancel-flexship">
				<h6 class="title-with-line mb-5">
					<span sw-rbkey="'frontend.cancelFlexshipModal.cancel'"></span>
				</h6>

				<select
					type="text"
					class="form-control"
					ng-model="monatFlexshipCancelModal.formData.typeID"
					ng-options="reason.value as reason.name for reason in monatFlexshipCancelModal.cancellationReasonTypeOptions"
					placeholder="{{ monatFlexshipCancelModal.translations.flexshipCancelReason }}"
				>
					<option value="">{{ monatFlexshipCancelModal.translations.whyAreYouCancelling }}</option>
				</select>
				<br />
				<div class="form-group" >
					<input
						type="text"
						class="form-control"
						ng-model="monatFlexshipCancelModal.formData.typeIDOther"
						placeholder="{{
							monatFlexshipCancelModal.translations.flexshipCancelOtherReasonNotes
						}}"
					/>
				</div>
			</div>

			<div class="footer">
				<button
					type="button"
					class="btn btn-block bg-primary"
					ng-click="monatFlexshipCancelModal.cancelFlexship()"
				>
					<span sw-rbkey="'frontend.modal.saveChangesButton'"></span>
				</button>
				<button
					type="button"
					class="btn btn-cancel cancel-dark"
					ng-click="monatFlexshipCancelModal.closeModal()"
				>
					<span sw-rbkey="'frontend.modal.closeButton'"></span>
				</button>
			</div>
		</div>
	</div>
</div>
