<div class="flexship-confirm">
    <div class="container">
	    <h6 class="title-with-line">My Hair Flexship</h6>
	    
    	<h3>You'll still receive your items every <span class="date">1 Month</span> on the <span class="date">17th.</span></h3>
    	
    	<div class="total">
    		<span>Total:</span>
    		<span>$255</span>
    	</div>

	    <div class="confirm-footer">
	    	<a href="##" class="btn bg-secondary btn-block" ng-click="monatFlexshipConfirm.confirm()">Confirm</a>
	    	<a href="##" class="btn btn-cancel cancel-light" ng-click="monatFlexshipConfirm.cancel()">Cancel</a>
	    </div>
    </div>
</div>