<div class="manage">
	<a href="##" class="flexs">Manage my Flexship <i class="fas fa-chevron-down"></i></a>
	<ul>
		<li>
		    <a href="##" data-toggle="modal" data-target="#flexship-modal-shipping-method">Edit delivery address</a>
		</li>
		<li>
		    <a href="/flexship-detail">Add or remove items</a>
		</li>
		<li>
		    <a href="##" data-toggle="modal" data-target="#flexship-modal-payment-method">Edit payment method</a>
		</li>
		<li>
		    <a href="##" data-toggle="modal" data-target="#flexship-modal-change-or-skip-order">Delay or skip order</a>
		</li>
		<li>
		    <a href="##" data-toggle="modal" data-target="#flexship-modal-change-or-skip-order">Cancel Flexship</a>
		</li>
	</ul>
</div>