<!-- a generic template of error messages known as "my-custom-messages" -->
<div
	class="modal using-modal-service"
	role="dialog"
	id="flexship-modal-shipping-method{{ monatFlexshipShippingMethodModal.orderTemplate.orderTemplateID }}"
>
	<div class="modal-dialog modal-lg">
        
        <form 
        name="updateShippingAddressForm" 
        ng-submit=" updateShippingAddressForm.$valid && monatFlexshipShippingMethodModal.updateShippingAddress()"
        >
    
		<div class="modal-content">
			<!--- Modal Close --->
			<button
				type="button"
				class="close"
				ng-click="monatFlexshipShippingMethodModal.closeModal()"
				aria-label="Close"
			>
				<i class="fas fa-times"></i>
			</button>

			<div class="shipping">
				<h6 class="title-with-line mb-5">
					{{ monatFlexshipShippingMethodModal.translations.shippingMethod }}
				</h6>

				<div
					class="custom-radio form-group"
					ng-repeat="shippingMethod in monatFlexshipShippingMethodModal.shippingMethodOptions"
					ng-click="$parent.monatFlexshipShippingMethodModal.setSelectedShippingMethodID(shippingMethod.value)"
				>
					<input
					    swvalidationrequired="true"
					    ng-model = "monatFlexshipShippingMethodModal.selectedShippingMethod.shippingMethodID"
						type="radio"
						name="shippingMethodID"
						ng-checked="shippingMethod.value === monatFlexshipShippingMethodModal.selectedShippingMethod.shippingMethodID"
					    
					/>
					<label for="shippingMethodID" ng-bind="shippingMethod.name"></label>
				    <div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.shippingMethodID.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
				</div>

				<h6 class="title-with-line mb-5">
					{{ monatFlexshipShippingMethodModal.translations.shippingAddress }}
				</h6>

				<div
					class="custom-radio form-group"
					ng-repeat="accountAddress in monatFlexshipShippingMethodModal.accountAddresses"
					ng-click="$parent.monatFlexshipShippingMethodModal.setSelectedAccountAddressID(accountAddress.accountAddressID)"
				>
					<input
						type="radio"
						name="accountAddressID"
						ng-checked="accountAddress.accountAddressID === monatFlexshipShippingMethodModal.selectedShippingAddress.accountAddressID"
					/>
					<label
						for="accountAddressID"
						ng-bind="accountAddress.accountAddressName.trim().length ? accountAddress.accountAddressName : '---'"
					></label>
				</div>

				<div
					class="custom-radio form-group"
					ng-click="monatFlexshipShippingMethodModal.setSelectedAccountAddressID()"
				>
					<input
						type="radio"
						name="accountAddressID"
						ng-checked="'new' === monatFlexshipShippingMethodModal.selectedShippingAddress.accountAddressID"
					/>
					<label for="accountAddressID">
						{{ monatFlexshipShippingMethodModal.translations.addNewShippingAddress }}
					</label>
				</div>
				
				<!--- Conditional: Add New Shipping Address form --->
				<div
					ng-if="'new' === monatFlexshipShippingMethodModal.selectedShippingAddress.accountAddressID"
					class="row"
				>
					<div class="label col-12">
						{{ monatFlexshipShippingMethodModal.translations.newShippingAddress }}
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
							    swvalidationrequired="true"
							    type="text"
								class="form-control"
								name="accountAddressName"
								ng-model="monatFlexshipShippingMethodModal.newAccountAddress.accountAddressName"
							/>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_nickName"></label>
    						<div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.accountAddressName.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
    						
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input 
							    swvalidationrequired="true"
								type="text"
								class="form-control"
								name="newAddress_name"
								ng-model="monatFlexshipShippingMethodModal.newAddress.name"
							/>
							
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_name"></label>
							<div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.newAddress_name.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>

						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
							    swvalidationrequired="true"
							    name = "newAddress_streetAddress"
								type="text"
								class="form-control"
								ng-model="monatFlexshipShippingMethodModal.newAddress.streetAddress"
							/>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_address"></label>
							<div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.newAddress_streetAddress.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
								type="text"
								class="form-control"
								ng-model="monatFlexshipShippingMethodModal.newAddress.street2Address"
							/>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_address2"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
                                <input
								type="text"
								class="form-control"
								ng-model="monatFlexshipShippingMethodModal.newAddress.countryCode"
								name = "newAddress_country" 
								readonly
							/>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_country"></label>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<select
								type="text"
								class="form-control"
								ng-model="monatFlexshipShippingMethodModal.newAddress.stateCode"
								swvalidationrequired="true"
							    name="newAddress_stateCode"
								ng-options="state.value as state.name for state in monatFlexshipShippingMethodModal.stateCodeOptions"
								placeholder="{{ monatFlexshipShippingMethodModal.translations.newAddress_state }}"
							>
								<option disabled></option>
							</select>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_selectYourState"></label>
							<div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.newAddress_stateCode.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
							  swvalidationrequired = "true"
							  type="text"
							  class="form-control"
							  ng-model="monatFlexshipShippingMethodModal.newAddress.city"
							  name="newAddress_city"
							/>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_city"></label>
							<div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.newAddress_city.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
						</div>
					</div>
					
					<div class="col-12 col-md-6">
						<div class="material-field">
							<input
							 	swvalidationrequired="true"
								type="text"
								class="form-control"
								ng-model="monatFlexshipShippingMethodModal.newAddress.postalCode"
								name="newAddress_zipCode"
							/>
							<label ng-bind="monatFlexshipShippingMethodModal.translations.newAddress_zipCode"></label>
							<div ng-if="updateShippingAddressForm.$submitted" ng-messages="updateShippingAddressForm.newAddress_zipCode.$error">
    						    <div ng-messages-include="monat-form-generic-validation-error-messages"></div>
    						</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer">
				<button
					type="submit"
					class="btn btn-block bg-primary"
					sw-rbkey="'frontend.modal.saveChangesButton'"
					ng-class="{loading: monatFlexshipShippingMethodModal.loading}"
					ng-disabled = "monatFlexshipShippingMethodModal.loading"
				></button>
				<button
					type="button"
					class="btn btn-cancel cancel-dark"
					ng-click="monatFlexshipShippingMethodModal.closeModal()"
					sw-rbkey="'frontend.modal.closeButton'"
				></button>
			</div>
        </div>
        </form>
	</div>
</div>
