<div 
    ng-class="{
        'border-0': monatProductCard.type === 'enrollment', 
        'mx-md-4': monatProductCard.type === 'enrollment', 
        'product-box': 
            monatProductCard.type != 'productListing' 
            && monatProductCard.type !== 'VIPenrollmentOrder' 
            && monatProductCard.type !== 'VIPenrollment'
    }"
>
   <div class="pr-box">
    <!-- Product Card -->
    
        <!-- If the product is not being viewed as a wishlist or enrollment item, show the button to launch add to wishlist modal -->
 	    <button ng-click="monatProductCard.launchWishlistModal(monatProductCard.product.skuID,monatProductCard.product.productName)" ng-if="slatwall.account.userIsLoggedIn() && monatProductCard.type != 'wishlist' && monatProductCard.type != 'enrollment' && monatProductCard.type !='VIPenrollment' && monatProductCard.type !='VIPenrollmentOrder' " type="button" class="wishlist"><i class="far fa-heart"></i></button>  
      
        <!-- If the product is being viewed as a wishlist item, show the button to launch delete item from wishlist -->
        <button 
            ng-if="monatProductCard.type=='wishlist'" 
            ng-click="slatwall.currentProductCardIndex = monatProductCard.index"
            data-toggle="modal" 
            data-target="#delete-item-modal"
            class="close"
        ><i class="fas fa-times"></i></button>
        
        <!-- Product Image Block -->
        <figure class="quick-view">
            
            <div class="overlay">
                <div class="overlay-inner">
                    <span><a href="#" ng-click="monatProductCard.launchQuickShopModal()" class="btn prod-btn ">Quick Shop</a></span>
                </div>
            </div>
            
            <!--- Link to product if not enrollment type --->
            <a ng-if="monatProductCard.type != 'enrollment'" class="d-block" ng-href="{{monatProductCard.product.skuProductURL}}">
                <img ng-src="{{monatProductCard.product.skuImagePath[0]}}" width="240" height="270">
            </a>
            
            <!--- Launch quick shop modal if enrollment type --->
            <img ng-if="monatProductCard.type == 'enrollment'" ng-src="{{monatProductCard.product.skuImagePath[0]}}" width="240" height="270">
           
        </figure>
      
        <h3 class="pb-0 mb-0"><a ng-href="{{monatProductCard.product.skuProductURL}}">{{monatProductCard.product.productName}}</a></h3>
         
        <!-- TODO for tom: Refactor wishlist and enrollment api's/formatting to use this style of formatting Product Listing Pricing and remove pricing conditionals below -->
        <div ng-if="monatProductCard.type ==='productListing' || monatProductCard.type ==='VIPenrollment' || monatProductCard.type ==='VIPenrollmentOrder' || monatProductCard.type === 'flexship'" class="price">
            <strong>{{monatProductCard.product.price | currency }} <span ng-if="monatProductCard.product.upgradedPricing.price != null ">/</span></strong> 
            <span class="vip-price"><span ng-if="monatProductCard.product.upgradedPricing.price != null " ng-bind-html="monatProductCard.product.upgradedPriceGroupCode == 3 ? 'VIP' : (monatProductCard.product.upgradedPriceGroupCode == 2 ? 'RETAIL': '') "></span> {{monatProductCard.product.upgradedPricing.price | currency }}</span>
        </div>
        
        <!-- Market Partner Pricing -->
        <div ng-if="monatProductCard.product.accountPriceGroup == 1 && monatProductCard.type !='enrollment' && monatProductCard.type !='productListing'" class="price">
            <strong>{{monatProductCard.product.marketPartnerPrice}} /</strong> <span class="vip-price">Retail {{monatProductCard.product.retailPrice}}</span>
            <br><strong>PV {{monatProductCard.product.personalVolume}}</strong>
        </div>
        
        <!-- VIP Pricing -->
        <div ng-if="monatProductCard.product.accountPriceGroup == 3 && monatProductCard.type !='enrollment' && monatProductCard.type !='productListing'" class="price">
            <strong>{{monatProductCard.product.vipPrice}} /</strong> <span class="vip-price">Retail {{monatProductCard.product.retailPrice}}</span>
        </div>
        
        <!-- Retail Pricing -->
        <div 
            ng-if="
                monatProductCard.product.accountPriceGroup != 3 
                && monatProductCard.product.accountPriceGroup != 1 
                && monatProductCard.type != 'enrollment' 
                && monatProductCard.type != 'productListing'
                && monatProductCard.type != 'VIPenrollment' 
                && monatProductCard.type != 'VIPenrollmentOrder'
                && monatProductCard.type != 'flexship'
            " 
            class="price"
        >
            <strong>{{monatProductCard.product.retailPrice}} /</strong> <span class="vip-price">VIP {{monatProductCard.product.vipPrice}}</span>
        </div>
        
        <!-- Enrollment Pricing -->
        <div ng-if="monatProductCard.type ==='enrollment'" class="price">
            <strong>{{monatProductCard.product.marketPartnerPrice}} /</strong> <span class="vip-price">PV {{monatProductCard.product.personalVolume}}</span>
        </div>

   </div>
   
   <!-- Add To Cart -->
   <div class="product-actions">
         <button 
            ng-click="monatProductCard.addToCart(monatProductCard.product.skuID, monatProductCard.product.skuCode)" 
            class="btn btn-border-primary add-to-cart" 
            ng-class="{
                'bg-primary': monatProductCard.type == 'enrollment',
                loading: monatProductCard.loading && monatProductCard.lastAddedSkuID == monatProductCard.product.skuID
            }"
        >
             <span ng-if="monatProductCard.type != 'flexship' && monatProductCard.type != 'VIPenrollment'" >Add To Cart</span>
             <span ng-if="monatProductCard.type == 'flexship' || monatProductCard.type == 'VIPenrollment'">Add To Flexship</span>
         </button>
   </div>
</div>


<!--- Delete Wishlist Item Modal --->
<div
	class="modal fade"
	id="delete-item-modal"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
	ng-if="0 == monatProductCard.index"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row mt-2 mb-4">
					<div class="col-12">
						<p class="text-center h6" sw-rbkey="'frontend.wishlist.areYouSureProduct'"></p>
					</div>
				</div>
				<div class="row short-width">
					<div class="col-md-6">
						<button
							data-dismiss="modal"
							aria-label="No"
							class="btn bg-primary w-100 mb-3"
							sw-rbkey="'define.no'"
						></button>
					</div>
					<div class="col-md-6">
						<input
							id="orderTemplateID"
							type="hidden"
							name="orderTemplateID"
							class="form-control success"
							ng-model="swfSelect.selectedOption.value"
						/>
						<button
							class="btn bg-primary w-100"
							ng-click="monatProductCard.deleteItem(slatwall.currentProductCardIndex)"
							sw-rbKey="'define.yes'"
							ng-class="{loading: monatProductCard.loading}"
						></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
