<div sw-click-outside="monatBirthday.closeThis()" ng-cloak>

	<div ng-if="!monatBirthday.monatService.userIsEighteen" class="material-field">
		<input 
			id="dob"
			name="birthDate"
			type="text"
			class="form-control mask-date"
			ng-model="monatBirthday.dob"
			swvalidationrequired="{{monatBirthday.required}}"
			ng-focus="monatBirthday.showBirthdayPicker();"
			ng-blur="monatBirthday.changeDOB(monatBirthday.Actions.INPUT)"
			value="{{monatBirthday.dob}}"
		></input>

		<label for="gender_CreateAccount" sw-rbkey="'frontend.global.yourBirthday'"></label>
	</div>
	<div  id="birthday-picker" ng-if="monatBirthday.showPicker">
		<div class="birthday-wrapper shadow border overflow-hidden">
			<div class="header text-center">
				<p class="text-white py-3">Select Date</p>	
			</div>
			<div class="row justify-content-between px-5 py-2 bg-white">
				
				<div class="col-4">
					<div style="overflow:hidden" class="d-flex flex-column align-items-center birthday-col">
						<div>
							<a ng-click="monatBirthday.changeMonth(monatBirthday.Actions.PLUS)" href="">
								<i class="far fa-chevron-up"></i>
							</a>
							
						</div>
												
						<div>{{monatBirthday.upMonth}}</div>
						
						<div>
							<input
								class="border-left-0 border-right-0 border-dark text-center"
								type="text"
								ng-model="monatBirthday.month"
								ng-change="monatBirthday.changeMonth(monatBirthday.Actions.INPUT)"
								ng-model-options="{ debounce: 3500 }"
							>
						</div>

						<div>{{monatBirthday.downMonth}}</div>
						
						<div>
							<a ng-click="monatBirthday.changeMonth(monatBirthday.Actions.MINUS)" href="">
								<i class="far fa-chevron-down"></i>
							</a>
							
						</div>
					</div>
				</div>
				
				<div class="col-4">
					<div style="overflow:hidden" class="d-flex flex-column align-items-center birthday-col">
						<div>
							<a ng-click="monatBirthday.changeDay(monatBirthday.Actions.PLUS)"  href="">
								<i class="far fa-chevron-up"></i>
							</a>
						</div>
						
						<div>{{ +monatBirthday.upDay }}</div>
						
						<div>
							<input
								class="border-left-0 border-right-0 border-dark text-center"
								type="text"
								ng-model="monatBirthday.day"
								type="number"
								ng-change="monatBirthday.changeDay(monatBirthday.Actions.INPUT)"
								ng-model-options="{ debounce: 1000 }"
							>
						</div>
						
						<div>{{ +monatBirthday.downDay }}</div>
						
						<div>
							<a ng-click="monatBirthday.changeDay(monatBirthday.Actions.MINUS)" href="">
								<i class="far fa-chevron-down"></i>	
							</a>
						</div>
					</div>
				</div>
			
				<div class="col-4">
					<div style="overflow:hidden" class="d-flex flex-column align-items-center birthday-col">
						<div>
							<a ng-click="monatBirthday.changeYear(monatBirthday.Actions.PLUS)" href="">
								<i class="far fa-chevron-up"></i>
							</a>
							
						</div>
						
						<div><span ng-show="+monatBirthday.year + 1 < monatBirthday.currentYear">{{ +monatBirthday.year + 1}}</span></div>
						<div>
							<input
								class="border-left-0 border-right-0 border-dark text-center"
								type="text"
								ng-model="monatBirthday.year"
								ng-change="monatBirthday.changeYear(monatBirthday.Actions.INPUT)"
								ng-model-options="{ debounce: 1500 }"
							>
						</div>
						<div ng-click="monatBirthday.resetModel()">{{ +monatBirthday.year - 1}}</div>
						
						<div>
							<a ng-click="monatBirthday.changeYear(monatBirthday.Actions.MINUS)" href="">
								<i class="far fa-chevron-down"></i>	
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 