	<!-- This was designed with Order we need to find out what to use for flexship
	<div class="orderbox">
		<div class="subtext">
			<table>
				<tbody>
					<tr>
						<td class="col1">
							<h3>Order #631786432</h3>
						</td>
						<td class="col2">
							<span class="status">Order Status</span>
							<p class="broad">Shipped</p>
						</td>
						<td class="col3">
							<span class="status">Shipping Address</span>
							<p class="broad">Gabby Burleson, 34 Broad St.<br> New York, NY 123456</p>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="btngroup">
				<a href="#" class="btn bg-primary">track order</a>
			</div>
		</div>
	</div>-->
	<div class="order-details-box items-details" >
		<h3><span ng-bind="monatFlexshipDetail.orderTemplate.calculatedOrderTemplateItemsCount.trim().length ? monatFlexshipCard.orderTemplate.calculatedOrderTemplateItemsCount : 0"></span> items `</h3>
		<table class="table items-details-table">
			<tbody>
				
				<monat-flexship-order-item 
					ng-if="monatFlexshipDetail.orderTemplate.orderTemplateItems" 
					ng-repeat="orderItem in monatFlexshipDetail.orderTemplate.orderTemplateItems" 
                    data-order-item="orderItem">
				</monat-flexship-order-item>
				
			</tbody>
		</table>
	</div>
	
	  
	<monat-flexship-shipping-and-billing-card ng-if="monatFlexshipDetail.orderTemplate"
         data-order-template="monatFlexshipDetail.orderTemplate">
	</monat-flexship-shipping-and-billing-card>


	<monat-flexship-order-total-card ng-if="monatFlexshipDetail.orderTemplate"
         data-order-template="monatFlexshipDetail.orderTemplate">
	</monat-flexship-order-total-card>
	