<header class="site-header d-flex flex-column">
	<div class="container">
		<div class="header-row">
			<div class="left-nav">
				
			</div>
			<a href="#" class="logo">
				<img src="/themes/monat/assets/images/logo.svg"  alt="Monat logo">
			</a>			
			<div class="right-nav">
				<div class="row justify-content-end">
					<hybrid-cart type="monatEnrollment.type" is-enrollment="true"></hybrid-cart>
				</div>			
			</div>			
		</div>
	</div>
	<div ng-if="(monatEnrollment.currentStepName == 'orderListing' &&  monatEnrollment.orderTemplateService.mostRecentOrderTemplate.purchasePlusMessage.message.length) || ( monatEnrollment.currentStepName != 'orderListing' && monatEnrollment.monatService.cart.purchasePlusMessage.message.length)" id="promoBanner" class="alert discount-block text-white promotion-bar-block">
		<button 
			id="close-promo" 
			type="button" 
			class="close" 
			data-dismiss="alert"
			aria-label="Close"
		><i class="fas fa-times"></i></button>
		{{
			monatEnrollment.currentStepName == 'orderListing' 
			? monatEnrollment.orderTemplateService.mostRecentOrderTemplate.purchasePlusMessage.message
			:monatEnrollment.monatService.cart.purchasePlusMessage.message
		}}
	</div>
</header>


<ng-transclude></ng-transclude>

<div ng-cloak ng-show="monatEnrollment.showCanPlaceOrderAlert && !monatEnrollment.monatService.canPlaceOrder" class="alert alert-danger alert-dismissible fade show text-center can-place-order-alert" role="alert">
    <span sw-rbkey="'frontend.order.canPlaceOrderFailure'"></span>
</div>
    
<footer ng-if="monatEnrollment.currentStepName !== 'checkout'" class="steps-footer d-flex flex-column">
	<div class="w-100 d-flex justify-content-between align-items-center">
		<!-- Back button --->
		<div class="d-flex align-items-center">
			<a 
				href 
				data-ng-click="monatEnrollment.previous()" 
				class="back d-inline-block" 
				ng-class="{ 
					invisible: (monatEnrollment.position == 0 ), 
				}"
			>
				<span class="last" sw-rbkey="'frontend.global.back'"></span>
				<i class="fas fa-chevron-left"></i> 
			</a>

			<span ng-if="monatEnrollment.cart.totalItemQuantity > 0 && monatEnrollment.showMiniCart" class="qty-and-price text-white pl-3">
				{{ monatEnrollment.cart.totalItemQuantity }} 
				<span sw-rbkey="'frontend.flexshipCartContainer.items'"></span> / 
				<span sw-rbkey="'frontend.flexshipCartContainer.total'"></span> 
				<span ng-bind-html="monatEnrollment.cart.total | swcurrency:monatEnrollment.cart.currencyCode"></span> 
				<small ng-click="monatEnrollment.toggleMiniCart()" class="border-bottom ml-3">{{monatEnrollment.cartText}}</small>
			</span>
		</div>
		
		<!----VIP step icon indicators --->
		<div ng-if=" monatEnrollment.type=='vip' || monatEnrollment.type=='vipUpgrade'" class="step-status row w-50 text-center align-items-end">
			<div 
				class="col mt-1"
				ng-style="{ 'opacity' : (monatEnrollment.currentStepName == 'todaysOrder' || monatEnrollment.currentStepName == undefined || monatEnrollment.currentStepName == 'ofy') ? '100%' : '50%' }"
			>
				<i class="far fa-shopping-basket"></i>	
				<p class="mb-1" sw-rbkey="'frontend.cart.todaysOrder'"></p>
			</div>
			
			<div 
				class="col"
				ng-style="{ 
					'opacity' : (monatEnrollment.currentStepName == 'shopIntro' || monatEnrollment.currentStepName == 'orderListing' ||  monatEnrollment.currentStepName == 'subscription' ) ? '100%' : '50%' 
				}"
			>
				<i class="far fa-shipping-timed"></i>
				<p class="mb-1" sw-rbkey="'entity.OrderTemplate'"></p>
			</div>
			
			<div 
				ng-if="!monatEnrollment.upgradeFlow"
				class="col"
				ng-style="{ 'opacity' : (monatEnrollment.currentStepName == 'createAccount' ) ? '100%' : '50%' }"
			>
				<i class="far fa-user-plus"></i>
				<p class="mb-1" sw-rbkey="'frontend.createAccount.createAccountBtn'"></p>
			</div>
			
			<div class="col">
				<i class="far fa-credit-card"></i>
				<p class="mb-1" sw-rbkey="'frontend.global.checkout'"></p>
			</div>
			
			<div ng-if="!monatEnrollment.account.ownerAccount.accountNumber.length" class="col">
				<i class="far fa-user-friends"></i>
				<p class="mb-1" sw-rbkey="'frontend.global.sponsor'"></p>
			</div>
		</div>

		<!----MP Step icon indicators --->
		<div ng-if="monatEnrollment.type=='mp' || monatEnrollment.type=='mpUpgrade'" class="step-status row w-50 text-center align-items-end">
			<div 
				class="col mt-1"
				ng-style="{ 'opacity' : (monatEnrollment.currentStepName == 'starterPack' || monatEnrollment.currentStepName == undefined ) ? '100%' : '50%' }"
			>
				<i class="far fa-wine-bottle"></i>	
				<p class="mb-1" sw-rbkey="'frontend.global.productPack'"></p>
			</div>
			
			<div 
				class="col"
				ng-style="{ 
					'opacity' : (monatEnrollment.currentStepName == 'todaysOrder' ) ? '100%' : '50%' 
				}"
			>
				<i class="far fa-shopping-basket"></i>
				<p class="mb-1" sw-rbkey="'frontend.cart.todaysOrder'"></p>
			</div>
			
			<div 
				ng-if="!monatEnrollment.upgradeFlow"
				class="col"
				ng-style="{ 'opacity' : (monatEnrollment.currentStepName == 'createAccount' || monatEnrollment.currentStepName=='updateAccount') ? '100%' : '50%' }"
			>
				<i class="far fa-user-plus"></i>
				<p class="mb-1" sw-rbkey="'frontend.createAccount.createAccountBtn'"></p>
			</div>
			<div 
				ng-if="monatEnrollment.upgradeFlow"
				class="col"
				ng-style="{ 'opacity' : (monatEnrollment.currentStepName == 'createAccount' || monatEnrollment.currentStepName=='updateAccount') ? '100%' : '50%' }"
			>
				<i class="far fa-briefcase"></i>
				<p class="mb-1" sw-rbkey="'frontend.enrollment.businessDetails'"></p>
			</div>
			
			<div class="col">
				<i class="far fa-credit-card"></i>
				<p class="mb-1" sw-rbkey="'frontend.global.checkout'"></p>
			</div>
			
			<div ng-if="!monatEnrollment.account.ownerAccount.accountNumber.length" class="col">
				<i class="far fa-user-friends"></i> 
				<p class="mb-1" sw-rbkey="'frontend.global.sponsor'"></p>
			</div>
		</div>
		
		<!-----NEXT BUTTONS ---->
		<div ng-if="
			(monatEnrollment.monatService.canPlaceOrder && !monatEnrollment.flexshipShouldBeChecked) 
			|| (monatEnrollment.monatService.canPlaceOrder && monatEnrollment.orderTemplateService.canPlaceOrderFlag)
		">
			<button 
				style="z-index: 1" 
				data-ng-click="monatEnrollment.next(); monatEnrollment.showCanPlaceOrderAlert = false" 
				class="btn btn-secondary forward-btn forward" 
				ng-if="monatEnrollment.position + 1 != monatEnrollment.steps.length && monatEnrollment.reviewContext == false"
			>
				<span sw-rbkey="'frontend.global.next'"></span>
				<i class="fas fa-chevron-right"></i>
			</button>
			<button 
				style="z-index: 1" 
				data-ng-click="monatEnrollment.goToLastStep(); monatEnrollment.showCanPlaceOrderAlert = false" 
				class="btn btn-secondary forward-btn forward" 
				ng-if="monatEnrollment.position + 1 != monatEnrollment.steps.length && monatEnrollment.reviewContext"
			>
				<span sw-rbkey="'frontend.global.next'"></span>
				<i class="fas fa-chevron-right"></i>
			</button>			
		</div>
		
		<div ng-if="
				(!monatEnrollment.monatService.canPlaceOrder && !monatEnrollment.flexshipShouldBeChecked) 
			|| (!monatEnrollment.monatService.canPlaceCartOrder && !monatEnrollment.orderTemplateService.canPlaceOrderFlag && monatEnrollment.flexshipShouldBeChecked)
		">
			<button 
				style="z-index: 1" 
				data-ng-click="monatEnrollment.showCanPlaceOrderAlert = true" 
				class="btn btn-secondary forward-btn forward disabled" 
				ng-if="monatEnrollment.position + 1 != monatEnrollment.steps.length && monatEnrollment.reviewContext == false"
			>
				<span sw-rbkey="'frontend.global.next'"></span>
				<i class="fas fa-chevron-right"></i>
			</button>
		</div>

		<span ng-if="monatEnrollment.position + 1 == monatEnrollment.steps.length"></span>
	</div>

</footer>
