<div class="flexship-confirm">
    <div class="container">
	    <h6 class="title-with-line"><span ng-bind="monatFlexshipConfirm.orderTemplate.orderTemplateName"></span></h6>
	    
    	<h3>
    		<span sw-rbkey="'frontend.enrollment.recieveItemsSub'"></span>
	    	<span class="date" >
				<select type="text"
            			ng-model="monatFlexshipConfirm.selectedFrequencyTermID"
            			ng-options="term.value as term.name for term in monatFlexshipConfirm.frequencyTermOptions"
            			placeholder="Frequency">
            	</select> 	    	
           </span>
           <span sw-rbkey="'frontend.global.onThe'"></span>
	    	<span class="date">
	    		<select type="text"
            			ng-model="monatFlexshipConfirm.selectedFrequencyDate"
            			ng-options="date.value as date.name for date in monatFlexshipConfirm.frequencyDateOptions"
            			placeholder="Frequency">
            	</select> 	
	    	</span>
    	</h3>

	    <div class="confirm-footer">
	    	<button ng-click="monatFlexshipConfirm.confirm()" 
	    	ng-class="{loading: monatFlexshipConfirm.loading}" 
	    	ng-disabled= "monatFlexshipConfirm.loading" class="btn btn-style-white btn-block" sw-rbkey="'frontend.global.confirm'"></button>
	    	<a href="##" class="btn btn-cancel cancel-light" ng-click="monatFlexshipConfirm.cancel()" sw-rbkey="'frontend.marketPartner.cancel'"></a>
	    </div>
    </div>
</div>
