<div class="order-details-box shipping-billing-info">
	<h3><span sw-rbkey="'frontend.flexshipDetails.shippingAndBillingInfo'"></span></h3>
	<ul>
		<li>
			<h6 class="title-sm">
				<span sw-rbkey="'entity.order.shippingAddress'"></span>
			</h6>
			<p class="broad" ng-if="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_accountAddressID.trim().length">
				<span ng-if="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_name" ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_name + ','"></span> 
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_streetAddress"></span> 
				<br>
				<span ng-if="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_street2Address">
				    <span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_street2Address"></span> 
				    <br>
				</span>
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_city + ',' "></span>
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_stateCode"></span> 
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.shippingAccountAddress_address_postalCode"></span>
			</p>
		</li>
		<li>
			<h6 class="title-sm">
				<span sw-rbkey="'entity.order.billingAddress'"></span>
			</h6>
			<p class="broad" ng-if="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_accountAddressID.trim().length">
				<span ng-if="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_name" ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_name + ',' "></span> 
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_streetAddress"></span> 
				<br>
				<span ng-if="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_street2Address">
				    <span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_street2Address"></span> 
				    <br>
				</span>
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_city"></span>, 
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_stateCode"></span> 
				<span ng-bind="monatFlexshipShippingAndBillingCard.orderTemplate.billingAccountAddress_address_postalCode"></span>
			</p>
		</li>
		<li>
			<h6 class="title-sm"> <span sw-rbkey="'frontend.flexshipDetails.deliveryMethod'"></span> </h6>
			<p> {{monatFlexshipShippingAndBillingCard.orderTemplate.shippingMethod_shippingMethodName}} <br> {{monatFlexshipShippingAndBillingCard.orderTemplate.fulfillmentTotal | swcurrency:monatFlexshipShippingAndBillingCard.orderTemplate.orderTemplateItems[0].orderTemplate_currencyCode}}</p>
		</li>
		<li>
			<h6 class="title-sm"><span sw-rbkey="'frontend.flexshipDetails.creditCard'"></span></h6>
			<p>{{monatFlexshipShippingAndBillingCard.translations.creditCardInfoLastFourDigit}} <br> {{monatFlexshipShippingAndBillingCard.translations.creditCardInfoExpiration}}</p>
		</li>
	</ul>
</div>
