<div ng-if="monatFlexshipListing.initialized" ng-cloak>
    
    <div ng-if="!monatFlexshipListing.orderTemplates.length && !monatFlexshipListing.loading && monatFlexshipListing.customerCanCreateFlexship">
        <h2 sw-rbkey="'frontend.flexship.noFlexships'"></h2>
    </div>
    
    <button
        ng-if="monatFlexshipListing.customerCanCreateFlexship"
        role="button"
        ng-click="monatFlexshipListing.createNewFlexship()" 
        class="btn bg-primary btn-add"
        ng-class="{loading: monatFlexshipListing.loading}"
        ng-if="
            monatFlexshipListing.account.priceGroups.length 
            && 2 != monatFlexshipListing.account.priceGroups[0].priceGroupCode
            && monatFlexshipListing.account.canCreateFlexshipFlag
        "
        sw-rbkey="'frontend.flexship.createFlexship'"
    ></button>
        
    
        
    <div ng-repeat="orderTemplate in monatFlexshipListing.orderTemplates">
        <monat-flexship-card 
            data-order-template="orderTemplate"
            data-account-addresses="monatFlexshipListing.accountAddresses"
            data-account-payment-methods="monatFlexshipListing.accountPaymentMethods"
            data-state-code-options="monatFlexshipListing.stateCodeOptions"
            data-country-code-by-site="monatFlexshipListing.countryCodeBySite"
            data-days-to-edit-flexship="{{monatFlexshipListing.daysToEditFlexshipSetting}}"
        ></monat-flexship-card>
    </div>

</div>
