
<div ng-if="monatFlexshipCartContainer.orderTemplateId || monatFlexshipCartContainer.context == 'enrollment' " class="flexship-block">
	
	<div ng-show="!monatFlexshipCartContainer.orderTemplate.canPlaceOrderFlag && monatFlexshipCartContainer.showCanPlaceOrderAlert" class="alert alert-danger alert-dismissible fade show text-center can-place-order-alert" role="alert">
		<span sw-rbkey="'frontend.order.canPlaceOrderFailure'"></span>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	

	<div class="flexship-bar">
		<div class="open-flexship" ng-if="monatFlexshipCartContainer.context !== 'enrollment'">
			<a href="#">
				<i class="fas fa-chevron-up"></i>
			</a>
			<span class="qty-and-price">
				{{ monatFlexshipCartContainer.orderTemplate.calculatedOrderTemplateItemsCount }}
				<span sw-rbkey="'frontend.flexshipCartContainer.items'"></span>
				/
				<span sw-rbkey="'frontend.flexshipCartContainer.total'"></span>
				{{ monatFlexshipCartContainer.orderTemplate.total | currency }}
			</span>
		</div>
		
		<div class="steps-footer__nav" ng-if="monatFlexshipCartContainer.context === 'enrollment'">
			
			<!--- Navigation back arrow for enrollment --->
			<a href data-ng-click="monatFlexshipCartContainer.previousEnrollmentStep()" class="back d-inline-block" ng-class="{ 'disabled': monatEnrollment.position == 0 } ">
				<span class="last" sw-rbkey="'frontend.global.back'"></span>
				<i class="fas fa-chevron-left"></i> 
			</a>
			
			<span class="steps-footer__nav-summary">
				<!--- For requests to get the orderTemplate, orderItems is more reliable than the calculated items count --->
				{{ monatFlexshipCartContainer.orderTemplateItemTotal }}
				<span sw-rbkey="'frontend.flexshipCartContainer.items'" ng-if="monatFlexshipCartContainer.orderTemplateItemTotal !== 1"></span>
				<span sw-rbkey="'frontend.flexshipCartContainer.item'" ng-if="monatFlexshipCartContainer.orderTemplateItemTotal === 1"></span>
				/
				<span sw-rbkey="'frontend.flexshipCartContainer.total'"></span>
				{{ monatFlexshipCartContainer.orderTemplate.total | currency }}
				<small ng-click="monatFlexshipCartContainer.toggleOpened()" class="border-bottom ml-3">{{ !monatFlexshipCartContainer.isOpened ? 'Show Cart' : 'Hide Cart' }}</small>
			</span>
		</div>
		
		<span
			ng-if="monatFlexshipCartContainer.context != 'enrollment'"
			class="steps"
			ng-bind-html="monatFlexshipCartContainer.translations.currentStepOfTtotalSteps"
		></span>
		<div class="go-to-cart">
			
			<button
				ng-if="monatFlexshipCartContainer.context != 'enrollment' "
				class="btn bg-primary btn-block"
				ng-click="monatFlexshipCartContainer.showFlexshipConfirmModal()"
			>
				<span sw-rbkey="'frontend.flexshipCartContainer.saveChanges'"></span>
			</button>
			
			<button ng-if="monatFlexshipCartContainer.context == 'enrollment' && monatFlexshipCartContainer.canPlaceOrder" data-ng-click="monatFlexshipCartContainer.next(); monatFlexshipCartContainer.showCanPlaceOrderAlert = false" class="btn btn-secondary forward-btn forward">
				<span>Next</span>
				<i class="fas fa-chevron-right"></i>
			</button>
			<button ng-if="monatFlexshipCartContainer.context == 'enrollment' && !monatFlexshipCartContainer.canPlaceOrder" data-ng-click="monatFlexshipCartContainer.showCanPlaceOrderAlert = true" class="btn btn-secondary forward-btn forward">
				<span>Next</span>
				<i class="fas fa-chevron-right"></i>
			</button>
			
		</div>
	</div>

	<div class="flexship-container" ng-class="{ 'd-block': monatFlexshipCartContainer.isOpened }">
		<p ng-if="!monatFlexshipCartContainer.orderTemplate.canPlaceOrderFlag">
			<i class="fas fa-info-circle"></i>
			<span sw-rbkey="'frontend.flexshipCartContainer.saveChangeMessage'"></span>
		</p>
		<div class="product-container">
			<ul class="item-slider">
				<li 
					ng-repeat="item in monatFlexshipCartContainer.orderTemplateItems"
					ng-class="{loading: item.loading }"
				>
					<button
						class="close"
						type="button"
						ng-click="$parent.monatFlexshipCartContainer.removeOrderTemplateItem(item); item.loading = true"
					><i class="fas fa-times"></i></button>
					<div class="img">
						<a ng-href="{{item.skuProductURL}}">
							<img ng-src="{{item.sku_imagePath}}" alt="" />
						</a>
					</div>
					<h6 class="title-sm">
						<a ng-href="{{item.skuProductURL}}">
							<span class="text-dark" ng-bind="item.sku_product_productName"></span>
						</a>
					</h6>
					<div class="product-bottom">
						<div class="qty">
							<button
								type="button"
								class="minus"
								ng-disabled="item.quantity <= 1"
								ng-click="$parent.monatFlexshipCartContainer.decreaseOrderTemplateItemQuantity(item)"
							>&minus;</button>
							<input
								type="text"
								id="qty"
								name="quantity"
								class="form-control"
								ng-model="item.quantity"
							/>
							<button
								type="button"
								class="plus"
								ng-click="$parent.monatFlexshipCartContainer.increaseOrderTemplateItemQuantity(item)"
							>&plus;</button>
						</div>
						<div class="price-block">
							<span class="price">{{ item.total | swcurrency }}</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<button
			class="btn bg-primary btn-block"
			ng-disabled="!monatFlexshipCartContainer.orderTemplate.canPlaceOrderFlag"
			ng-click="monatFlexshipCartContainer.showFlexshipConfirmModal()"
		>
			<span sw-rbkey="'frontend.flexshipCartContainer.saveChanges'"></span>
		</button>
	</div>
</div>