<tr>
	<td class="item-image">
		<a href="#">
		<!--<a> {{orderItem.img-path}}</a>-->

		<img src="http://clientuat.xyz/html/monat/common/images/product-3.png" alt="">
		</a>
	</td>
	<td class="item-name">
		<h6 class="title-sm">
			<a href="#">Smoothing Shampoo</a>
			<!--<a> {{orderItem.name}}</a>-->
		</h6>
	</td>
	<td class="item-quantity">
		<div class="qty">
			<span>QTY</span> 1
			<!-- <span>QTY</span>  {{orderItem.qty}} -->

		</div>
	</td>
	<td class="item-price">
		<span class="price">$35.00</span>
		<!-- <span class="price"> {{orderItem.price | currency }} </span> -->
	</td>
</tr>
				

