<div class="modal using-modal-service" tabindex="-1" role="dialog" id="flexship-modal-delete-{{monatFlexshipDeleteModal.orderTemplateID}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content pt-0 px-2 pb-2">
            <div class="modal-header">
                <h5 class="modal-title" sw-rbkey="'frontend.flexshipEdit.deleteFlexship'"></h5>
                <button type="button" class="close" ng-click="monatFlexshipDeleteModal.closeModal()" aria-label="Close">
				    <i class="fas fa-times pt-2"></i>
                </button>
            </div>
            <div class="modal-body">
                <p sw-rbkey="'frontend.flexship.areYouSureDeleteFlexship'"></p>
            </div>
            <div class="modal-footer row align-items-center justify-content-center border-0">
                <div class="d-block w-100">
                    <button
                        ng-class="{loading: monatFlexshipDeleteModal.loading}"
                        type="button"
                        class="btn btn-block bg-primary"
                        ng-click="monatFlexshipDeleteModal.deleteOrderTemplateItem()"
                    >
                        <span sw-rbkey="'frontend.global.delete'"></span>
                    </button>                
                </div>
                <div class="d-flex justify-content-center w-100">
                    <button
                        type="button"
                        class="btn btn-cancel cancel-dark"
                        ng-click="monatFlexshipDeleteModal.closeModal()"
                    >
                        <span sw-rbkey="'frontend.modal.closeButton'"></span>
                    </button>    
                </div>
            </div>
        </div>
    </div>
</div>