<div class="modal" id="flexship-modal-cancel{{monatFlexshipCancelModal.orderTemplate.orderTemplateID}}">
	<div class="modal-dialog">
	    <div class="modal-content">
	        
	        <!-- Modal Close -->
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <i class="fas fa-times"></i>
	        </button>
	
            <div class="cancel-flexship">
                <h6 class="title-with-line mb-5">Cancel `</h6>
 
                <select type="text" class="form-control" 
        			ng-model="monatFlexshipCancelModal.formData.typeID"
        			ng-options="reason as reason.name for reason in monatFlexshipCancelModal.cancellationReasonTypeOptions track by reason.value"
        			placeholder="Flexship cancel reason *">
                	<option value="">Why are you canceling your flexship? `</option>
    			</select> 
    			<br/>
    			<div class="form-group">
        			<input type="text" class="form-control" 
        			ng-model="monatFlexshipCancelModal.formData.typeIDOther"
        			placeholder="Other reason `">                          
        		</div>
       		</div>

			<div class="footer">
        		<button type="button" class="btn btn-block bg-primary" ng-click="monatFlexshipCancelModal.cancelFlexship()">Save changes `</button>
        	    <button type="button" class="btn btn-cancel cancel-dark" data-dismiss="modal">Close `</button>
		    </div>
		    
		</div>
	</div>
</div>
