	<div class="order-total">
		<h3>Order Total</h3>
		<ul>
			<li>
				<div class="left">
					<span class="title-sm">Subtotal</span>
				</div>
				<div class="right">
					<span class="price">$36.00</span>
				</div>
			</li>
			<li>
				<div class="left">
					<span class="title-sm">Shipping</span>
				</div>
				<div class="right">
					<span class="price">$5.95</span>
				</div>
			</li>
			<li>
				<div class="left">
					<span class="title-sm">Tax</span>
				</div>
				<div class="right">
					<span class="price">$5.00</span>
				</div>
			</li>
			<li>
				<div class="left">
					<span class="title-sm">Promo Code (20% off)</span>
				</div>
				<div class="right">
					<span class="price">-$7.00</span>
				</div>
			</li>
			<li class="total">
				<div class="left">
					<h4>Total</h4>
				</div>
				<div class="right">
					<h4>$91.40</h4>
				</div>
			</li>
		</ul>
	</div>