<td class="item-image">
	<a ng-href="{{monatFlexshipOrderItem.orderItem.skuProductURL}}">
		<img image-manager ng-src="{{monatFlexshipOrderItem.orderItem.sku_imagePath}}" alt="{{monatFlexshipOrderItem.orderItem.sku_skuDefinition}}">
	</a>
</td>
<td class="item-name">
	<h6 class="title-sm">
		<a ng-href="{{monatFlexshipOrderItem.orderItem.skuProductURL}}">{{monatFlexshipOrderItem.orderItem.sku_skuDefinition}}</a>
	</h6>
</td>
<td class="item-quantity">
	<div class="qty text-center">
		<span sw-rbkey="'define.quantity'"></span> {{monatFlexshipOrderItem.orderItem.quantity}}
	</div>
</td>
<td class="item-price">
	<span class="price">{{monatFlexshipOrderItem.orderItem.total | swcurrency:monatFlexshipOrderItem.orderTemplate_currencyCode}}</span>
</td>

				

