<div class="modal" role="dialog" id="flexship-modal-payment-method{{monatFlexshipPaymentMethodModal.orderTemplate.orderTemplateID}}">
	<div class="modal-dialog">
	    <div class="modal-content">
	        
	        <!-- Modal Close -->
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <i class="fas fa-times"></i>
	        </button>
	
		    <div class="payment">
		    	
		    	<h6 class="title-with-line mb-5">{{monatFlexshipPaymentMethodModal.translations.billingAddress}}</h6>

			    <div class="custom-radio form-group" 
			         ng-repeat="accountAddress in monatFlexshipPaymentMethodModal.accountAddresses"
			         ng-click="$parent.monatFlexshipPaymentMethodModal.setSelectedBillingAccountAddressID(accountAddress.accountAddressID)"
			         >
                    <input  type="radio" 
                            name="accountAddressID"
                            ng-checked="accountAddress.accountAddressID === monatFlexshipPaymentMethodModal.selectedBillingAccountAddress.accountAddressID"
                          >
                    <label for="accountAddressID" ng-bind="accountAddress.accountAddressName.trim().length ? accountAddress.accountAddressName : '--- `'"></label>
                </div>

                <div class="custom-radio form-group"                                 
                     ng-click="monatFlexshipPaymentMethodModal.setSelectedBillingAccountAddressID()"
                     >
                    <input  type="radio" 
                            name="accountAddressID" 
                            ng-checked="'new' === monatFlexshipPaymentMethodModal.selectedBillingAccountAddress.accountAddressID"
                    >                        
                    <label for="accountAddressID">{{monatFlexshipPaymentMethodModal.translations.addNewBillingAddress}}</label>
                </div>
                <!--- Conditional: Add New Shipping Address form --->
                <div ng-show="'new' === monatFlexshipPaymentMethodModal.selectedBillingAccountAddress.accountAddressID">
                    <span class="label">{{monatFlexshipPaymentMethodModal.translations.addNewBillingAddress}}</span>
            		<div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAccountAddress.accountAddressName"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_nickName}}">
            		</div>
            		<div class="form-group">
            			<input type="text" class="form-control" 
               			ng-model="monatFlexshipPaymentMethodModal.newAddress.name"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_name}}">
            		</div>
            		<div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAddress.streetAddress"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_address}}">
            		</div>
            		<div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAddress.street2Address"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_address2}}">
            		</div>
            		
            		<div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAddress.countryCode"
            			readonly
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_country}}">
            		</div>
            		
            		<div class="form-group">
            			<select type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAddress.stateCode"
            			ng-options="state as state.name for state in monatFlexshipPaymentMethodModal.stateCodeOptions track by state.value"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_state}}">
            			    <option value="">{{monatFlexshipPaymentMethodModal.translations.newAddress_selectYourState}} `</option>
            			</select>     
            		</div>
            		
            		<div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAddress.city"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_city}}">
            		</div>
            		<div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAddress.postalCode"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newAddress_zipCode}}">
            		</div>
        		</div> <!-- end add new account address-->
        		
        		<br/> <!-- end select billing address-->
	    	
			    <h6 class="title-with-line mb-5">{{monatFlexshipPaymentMethodModal.translations.paymentMethod}}</h6>
			    
			    <div class="custom-radio form-group" 
			    	 ng-repeat="accountPaymentMethod in monatFlexshipPaymentMethodModal.accountPaymentMethods"
			    	 ng-click="$parent.monatFlexshipPaymentMethodModal.setSelectedAccountPaymentMethodID(accountPaymentMethod.accountPaymentMethodID)"
			    	>
	                <input type="radio" 
	                		name="saved_cards"
                            ng-checked="accountPaymentMethod.accountPaymentMethodID === monatFlexshipPaymentMethodModal.selectedAccountPaymentMethod.accountPaymentMethodID"
	                	>
	                <label for="saved_cards" ng-bind="accountPaymentMethod.accountPaymentMethodName.trim().length ? accountPaymentMethod.accountPaymentMethodName : '--- `'">
	                	<i class="fab fa-cc-visa"></i>
	                </label>
	            </div>
	            
	            <div class="custom-radio form-group"
	                   ng-click="monatFlexshipPaymentMethodModal.setSelectedAccountPaymentMethodID()">

	                <input type="radio" name="saved_cards"
                            ng-checked="'new' === monatFlexshipPaymentMethodModal.selectedAccountPaymentMethod.accountPaymentMethodID"
	                	>
	                <label for="new_card">{{monatFlexshipPaymentMethodModal.translations.addNewCreditCard}}</label>
	            </div>
	            
	            <!-- Conditional: Add New Payment Address form -->
	            <div ng-show="'new' === monatFlexshipPaymentMethodModal.selectedAccountPaymentMethod.accountPaymentMethodID">
		            <span class="label">{{monatFlexshipPaymentMethodModal.translations.newCreditCard}}</span>
		            
		            <div class="form-group">
            			<input type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.accountPaymentMethodName"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newCreditCard_nickName}}">
            		</div>
		            
		    		<div class="form-group">
		    			<input type="text" class="form-control"
		    				placeholder="{{monatFlexshipPaymentMethodModal.translations.newCreditCard_creditCardNumber}}"
		    				ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.creditCardNumber"
		    			>
		    		</div>
		    		
		    		<div class="form-group">
		    			<input type="text" class="form-control"
		    				placeholder="{{monatFlexshipPaymentMethodModal.translations.newCreditCard_nameOnCard}}"
		    				ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.nameOnCreditCard"
		    			>
		    		</div>
		    		
		    		<div class="form-group">
            			<select type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.expirationMonth"
            			ng-options="month for month in monatFlexshipPaymentMethodModal.expirationMonthOptions"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newCreditCard_expirationMonth}}`">
            			    <option value="">{{monatFlexshipPaymentMethodModal.translations.newCreditCard_expirationMonth}}</option>
            			</select>     
            		</div>
            		
            		<div class="form-group">
            			<select type="text" class="form-control" 
            			ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.expirationYear"
            			ng-options="year as year.NAME for year in monatFlexshipPaymentMethodModal.expirationYearOptions track by year.VALUE"
            			placeholder="{{monatFlexshipPaymentMethodModal.translations.newCreditCard_expirationYear}}">
            			    <option value="">{{monatFlexshipPaymentMethodModal.translations.newCreditCard_expirationYear}}</option>
            			</select>     
            		</div>
            		
		    		<div class="form-group">
		    			<input type="text" class="form-control" 
		    					placeholder="{{monatFlexshipPaymentMethodModal.translations.newCreditCard_securityCode}}"
		    					ng-model="monatFlexshipPaymentMethodModal.newAccountPaymentMethod.securityCode"
		    				>
		    		</div>
	    		</div>
	        </div>
			
			<div class="footer">
        		<button type="button" class="btn btn-block bg-primary" ng-click="monatFlexshipPaymentMethodModal.updateBilling()">
        			<span sw-rbkey="'frontend.modal.saveChangesButton'">
        		</button>
        	    <button type="button" class="btn btn-cancel cancel-dark" data-dismiss="modal">
        			<span sw-rbkey="'frontend.modal.closeButton'">
        	    </button>
		    </div>
		    
		</div>
	</div>
</div>
