<div class="step5_part">
	<h1 ng-if="ofyEnrollment.flexship" ng-bind-html="flexshipFlow.muraData.ofyTitle"></h1> 
	<div ng-if="ofyEnrollment.flexship" ng-bind-html="flexshipFlow.muraData.ofyBody"></div> 
	<div class="subtext subtext1">      
		<div class="productbox" ng-class="{ 'has-selected' : ofyEnrollment.stagedProductID.length }">
			<div class="row no-gutters product_list">
				<div 
					class="start col-6 col-md-4 col-lg-4 col-xl-4" 
					ng-repeat="item in ofyEnrollment.products"
					ng-class="{ 'selected': item.skuID == ofyEnrollment.stagedProductID }"
				>
					<div class="fitbox pr-box-wrapper">
						<figure class="quick-view">
		      				<div class="overlay">
		      					<div class="overlay-inner">
		      						<span><a ng-click="ofyEnrollment.launchQuickShopModal(item)" class="btn prod-btn" sw-rbkey="'frontend.global.quickShop'"></a></span>
		      					</div>
		      				</div>
		      				<div class="d-block">
		      					<img image-manager ng-src="{{ item.skuImagePath[0] }}" />
		      				</div>
		      			</figure>

						<div>
							<h4 ng-bind="item.skuName"></h4>
							
							<p class="price">
								<span sw-rbKey="'frontend.freeProduct.free'"></span> 
							</p>
						<a 
							href 
							class="btn add-to-cart w-100" 
							ng-click="ofyEnrollment.stageProduct(item.skuID)"
							ng-class="{ 'btn-style-white' : item.skuID == ofyEnrollment.stagedProductID, 'bg-primary' : item.skuID != ofyEnrollment.stagedProductID}"
						>
							<span ng-if="item.skuID != ofyEnrollment.stagedProductID" sw-rbKey="'frontend.global.addToCart'"></span>
							<span ng-if="item.skuID == ofyEnrollment.stagedProductID" sw-rbKey="'frontend.global.addedToCart'"></span>
						</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<button 
	type="submit" 
	class="btn btn-secondary forward-btn forward" 
	ng-disabled="!ofyEnrollment.stagedProductID.length"
	ng-class="{ 
		disabled: !ofyEnrollment.stagedProductID.length,
		loading: ofyEnrollment.loading
	}"
	ng-click="ofyEnrollment.addToCart();"
>	
	<span sw-rbkey="'frontend.global.next'"></span> <i class="fas fa-chevron-right"></i>
</button>
