<div ng-if="promoModal.currentPage == 'promoList'" id="qualifiedPromoBanner" class="modal using-modal-service" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<img src="/themes/monat/assets/images/icon-promo.png">
      	<div class="unlocked" sw-rbkey="'frontend.global.youveUnlocked'"></div>
        <h5 class="modal-title" ng-bind="promoModal.selectedPromotion.title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-minus"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p ng-bind="promoModal.selectedPromotion.description"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-white" ng-click="promoModal.viewSelectedPromotion()">
        	<span sw-rbkey="'frontend.global.takeOffer'"></span>
        	<i class="fa fa-chevron-right"></i>
        </button>
        <div class="promo-options">
            <ul>
                <li ng-repeat="promotion in promoModal.promotions track by $index"
                    ng-click="promoModal.selectPromotion(promotion)"
                    ng-bind="$index"></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="promoModal.currentPage == 'reward'" id="rewards-modal" class="modal using-modal-service" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-between flex-nowrap">
            <div class="header pr-3" ng-bind="promoModal.selectedPromotion.rewardHeader">
            </div>
            <div ng-if="promoModal.maxUseCount" class="pl-3 d-flex flex-column header-right">
                <span class="small" sw-rbkey="'frontend.global.qualify'"></span>
                <span>
                    X {{promoModal.maxUseCount}}
                </span>
            </div>
          </div> 
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body p-0">
         <ul class="list-group">
             <!---- start repeat for products ---->
             <li class="list-item" ng-repeat="rewardSku in promoModal.rewardSkus">
                 <div class="product-image mr-2">
                    <!--- TODO: get product image --->
                    <img 
                        image-manager
                        ng-src="https://monat.ten24dev.com/Slatwall/custom/assets/images/product/default/cache/6000000206_300w_300h.jpg" 
                        alt="Product Title"
                        width="70" 
                        height="70" 
                    />
                 </div>
                 <div class="product-details mr-1 d-flex flex-column justify-content-center align-items-start">
                     <span class="product-title" ng-bind="rewardSku.title"></span>
                    <div class="d-flex justify-content-between price border-bottom-0 pb-1">
                        <span class="price-1 mr-1" ng-bind="rewardSku.listPrice | swcurrency:promoModal.cart.currencyCode"></span>
                        <span class="price-2" ng-bind="rewardSku.price | swcurrency:promoModal.cart.currencyCode"></span>
                    </div>
                 </div>
                 <div class="d-flex justify-content-end align-items-center pr-2">
                    <div class="adjust-quantity" ng-click="promoModal.updateQuantity(rewardSku,-1)">-</div>
                    <span ng-bind="rewardSku.addToCartQuantity || 0"></span>
                    <div class="adjust-quantity" ng-click="promoModal.updateQuantity(rewardSku,1)">+</div>
                 </div>
             </li>
             <!---- end repeat for products ---->
         </ul> 
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn" 
          ng-disabled="promoModal.loading " 
          ng-class="{ loading: promoModal.loading }" 
          ng-click="promoModal.addToCart()" 
          sw-rbkey="'frontend.global.addToCart'">
          
        </button>
      </div>
    </div>
  </div>
</div>