	<!---- Edit wishlist name modal --->
	<div class="modal using-modal-service" id="edit-wishlist" tabindex="-1" role="dialog" aria-labelledby="edit-wishlist" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content p-0">
				<div class="modal-header nameModal pb-3 bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fas text-white fa-times"></i>
					</button>
					<p class="text-white h6 mb-0"><span sw-rbKey="'frontend.enrollment.saveEnrollment'"></span></p>
				</div>
				<div class="modal-body row w-100">
					<div class="m-3 p-3 justify-content-center align-items-center d-flex col-12">
						<div class="form-group">
							<label for="name" sw-rbKey="'frontend.newAddress.emailAddress'"></label>
							<input type="text" name="name" ng-model="saveEnrollmentModal.name">
						</div>
					</div>
					<div class="m-3 p-3 justify-content-center align-items-center d-flex col-12">
						<div class="form-group">
							<label for="emailAddress" sw-rbKey="'frontend.newAddress.emailAddress'"></label>
							<input type="email" name="emailAddress" ng-model="saveEnrollmentModal.emailAddress">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button ng-class="{loading: saveEnrollmentModal.loading}" ng-click="saveEnrollmentModal.saveEnrollment()" value="{{frontend.wishlist.send}}" class="btn bg-primary save-btn px-5 py-3"><span sw-rbKey="'frontend.wishlist.send'"></span></buton>
					<button ng-click="saveEnrollmentModal.close()" type="button" class="btn bg-primary py-3"><span sw-rbKey="'frontend.wishlist.cancel'"></span></button>
				</div>
			</div>
		</div>
	</div>
	<!---- END: Edit wishlist name modal --->