<nav ng-if="paginationController.displayPagination" class="product-pagination" >
	<ul class="pagination justify-content-center">
	    
		<!-- Back 1 Page --->
		<li class="page-item" ng-class="{'disabled': paginationController.pageTracker == 1}">
			<button ng-click="paginationController.paginate(1,'prev')" class="page-link" tabindex="-1" aria-disabled="true">
				<i class="fas fa-chevron-left"></i>
			</button>
		</li>
		
		<!-- Go to specific page --->
		<li class="page-item" ng-class="{active: this.number == paginationController.pageTracker}" ng-repeat="number in paginationController.displayPages | limitTo: paginationController.elipsesNum" >
			<button class="page-link" ng-click="paginationController.paginate(number)">{{number}}</button>
		</li>
		
        <!--- Ellipsis to get next group of pages if total pages is greater than 10 --->
        <li class="page-item" ng-show="paginationController.displayPages.length > paginationController.elipsesNum && paginationController.hasNextPageSet" >
            <button class="page-link" ng-click="paginationController.paginate(1, false, true)">...</button>
        </li>
        
		<!-- Forward 1 Page --->
		<li class="page-item" ng-class="{'disabled': !paginationController.hasNextPageSet }">
			<button ng-click="paginationController.paginate(1, 'next')" class="page-link">
				<i class="fas fa-chevron-right"></i>
			</button>				
		</li>
		
	</ul> 
</nav>