<div ng-if="swfWishlist.showWishlistModal != false" class="modal wishlist-modal using-modal-service" role="dialog" id="swf-wishlist{{swfWishlist.skuID}}" tabindex="-1" aria-abelledby="product-title" aria-hidden="true">
	<!--- ng-if="swfWislist.showWishlistModal" --->
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="swfWishlist.closeModal()">
				<i class="fas fa-times"></i>
			</button>
			
			<h5 class="modal-title"><i class="fas fa-heart"></i>{{swfWishlist.productName}}</h5>
			
			<h3 ng-init="createWishList = {}" sw-rbkey="'frontend.wishlist.createToSaveTo'"></h3>
			
			<form 
			ng-model="createWishList"
			>
				<ul class="wishlist-names"  
				    ng-init="swfWishlist.getWishlistsLight(); createWishList = {}">
				     
					<li ng-if="swfWishlist.orderTemplates" ng-repeat="wishlist in swfWishlist.orderTemplates track by $index" ng-cloak>
						<div class="radio">
							<input ng-checked="wishlist.orderTemplateID == swfWishlist.wishlistTemplateID && !swfWishlist.newWishlist" ng-value="wishlist.orderTemplateID" type="radio" name="wishlist" id="wishlist-{{$index}}" ng-model="createWishList.orderTemplateID">
							<label ng-click="swfWishlist.newWishlist = false; swfWishlist.setWishlistID(wishlist.orderTemplateID); swfWishlist.setWishlistName(wishlist.orderTemplateName);createWishList.orderTemplateName = NULL " for="wishlist-{{$index}}">{{wishlist.orderTemplateName}}</label>
						</div>
					</li>
					<!-- New wishlist input --->
					<li>
						<div ng-click="swfWishlist.newWishlist = true" class="radio">
							<input ng-checked ="swfWishlist.newWishlist" type="radio" name="wishlist" id="create-new" ng-value="''" ng-model="createWishList.orderTemplateID" >
							<label for="create-new" sw-rbkey="'frontend.wishlist.createNew'"></label>
						</div>
						<div class="new-wishlist-name">
							<input ng-disabled="!swfWishlist.newWishlist" placeholder="Name your wishlist" id="orderTemplateName" type="text" name="orderTemplateName" class="form-control success" value="newWishlist" ng-model="createWishList.orderTemplateName" swvalidationrequired="true">
						</div>
					</li>
				

					<div class="text-center">
						<button 
							ng-if="swfWishlist.newWishlist && createWishList.orderTemplateName" 
							ng-class="{loading: swfWishlist.loading}" 
							ng-disabled="swfWishlist.loading"
							ng-click="swfWishlist.addItemAndCreateWishlist(createWishList.orderTemplateName);"
							class="btn text-white bg-primary"
							sw-rbkey="'frontend.wishlist.createNew'"
						></button>
						<button 
							ng-if="swfWishlist.wishlistTemplateID && !swfWishlist.newWishlist" 
							ng-class="{loading: swfWishlist.loading}" 
							ng-disabled="swfWishlist.loading"
							ng-click="swfWishlist.addWishlistItem()" 
							class="btn text-white bg-primary"
							sw-rbkey="'frontend.wishlist.addToWishlist'"
						></button>
					</div>
				</ul>
			</form>
		</div>
	</div>	
</div>

<!---Product listing area for my account view --->
<div ng-if="swfWishlist.showWishlistModal == false" class="col-12">
	<h6 ng-show="swfWishlist.loading">Loading...</h6> <!--- TODO: Implement pretty loader --->
	
	<div ng-if="swfWishlist.orderTemplateItems.length > 0" class="product_list wishlist-products row no-gutters">
		<div class="col-md-6 col-lg-4" ng-repeat="item in swfWishlist.orderTemplateItems track by $index">
		  	<monat-product-card all-products="swfWishlist.orderTemplateItems" type="wishlist" product="item" index="{{$index}}" ></monat-product-card>
		</div>		
	</div>
	
	<a href="#" ng-if="swfWishlist.orderTemplateItems.length == 0" class="col-12" ng-click="swfWishlist.redirectPageToShop()">
		<div  class=" alert alert-success text-center">
			<span sw-rbkey="'frontend.wishlist.noProducts'"></span>
		</div>			
	</a>	
</div>
