<section class="col-sm-12 col-md-11 col-lg-9 shopping_chart">
                <cfif arrayLen($.slatwall.cart().getOrderItems())>
                    <table ng-init="orderID = ''">
                        <tr>
                            <th></th>
                            <th>Price</th>
                            <th>Qty.</th>
                            <th>Subtotal</th>
                            <th>Remove</th>
                        </tr>

                        <!--- cf version --->
                        <cfset loopIndex=0 />
                        <cfloop array="#$.slatwall.cart().getOrderItems()#" index="orderItem">
                            <cfset loopIndex++ />
                            <tr ng-if="!cart.orderitems.length" ng-init="orderitems[#loopIndex-1#] = []; orderitems[#loopIndex-1#].sku.product.productName = '#orderItem.getSku().getProduct().getProductName()#'; orderitems[#loopIndex-1#].sku.skuName = '#orderItem.getSku().getSkuName()#'; orderitems[#loopIndex-1#].price = '#orderItem.getFormattedValue('price')#'; orderitems[#loopIndex-1#].extendedPriceAfterDiscount = '#orderItem.getFormattedValue('extendedPriceAfterDiscount')#'; cart.subTotal = '#$.slatwall.cart().getFormattedValue('subtotal')#'; cart.discountTotal = '#$.slatwall.cart().getFormattedValue('subtotal')#';  cart.total = '#$.slatwall.cart().getFormattedValue('total')#';">  
                            <td ng-bind="(orderitems[#loopIndex-1#].sku.product.productName)+ '-' +(orderitems[#loopIndex-1#].sku.skuName)">#orderItem.getSku().getProduct().getProductName()#-#orderItem.getSku().getSkuName()#</td>
                                <td><b><span style="" ng-bind="orderitems[#loopIndex-1#].price">#orderItem.getFormattedValue('price')#</span></strong></td>
                                <td><input type="text" placeholder="1" class="form-control" disabled></td>
                                <td><b><span ng-bind="orderitems[#loopIndex-1#].extendedPriceAfterDiscount">#orderItem.getFormattedValue('extendedPriceAfterDiscount')#</span></strong></td>
                                <td><a class="deleted" ng-click="deleteOrderItemFromCart('#orderitem.getOrderItemID()#')" title="Remove Item from Cart"><i class="fa fa-trash-o"></i> </a></td>
                            </tr>
                        </cfloop>
                        
                        <!--- ng version - This is what is displayed for this section MOST of the time, except when the page first loads. Ids should be added here.--->
                        <tr ng-if="cart.orderitems.length && !orderitems[$index].deleted" ng-repeat="orderitem in orderitems track by $index">  
                            <td ng-bind="(orderitem.sku.product.productName)+ '-' +(orderitem.sku.skuName)"></td>
                            <td><b><span style="" ng-bind="orderitem.price"></span></strong></td>
                            <td><input type="text" placeholder="1" class="form-control" disabled></td>
                            <td><span ng-bind="orderitem.extendedPriceAfterDiscount"></span></td>
                            <td><a class="deleted" ng-click="deleteOrderItemFromCart($index);" title="Remove Item from Cart"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        
                            <tr>
                                <!--- DISPLAY PROMO CODE --->
                                <td class="left"><label> Enter promo code:</label>
                                    <div id="promoSuccessBlock">Promotion applied successfully</div>
                                    <div class="form-group" id="applyPromoCode">
                                        <input type="text" placeholder="" class="form-control" ng-model="promoCode" ng-click="promotionCodeError = ''">
                                        <a ng-click="addPromotionCode(promoCode)" class="link"> Apply </a>
                                    </div>
                                    
                                </td>

                            <!--- total with cf - the display here auto switches to use angular as soon as the data is loaded --->
                            <td class="right" ng-if="!cart.loaded"> 
                                <div class="sm-col-12 chart_row">
                                    <span>#$.slatwall.cart().getFormattedValue('subtotal')#</span>
                                    <cfif len($.slatwall.cart().getFormattedValue('discountTotal'))>
                                        <span>- #$.slatwall.cart().getFormattedValue('discountTotal')#</span>
                                    </cfif>
                                    
                                    <cfif arraylen($.slatwall.cart().getPromotionCodes())>
                                        <cfparam name="local.promotionIndex" default="0" />
                                        <small>&nbsp;<br>
                                            <cfset local.promotionIndex ++ />
                                            <cfloop array="#$.slatwall.cart().getPromotionCodes()#" index="promotionCode">
                                                <cfif local.promotionIndex EQ "1">CODE:<br></cfif>#promotionCode.getPromotionCode()# <a ng-click="removePromoCode('#promotionCode.getPromotionCodeID()#')"><i class='fa fa-trash-o'></i></a>
                                            </cfloop>
                                        </small>
                                    </cfif>
                                </div>

                                <div class="sm-col-12 chart_row total_price">
                                    <span>#$.slatwall.cart().getFormattedValue('total')#</span>
                                    <span class="total">Total </span>
                                </div>
                            </td>
                            
                            <!--- totals with ng: These are the totals added most of the time. --->
                            <td class="right" ng-if="cart.loaded">
                                <div class="sm-col-12 chart_row">
                                    <span ng-bind="cart.subtotal | currency"></span>
                                    <span ng-if="cart.discountTotal > 0">
                                    <span ng-bind="'- '+(cart.discountTotal | currency)"> </span>
                                    </span>
                                    <div ng-if="cart.loaded" >
                                        <div ng-repeat="promotionCode in cart.promotionCodes track by $index">
                                            <small>&nbsp;<br><div class="left"><div ng-if="$index == 0">CODE:<br>{{promotionCode.promotionCode}} <a ng-click="removePromoCode(promotionCode.promotionCode)"><i class='fa fa-trash-o'></i></a></div></div></small>
                                        </div> 
                                        
                                    </div>
                                </div>
                                
                                <div class="sm-col-12 chart_row total_price" ng-if="cart.promotionCodes.length">
                                    <span ng-bind="cart.calculatedTotal | currency"></span>
                                    <span class="total">Total </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                <cfelse>
                    There are no items in your cart. return to <a href="/">selecting a product</a> or login <a href="##signin_sec">below to find item previously added.</a>
                </cfif>
            </section>