<section class="row cmn_address" ng-if="addressToggle">
<!---<input type="hidden" ng-init="newOrderPayment.orderFulfillment.fulfillmentMethod.fulfillmentMethodID='444df2fb93d5fa960ba2966ba2017953'" />--->
<input type="hidden" ng-init="shippingAddress.shippingAccountAddressID=''" />
<input type="hidden" ng-init="order.saveShippingAccountAddressFlag='true'" />
<!---<input type="hidden" ng-init="newOrderPayment.orderFulfillment.orderFulfillmentID=''" />--->
    
    <h3 ng-bind="title"></h3>
    
    <div class="form-group">
        <div class="col-sm-5 col">
            <input type="text" placeholder="Address *" class="form-control" required="true" name="shippingStreetAddress" ng-model="shippingAddress.streetAddress"/>
        </div>
        <div class="col-sm-5 col">
            <input type="text" placeholder="Apt./Suite" class="form-control" ng-model="shippingAddress.street2Address">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-5 col">
            <input type="text" placeholder="City *" class="form-control" required="true" name="city" ng-model="shippingAddress.city">
        </div>
        <sw:country-options class="col-sm-5 col" states-function="getStatesByCountryCode"></sw:country-options>
    </div>
    
    <div class="form-group">
        <div class="col-sm-5 col full">
            <div class="select_box select_box2">
                <select required="true" name="state" ng-model="selectedShippingState" ng-options="state as state.name for state in states" ng-change="updateShippingState(selectedShippingState)">
                     <option value=""> State * </option>
                </select>
            </div>
            <input type="text" placeholder="Zip Code *" class="form-control input_sm" required="true" name="shippingZipCode" ng-model="shippingAddress.postalcode"/>
        </div>
        <div class="col-sm-5 col"> <span class="require_text">* required fields</span> </div>
    </div>
</section>