<div  >
	<div class="col-xs-12 s-filter-content s-filter-content-table-view">

		<!-- Filters and Display Options -->
		<div ng-model="toggleCogOpen" ng-show="toggleCogOpen">
			<!-- Tab panes for menu options start-->
			<div class="s-options s-collections-options row">
				<div class="tab-content" id="j-property-box">
					<div class="row s-header-bar">
						<div class="col-md-5 s-header-nav">
							<ul class="nav nav-tabs s-collection-options" role="tablist">
								<li class="active"><a ng-href="#j-filters-{{tabsUniqueID}}" role="tab" data-toggle="tab">FILTERS <span>(<span ng-bind="filterCount()"></span>)</span></a></li>
								<li><a ng-href="#j-display-options-{{tabsUniqueID}}" role="tab" data-toggle="tab">DISPLAY OPTIONS</a></li>
							</ul>
						</div>
					</div>
					<div class="tab-pane active" id="j-filters-{{tabsUniqueID}}">
						<div class="s-setting-options">
							<div class="row s-setting-options-body">
								<!-- Start Filter Group -->
								<div class="col-xs-12 s-filters-selected">
									<div class="row">
										<!--filterGroups gets taken apart here -->
										<ul class="s-filter-list list-unstyled"
											sw-filter-groups
											data-collection-config="collectionConfig"
											data-filter-group="collectionConfig.filterGroups[0]"
											data-filter-group-item="collectionConfig.filterGroups[0].filterGroup"
											data-filter-properties-list="filterPropertiesList"
											data-save-collection="saveCollection()"
											>
										</ul>
									</div>
									<!-- //New Filter Panel -->
								</div>
								<!-- //End Filter Group -->
							</div>
						</div>
					</div>
					<!-- //Tab Pane -->
					<div class="tab-pane s-display-options" id="j-display-options-{{tabsUniqueID}}">
						<sw-display-options
							data-columns="collectionConfig.columns"
							data-properties-list="filterPropertiesList"
							data-save-collection="saveCollection()"
							data-callbacks="callbacks"
							data-base-entity-alias="collectionConfig.baseEntityAlias"
							data-base-entity-name="collectionConfig.baseEntityName"
							>
							<li class="list-group-item"
								ng-repeat="column in collectionConfig.columns"
								sw-column-item
								data-column="column"
								data-columns="collectionConfig.columns"
								data-column-index="$index"
								data-save-collection="saveCollection()"
								data-properties-list="filterPropertiesList"
								data-callbacks="callbacks"
								data-order-by="collectionConfig.orderBy"
								></li>
						</sw-display-options >
					</div>
					<!-- //Tab Pane -->
				</div>
			</div>
			<!-- //Row -->
		</div>
		<!-- //Filters and Display Options -->

		<br/>
		<span sw-export-action>
			
		</span>

		<sw-listing-display
		>
		</sw-listing-display>
		
	</div>
</div>
