
<div class="col-xs-6 s-criteria">

	<div ng-if="showDisplayItem">
		<h4>Options</h4>
		
		<!--- Filter Criteria Start --->
		<form action="index.html" method="post">
		  <div class="s-filter-group-item">
		
		    <div class="s-options-group">
		      <div class="radio" style="border-bottom: 3px dotted #DDD;padding-bottom: 15px;margin-bottom: 20px;">
		        <div class="col-sm-12 s-no-paddings s-account-field-select" style="padding-left:5px !important;">
		          <select ng-model="selectedProperty.selectedDisplayOption" 
		          		ng-change="selectedDisplayOptionChanged(selectedProperty.selectedDisplayOption)" 
		          		ng-options="property as property.displayPropertyIdentifier
		          					for property in propertiesList[selectedProperty.propertyIdentifier].data 
		          					| orderBy:property.name
			     					| filter:{fieldtype:'!one-to-many'}
			     					| filter:{fieldtype:'!many-to-many'}
		          					" 
		          		class="form-control input-sm">
		            <option value="">Select From {{selectedProperty.displayPropertyIdentifier}}:</option>
		          </select>
		        </div>
		        <div class="clearfix"></div>
		      </div>
		    </div>
		
		  </div>
		</form>
		<!--- //Filter Criteria End --->
	</div>

</div>