<div ng-show="!filterGroupItem.length" class="alert alert-info" sw-rbkey="'entity.Collection.filter.norecordsfound'" style="margin-right: 15px; margin-left: 15px;" role="alert"><!-- Message created by rb key --></div>
<ul class="col-xs-12 list-unstyled s-filter-groups" ng-if="filterGroup">
	<span ng-repeat="filterGroup in filterGroupItem">
		<!-- figure out if item is filterItem or filterGroup-->
		<span ng-switch on="filterGroup.hasOwnProperty('filterGroup')" >
			
			<!-- filter Item -->
			<span 	ng-switch-when="false" 
					sw-filter-item 
					data-collection-config="collectionConfig"
					data-filter-item="filterGroup" 
					data-filter-properties-list="filterPropertiesList"
					data-sibling-items="filterGroupItem"
					data-filter-item-index="$index"
					data-save-collection="saveCollection()"
					data-comparison-type="comparisonType"
					>
			</span>
			
			<!-- filter Group Item -->
			<span 	ng-switch-when="true" 
					sw-filter-group-item 
					data-collection-config="collectionConfig"
					data-filter-group-item="filterGroup",
					data-sibling-items="filterGroupItem"
					data-filter-properties-list="filterPropertiesList"
					data-filter-group-item-index="$index"
               		data-save-collection="saveCollection()"
               		data-comparison-type="comparisonType"
					>
			</span>
			
		</span>
	</span>
	<!-- buttons for adding filters -->
	<sw-add-filter-buttons
			data-item-in-use="itemInUse"
	>
	</sw-add-filter-buttons>
</ul>
