<!--- login --->
<sw-form
    is-process-form="true"
    form-class="css-form"
    error-class="error"
    process-object="Account_login" 
    action="$login"
    on-success="Account_logout">
         
    <swf-property-display 
        name="emailAddress"
        type="email" 
        sw-model="Account_login.emailAddress"
        label-text="Email Address:"
        class="formControl"></swf--property-display >
   
    <swf-property-display 
        name="password"
        type="password" 
        sw-model="Account_login.password"
        label-text="Password:"
        class="formControl"></swf-property-display >
    
    <swf-property-display 
        name="Login" 
        type="submit" 
        class="formControl">Login</swf-property-display > 
      
</sw-form>
