	<td class="s-title" >{{orderItem.data.orderItemID}}</td>
	<td class="s-title">{{orderItem.data.sku.data.skuName}}<a href="" class="s-edit-link" ng-show="orderItem.product.productType[0].productTypeName === 'Product Bundle'" ng-click="getChildOrderItems(orderItem)">show detail</a></td>
	<td class="s-sku">{{orderItem.data.sku.data.skuCode}}</td>
	<!-- <td class="s-details"><span ng-hide="orderItem.customAttributes.val === 'none'">{{orderItem.customAttributes.val}}1</span></td> -->
	<td class="s-price">{{orderItem.data.skuPrice | currency}}</td>
	<td class="s-qty">{{orderItem.data.quantity}}</td>
	<td class="s-discount">-{{ orderItem.discount | currency }}</td>
	<td class="s-total">{{orderItem.total | currency}}</td>

