<li class="list-group-item">
  <div class="row">
    <div class="col-xs-5 s-pannel-name">
      <span ng-bind="columnIndex + 1"></span>
      <i class="fa fa-arrows-v"></i>
      <a class="s-pannel-title j-tool-tip-item" data-toggle="tooltip" data-placement="right" data-original-title="Edit" ng-bind="column.title"></a>
      <span class="s-title-edit-menu"><input type="text" class="form-control" value="ID"><button class="btn btn-xs s-btn-ten24 s-save-btn">Save</button></span>
    </div>
    <div class="col-xs-7 s-pannel-body">

      <div class="btn-group">
       <!--  <a class="btn btn-default s-sort j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Sort Order">
        	<i class="fa fa-sort-amount-asc" ></i>
        	<i class="fa fa-sort-amount-desc" style="display:none;"></i>
        </a>-->
        <a 	class="btn btn-default j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Visible" 
        	ng-class="{active:column.isVisible}"
        	ng-click="toggleVisible(column)"
        >
        	<i class="fa fa-eye"></i>
        </a>
        <a 	class="btn btn-default j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Search" 
        	ng-class="{active:column.isSearchable && column.ormtype !== 'boolean',disabled:column.ormtype === 'boolean'}"
        	ng-click="toggleSearchable(column)"	
        >
        	<i class="fa fa-search"></i>
        </a>
        <a 	class="btn btn-default j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Export" 
        	ng-class="{active:column.isExportable}"
        	ng-click="toggleExportable(column)"	
        >
        	<i class="fa fa-download"></i>
        </a>
        <a 	class="btn btn-default s-remove j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Remove"
        	ng-click="removeColumn(columnIndex)"
        >
        	<i class="fa fa-times"></i>
        </a>
      </div>

    </div>
  </div>
</li>