
  <div class="row" >
    <div class="col-xs-5 s-pannel-name" j-column-index="{{columnIndex}}" data-test="$index">
      <span ng-bind="columnIndex + 1"></span>
      <i class="fa fa-arrows-v"></i>
      <a class="s-pannel-title j-tool-tip-item" data-toggle="tooltip" data-placement="right" data-original-title="Edit" ng-bind="column.title"></a>
      <span class="s-title-edit-menu"><input type="text" class="form-control" value="ID"><button class="btn btn-xs s-btn-ten24 s-save-btn">Save</button></span>
    </div>
    <div class="col-xs-7 s-pannel-body">

      <div class="btn-group">
       <!-- <span class="s-sort-num">
         <a class="s-pannel-title j-tool-tip-item j-edit-item" data-toggle="tooltip" data-placement="right" data-original-title="Edit">1</a>
         <span class="s-title-edit-menu" style="display:none;position: absolute;z-index: 3000;width: 150px;left: 0px;top:0px;background: #EEE;height: 40px;moz-box-shadow: inset 0 0 1px #999999;-webkit-box-shadow: inset 0 0 1px #999;box-shadow: inset 0 0 1px #999;text-align: left;">
           <select class="form-control">
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
           </select>
           <button class="btn btn-xs s-btn-ten24 s-save-btn">Save</button>
         </span>
       </span>
       <a class="btn btn-default s-sort j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Sort Order">
       		<i  
       		class="fa"
       			ng-class="{
       				's-not-active':!column.sorting.active,
       				'fa-sort-amount-asc':column.sorting.sortOrder === 'asc',
       				'fa-sort-amount-desc':column.sorting.sortOrder === 'desc'
       			}"
       			ng-click="toggleSortable(column)"
       		></i>
       </a> -->
        <a data-no-drag	class="btn btn-default j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Visible" 
        	ng-class="{active:column.isVisible}"
        	ng-click="toggleVisible(column)"
        >
        	<i class="fa fa-eye"></i>
        </a>
        <a data-no-drag	class="btn btn-default j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Search" 
        	ng-class="{active:column.isSearchable && column.ormtype !== 'boolean',disabled:column.ormtype === 'boolean'}"
        	ng-click="toggleSearchable(column)"	
        >
        	<i class="fa fa-search"></i>
        </a>
        <a data-no-drag	class="btn btn-default j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Export" 
        	ng-class="{active:column.isExportable}"
        	ng-click="toggleExportable(column)"	
        >
        	<i class="fa fa-download"></i>
        </a>
        <a data-no-drag	class="btn btn-default s-remove j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" data-original-title="Remove"
        	ng-click="removeColumn(columnIndex)"
        >
        	<i class="fa fa-times"></i>
        </a>
      </div>

    </div>
  </div>
