
    <!--- Filter Criteria Start --->
    	<!-- is it a simple item -->
    	<!--<span ng-switch-when="boolean"
    		sw-criteria-boolean
    		filter-item="filterItem"
    		selected-filter-property="selectedFilterProperty"
    			></span>
    	<span ng-switch-when="string"
    		sw-criteria-string
    		filter-item="filterItem"
    		selected-filter-property="selectedFilterProperty"
    	></span>
    	<span ng-switch-when="timestamp"
    		sw-criteria-date
    		filter-item="filterItem"
    		selected-filter-property="selectedFilterProperty"
    	></span>-->
    	<!--is it complex-->
    		<!--<span ng-switch on="selectedFilterProperty.FIELDTYPE">
    			<span ng-switch-when="one-to-one"
    				sw-criteria-one-to-one
    				filter-item="filterItem"
    				selected-filter-property="selectedFilterProperty"
    			></span>
    			<span ng-switch-when="one-to-many"
    				sw-criteria-one-to-many
    				filter-item="filterItem"
    				selected-filter-property="selectedFilterProperty"
    			></span>
    			<span ng-switch-when="many-to-one"
    				sw-criteria-many-to-one
    				filter-item="filterItem"
    				selected-filter-property="selectedFilterProperty"
    			></span>
    			<span ng-switch-when="many-to-many"
    				sw-criteria-many-to-many
    				filter-item="filterItem"
    				selected-filter-property="selectedFilterProperty"
    			></span>
    		</span>
    	</span>-->
