<form action="index.html" method="post">
  <div class="s-filter-group-item">

    <div class="form-group form-group-sm">
      <label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Date Conditions:</label>
      <div class="col-sm-12 s-no-paddings">
        <select class="form-control input-sm">
          <option>1 week</option>
          <option>2 week</option>
          <option>3 week</option>
          <option>4 week</option>
          <option>5 week</option>
        </select>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Number of Weeks Ago:</label>
      <div class="col-sm-12 s-no-paddings">
        <input type="text" class="form-control" id="input" placeholder="12">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>