<form action="index.html" method="post">
  <div class="s-filter-group-item">

    <div class="form-group form-group-sm">
      <div class="col-sm-12 s-no-paddings">
     	<label class="col-sm-12 control-label s-no-paddings" for="formGroupInputSmall">Select From Existing Collections:</label>
		
      	<select id="u52_input" style="-webkit-appearance: menulist-button; border-color: rgb(153, 153, 153);"
      			ng-model="selectedFilterProperty.selectedCriteriaType" 
        		ng-options="oneToManyOption as oneToManyOption.display 
        					for oneToManyOption in oneToManyOptions 
        					" 	
      	>
      		<option selected="selected" value="">Select Condition</option>
        </select>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>