

  <!-- Dragable List group -->
  <ul ui-sortable ng-model="collectionConfig.columns" class="list-group s-j-draggablePanelList" ng-transclude>
    
  </ul>

  <!--- Message if no items --->
  <div class="s-none-selected" style="display:none;">There are no fields selected</div>

  <!--- Button to show create option --->
  <button class="btn btn-xs s-btn-ten24" data-toggle="collapse" data-target="#j-add-row">Add Display Field</button>

  <!--- Create option dropdown --->
  <div class="row s-add-display-field collapse" id="j-add-row">
    <div class="col-xs-12">
      <i class="fa fa-plus"></i>
      <select class="form-control">
        <option value="Select from Orders" disabled="disabled" selected="selected">Order Items</option>
        <option value="Order Total">Order Total</option>
        <option value="Order Item Total">Order Item Total</option>
      </select>

      <select class="form-control">
        <option value="Select from Orders" disabled="disabled" selected="selected">Select From Account</option>
        <option value="Order Total">First Name</option>
        <option value="Order Item Total">Last Name</option>
      </select>
      <button name="button" class="btn s-btn-ten24 btn-xs"><i class="fa fa-plus"></i> Column</button>
      <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Remove</button>
    </div>
  </div>

