
<li ng-class="{'s\-disabled':filterItem.disabled}">
 
  <!--- Filter display --->
  <div class="s-filter-item">
  	<div ng-if="filterItem.logicalOperator" class="btn-group-vertical btn-toggle">
      <button class="btn btn-xs btn-default" ng-class="{active:filterItem.logicalOperator === 'AND'}">AND</button>
      <button class="btn btn-xs btn-default" ng-class="{active:filterItem.logicalOperator === 'OR'}">OR</button>
    </div>
    <div class="panel panel-default"  ng-class="{'s\-focus':!filterItem.isClosed}" >
      <div class="panel-heading"><span ng-bind="filterItem.displayPropertyIdentifier"></span> <a href="##" class="j-tool-tip-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times"></i></a></div>
      <div ng-click="selectFilterItem(filterItem)" ng-class="{}"   class="panel-body j-tool-tip-item" data-toggle="tooltip" data-placement="bottom" title="Click To Edit">
        <span ng-bind="filterItem.value"></span> <a  href="##"><i class="fa fa-pencil-square-o"></i></a>
      </div>
    </div>
    
  </div>
  <!--- //Filter display --->

  <!--- Edit Filter Box --->
  <span sw-edit-filter-item
  		filter-item="filterItem"
  		filter-properties-list="filterPropertiesList"
  		ng-if="filterPropertiesList.hasOwnProperty('DATA')"
  >
  </span>
  <!--- //Edit Filter Box --->

</li>