<ul ng-switch="orderFulfillment.data.fulfillmentMethod.data.fulfillmentMethodType">
	<span ng-switch-when="shipping">
		<li class="s-header">Ship To: <a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
		<li ng-bind="orderFulfillment.data.shippingAddress.data.streetAddress"></li>
		<li ng-bind="orderFulfillment.data.shippingAddress.data.street2Address"></li>
		<li>
			<span ng-bind="orderFulfillment.data.shippingAddress.data.city"> &nbsp</span> 
			<span ng-bind="orderFulfillment.data.shippingAddress.data.stateCode"> &nbsp</span><br>
			<span ng-bind="orderFulfillment.data.shippingAddress.data.postalCode"></span>
		</li>
	</span>
	<span ng-switch-when="'attend'">
	<li class="s-header">Attend: <a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
	<li ng-bind="orderFulfillment.data.shippingAddress.data.streetAddress"></li>
	<li ng-bind="orderFulfillment.data.shippingAddress.data.street2Address"></li>
	<li>
		<span ng-bind="orderFulfillment.data.shippingAddress.data.city"> &nbsp</span> 
		<span ng-bind="orderFulfillment.data.shippingAddress.data.stateCode"> &nbsp</span><br>
		<span ng-bind="orderFulfillment.data.shippingAddress.data.postalCode"></span>
	</li>	
	</span>
	<span ng-switch-when="auto">
	<li class="s-header"> Auto: <a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
	<!-- What critiria are displayed for auto?-->
	</span>
	<span ng-switch-when="email">
	<li class="s-header">Email: <a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
	<!-- Need to add the email address here. -->
	</span>
	<span ng-switch-when="pickup">
	<li class="s-header">Pickup: <a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
	<!-- Need to add a pickup address here.-->
	</span>
	<span ng-switch-when="download">
	<li class="s-header">Download: <a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
	<!-- Should have the download link here.-->
	</span>
	<span ng-switch-default>
	<li class="s-header">N/A<a ng-href="{{'?slatAction=entity.editorderfulfillment&orderFulfillmentID='+orderFulfillment.data.orderFulfillmentID}}" class="s-edit-link">edit</a></li>
	</span>
</ul>
