<tr class="s-bundle-product l-1" ng-if="orderItem && attributes" 
	ng-class="{
	 	's-event l-1': orderItem.data.sku.data.product.data.productType.data.systemCode == 'event', 
		   's-bundle-product l-1': orderItem.data.sku.data.product.data.productType.data.systemCode == 'productBundle',
		   's-subscription l-1': orderItem.data.sku.data.product.data.productType.data.systemCode == 'subscription',
		   's-content-access l-1': orderItem.data.sku.data.product.data.productType.data.systemCode == 'content',
		   's-product l-1': orderItem.data.sku.data.product.data.productType.data.systemCode == 'merchandise'
		  
		's-return':orderItem.data.orderItemType.data.systemCode === 'oitReturn',
		's-deposit':orderItem.data.orderItemType.data.systemCode === 'oitDeposit' && orderItem.onWaitlist === true,
		's-pending':orderItem.data.orderItemType.data.systemCode === 'oitDeposit' && orderItem.onWaitlist === true && orderItem.eligible
	}"
>
	<td rowspan="1000" class='s-image' style="width:90px;height:90px;"><swresizedimage profilename="orderItem" data-order-item="orderItem"></swresizedimage></td>
	<td class="s-title">
		<span ng-if="orderItem.data.sku.data.skuName">{{orderItem.data.sku.data.skuName}} 			<a href="{{'?slatAction=entity.detailorderitem&orderitemid='+orderItem.data.orderItemID}}" class="s-edit-link" 
				ng-show="orderItem.data.sku.data.product.data.productType.data.systemCode !== 'productBundle'">edit</a><br></span>
		<span>{{orderItem.data.sku.data.product.data.productName}}</span>
			<a href="" class="s-edit-link" 
				ng-show="orderItem.data.sku.data.product.data.productType.data.systemCode === 'productBundle' && !orderItem.clicked" 
				ng-click="getChildOrderItems(orderItem)">detail</a>
			<a href="" class="s-edit-link" 
				ng-show="orderItem.data.sku.data.product.data.productType.data.systemCode === 'productBundle' && orderItem.clicked" 
				ng-click="hideChildren(orderItem)">detail</a>
	</td>
	<td class="s-sku">{{orderItem.data.sku.data.skuCode}}</td>
	<td class="s-detail">Details</td>
	<td class="s-customization" ng-show="attributes"><span ng-repeat="attribute in attributes"><span class="s-detail-title" ng-if="orderItem.data[attribute.attributeCode]">{{attribute.attributeName}}:</span><br><span class="s-detail-content">{{orderItem.data[attribute.attributeCode]}}</span><br></span></td>
	<td class="s-price">{{orderItem.data.skuPrice | currency}} <span ng-show="orderItem.data.orderItemType.data.systemCode === 'oitDeposit'">(Event Price)</span>></td>
	<td class="s-qty">{{orderItem.data.quantity}}</td>
	<td class="s-discount">-{{ orderItem.data.discountAmount | currency }}</td>
	<td class="s-total">{{orderItem.data.itemTotal | currency}}</td>
	<td rowspan="1000" class="s-fullfilment">
		<ul>
			<li>
				<swoishippinglabelstamp
					data-order-fulfillment="orderItem.data.orderFulfillment">
				</swoishippinglabelstamp>
			</li>
		</ul>
	</td>
	<td rowspan="1000" class="s-actions">
		<ul>
			<li class="s-edit-btn"><a ng-href="{{'?slatAction=entity.detailorderitem&orderitemid='+orderItem.data.orderItemID}}"><button type="button"><i class="fa fa-eye"></i></button></a></li>
			<li class="s-remove-btn"><button type="button"><a ng-href="{{'?slatAction=entity.deleteorderitem&redirectAction=admin:entity.detailorder&amp;orderID='+orderId+'&orderitemid='+orderItem.data.orderItemID}}"<i class="fa fa-trash"></i></a></button></li>
		</ul>
	</td>			
</tr>
<tr ng-if="childOrderItems" ng-repeat="childOrderItem in childOrderItems" class="s-bundle-product l-{{childOrderItem.depth}}" sw-child-order-item data-order-item="childOrderItem" data-child-order-items="childOrderItems" data-attributes="attributes" 
   ng-class="{
		   's-event l-1': childOrderItem.data.sku.data.product.data.productType.data.systemCode == 'event', 
		   's-bundle-product l-1': childOrderItem.data.sku.data.product.data.productType.data.systemCode == 'productBundle',
		   's-subscription l-1': childOrderItem.data.sku.data.product.data.productType.data.systemCode == 'subscription',
		   's-content-access l-1': childOrderItem.data.sku.data.product.data.productType.data.systemCode == 'content',
		   's-product l-1': childOrderItem.data.sku.data.product.data.productType.data.systemCode == 'merchandise'
		   }"></tr>
