<div class="s-table-header-right">
  <form class="navbar-form form-horizontal navbar-left">
    <div class="form-group">
      <label for="inputPassword" class="control-label">View</label>
      <select 	size="1" 
      			name="pageShowOptions" 
      			aria-controls="" 
      			class="form-control"
      			ng-model="pageShowOptions.selectedPageShowOption" 
        		ng-options="pageShowOption as pageShowOption.display 
        					for pageShowOption in pageShowOptions 
        					
        					" 
        		ng-change="pageShowOptionChanged(pageShowOptions.selectedPageShowOption)"	>
        <!-- <option value="5" selected="selected">5</option>
        <option value="15">10</option>
        <option value="20">25</option>
        <option value="20">50</option>
        <option value="20">100</option>
        <option value="20">250</option>
        <option value="-1">Auto</option>-->
      </select>
    </div>
  </form>
  <ul class="pagination pagination-sm navbar-left">
    <li
    	ng-click="previousPage()"
    	ng-class="{disabled:hasPrevious()}"
    >
    	<a 	href="#" 
    		
    	>
    		&laquo;
    	</a>
    </li>
    <li ng-show="showPreviousJump()">
    	<a 	href="#" 
    		ng-click="setCurrentPage(1)"
    	>
    		1
    	</a>
    </li>
    <li ng-show="showPreviousJump()"
    	ng-click="previousJump()"
    >
    	<a 	href="#" 
    		
    	>
    		...
    	</a>
    </li>
    <li ng-repeat="i in totalPagesArray"
    	ng-class="{active:currentPage === i}"
    	ng-click="setCurrentPage(i)"
    	ng-show="showPageNumber(i)"
    >
    	<a href="#" ng-bind="i"></a>
    </li>
    <li ng-show="showNextJump()"
    	ng-click="nextJump()"
    >
    	<a 	href="#" 
    		>
    		...
    	</a>
    </li>
    <li ng-show="showNextJump()">
    	<a 	href="#" 
    		ng-click="setCurrentPage(totalPages())"
    		ng-bind="totalPages()"
    	>
    		
    	</a>
    </li>
    <li 
    	ng-class="{disabled:hasNext()}"
    	ng-click="nextPage()"
    	>
    	<a href="#">
    		&raquo;
    	</a>
    </li>
    
  </ul>
  <div class="btn-group" class="navbar-left">
    <button type="button" class="btn btn-sm s-btn-grey"><i class="fa fa-plus"></i></button>
  </div>
</div>