
<div ng-if="propertyDisplay">
  <label class="control-label col-md-3" ng-if="propertyDisplay.meta.fieldType !== 'hidden'">
  	<!-- property RB key --><span ng-bind="propertyDisplay.meta.title"></span>:
  	<span 	class="j-tool-tip-item"
  			data-toggle="tooltip"
  			data-placement="top"
  			data-original-title="{{propertyDisplay.meta.hint}}"
  			ng-show="propertyDisplay.meta.hint.length"
  	>
  		<i class="fa fa-question-circle"></i>
  	</span>
  </label>
  <div class="col-md-9" style="margin-bottom:10px;">
  	<!-- Model-->

  	<span 	sw-form-field
  			ng-if="propertyDisplay.metaData[propertyDisplay.property]"
  			data-property-display="propertyDisplay"
  	>
  	</span>

    <!-- Display -->

    <p  class="form-control-static"
    	ng-if="propertyDisplay.meta.fieldType !== 'hidden'"
    	ng-bind="propertyDisplay.object[propertyDisplay.property]"
    	ng-show="!propertyDisplay.editing"
    >
    	<!---property value --->
    </p>
  </div>
</div>
